# Controls the image pull policy for the ibmmas/cli image (& FVT container images)
- name: image_pull_policy
  value: $(params.image_pull_policy)
# Parameters that enable MongoDb results storage
- name: mas_instance_id
  value: $(params.mas_instance_id)
- name: devops_build_number
  value: $(params.devops_build_number)
- name: devops_mongo_uri
  value: $(params.devops_mongo_uri)