- name: appconnect
  params:
    - name: devops_suite_name
      value: dependencies-appconnect
    - name: devops_build_number
      value: $(params.devops_build_number)
    - name: devops_mongo_uri
      value: $(params.devops_mongo_uri)

    - name: mas_instance_id
      value: $(params.mas_instance_id)

    - name: appconnect_entitlement_username
      value: $(params.appconnect_entitlement_username)
    - name: ibm_entitlement_key
      value: $(params.ibm_entitlement_key)
    - name: appconnect_entitlement_key
      value: $(params.appconnect_entitlement_key)
  taskRef:
    kind: Task
    name: mas-devops-appconnect
  # Only needed if HPUtilities is being installed
  when:
    - input: "$(params.mas_app_channel_hputilities)"
      operator: notin
      values: [""]
  workspaces:
    - name: configs
      workspace: shared-configs