- name: mongodb
  params:
    - name: mongodb_storage_class
      value: $(params.storage_class_rwo)
    - name: mongodb_replicas
      value: $(params.mongodb_replicas)
    - name: mongodb_cpu_requests
      value: $(params.mongodb_cpu_requests)

    - name: mas_instance_id
      value: $(params.mas_instance_id)
    - name: devops_suite_name
      value: dependencies-mongodb
    - name: devops_build_number
      value: $(params.devops_build_number)
    - name: devops_mongo_uri
      value: $(params.devops_mongo_uri)
  taskRef:
    kind: Task
    name: mas-devops-mongodb
  workspaces:
    - name: configs
      workspace: shared-configs