- name: sls
  params:
    - name: devops_suite_name
      value: dependencies-sls
    - name: devops_build_number
      value: $(params.devops_build_number)
    - name: devops_mongo_uri
      value: $(params.devops_mongo_uri)

    - name: artifactory_username
      value: $(params.artifactory_username)
    - name: artifactory_apikey
      value: $(params.artifactory_apikey)
    - name: mas_instance_id
      value: $(params.mas_instance_id)
    - name: sls_mongodb_cfg_file
      value: $(params.sls_mongodb_cfg_file)
    - name: sls_catalog_source
      value: $(params.sls_catalog_source)
    - name: sls_channel
      value: $(params.sls_channel)
    - name: sls_license_id
      value: $(params.sls_license_id)
    - name: sls_license_file
      value: $(params.sls_license_file)
    - name: sls_icr_cp
      value: $(params.sls_icr_cp)
    - name: sls_icr_cpopen
      value: $(params.sls_icr_cpopen)
    - name: sls_entitlement_username
      value: $(params.sls_entitlement_username)
    - name: ibm_entitlement_key
      value: $(params.ibm_entitlement_key)
    - name: sls_entitlement_key
      value: $(params.sls_entitlement_key)
  taskRef:
    kind: Task
    name: mas-devops-sls
  workspaces:
    - name: configs
      workspace: shared-configs
    - name: entitlement
      workspace: shared-entitlement