---
# Don't edit install.yml directly -- modify install.yml.j2, and the content in parts/, then run "ansible-playbook generate-install.yml"
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: mas-fvt
spec:
  workspaces:
    # The generated configuration files
    - name: shared-configs

  params:
    # 1. Common Parameters
    # -------------------------------------------------------------------------
    {{ lookup('template', 'params/common.yml.j2') | indent(4) }}

    # 2. Installation
    # -------------------------------------------------------------------------
    {{ lookup('template', 'params/install.yml.j2') | indent(4) }}

    # 3. Additional Params for FVT
    # -------------------------------------------------------------------------
    {{ lookup('template', 'params/fvt.yml.j2') | indent(4) }}

  tasks:
    # Content
    # -------
    # 1. MAS Suite Verify
    # 2. MAS Core FVT

    # 1. MAS Suite Verify
    # -------------------------------------------------------------------------
    # 1.1 Suite Verification
    {{ lookup('template', 'taskdefs/core/suite-verify.yml.j2') | indent(4) }}

    # 2. MAS Core FVT
    # -------------------------------------------------------------------------
    # 2.1 Phase 1 of CoreAPI testing (~35m)
    {{ lookup('template', 'taskdefs/fvt-core/phase1.yml.j2') | indent(4) }}

    # 2.2 Phase 2 of CoreAPI testing (~10m)
    {{ lookup('template', 'taskdefs/fvt-core/phase2.yml.j2') | indent(4) }}

    # 2.3 Adoptionusage Metering test suite (~30m)
    {{ lookup('template', 'taskdefs/fvt-core/phase3.yml.j2') | indent(4) }}

    # 2.4 Miscellaneous test suites (~10m)
    {{ lookup('template', 'taskdefs/fvt-core/phase4.yml.j2') | indent(4) }}

    # 2.5 Single-threaded suites
    {{ lookup('template', 'taskdefs/fvt-core/phase5.yml.j2') | indent(4) }}
