- name: cos-deprovision
  params:
    {{ lookup('template', 'taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: dependencies-cos-deprovision

    - name: mas_instance_id
      value: $(params.mas_instance_id)

    # IBM Cloud Event Streams (Kafka)
    - name: kafka_provider
      value: $(params.kafka_provider)
    - name: eventstreams_resourcegroup
      value: $(params.eventstreams_resourcegroup)
    - name: eventstreams_name
      value: $(params.eventstreams_name)
    - name: eventstreams_location
      value: $(params.eventstreams_location)
    - name: eventstreams_retention
      value: $(params.eventstreams_retention)
    - name: eventstreams_create_manage_jms_topics
      value: $(params.eventstreams_create_manage_jms_topics)
    - name: ibmcloud_apikey
      value: $(params.ibmcloud_apikey)
    - name: ibmcloud_resourcegroup
      value: $(params.ibmcloud_resourcegroup)
  taskRef:
    kind: Task
    name: mas-devops-cos-deprovision
  when:
    - input: "$(params.cos_type)"
      operator: in
      values: ["ibm"]
    - input: "$(params.cos_action)"
      operator: in
      values: ["deprovision"]
  workspaces:
    - name: configs
      workspace: shared-configs