- name: cos-deprovision
  timeout: 0
  params:
    {{ lookup('template', 'taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: dependencies-cos-deprovision

    - name: mas_instance_id
      value: $(params.mas_instance_id)

    # COS
    - name: cos_type
      value: $(params.cos_type)
    - name: cos_action
      value: $(params.cos_action)
    - name: cos_resourcegroup
      value: $(params.cos_resourcegroup)
    - name: ibmcloud_apikey
      value: $(params.ibmcloud_apikey)
    - name: ibmcloud_resourcegroup
      value: $(params.ibmcloud_resourcegroup)
  taskRef:
    kind: Task
    name: mas-devops-cos-deprovision
  when:
    - input: "$(params.cos_type)"
      operator: in
      values: ["ibm"]
    - input: "$(params.cos_action)"
      operator: in
      values: ["deprovision"]
