- name: extdb-manage
  params:
    {{ lookup('template', 'taskdefs/common/cli-params.yml.j2') | indent(4) }}
    
    - name: devops_suite_name
      value: dependencies-extdb-manage

    - name: mas_config_scope
      value: system

    - name: mas_instance_id
      value: $(params.mas_instance_id)
    
    - name: mas_workspace_id
      value: $(params.mas_workspace_id)
    
    - name: mas_jdbc_user
      value: $(params.mas_app_settings_extdb_jdbc_user)
    - name: mas_jdbc_password
      value: $(params.mas_app_settings_extdb_jdbc_password)
    - name: mas_jdbc_url
      value: $(params.mas_app_settings_extdb_jdbc_url)

  when:
    - input: "$(params.db2_action_system)"
      operator: in
      values: ["none"]
    - input: "$(params.db2_action_manage)"
      operator: in
      values: ["none"]
    - input: "$(params.mas_app_settings_extdb_jdbc_flag)"
      operator: in
      values: ["true", "True"]
    - input: "$(params.mas_app_channel_manage)"
      operator: notin
      values: [""]
      
  taskRef:
    name: mas-devops-gencfg-jdbc
    kind: Task
  workspaces:
    - name: configs
      workspace: shared-configs