- name: cos-deprovision
  timeout: "0"
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/common/cli-params.yml.j2') | indent(4) }}
  taskRef:
    kind: Task
    name: mas-fvt-deprovision-cos
