- name: kafka
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: dependencies-kafka

    - name: mas_instance_id
      value: $(params.mas_instance_id)

    # Kafka - General variables
    - name: kafka_cluster_name
      value: mas-$(params.mas_instance_id)-system

    # AMQ Streams (Kafka)
    - name: kafka_version
      value: $(params.kafka_version)
    - name: kafka_namespace
      value: $(params.kafka_namespace)
    - name: kafka_action_system
      value: $(params.kafka_action_system)
    - name: kafka_cluster_size
      value: $(params.kafka_cluster_size)
    - name: kafka_user_name
      value: $(params.kafka_user_name)
    - name: kafka_storage_class
      value: $(params.storage_class_rwo)
    - name: zookeeper_storage_class
      value: $(params.storage_class_rwo)
    - name: custom_labels
      value: $(params.custom_labels)

    # AWS basic info
    - name: aws_access_key_id
      value: $(params.aws_access_key_id)
    - name: aws_secret_access_key
      value: $(params.aws_secret_access_key)
    - name: aws_region
      value: $(params.aws_region)

    # AWS MSK (Kafka)
    - name: vpc_id
      value: $(params.vpc_id)
    - name: aws_kafka_user_name
      value: $(params.aws_kafka_user_name)
    - name: aws_kafka_user_password
      value: $(params.aws_kafka_user_password)
    - name: aws_msk_instance_type
      value: $(params.aws_msk_instance_type)
    - name: aws_msk_instance_number
      value: $(params.aws_msk_instance_number)
    - name: aws_msk_volume_size
      value: $(params.aws_msk_volume_size)
    - name: aws_msk_cidr_az1
      value: $(params.aws_msk_cidr_az1)
    - name: aws_msk_cidr_az2
      value: $(params.aws_msk_cidr_az2)
    - name: aws_msk_cidr_az3
      value: $(params.aws_msk_cidr_az3)
    - name: aws_msk_ingress_cidr
      value: $(params.aws_msk_ingress_cidr)
    - name: aws_msk_egress_cidr
      value: $(params.aws_msk_egress_cidr)

    # IBM Cloud Event Streams (Kafka)
    - name: kafka_provider
      value: $(params.kafka_provider)
    - name: eventstreams_resourcegroup
      value: $(params.eventstreams_resourcegroup)
    - name: eventstreams_name
      value: $(params.eventstreams_name)
    - name: eventstreams_location
      value: $(params.eventstreams_location)
    - name: eventstreams_retention
      value: $(params.eventstreams_retention)
    - name: eventstreams_create_manage_jms_topics
      value: $(params.eventstreams_create_manage_jms_topics)
    - name: ibmcloud_apikey
      value: $(params.ibmcloud_apikey)
    - name: ibmcloud_resourcegroup
      value: $(params.ibmcloud_resourcegroup)

  # Only install Kafka if the IoT application is being installed
  when:
    - input: "$(params.mas_app_channel_iot)"
      operator: notin
      values: [""]
    - input: "$(params.kafka_action_system)"
      operator: in
      values: ["install"]

  taskRef:
    kind: Task
    name: mas-devops-kafka
  workspaces:
    - name: configs
      workspace: shared-configs