- name: cos-deprovision
  params:
    {{ lookup('template', 'taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: dependencies-cos-deprovision

    - name: mas_instance_id
      value: $(params.mas_instance_id)

    # IBM Cloud Event Streams (Kafka)
    - name: kafka_provider
      value: $(params.kafka_provider)
    - name: kafka_action
      value: $(params.kafka_action)
    - name: eventstreams_resourcegroup
      value: $(params.eventstreams_resourcegroup)
    - name: eventstreams_name
      value: $(params.eventstreams_name)
    - name: eventstreams_location
      value: $(params.eventstreams_location)
    - name: ibmcloud_apikey
      value: $(params.ibmcloud_apikey)
    - name: ibmcloud_resourcegroup
      value: $(params.ibmcloud_resourcegroup)
  taskRef:
    kind: Task
    name: mas-devops-cos-deprovision
  when:
    - input: "$(params.cos_type)"
      operator: in
      values: ["ibm"]
    - input: "$(params.cos_action)"
      operator: in
      values: ["deprovision"]
    - input: "$(params.mas_app_channel_assist)"
      operator: notin
      values: [""]
  workspaces:
    - name: configs
      workspace: shared-configs

  stepTemplate:
    env:
      {{ lookup('template', task_src_dir ~ '/common/cli-env.yml.j2') | indent(6) }}

      # General
      - name: MAS_CONFIG_DIR
        value: /workspace/configs
      - name: MAS_INSTANCE_ID
        value: $(params.mas_instance_id)

      # COS Details
      - name: KAFKA_PROVIDER
        value: $(params.kafka_provider)
      - name: KAFKA_ACTION
        value: $(params.kafka_action)
      - name: IBMCLOUD_APIKEY
        value: $(params.ibmcloud_apikey)
      - name: EVENTSTREAMS_RESOURCEGROUP
        value: $(params.eventstreams_resourcegroup)
      - name: EVENTSTREAMS_NAME
        value: $(params.eventstreams_name)
      - name: EVENTSTREAMS_LOCATION
        value: $(params.eventstreams_location)
      - name: IBMCLOUD_RESOURCEGROUP
        value: $(params.ibmcloud_resourcegroup)