- name: mongodb
  params:
    {{ lookup('template', 'taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: dependencies-mongodb

    - name: mongodb_storage_class
      value: $(params.storage_class_rwo)
    - name: mongodb_replicas
      value: $(params.mongodb_replicas)
    - name: mongodb_cpu_requests
      value: $(params.mongodb_cpu_requests)
    - name: custom_labels
      value: $(params.custom_labels)
  taskRef:
    kind: Task
    name: mas-devops-mongodb
  workspaces:
    - name: configs
      workspace: shared-configs