- name: nvidia-gpu
  timeout: "0"
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: dependencies-nvidia-gpu

    - name: gpu_namespace
      value: $(params.gpu_namespace)
    - name: gpu_channel
      value: $(params.gpu_channel)
    - name: nfd_namespace
      value: $(params.nfd_namespace)
    - name: nfd_channel
      value: $(params.nfd_channel)
  taskRef:
    kind: Task
    name: mas-devops-nvidia-gpu
  # Only needed if Visual Inspection is being installed
  when:
    - input: "$(params.mas_app_channel_visualinspection)"
      operator: notin
      values: [""]
  workspaces:
    - name: configs
      workspace: shared-configs