- name: redis
  timeout: "0"
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: dependencies-redis

    - name: mas_instance_id
      value: $(params.mas_instance_id)

    - name: redis_namespace
      value: $(params.redis_namespace)
    - name: redis_replicas
      value: $(params.redis_replicas)
    - name: custom_labels
      value: $(params.custom_labels)
    - name: redis_action
      value: $(params.redis_action)

  when:
    - input: "$(params.redis_action)"
      operator: in
      values: ["install"]

  taskRef:
    kind: Task
    name: mas-devops-redis
  workspaces:
    - name: configs
      workspace: shared-configs