- name: uds
  params:
    {{ lookup('template', 'taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: dependencies-uds

    - name: uds_action
      value: "$(params.uds_action)"

    - name: uds_contact_email
      value: "$(params.uds_contact_email)"
    - name: uds_contact_firstname
      value: "$(params.uds_contact_firstname)"
    - name: uds_contact_lastname
      value: "$(params.uds_contact_lastname)"
    - name: uds_event_scheduler_frequency
      value: "$(params.uds_event_scheduler_frequency)"
    - name: uds_storage_class
      value: $(params.storage_class_rwo)

    - name: mas_segment_key
      value: $(params.mas_segment_key)
    - name: custom_labels
      value: $(params.custom_labels)
  taskRef:
    kind: Task
    name: mas-devops-uds
  workspaces:
    - name: configs
      workspace: shared-configs