- name: uds
  params:
    {{ lookup('template', 'taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: uds_action
      value: "$(params.uds_action)"
    - name: mas_instance_id
      value: $(params.mas_instance_id)
    - name: custom_labels
      value: $(params.custom_labels)
    - name: ocp_ingress_tls_secret_name
      value: $(params.ocp_ingress_tls_secret_name)

    # Used by UDS and DRO
    - name: uds_contact_email
      value: "$(params.uds_contact_email)"
    - name: uds_contact_firstname
      value: "$(params.uds_contact_firstname)"
    - name: uds_contact_lastname
      value: "$(params.uds_contact_lastname)"
    # Only used by UDS
    - name: uds_event_scheduler_frequency
      value: "$(params.uds_event_scheduler_frequency)"
    - name: uds_storage_class
      value: $(params.storage_class_rwo)
    - name: mas_segment_key
      value: $(params.mas_segment_key)
    # Only used by DRO
    - name: ibm_entitlement_key
      value: $(params.ibm_entitlement_key)
    - name: DRO_NAMESPACE
      value: $(params.dro_namespace)
  when:
    - input: "$(params.uds_action)"
      operator: in
      values: ["install", "install-dro"]
  taskRef:
    kind: Task
    name: mas-devops-uds
  workspaces:
    - name: configs
      workspace: shared-configs
    - name: pod-templates
      workspace: shared-pod-templates
