---
apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: {{'"mas-upgrade-{{ devops_build_number if pipelinerun_name_suffix == \'\' else  (pipelinerun_name_suffix + \'-\' + devops_build_number) }}"'}}
  labels:
    tekton.dev/pipeline: mas-upgrade
spec:
  pipelineRef:
    name: mas-upgrade
  serviceAccountName: pipeline
  timeout: {{'"{{ pipelinerun_timeout }}"'}}
  workspaces:
    # The generated configuration files
    - name: shared-configs
      persistentVolumeClaim:
        claimName: config-pvc
  params:
    # Upgrade Parameters
{% for upgrade_param in upgrade_params_definition.params %}
    - name: {{ upgrade_param.name }}
      value: {{'"{{ lookup(\'env\', \'' ~ upgrade_param.name | upper ~ '\') }}"'}}
{% endfor %}
