---
apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: {{'"mas-upgrade-test-{{ devops_build_number if pipelinerun_name_suffix == \'\' else  (\'-\' + pipelinerun_name_suffix + \'-\' + devops_build_number) }}"'}}
  labels:
    tekton.dev/pipeline: mas-upgrade-test
spec:
  pipelineRef:
    name: mas-upgrade-test
  serviceAccountName: pipeline
  timeout: {{'"{{ pipelinerun_timeout }}"'}}

  params:
    # Install Parameters
{% for install_param in install_params_definition.params %}
{% if install_param.name in params_source_target_list %}
    - name: source_{{ install_param.name }}
      value: {{'"{{ lookup(\'env\', \'SOURCE_' ~ install_param.name | upper ~ '\') }}"'}}
    - name: target_{{ install_param.name }}
      value: {{'"{{ lookup(\'env\', \'TARGET_' ~ install_param.name | upper ~ '\') }}"'}}
{% else %}
    - name: {{ install_param.name }}
      value: {{'"{{ lookup(\'env\', \'' ~ install_param.name | upper ~ '\') }}"'}}
{% endif %}
{% endfor %}
    # Test Parameters
{% for fvt_param in fvt_params_definition.params %}
    - name: {{ fvt_param.name }}
      value: {{'"{{ lookup(\'env\', \'' ~ fvt_param.name | upper ~ '\') }}"'}}
{% endfor %}      
