- name: suite-db2-setup-for-manage
  params:
    {{ lookup('template', 'taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: suite-db2-setup-for-manage

    - name: db2_instance_name
      value: "db2u-shared"
  # Only perform the hack if Manage is being installed
  when:
    - input: "$(params.mas_app_channel_manage)"
      operator: notin
      values: [""]
    - input: "$(params.configure_external_db)"
      operator: notin
      values: ["true"]
  taskRef:
    name: mas-devops-suite-db2-setup-for-manage
    kind: Task
