---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-suite-app-config
spec:
  params:
    # Control the image pull policy for the CLI container image
    - name: image_pull_policy
      type: string
      default: IfNotPresent

    # Generic settings
    - name: mas_app_id
      type: string
      description: Maximo Application Suite Application ID
    - name: mas_appws_components
      type: string
      description: Components to configure in the workspace
      default: ""
    - name: mas_instance_id
      type: string
      description: Instance ID
    - name: mas_workspace_id
      type: string
      description: Maximo Application Suite Workspace ID

    # Manage settings
    - name: mas_app_settings_aio_flag
      type: string
      description: Flag indicating if Asset Investment Optimization (AIO) resource must be loaded or not. It can be loaded only when Optimizer application is installed.
      default: ""
    - name: mas_app_settings_demodata
      type: string
      description: Flag indicating if manage demodata should be loaded or not
      default: ""

    # Deployment Size - Predict only
    - name: predict_deployment_size
      type: string
      description: Optional. Controls the workload size of predict containers. Available options are developer, small, medium, and small
      default: ""

    # Watson Studio Local - Predict & HP Utilities only
    - name: cpd_wsl_project_id
      type: string
      description: Analytics Project Id
      default: ""
    - name: cpd_wsl_project_name
      type: string
      description: Analytics Project Name
      default: ""

    # Watson Machine Learning - Predict only
    - name: cpd_product_version
      type: string
      description: The version of Cloud Pak for Data installed in the cluster, used to determine the version of WML.
      default: ""
    - name: cpd_wml_instance_id
      type: string
      description: Optional. Identifier of wml instance to be configured in Predict
      default: ""
    - name: cpd_wml_url
      type: string
      description: Optional. Url to access WML service (same as Cloud Pak for Data url)
      default: ""

    # Optional support built into the ansible-devops image
    # for saving task execution results to a MongoDb instance
    - name: devops_mongo_uri
      type: string
      description: Optional MongoDb connection URI, used to enable save-junit-to-mongo.py
      default: ""
    - name: devops_suite_name
      type: string
      description: Optional name for the junit suite, used to enable save-junit-to-mongo.py
      default: ""
    - name: devops_build_number
      type: string
      description: Optional identifier for the execution run, used to enable save-junit-to-mongo.py
      default: ""

  stepTemplate:
    env:
      - name: MAS_CONFIG_DIR
        value: /workspace/configs
      - name: MAS_INSTANCE_ID
        value: $(params.mas_instance_id)
      - name: MAS_WORKSPACE_ID
        value: $(params.mas_workspace_id)
      - name: MAS_APP_ID
        value: $(params.mas_app_id)
      - name: MAS_APPWS_COMPONENTS
        value: $(params.mas_appws_components)

      # Manage
      - name: MAS_APP_SETTINGS_AIO_FLAG
        value: $(params.mas_app_settings_aio_flag)
      - name: MAS_APP_SETTINGS_DEMODATA
        value: $(params.mas_app_settings_demodata)

      # Predict
      - name: PREDICT_DEPLOYMENT_SIZE
        value: $(params.predict_deployment_size)

      # WSL
      - name: CPD_WSL_PROJECT_ID
        value: $(params.cpd_wsl_project_id)
      - name: CPD_WSL_PROJECT_NAME
        value: $(params.cpd_wsl_project_name)

      # WML
      - name: CPD_PRODUCT_VERSION
        value: $(params.cpd_product_version)
      - name: CPD_WML_INSTANCE_ID
        value: $(params.cpd_wml_instance_id)
      - name: CPD_WML_URL
        value: $(params.cpd_wml_url)

      # Optional support built into the ansible-devops image
      # for saving task execution results to a MongoDb instance
      - name: DEVOPS_MONGO_URI
        value: $(params.devops_mongo_uri)
      - name: DEVOPS_SUITE_NAME
        value: $(params.devops_suite_name)
      - name: DEVOPS_BUILD_NUMBER
        value: $(params.devops_build_number)

  steps:
    - name: suite-app-config
      command:
        - /opt/app-root/src/run-role.sh
        - suite_app_config
      image: quay.io/ibmmas/cli:latest
      imagePullPolicy: $(params.image_pull_policy)

  workspaces:
    - name: configs
