- name: suite-install
  timeout: "0"
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: suite-install

    - name: mas_instance_id
      value: $(params.mas_instance_id)

    - name: artifactory_username
      value: $(params.artifactory_username)
    - name: artifactory_token
      value: $(params.artifactory_token)

    - name: mas_annotations
      value: $(params.mas_annotations)
    - name: mas_domain
      value: $(params.mas_domain)
    - name: mas_cluster_issuer
      value: $(params.mas_cluster_issuer)

    - name: mas_channel
      value: $(params.mas_channel)
    - name: mas_catalog_source
      value: $(params.mas_catalog_source)
    - name: mas_icr_cp
      value: $(params.mas_icr_cp)
    - name: mas_icr_cpopen
      value: $(params.mas_icr_cpopen)
    - name: ibm_entitlement_key
      value: $(params.ibm_entitlement_key)
    - name: idle_timeout
      value: $(params.idle_timeout)
    - name: idp_session_timeout
      value: $(params.idp_session_timeout)
    - name: access_token_timeout
      value: $(params.access_token_timeout)
    - name: refresh_token_timeout
      value: $(params.refresh_token_timeout)
    - name: default_idp
      value: $(params.default_idp)
    - name: seamless_login
      value: $(params.seamless_login)
    - name: sso_cookie_name
      value: $(params.sso_cookie_name)
    - name: allow_default_sso_cookie_name
      value: $(params.allow_default_sso_cookie_name)
    - name: use_only_custom_cookie_name
      value: $(params.use_only_custom_cookie_name)
    - name: disable_ldap_cookie
      value: $(params.disable_ldap_cookie)
    - name: allow_custom_cache_key
      value: $(params.allow_custom_cache_key)
    - name: mas_manual_cert_mgmt
      value: $(params.mas_manual_cert_mgmt)
    - name: mas_trust_default_cas
      value: $(params.mas_trust_default_cas)
    - name: enable_ipv6
      value: $(params.enable_ipv6)
    - name: custom_labels
      value: $(params.custom_labels)
    - name: mas_add_catalog
      value: $(params.mas_add_catalog)
    - name: mas_add_channel
      value: $(params.mas_add_channel)
    # Enable optional integration with ECK logstash
    - name: eck_enable_logstash
      value: $(params.eck_enable_logstash)
    # Optionally configure the superuser account
    - name: mas_superuser_username
      value: $(params.mas_superuser_username)
    - name: mas_superuser_password
      value: $(params.mas_superuser_password)

  taskRef:
    kind: Task
    name: mas-devops-suite-install
  workspaces:
    # This is the stage at which we copy across any user-provided additional configs
    - name: configs
      workspace: shared-configs
    - name: additional-configs
      workspace: shared-additional-configs
    - name: pod-templates
      workspace: shared-pod-templates
