- name: suite-certs
  timeout: "0"
  params:
    {{ lookup('template', 'taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: suite-certs

    - name: dns_provider
      value: $(params.dns_provider)

    - name: mas_instance_id
      value: $(params.mas_instance_id)
    - name: mas_workspace_id
      value: $(params.mas_workspace_id)

    - name: mas_manual_cert_mgmt
      value: $(params.mas_manual_cert_mgmt)

    - name: cis_crn
      value: $(params.cis_crn)
    - name: cis_apikey
      value: $(params.cis_apikey)
    - name: cis_subdomain
      value: $(params.cis_subdomain)
    - name: cis_proxy
      value: $(params.cis_proxy)

    - name: aws_access_key_id
      value: $(params.aws_access_key_id)
    - name: aws_secret_access_key
      value: $(params.aws_secret_access_key)
    - name: route53_hosted_zone_name
      value: $(params.route53_hosted_zone_name)
    - name: route53_hosted_zone_region
      value: $(params.route53_hosted_zone_region)
    - name: route53_email
      value: $(params.route53_email)
    - name: route53_subdomain
      value: $(params.route53_subdomain)

    - name: custom_labels
      value: $(params.custom_labels)
  taskRef:
    kind: Task
    name: mas-devops-suite-certs
  workspaces:
    # This is the stage at which we copy across any pre-generated certificates into shared-configs
    - name: configs
      workspace: shared-configs
    - name: certificates
      workspace: shared-certificates
