---
# Task definition for suite-rbac in install pipeline
- name: suite-rbac
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: mas_instance_id
      value: $(params.mas_instance_id)
    - name: mas_permission_mode
      value: $(params.mas_permission_mode)
    - name: mas_catalog_version
      value: $(params.mas_catalog_version)
    - name: mas_channel
      value: $(params.mas_channel)
  taskRef:
    kind: Task
    name: mas-devops-suite-rbac
  workspaces:
    - name: configs
      workspace: shared-configs