- name: suite-verify
  timeout: "0"
  params:
    {{ lookup('template', 'taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: suite-verify

    - name: mas_instance_id
      value: $(params.mas_instance_id)
  taskRef:
    kind: Task
    name: mas-devops-suite-verify