- name: DEVOPS_MONGO_URI
  valueFrom:
    secretKeyRef:
      name: mas-devops
      key: DEVOPS_MONGO_URI
      optional: true
- name: DEVOPS_BUILD_NUMBER
  valueFrom:
    secretKeyRef:
      name: mas-devops
      key: DEVOPS_BUILD_NUMBER
      optional: true
- name: DEVOPS_ENVIRONMENT
  valueFrom:
    secretKeyRef:
      name: mas-devops-slack
      key: MAS_INSTANCE_ID
      optional: true
- name: DEVOPS_SUITE_NAME
  value: $(params.devops_suite_name)
- name: SLACK_TOKEN
  valueFrom:
    secretKeyRef:
      name: mas-devops-slack
      key: SLACK_TOKEN
      optional: true
- name: SLACK_CHANNEL
  valueFrom:
    secretKeyRef:
      name: mas-devops-slack
      key: SLACK_CHANNEL
      optional: true
- name: PIPELINE_NAMESPACE
  value: $(context.pipelineRun.namespace)
- name: PIPELINERUN_NAME
  value: $(context.pipelineRun.name)
- name: PIPELINE_NAME
  value: $(context.pipeline.name)
