- name: DEVOPS_MONGO_URI
  valueFrom:
    secretKeyRef:
      name: mas-devops
      key: DEVOPS_MONGO_URI
      optional: true
- name: DEVOPS_BUILD_NUMBER
  valueFrom:
    secretKeyRef:
      name: mas-devops
      key: DEVOPS_BUILD_NUMBER
      optional: true
- name: DEVOPS_SUITE_NAME
  value: $(params.devops_suite_name)
- name: DEVOPS_TEST_TYPE
  value: $(params.devops_test_type)
- name: DEVOPS_TEST_PHASE
  value: $(params.devops_test_phase)
