# Common: Control the image pull policy for the CLI container image
- name: image_pull_policy
  type: string
  default: IfNotPresent

# Common: Support for saving task execution results to a MongoDb instance
- name: devops_suite_name
  type: string
  description: Optional name for the junit suite, used to enable save-junit-to-mongo.py
  default: ""
- name: devops_test_type
  type: string
  description: Optional. Used to different upgrade tests from other type of tests
  default: ""
- name: devops_test_phase
  type: string
  description: Optional. Used to categorize the phase of pipeline this test is running. Used by integrated pipelines like upgrade-test
  default: ""