# Common: Control the image pull policy for the CLI container image
- name: image_pull_policy
  type: string
  default: IfNotPresent

# Common: Support for saving task execution results to a MongoDb instance
- name: devops_suite_name
  type: string
  description: Optional name for the junit suite, used to enable save-junit-to-mongo.py
  default: ""

# Common: Pipeline context information (passed from Pipeline)
- name: pipelinerun_namespace
  type: string
  description: Namespace where the pipeline is running
  default: ""
- name: pipelinerun_name
  type: string
  description: Name of the PipelineRun
  default: ""
- name: pipeline_name
  type: string
  description: Name of the Pipeline
  default: ""
- name: mas_use_service_mesh
  type: string
  description: Specify if Maximo Application Suite should use service mesh
  default: ""
