---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-kmodels
spec:
  params:
    {{ lookup('template', task_src_dir ~ '/common/cli-params.yml.j2') | indent(4) }}

    # Pre-Release Support
    - name: artifactory_username
      default: ''
      type: string
      description: Required to use development MAS builds
    - name: artifactory_token
      default: ''
      type: string
      description: Required to use development MAS builds

    # Entitlement
    - name: ibm_entitlement_key
      type: string

    # MAS Details
    - name: mas_instance_id
      type: string
      description: Instance ID

    # Application - Operator
    # - name: mas_aibroker_channel
    - name: mas_app_channel
      type: string
      description: Catalog channel for the application operator subscription

    # Application - Operand
    - name: mas_app_bindings_jdbc
      default: ""
      type: string
    - name: mas_app_plan
      type: string
      description: Application installation plan
      default: ""

    # Custom Label Support
    - name: custom_labels
      type: string
      description: Optional MAS custom labels, comma separated list of key=value pairs
      default: ""

    # Kmodels details
    - name: mas_aibroker_controller_tag
      type: string
      description: Optional Kmodels details
      default: ""
    - name: mas_aibroker_store_tag
      type: string
      description: Optional Kmodels details
      default: ""
    - name: mas_aibroker_watcher_tag
      type: string
      description: Optional Kmodels details
      default: ""
    - name: mas_aibroker_connector_tag
      type: string
      description: Optional Kmodels details
      default: ""
    - name: mas_aibroker_pipeline_steps_tag
      type: string
      description: Optional Kmodels details
      default: ""
    - name: mas_aibroker_storage_piplines_bucket
      type: string
      description: This option is mandatory
      default: ""
    - name: mas_aibroker_storage_tenants_bucket
      type: string
      description: This option is mandatory
      default: ""
    - name: mas_aibroker_storage_templates_bucket
      type: string
      description: This option is mandatory
      default: ""


  stepTemplate:
    env:
      {{ lookup('template', task_src_dir ~ '/common/cli-env.yml.j2') | indent(6) }}

      # Pre-Release Support
      - name: ARTIFACTORY_USERNAME
        value: $(params.artifactory_username)
      - name: ARTIFACTORY_TOKEN
        value: $(params.artifactory_token)

      # Entitlement
      - name: IBM_ENTITLEMENT_KEY
        value: $(params.ibm_entitlement_key)

      # MAS Details
      - name: MAS_INSTANCE_ID
        value: $(params.mas_instance_id)

      # Application - Operator
      # - name: MAS_AIBROKER_CHANNEL
      #   value: $(params.mas_aibroker_channel)
      - name: MAS_APP_CHANNEL
        value: $(params.mas_app_channel)

      # Custom Label Support
      - name: CUSTOM_LABELS
        value: $(params.custom_labels)

      # Kmodels details
      - name: MAS_AIBROKER_CONTROLLER_TAG
        value: $(params.mas_aibroker_controller_tag)
      - name: MAS_AIBROKER_STORE_TAG
        value: $(params.mas_aibroker_store_tag)
      - name: MAS_AIBROKER_WATCHER_TAG
        value: $(params.mas_aibroker_watcher_tag)
      - name: MAS_AIBROKER_CONNECTOR_TAG
        value: $(params.mas_aibroker_connector_tag)
      - name: MAS_AIBROKER_PIPELINE_STEPS_TAG
        value: $(params.mas_aibroker_pipeline_steps_tag)
      - name: MAS_AIBROKER_STORAGE_PIPLINES_BUCKET
        value: $(params.mas_aibroker_storage_piplines_bucket)
      - name: MAS_AIBROKER_STORAGE_TENANTS_BUCKET
        value: $(params.mas_aibroker_storage_tenants_bucket)
      - name: MAS_AIBROKER_STORAGE_TEMPLATES_BUCKET
        value: $(params.mas_aibroker_storage_templates_bucket)

  steps:
    - name: kmodels
      command:
        - /opt/app-root/src/run-role.sh
        - kmodels
      image: quay.io/ibmmas/cli:latest
      imagePullPolicy: $(params.image_pull_policy)