default_language_version:
    python: python
repos:
  - repo: https://github.com/hhatto/autopep8
    rev: v2.3.2
    hooks:
    -   id: autopep8
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
  - repo: https://github.com/ibm/detect-secrets
    rev: 0.13.1+ibm.64.dss
    hooks:
      - id: detect-secrets
        args: [--baseline, .secrets.baseline, --use-all-plugins, --fail-on-unaudited]
        additional_dependencies: [boxsdk<4]
