# mkdocs serve

site_name: MAS CLI
site_url: https://ibm-mas.github.io/cli

repo_name: GitHub
repo_url: https://github.com/ibm-mas/cli
edit_uri: blob/master/docs/

nav:
  - 'Home': index.md
  - 'Changes': changes.md
  - 'Guides':
    - 'Choosing the Right Catalog': guides/choosing-the-right-catalog.md
    - 'Install': guides/install.md
    - 'Update': guides/update.md
    - 'Upgrade': guides/upgrade.md
    - 'MAS Core Explained': guides/architecture/core.md
    - 'MAS Pods Explained': guides/mas-pods-explained.md
  - 'Commands':
    - 'provision-fyre': commands/provision-fyre.md
    - 'provision-roks': commands/provision-roks.md
    - 'provision-rosa': commands/provision-rosa.md
    - 'setup-registry': commands/setup-registry.md
    - 'mirror-images': commands/mirror-images.md
    - 'configure-airgap': commands/configure-airgap.md
    - 'install': commands/install.md
  - 'Catalogs':
    - 'Overview': catalogs/index.md
    - 'Jan 2023': catalogs/v8-230111-amd64.md
    - 'Dec 2022': catalogs/v8-221228-amd64.md
    - 'Nov 2022': catalogs/v8-221129-amd64.md
    - 'Oct 2022': catalogs/v8-221025-amd64.md

theme:
  name: readthedocs
  highlightjs: true
  hljs_languages:
    - yaml
  prev_next_buttons_location: none
extra_css:
  - extra.css
markdown_extensions:
  - toc:
      permalink: ÔÉÅ
  - admonition
  # Add this to support expandable sections
  #- pymdownx.details

# https://squidfunk.github.io/mkdocs-material/extensions/admonition/
# Note
# Abstract
# Info
# Tip
# Success
# Question
# Warning
# Failure
# Danger
# Bug
# Example
# Quote
