# mkdocs serve

site_name: MAS CLI
site_url: https://ibm-mas.github.io/cli

repo_name: GitHub
repo_url: https://github.com/ibm-mas/cli
edit_uri: blob/master/docs/

nav:
  - "Home": index.md
  - "Guides":
      - "Choosing the Right Catalog": guides/choosing-the-right-catalog.md
      - "Image Mirroring": guides/image-mirroring.md
      - "Install": guides/install.md
      - "Update": guides/update.md
      - "Upgrade": guides/upgrade.md
      - "Uninstall": guides/uninstall.md
  - "OpenShift Management":
      - "provision-fyre": commands/provision-fyre.md
      - "provision-roks": commands/provision-roks.md
      - "provision-rosa": commands/provision-rosa.md
      - "configure-airgap": commands/configure-airgap.md
  - "Image Mirroring":
      - "setup-registry": commands/setup-registry.md
      - "teardown-registry": commands/teardown-registry.md
      - "mirror-images": commands/mirror-images.md
      - "mirror-redhat-images": commands/mirror-redhat-images.md
  - "MAS Management":
      - "configtool-oidc": commands/configtool-oidc.md
      - "install": commands/install.md
      - "update": commands/update.md
      - "upgrade": commands/upgrade.md
      - "uninstall": commands/uninstall.md
  - "Troubleshooting":
      - "must-gather": commands/must-gather.md
  - "Catalogs":
      - "All Catalogs": catalogs/index.md
      - "Jul 25 2024": catalogs/v9-240730-amd64.md
      - "Jun 25 2024": catalogs/v9-240625-amd64.md
      - "May 28 2024": catalogs/v8-240528-amd64.md
      - "Apr 30 2024": catalogs/v8-240430-amd64.md
  - "Reference":
      - "Dependencies": reference/dependencies.md
      - "Topology": reference/topology.md
      - "Cluster Extensions": reference/cluster-extensions.md
theme:
  name: readthedocs
  highlightjs: true
  hljs_languages:
    - yaml
  prev_next_buttons_location: none
extra_css:
  - extra.css
markdown_extensions:
  - toc:
      permalink: ÔÉÅ
  - admonition
  # Add this to support expandable sections
  #- pymdownx.details
plugins:
  - redirects:
      redirect_maps:
        "guides/architecture/core.md": "https://www.ibm.com/docs/en/mas-cd/continuous-delivery?topic=reference-maximo-application-suite-core-services"
        "guides/mas-pods-explained.md": "https://www.ibm.com/docs/en/mas-cd/continuous-delivery?topic=reference-maximo-application-suite-pod-details"

# https://squidfunk.github.io/mkdocs-material/extensions/admonition/
# Note
# Abstract
# Info
# Tip
# Success
# Question
# Warning
# Failure
# Danger
# Bug
# Example
# Quote
