# mkdocs serve

site_name: MAS CLI
site_url: https://ibm-mas.github.io/cli

repo_name: GitHub
repo_url: https://github.com/ibm-mas/cli
edit_uri: blob/master/docs/

nav:
  - "Home": index.md
  - "Changes": changes.md
  - "Guides":
      - "Choosing the Right Catalog": guides/choosing-the-right-catalog.md
      - "Install": guides/install.md
      - "Update": guides/update.md
      - "Upgrade": guides/upgrade.md
  - "Commands":
      - "provision-fyre": commands/provision-fyre.md
      - "provision-roks": commands/provision-roks.md
      - "provision-rosa": commands/provision-rosa.md
      - "setup-registry": commands/setup-registry.md
      - "mirror-images": commands/mirror-images.md
      - "mirror-redhat-images": commands/mirror-redhat-images.md
      - "configure-airgap": commands/configure-airgap.md
      - "install": commands/install.md
      - "must-gather": commands/must-gather.md
      - "configtool-oidc": commands/configtool-oidc.md
  - "Catalogs":
      - "Overview": catalogs/index.md
      - "June 16 2023": catalogs/v8-230616-amd64.md
      - "May 26 2023": catalogs/v8-230526-amd64.md
      - "Apr 14 2023": catalogs/v8-230414-amd64.md
      - "Mar 14 2023": catalogs/v8-230314-amd64.md

theme:
  name: readthedocs
  highlightjs: true
  hljs_languages:
    - yaml
  prev_next_buttons_location: none
extra_css:
  - extra.css
markdown_extensions:
  - toc:
      permalink: ÔÉÅ
  - admonition
  # Add this to support expandable sections
  #- pymdownx.details
plugins:
  - redirects:
      redirect_maps:
        "guides/architecture/core.md": "https://www.ibm.com/docs/en/mas-cd/continuous-delivery?topic=reference-maximo-application-suite-core-services"
        "guides/mas-pods-explained.md": "https://www.ibm.com/docs/en/mas-cd/continuous-delivery?topic=reference-maximo-application-suite-pod-details"

# https://squidfunk.github.io/mkdocs-material/extensions/admonition/
# Note
# Abstract
# Info
# Tip
# Success
# Question
# Warning
# Failure
# Danger
# Bug
# Example
# Quote
