mas_app_spec:
  settings:
    storage:
      size: 100Gi
      storageClassName: {{ DEFAULT_FILE_STORAGE_CLASS }}

{%- if MAS_EDITION is defined and MAS_EDITION != "" %}
    {% filter indent(width=4) -%}
    {% include '../../pod-templates/{{ MAS_EDITION }}/ibm-mas-visualinspection.yml' %}
    {%- endfilter %}
{%- endif %}
