# Common Parameters
# -------------------------------------------------------------------------
# Tekton Pipeline image pull policy (for CLI & FVT images)
- name: image_pull_policy
  type: string
  default: IfNotPresent
  description: Pull policy for pipeline container images

# Development Build Support
- name: artifactory_username
  default: ""
  type: string
  description: Required to install development MAS catalogs
- name: artifactory_apikey
  default: ""
  type: string
  description: Required to install development MAS catalogs

# Storage Class Selection
- name: storage_class_rwo
  type: string
  default: ""
  description: ReadWriteOnce storage class
- name: storage_class_rwx
  type: string
  default: ""
  description: ReadWriteMany storage class

# Entitlement
- name: ibm_entitlement_key
  type: string
  description: IBM Entitlement Key

# Custom Labels
- name: custom_labels
  type: string
  default: ""
  description: Optional custom labels, comma separated list of key=value pairs

# Persist Results (Optional)
- name: devops_mongo_uri
  type: string
  default: ""
- name: devops_build_number
  type: string
  default: ""
- name: devops_test_type
  type: string
  description: Optional. Used to different upgrade tests from other type of tests
  default: ""
- name: devops_test_phase
  type: string
  description: Optional. Used to categorize the phase of pipeline this test is running. Used by integrated pipelines like upgrade-test
  default: ""

# MAS Configuration
- name: mas_channel
  type: string
  default: ""
- name: mas_instance_id
  type: string
  default: ""

# Runpipeline Settings (used by all pipelines running inside other pipelines)
- name: runpipeline_cli_version
  description: version of CLI where PipelineRuns used by run-pipeline tasks have been released
  type: string
  default: ""
- name: runpipeline_image_registry
  type: string
  description: registry where run pipeline tasks will run
  default: ""
