# Common Parameters
# -------------------------------------------------------------------------
# Tekton Pipeline image pull policy (for CLI & FVT images)
- name: image_pull_policy
  type: string
  default: IfNotPresent
  description: Pull policy for pipeline container images

# Development Build Support
- name: artifactory_username
  default: ""
  type: string
  description: Required to install development MAS catalogs
- name: artifactory_apikey
  default: ""
  type: string
  description: Required to install development MAS catalogs
- name: dev_mode_airgap
  type: string
  description: Set when using dev or pre-release builds in airgap
  default: "False"

# Storage Class Selection
- name: storage_class_rwo
  type: string
  default: ""
  description: ReadWriteOnce storage class
- name: storage_class_rwx
  type: string
  default: ""
  description: ReadWriteMany storage class

# Entitlement
- name: ibm_entitlement_key
  type: string
  description: IBM Entitlement Key

# Custom Labels
- name: custom_labels
  type: string
  default: ""
  description: Optional custom labels, comma separated list of key=value pairs

# Persist Results (Optional)
- name: devops_mongo_uri
  type: string
  default: ""
- name: devops_build_number
  type: string
  default: ""
# TODO: Style guide: These should prefixed devops_ same as other vars linked to persisting results, e.g. devops_test_type, devops_test_phase
- name: test_type
  type: string
  description: Optional. Used to different upgrade tests from other type of tests
  default: ""
- name: test_phase
  type: string
  description: Optional. Used to categorize the phase of pipeline this test is running. Used by integrated pipelines like upgrade-test
  default: ""

# MAS Configuration
- name: mas_channel
  type: string
  default: ""
- name: mas_instance_id
  type: string
  default: ""
