# Registry
- name: fvt_image_registry
  type: string
  default: ""

# Artifactory Secret
- name: fvt_artifactory_username
  type: string
  default: ""
- name: fvt_artifactory_token
  type: string
  default: ""

# FVT Test Secrets
- name: ddp_apikey
  type: string
- name: partium_username
  type: string
- name: partium_password
  type: string

# FVT Upload files (Optional)
- name: devops_cos_crn
  type: string
  default: ""
- name: devops_ibmcloud_apikey
  type: string
  default: ""

# FVT Digests
- name: fvt_digest_core
  type: string
  description: FVT digest - Core
  default: ""
- name: fvt_digest_coreui
  type: string
  description: FVT digest - Core  UI
  default: ""
- name: fvt_digest_iot
  type: string
  description: FVT Digest - IoT
  default: ""
- name: fvt_digest_ctf
  type: string
  description: FVT Digest - Common Test Framework (Predict, Monitor, Optimizer, Visual Inspection)
  default: ""
- name: fvt_digest_hputilities_preparedata
  type: string
  description: FVT Digest - Health & Predict Utilities - Preparedata
  default: ""
- name: fvt_digest_hputilities_testng
  type: string
  description: FVT Digest - Health & Predict Utilities - Testng
  default: ""
- name: fvt_digest_hputilities_python
  type: string
  description: FVT Digest - Health & Predict Utilities - Python
  default: ""
- name: fvt_digest_assist_cucumber
  type: string
  description: FVT Digest - Assist - Cucumber
  default: ""
- name: fvt_digest_assist_preparedata
  type: string
  description: FVT Digest - Assist - Preparedata
  default: ""
- name: fvt_digest_assist_python
  type: string
  description: FVT Digest - Assist - Python
  default: ""
- name: fvt_digest_assist_testng
  type: string
  description: FVT Digest - Assist - Testng
  default: ""
- name: fvt_digest_health_preparedata
  type: string
  description: FVT Digest - Health - Preparedata
  default: ""
- name: fvt_digest_health_testng
  type: string
  description: FVT Digest - Health - Testng
  default: ""
- name: fvt_digest_health_python
  type: string
  description: FVT Digest - Health - Python
  default: ""
- name: fvt_digest_optimizer
  type: string
  description: FVT Digest - Optimizer
  default: ""

# FVT Digests - Manage, Health and Industry Solutions
- name: fvt_digest_manage
  type: string
  description: FVT Digest - Manage
  default: ""
- name: fvt_test_driver
  type: string
  description: FVT Driver for Manage - graphite/tpae
  default: ""

# FVT Digests - Civil Selenium, Cypress and Defects (mobile)
- name: fvt_digest_manage_civil_selenium
  type: string
  description: FVT Digest - Civil Selenium
  default: ""
- name: fvt_digest_manage_civil_cypress
  type: string
  description: FVT Digest - Civil Cypress
  default: ""
- name: fvt_digest_manage_defects_preparedata
  type: string
  description: FVT Digest - Civil Defects - preparedata
  default: ""
- name: fvt_digest_manage_defects_testng
  type: string
  description: FVT Digest - Civil Defects - Testng
  default: ""

# FVT Digests - Mobile Tests
- name: fvt_digest_mobilefoundation_manage_setup
  type: string
  description: FVT Digest - Mobile Foundation _ Manage Setup
  default: ""
- name: fvt_digest_mobilefoundation_preparedata
  type: string
  description: FVT Digest - Mobile Foundation - Preparedata
  default: ""
- name: fvt_digest_mobilefoundation_testng
  type: string
  description: FVT Digest - Mobile Foundation - Testng
  default: ""
- name: fvt_digest_servicerequests_manage_setup
  type: string
  description: FVT Digest - Mobile Service Requests - Manage Setup
  default: ""
- name: fvt_digest_servicerequests_testng
  type: string
  description: FVT Digest - Mobile Service Requests - Testng
  default: ""
- name: fvt_digest_technician_preparedata
  type: string
  description: FVT Digest - Mobile Technician - Preparedata
  default: ""
- name: fvt_digest_technician_testng
  type: string
  description: FVT Digest - Mobile Technician - Testng
  default: ""
- name: fvt_digest_inspection_preparedata
  type: string
  description: FVT Digest - Mobile Inspection - Preparedata
  default: ""
- name: fvt_digest_inspection_manage_setup
  type: string
  description: FVT Digest - Mobile Inspection - Manage Setup
  default: ""
- name: fvt_digest_inspection_testng
  type: string
  description: FVT Digest - Mobile Inspection - Testng
  default: ""
- name: fvt_digest_asset_manager_preparedata
  type: string
  description: FVT Digest - Mobile Asset Manager - Preparedata
  default: ""
- name: fvt_digest_asset_manager_testng
  type: string
  description: FVT Digest - Mobile Asset Manager - Testng
  default: ""
- name: fvt_digest_ic_manage_setup
  type: string
  description: FVT Digest - Mobile IC - Manage Setup
  default: ""
- name: fvt_digest_ic_testng
  type: string
  description: FVT Digest - Mobile IC - Testng
  default: ""
- name: fvt_digest_inventorycounting
  type: string
  description: FVT Digest - Mobile IC - Testng
  default: ""

# IVT Digests
- name: ivt_digest_core
  type: string
  description: IVT Digest - Core
  default: ""
