# Registry
- name: fvt_image_registry
  type: string
  default: ""

# Artifactory Secret
- name: fvt_artifactory_username
  type: string
  default: ""
- name: fvt_artifactory_token
  type: string
  default: ""

# Data Dictionary
- name: mas_add_catalog
  type: string
  default: ""
- name: mas_add_channel
  type: string
  default: ""

# FVT Test Secrets
- name: ddp_apikey
  type: string
- name: partium_username
  type: string
- name: partium_password
  type: string

# FVT Upload files (Optional)
- name: devops_cos_crn
  type: string
  default: ""
- name: devops_ibmcloud_apikey
  type: string
  default: ""

# FVT Digests
- name: fvt_digest_core
  type: string
  description: FVT digest - Core
  default: ""
- name: fvt_digest_iot
  type: string
  description: FVT Digest - IoT
  default: ""
- name: fvt_digest_iot_preupgrade
  type: string
  description: FVT Preupgrade Digest - IoT
  default: ""
- name: fvt_digest_iot_postupgrade
  type: string
  description: FVT Postupgrade Digest - IoT
  default: ""
- name: fvt_digest_safety
  type: string
  description: FVT Digest - Safety
  default: ""
- name: fvt_digest_monitor
  type: string
  description: FVT Digest - Monitor
  default: ""
- name: fvt_digest_predict
  type: string
  description: FVT Digest - Predict
  default: ""
- name: fvt_digest_hputilities
  type: string
  description: FVT Digest - Health & Predict Utilities
  default: ""
- name: fvt_digest_visualinspection
  type: string
  description: FVT Digest - Visual Inspection
  default: ""
- name: fvt_digest_assist
  type: string
  description: FVT Digest - Assist
  default: ""
- name: fvt_digest_optimizer
  type: string
  description: FVT Digest - Optimizer
  default: ""

# FVT Digests - Manage, Health and Industry Solutions
- name: fvt_digest_manage
  type: string
  description: FVT Digest - Manage
  default: ""
- name: fvt_digest_manage_multi_is
  type: string
  description: FVT Digest - Manage Multi IS
  default: ""
- name: fvt_test_driver
  type: string
  description: FVT Driver for Manage - graphite/tpae
  default: ""

# FVT Digests - Civil Selenium, Cypress and Defects (mobile)
- name: fvt_digest_manage_civil
  type: string
  description: FVT Digest - Civil
  default: ""

# FVT Digests - Mobile Tests
- name: fvt_digest_mobilefoundation
  type: string
  description: FVT Digest - Mobile Foundation
  default: ""
- name: fvt_digest_servicerequests
  type: string
  description: FVT Digest - Mobile Service Requests
  default: ""
- name: fvt_digest_technician
  type: string
  description: FVT Digest - Mobile Technician
  default: ""
- name: fvt_digest_inspection
  type: string
  description: FVT Digest - Mobile Inspection
  default: ""
- name: fvt_digest_asset_manager
  type: string
  description: FVT Digest - Mobile Asset Manager
  default: ""
- name: fvt_digest_inventorycounting
  type: string
  description: FVT Digest - Mobile IC
  default: ""


# IVT Digests
- name: ivt_digest_core
  type: string
  description: IVT Digest - Core
  default: ""
