# MAS Application Configuration - IBM Maximo AI Service
# -----------------------------------------------------------------------------
- name: aiservice_instance_id
  type: string
  description: AI Service instance id
  default: ""
- name: aiservice_channel
  type: string
  description: Default channel for IBM Maximo AI Service
  default: ""
- name: environment_type
  type: string
  description: Environment type
  default: ""

# MAS Application Configuration - IBM Maximo AI Service - S3
# -----------------------------------------------------------------------------
- name: aiservice_s3_accesskey
  type: string
  description: S3/Minio storage access ket for IBM Maximo AI Service
  default: ""
- name: aiservice_s3_secretkey
  type: string
  description: S3/Minio storage secret key for IBM Maximo AI Service
  default: ""
- name: aiservice_s3_host
  type: string
  description: S3/Minio storage host for IBM Maximo AI Service
  default: ""
- name: aiservice_s3_region
  type: string
  description: S3/Minio storage region for IBM Maximo AI Service
  default: ""
- name: aiservice_s3_port
  type: string
  description: S3/Minio storage port for IBM Maximo AI Service
  default: ""
- name: aiservice_s3_ssl
  type: string
  description: S3/Minio storage ssl for IBM Maximo AI Service
  default: ""
- name: aiservice_s3_bucket_prefix
  type: string
  description: s3 bucker prefix
  default: ""
- name: aiservice_s3_tenants_bucket
  type: string
  description: S3/Minio storage tenants bucket for IBM Maximo AI Service
  default: ""
- name: aiservice_s3_templates_bucket
  type: string
  description: S3/Minio storage template bucket for IBM Maximo AI Service
  default: ""

- name: aiservice_odh_model_deployment_type
  type: string
  description: Model deployment type for ODH. Must be one of; [raw, serverless]
  default: "raw"

- name: minio_root_user
  type: string
  description: root user for minio
  default: ""
- name: minio_root_password
  type: string
  description: password for minio root user
  default: ""

# MAS Application Configuration - IBM Maximo AI Service - Tenant
# -----------------------------------------------------------------------------
- name: tenant_entitlement_type
  type: string
  description: type of tenant
  default: ""
- name: tenant_entitlement_start_date
  type: string
  description: define start date for tenant
  default: ""
- name: tenant_entitlement_end_date
  type: string
  description: define end date for tenant
  default: ""

# MAS Application Configuration - IBM Maximo AI Service - Watstonx
# -----------------------------------------------------------------------------
- name: aiservice_watsonxai_apikey
  type: string
  description: WatsonX api key for IBM Maximo AI Service
  default: ""
- name: aiservice_watsonxai_url
  type: string
  description: WatsonX url for IBM Maximo AI Service
  default: ""
- name: aiservice_watsonxai_project_id
  type: string
  description: WatsonX project ID for IBM Maximo AI Service
  default: ""
- name: aiservice_watsonxai_deployment_id
  type: string
  description: WatsonX deployment ID for IBM Maximo AI Service
  default: ""
- name: aiservice_watsonxai_space_id
  type: string
  description: WatsonX space ID for IBM Maximo AI Service
  default: ""
- name: aiservice_watsonx_action
  type: string
  description: watsonx action for IBM Maximo AI Service
  default: ""
- name: aiservice_watsonxai_ca_crt
  type: string
  description: WatsonX CA certificate for IBM Maximo AI Service
  default: ""
- name: aiservice_watsonxai_instance_id
  type: string
  description: WatsonX instance ID for IBM Maximo AI Service
  default: ""
- name: aiservice_watsonxai_username
  type: string
  description: WatsonX username for IBM Maximo AI Service
  default: ""
- name: aiservice_watsonxai_version
  type: string
  description: WatsonX version for IBM Maximo AI Service
  default: ""
- name: aiservice_watsonxai_on_prem
  type: string
  description: WatsonX deployed on prem for IBM Maximo AI Service
  default: ""
- name: aiservice_watsonxai_verify
  type: string
  description: WatsonX verify if CA cert provided for IBM Maximo AI Service
  default: ""

# MAS Application Configuration - IBM Maximo AI Service - RSL
# -----------------------------------------------------------------------------
- name: rsl_url
  type: string
  description: url of RSL
  default: ""
- name: rsl_org_id
  type: string
  description: org id for RSL
  default: ""
- name: rsl_token
  type: string
  description: token for RSL
  default: ""
