# ECK Configuration
# -------------------------------------------------------------------------
- name: eck_enable_elasticsearch
  type: string
  description: MongoDb provider
  default: ""
- name: eck_enable_kibana
  type: string
  default: ""
- name: eck_enable_logstash
  type: string
  default: ""
- name: eck_enable_filebeat
  type: string
  default: ""

- name: eck_remote_es_hosts
  type: string
  default: ""
- name: eck_remote_es_username
  type: string
  default: ""
- name: eck_remote_es_password
  type: string
  default: ""
