# Dependencies - SLS
# -----------------------------------------------------------------------------
- name: sls_namespace
  type: string
  default: ""
- name: sls_license_id
  type: string
- name: sls_license_file
  type: string
  default: "/workspace/entitlement/entitlement.lic"
- name: sls_mongodb_cfg_file
  type: string
  default: "/workspace/configs/mongo-mongoce.yml"
- name: sls_catalog_source
  type: string
  default: ""
- name: sls_channel
  type: string
  default: ""
- name: sls_icr_cp
  type: string
  default: ""
- name: sls_icr_cpopen
  type: string
  default: ""

# Dependencies - MongoDb
# -----------------------------------------------------------------------------
- name: mongodb_namespace
  type: string
  default: ""
- name: mongodb_storage_class
  type: string
  default: ""
- name: mongodb_replicas
  type: string
  description: Optional configuration for mongodb replicas
  default: ""
- name: mongodb_cpu_requests
  type: string
  description: Optional configuration for mongodb cpu requests
  default: ""
- name: mongodb_provider
  type: string
  description: MongoDb provider
  default: ""
- name: mongodb_action
  type: string
  description: MongoDb action
  default: ""

# Dependencies - IBM Cloud MongoDb
# -------------------------------------------------------------------------
- name: ibm_mongo_name
  type: string
  description: IBM Cloud MongoDb instance name
  default: ""
- name: ibm_mongo_resourcegroup
  type: string
  description: IBM Cloud MongoDb resource group
  default: ""
- name: ibm_mongo_region
  type: string
  description: IBM Cloud MongoDb instance region
  default: ""
- name: ibm_mongo_admin_password
  type: string
  description: IBM Cloud MongoDb admin password
  default: ""

# Dependencies - AMQ Streams (Kafka)
# -----------------------------------------------------------------------------
- name: kafka_namespace
  type: string
  default: ""
- name: kafka_cluster_name
  type: string
  default: ""
- name: kafka_cluster_size
  type: string
  default: ""
- name: kafka_user_name
  type: string
  default: ""

# Dependencies - IBM Cloud Event Streams (Kafka)
# -----------------------------------------------------------------------------
- name: kafka_provider
  type: string
  default: ""
- name: eventstreams_resourcegroup
  type: string
  default: ""
- name: eventstreams_name
  type: string
  default: ""
- name: eventstreams_location
  type: string
  default: ""
- name: eventstreams_retention
  type: string
  default: ""
- name: eventstreams_create_manage_jms_topics
  type: string
  default: ""

# Dependencies - NVIDIA GPU
# -----------------------------------------------------------------------------
- name: gpu_namespace
  type: string
  description: Optional. Nvidia gpu namespace
  default: ""
- name: gpu_channel
  type: string
  description: Optional. Nvidia gpu channel for install and updates
  default: ""
- name: nfd_namespace
  type: string
  description: Optional. Node feature discovery namespace
  default: ""
- name: nfd_channel
  type: string
  description: Optional. Node feature discovery channel for install and updates
  default: ""

# Dependencies - DB2
# -----------------------------------------------------------------------------
{{ lookup('template', params_src_dir ~ '/install-db2.yml.j2') }}
- name: db2_action_system
  type: string
  description: Set to 'install' to set up a Db2 instance for the whole suite
  default: "none"
- name: db2_action_manage
  type: string
  description: Set to 'install' to set up a Db2 instance for Manage
  default: "none"
- name: db2_binding_manage
  type: string
  description: Set to 'system' if using the shared system JDBC configuration, or 'workspace-application' if using a dedicated JDBC configuration.
  default: ""

# Dependencies - CP4D
# -----------------------------------------------------------------------------
- name: cpd_operators_namespace
  type: string
  default: ""
- name: cpd_instance_namespace
  type: string
  default: ""
- name: cpd_primary_storage_class
  type: string
  default: ""
- name: cpd_metadata_storage_class
  type: string
  default: ""

# Dependencies - CP4D Services
# -----------------------------------------------------------------------------
- name: cpd_product_version
  type: string
  default: ""
- name: cpd_wd_storage_class
  type: string
  default: ""
- name: cpd_wml_storage_class
  type: string
  default: ""
- name: cpd_spark_storage_class
  type: string
  default: ""
- name: cpd_wsl_storage_class
  type: string
  default: ""
- name: cpd_aiopenscale_storage_class
  type: string
  default: ""
- name: cpd_spss_storage_class
  type: string
  default: ""
- name: cpd_install_spss
  type: string
  default: "False"
- name: cpd_install_openscale
  type: string
  default: "False"

# Dependencies - UDS
# -----------------------------------------------------------------------------
- name: uds_contact_email
  type: string
- name: uds_contact_firstname
  type: string
- name: uds_contact_lastname
  type: string
- name: uds_event_scheduler_frequency
  type: string
  default: ""
- name: uds_action
  type: string
  default: "install"
- name: mas_segment_key
  type: string
  default: ""

# Dependencies - AppConnect
# -----------------------------------------------------------------------------
{{ lookup('template', params_src_dir ~ '/install-appconnect.yml.j2') }}

# Dependencies - COS
# -----------------------------------------------------------------------------
- name: cos_type
  type: string
  description: COS Provider (ibm or ocs)
  default: ""
- name: ibmcloud_apikey
  type: string
  description: API Key used to create COS instance in IBM Cloud
  default: ""

# MAS Integration - Prometheus
# -----------------------------------------------------------------------------
- name: prometheus_retention_period
  type: string
  default: ""
- name: prometheus_storage_class
  type: string
  default: ""
- name: prometheus_storage_size
  type: string
  default: ""
- name: prometheus_alertmgr_storage_class
  type: string
  default: ""
- name: prometheus_alertmgr_storage_size
  type: string
  default: ""
- name: prometheus_userworkload_retention_period
  type: string
  default: ""
- name: prometheus_userworkload_storage_class
  type: string
  default: ""
- name: prometheus_userworkload_storage_size
  type: string
  default: ""
- name: grafana_namespace
  type: string
  default: ""
- name: grafana_instance_storage_class
  type: string
  default: ""
- name: grafana_instance_storage_size
  type: string
  default: ""

# MAS DNS Integrations - General
# -----------------------------------------------------------------------------
- name: dns_provider
  type: string
  default: ""

# MAS DNS Integrations - Cloudflare Support
# -----------------------------------------------------------------------------
- name: cloudflare_email
  type: string
  default: ""
- name: cloudflare_apitoken
  type: string
  default: ""
- name: cloudflare_zone
  type: string
  default: ""
- name: cloudflare_subdomain
  type: string
  default: ""

# MAS DNS Integrations - IBM Cloud Internet Services Support
# -----------------------------------------------------------------------------
- name: cis_email
  type: string
  default: ""
- name: cis_apikey
  type: string
  default: ""
- name: cis_crn
  type: string
  default: ""
- name: cis_subdomain
  type: string
  default: ""

# MAS DNS Integrations - CIS Security Enhancement Support
# -------------------------------------------------------------------------
- name: cis_service_name
  type: string
  default: ""
- name: cis_enhanced_security
  type: string
  default: "false"
- name: override_edge_certs
  type: string
  default: "false"
- name: cis_proxy
  type: string
  default: "false"

# MAS DNS Integrations - AWS Route 53
# -------------------------------------------------------------------------
- name: aws_access_key_id
  type: string
  default: ""
- name: aws_secret_access_key
  type: string
  default: ""
- name: route53_hosted_zone_name
  type: string
  default: ""
- name: route53_hosted_zone_region
  type: string
  default: ""
- name: route53_email
  type: string
  default: ""
- name: route53_subdomain
  type: string
  default: ""
    
{{ lookup('template', params_src_dir ~ '/install-ibmcatalogs.yml.j2') }}

{{ lookup('template', params_src_dir ~ '/install-workspace.yml.j2') }}

{{ lookup('template', params_src_dir ~ '/install-appchannels.yml.j2') }}

# MAS Configuration
# -----------------------------------------------------------------------------
- name: mas_domain
  type: string
  default: ""
- name: mas_cluster_issuer
  type: string
  default: ""
- name: mas_icr_cp
  type: string
  default: ""
- name: mas_icr_cpopen
  type: string
  default: ""
- name: mas_annotations
  type: string
  default: ""
- name: mas_customize_scaling
  type: string
  default: ""
  description: Workload Scaling Custom ConfigMap Name
- name: mas_manual_cert_mgmt
  type: string
  default: "False"
  description: Optional boolean parameter that when set to True, indicates that manually created certificates will be used to certify MAS and application routes
- name: mas_add_channel
  type: string
  default: ""
  description: Data Dictionary subscription channel
- name: mas_add_catalog
  type: string
  default: ""
  description: Data Dictionary catalog source

# MAS Application Configuration - IoT Application
# -----------------------------------------------------------------------------
- name: mas_app_settings_iot_deployment_size
  type: string
  description: controls the workload size of iot containers
  default: ""
- name: mas_app_settings_iot_mqttbroker_pvc_storage_class
  type: string
  description: defines storage class for iot messagesight
  default: ""
- name: mas_app_settings_iot_fpl_pvc_storage_class
  type: string
  description: defines storage class for iot functions pipeline component
  default: ""

# MAS Application Configuration - Manage Application
# -----------------------------------------------------------------------------
- name: mas_appws_bindings_jdbc_manage
  type: string
  description: Select the JDBC configuration to bind to
  default: system
- name: mas_appws_components
  type: string
  description: Manage components to configure in the workspace
  default: "base=latest,health=latest"
- name: mas_app_settings_aio_flag
  type: string
  description: Flag indicating if Asset Investment Optimization (AIO) resource must be loaded or not. It can be loaded only when Optimizer application is installed.
  default: ""
- name: mas_app_settings_demodata
  type: string
  description: Flag indicating if manage demodata should be loaded or not
  default: ""
- name: mas_app_settings_base_language
  type: string
  description: Defines Manage application base language
  default: "EN"
- name: mas_app_settings_secondary_languages
  type: string
  description: Defines Manage application list of secondary languages
  default: ""
- name: mas_app_settings_persistent_volumes_flag
  type: string
  description: Flag indicating if persistent volumes should be configured by default during Manage Workspace activation. There are two defaulted File Storage Persistent Volumes Claim resources that will be created out of the box for Manage if this flag is set to true.
  default: "False"
- name: mas_app_settings_jms_queue_pvc_storage_class
  type: string
  description: Storage Class for Manage JMS queues.
  default: ""
- name: mas_app_settings_jms_queue_pvc_accessmode
  type: string
  description: Storage Access Mode for Manage JMS queues.
  default: ""
- name: mas_app_settings_bim_pvc_storage_class
  type: string
  description: Storage Class for Manage BIM.
  default: ""
- name: mas_app_settings_bim_pvc_accessmode
  type: string
  description: Storage Access Mode for Manage BIM.
  default: ""
- name: mas_app_settings_doclinks_pvc_storage_class
  type: string
  description: Storage Class for Manage Doclinks.
  default: ""
- name: mas_app_settings_doclinks_pvc_accessmode
  type: string
  description: Storage Access Mode for Manage Doclinks.
  default: ""
- name: mas_app_settings_server_bundles_size
  type: string
  description: Provides different flavors of server bundle configuration to handle workload for Manage application.
  default: "dev"
- name: mas_app_settings_tablespace
  type: string
  description: Name of the Manage database tablespace
  default: ""
- name: mas_app_settings_indexspace
  type: string
  description: Name of the Manage database indexspace
  default: ""
- name: mas_app_settings_db2_schema
  type: string
  description: Name of the Manage database schema
  default: ""

# MAS Application Configuration - Optimizer Application
# -----------------------------------------------------------------------------
- name: mas_app_plan_optimizer
  type: string
  description: Configure install plan of Optimizer application (full or limited)
  default: full

# MAS Application Configuration - Predict
# -----------------------------------------------------------------------------
- name: predict_deployment_size
  type: string
  description: controls the workload size of predict containers
  default: "small"
