# Storage Class Selection
# -----------------------------------------------------------------------------
- name: storage_class_rwo
  type: string
  default: ""
  description: ReadWriteOnce storage class
- name: storage_class_rwx
  type: string
  default: ""
  description: ReadWriteMany storage class

# Pipeline config
# -----------------------------------------------------------------------------
- name: skip_pre_check
  type: string
  default: ""
