# MAS Configuration - Workspace
# -------------------------------------------------------------------------
- name: mas_workspace_id
  type: string
  description: Workspace ID used to configure all applications
  default: ""
- name: mas_workspace_name
  type: string
  description: Workspace Name used when setting up the workspace
  default: My Workspace

# MAS Workspace Configuration - Facilities
- name: mas_appws_bindings_jdbc
  type: string
  description: JDBC Bindings Workspace
  default: "workspace-application"