# MAS Add-on Configuration - Maximo Cluster Performance Insights (MCPI)
# -----------------------------------------------------------------------------
- name: mcpi_channel
  type: string
  description: Default channel for IBM Maximo Cluster Performance Insights operator subscription
  default: ""
