# Dependencies - Db2 - Instance
# -------------------------------------------------------------------------
- name: db2_namespace
  type: string
  description: Namespace to create Db2uCluster instances
  default: "db2u"
- name: db2_channel
  type: string
  description: Subscription channel for the Db2 Universal Operator
  default: ""
- name: db2_dbname
  type: string
  description: The name of the database created
  default: "BLUDB"
- name: db2_version
  type: string
  description: The version of the database created
  default: ""
- name: db2_workload
  type: string
  description: The workload profile for the db2 instance ('PUREDATA_OLAP' or 'ANALYTICS')
  default: "ANALYTICS"
- name: db2_4k_device_support
  type: string
  description: Enable 4K device support.  Set to 'ON' or 'OFF'
  default: "ON"
- name: db2_table_org
  type: string
  description: Customize the way database tables will be organized.  Set to 'ROW' or 'COLUMN'
  default: "ROW"

# Dependences - Db2 - Node scheduling
# -------------------------------------------------------------------------
- name: db2_affinity_key
  type: string
  description: Configure node affinity (1/2)
  default: ""
- name: db2_affinity_value
  type: string
  description: Configure node affinity (2/2)
  default: ""
- name: db2_tolerate_key
  type: string
  description: Configure node tolerations (1/3)
  default: ""
- name: db2_tolerate_value
  type: string
  description: Configure node tolerations (2/3)
  default: ""
- name: db2_tolerate_effect
  type: string
  description: Configure node tolerations (3/3)
  default: ""

# Dependences - Db2 - CPU requests and limits
# -------------------------------------------------------------------------
- name: db2_cpu_requests
  type: string
  description: Define the Kubernetes CPU request for the Db2 pod
  default: "4000m"
- name: db2_cpu_limits
  type: string
  description: Define the Kubernetes CPU limit for the Db2 pod
  default: "6000m"

# Dependencies - Db2 - Memory requests and limits
# -------------------------------------------------------------------------
- name: db2_memory_requests
  type: string
  description: Define the Kubernetes memory request for the Db2 pod
  default: "8Gi"
- name: db2_memory_limits
  type: string
  description: Define the Kubernetes memory limit for the Db2 pod
  default: "16Gi"

# Dependencies - Db2 - Storage - Capacity
# -------------------------------------------------------------------------
- name: db2_meta_storage_class
  type: string
  description: Storage class (metadata)
  default: ""
- name: db2_meta_storage_size
  type: string
  description: Storage capacity (metadata)
  default: "20Gi"
- name: db2_backup_storage_class
  type: string
  description: Storage class (backup)
  default: ""
- name: db2_backup_storage_size
  type: string
  description: Storage capacity (backup)
  default: "100Gi"
- name: db2_logs_storage_class
  type: string
  description: Storage class (logs)
  default: ""
- name: db2_logs_storage_size
  type: string
  description: Storage capacity (logs)
  default: "100Gi"
- name: db2_temp_storage_class
  type: string
  description: Storage class (temp)
  default: ""
- name: db2_temp_storage_size
  type: string
  description: Storage capacity (temp)
  default: "100Gi"
- name: db2_data_storage_class
  type: string
  description: Storage class (data)
  default: ""
- name: db2_data_storage_size
  type: string
  description: Storage capacity (data)
  default: "100Gi"

# Dependencies - Db2 - Storage - Access mode
# -------------------------------------------------------------------------
- name: db2_meta_storage_accessmode
  type: string
  description: Optional override for db2 meta storage access mode
  default: ""
- name: db2_backup_storage_accessmode
  type: string
  description: Optional override for db2 backup storage access mode
  default: ""
- name: db2_logs_storage_accessmode
  type: string
  description: Optional override for db2 logs storage access mode
  default: ""
- name: db2_temp_storage_accessmode
  type: string
  description: Optional override for db2 temp storage access mode
  default: ""
- name: db2_data_storage_accessmode
  type: string
  description: Optional override for db2 data storage access mode
  default: ""

# Dependencies - Db2 - LDAP
# -------------------------------------------------------------------------
- name: db2_ldap_username
  type: string
  description: Define the username of db2 in the local LDAP registry. If this is defined, the LDAP user will be the user identity passed into the MAS JDBC configuration.
  default: ""
- name: db2_ldap_password
  type: string
  description: Define the password of the db2 user in the local LDAP registry. Must define when db2_ldap_username is used.
  default: ""