# Storage - Access mode
- name: db2_meta_storage_accessmode
  type: string
  description: Optional configuration for db2 meta storage access mode
  default: ""
- name: db2_backup_storage_accessmode
  type: string
  description: Optional configuration for db2 backup storage access mode
  default: ""
# Storage - Capacity
- name: db2_meta_storage_size
  type: string
  description: Storage capacity (metadata)
  default: ""
- name: db2_backup_storage_size
  type: string
  description: Storage capacity (backup)
  default: ""
- name: db2_logs_storage_size
  type: string
  description: Storage capacity (logs)
  default: ""
- name: db2_temp_storage_size
  type: string
  description: Storage capacity (temp)
  default: ""
- name: db2_data_storage_size
  type: string
  description: Storage capacity (data)
  default: ""
# CPU requests and limits
- name: db2_cpu_requests
  type: string
  description: Optional configuration for db2 cpu requests
  default: ""
- name: db2_cpu_limits
  type: string
  description: Optional configuration for mongodb cpu limits
  default: ""
