# IBM Operator Catalog
# -------------------------------------------------------------------------
- name: mas_catalog_source
  type: string
  default: ibm-operator-catalog
- name: mas_catalog_version
  type: string
  default: v8-amd64
- name: dev_mode_airgap
  type: string
  default: false