# Certificate Manager
# -----------------------------------------------------------------------------
- name: cert_manager_provider
  type: string
  default: ""
- name: cert_manager_action
  type: string
  default: ""
