# MAS Application Configuration - IBM Maximo AI Broker
# -----------------------------------------------------------------------------
# - name: mas_aibroker_channel
- name: mas_app_channel_aibroker
  type: string
  description: Default channel for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_storage_accesskey
  type: string
  description: S3/Minio storage access ket for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_storage_secretkey
  type: string
  description: S3/Minio storage secret key for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_storage_host
  type: string
  description: S3/Minio storage host for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_storage_region
  type: string
  description: S3/Minio storage region for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_storage_port
  type: string
  description: S3/Minio storage port for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_storage_ssl
  type: string
  description: S3/Minio storage ssl for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_storage_provider
  type: string
  description: S3/Minio storage provider IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_storage_pipelines_bucket
  type: string
  description: S3/Minio storage pipeline bucket for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_storage_tenants_bucket
  type: string
  description: S3/Minio storage tenants bucket for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_storage_templates_bucket
  type: string
  description: S3/Minio storage template bucket for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_tenant_name
  type: string
  description: Tenant name for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_watsonxai_apikey
  type: string
  description: WatsonX api key for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_watsonxai_url
  type: string
  description: WatsonX url for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_watsonxai_project_id
  type: string
  description: WatsonX project ID for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_watsonx_action
  type: string
  description: watsonx action for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_apikey_action
  type: string
  description: AI Broker api key action for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_s3_action
  type: string
  description: s3 action for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_connector_tag
  type: string
  description: connector image tag for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_controller_tag
  type: string
  description: controller image tag for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_pipeline_steps_tag
  type: string
  description: pipeline steps image tag for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_store_tag
  type: string
  description: store image tag for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_watcher_tag
  type: string
  description: watcher image tag for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_db_host
  type: string
  description: database host for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_db_port
  type: string
  description: database port for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_db_user
  type: string
  description: database user for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_db_database
  type: string
  description: database name for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_db_secret_name
  type: string
  description: database secret name for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_db_secret_key
  type: string
  description: database secret key for IBM Maximo AI Broker
  default: ""
- name: mas_aibroker_db_secret_value
  type: string
  description: database secret value for IBM Maximo AI Broker
  default: ""
