# Dependencies - SLS
# -----------------------------------------------------------------------------
- name: sls_license_id
  type: string
- name: sls_license_file
  type: string
  default: "/workspace/entitlement/entitlement.lic"
- name: sls_mongodb_cfg_file
  type: string
  default: "/workspace/configs/mongo-mongoce.yml"
- name: sls_catalog_source
  type: string
  default: ""
- name: sls_channel
  type: string
  default: ""
- name: sls_icr_cp
  type: string
  default: ""
- name: sls_icr_cpopen
  type: string
  default: ""
- name: sls_entitlement_username
  type: string
  default: ""
- name: sls_entitlement_key
  type: string
  default: ""
  description: Override IBM Entitlement key for SLS installation

# Dependencies - MongoDb
# -----------------------------------------------------------------------------
- name: mongodb_storage_class
  type: string
  default: ""
- name: mongodb_replicas
  type: string
  description: Optional configuration for mongodb replicas
  default: ""
- name: mongodb_cpu_requests
  type: string
  description: Optional configuration for mongodb cpu requests
  default: ""

# Dependencies - Kafka
# -----------------------------------------------------------------------------
- name: kafka_namespace
  type: string
  default: ""
- name: kafka_cluster_name
  type: string
  default: ""
- name: kafka_cluster_size
  type: string
  default: ""
- name: kafka_user_name
  type: string
  default: ""

# Dependencies - NVIDIA GPU
# -----------------------------------------------------------------------------
- name: gpu_namespace
  type: string
  description: Optional. Nvidia gpu namespace
  default: ""
- name: gpu_channel
  type: string
  description: Optional. Nvidia gpu channel for install and updates
  default: ""
- name: nfd_namespace
  type: string
  description: Optional. Node feature discovery namespace
  default: ""
- name: nfd_channel
  type: string
  description: Optional. Node feature discovery channel for install and updates
  default: ""

# Dependencies - DB2
# -----------------------------------------------------------------------------
{{ lookup('template', params_src_dir ~ '/install-db2.yml.j2') }}
- name: db2_action_system
  type: string
  description: Set to 'install' to set up a Db2 instance for the whole suite
  default: "none"
- name: db2_action_manage
  type: string
  description: Set to 'install' to set up a Db2 instance for Manage
  default: "none"
- name: db2_binding_manage
  type: string
  description: Set to 'system' if using the shared system JDBC configuration, or 'workspace-application' if using a dedicated JDBC configuration.
  default: ""

# Dependencies - JDBC settings
- name: configure_external_db
  type: string
  description: Boolean flag to indicate if external db will be used
  default: "false"
- name: db_instance_id
  type: string
  description: Database instance name identifier
- name: mas_jdbc_user
  type: string
  description: JDBC user name
- name: mas_jdbc_password
  type: string
  description: JDBC password
- name: mas_jdbc_url
  type: string
  description: JDBC Connection string
- name: ssl_enabled
  type: string
  description: Boolean flag to indicate if database server is SSL enabled
- name: mas_jdbc_cert_local_file
  type: string
  description: Location for the database SSL Certificate
- name: mas_config_scope
  type: string
  description: Database configuration scope. Supported values are `system`, `ws`, `app`, or `wsapp`

# Dependencies - CP4D
# -----------------------------------------------------------------------------
- name: cpd_operators_namespace
  type: string
  default: ""
- name: cpd_instance_namespace
  type: string
  default: ""
- name: cpd_primary_storage_class
  type: string
  default: ""
- name: cpd_metadata_storage_class
  type: string
  default: ""

# Dependencies - CP4D Services
# -----------------------------------------------------------------------------
- name: cpd_product_version
  type: string
  default: ""
- name: cpd_wd_storage_class
  type: string
  default: ""
- name: cpd_wml_storage_class
  type: string
  default: ""
- name: cpd_spark_storage_class
  type: string
  default: ""
- name: cpd_wsl_storage_class
  type: string
  default: ""

# Dependencies - UDS
# -----------------------------------------------------------------------------
- name: uds_contact_email
  type: string
- name: uds_contact_firstname
  type: string
- name: uds_contact_lastname
  type: string
- name: uds_event_scheduler_frequency
  type: string
  default: ""
- name: mas_segment_key
  type: string
  default: ""

# Dependencies - AppConnect
# -----------------------------------------------------------------------------
{{ lookup('template', params_src_dir ~ '/install-appconnect.yml.j2') }}

# Dependencies - COS
# -----------------------------------------------------------------------------
- name: cos_type
  type: string
  description: COS Provider (ibm or ocs)
  default: ""
- name: ibmcloud_apikey
  type: string
  description: API Key used to create COS instance in IBM Cloud
  default: ""

# MAS DNS Integrations - General
# -----------------------------------------------------------------------------
- name: dns_provider
  type: string
  default: ""

# MAS DNS Integrations - Cloudflare Support
# -----------------------------------------------------------------------------
- name: cloudflare_email
  type: string
  default: ""
- name: cloudflare_apitoken
  type: string
  default: ""
- name: cloudflare_zone
  type: string
  default: ""
- name: cloudflare_subdomain
  type: string
  default: ""

# MAS DNS Integrations - IBM Cloud Internet Services Support
# -----------------------------------------------------------------------------
- name: cis_email
  type: string
  default: ""
- name: cis_apikey
  type: string
  default: ""
- name: cis_crn
  type: string
  default: ""
- name: cis_subdomain
  type: string
  default: ""

{{ lookup('template', params_src_dir ~ '/install-ibmcatalogs.yml.j2') }}

{{ lookup('template', params_src_dir ~ '/install-workspace.yml.j2') }}

{{ lookup('template', params_src_dir ~ '/install-appchannels.yml.j2') }}

# MAS Configuration
# -----------------------------------------------------------------------------
- name: mas_domain
  type: string
  default: ""
- name: mas_cluster_issuer
  type: string
  default: ""

- name: mas_icr_cp
  type: string
  default: ""
- name: mas_icr_cpopen
  type: string
  default: ""
- name: mas_entitlement_username
  type: string
  default: ""
- name: mas_annotations
  type: string
  default: ""
- name: mas_entitlement_key
  type: string
  default: ""
  description: Override IBM Entitlement key for MAS installation
- name: mas_customize_scaling
  type: string
  default: ""
  description: Workload Scaling Custom ConfigMap Name

# MAS Application Configuration - Manage Application
# -----------------------------------------------------------------------------
- name: mas_appws_bindings_jdbc_manage
  type: string
  description: Select the JDBC configuration to bind to
  default: system
- name: mas_appws_components
  type: string
  description: Manage components to configure in the workspace
  default: "base=latest,health=latest"
- name: mas_app_settings_aio_flag
  type: string
  description: Flag indicating if Asset Investment Optimization (AIO) resource must be loaded or not. It can be loaded only when Optimizer application is installed.
  default: ""
- name: mas_app_settings_demodata
  type: string
  description: Flag indicating if manage demodata should be loaded or not
  default: ""
- name: mas_app_settings_tablespace
  type: string
  description: Name of the Manage database tablespace
  default: ""
- name: mas_app_settings_indexspace
  type: string
  description: Name of the Manage database indexspace
  default: ""
- name: mas_app_settings_db2_schema
  type: string
  description: Name of the Manage database schema
  default: ""
- name: mas_app_settings_persistent_volumes_flag
  type: string
  description: Flag indicating if persistent volumes should be configured by default during Manage Workspace activation. There are two defaulted File Storage Persistent Volumes Claim resources that will be created out of the box for Manage if this flag is set to true.
  default: "False"
- name: mas_app_settings_server_bundles_size
  type: string
  description: Provides different flavors of server bundle configuration to handle workload for Manage application.
  default: "dev"

# MAS Application Configuration - Optimizer Application
# -----------------------------------------------------------------------------
- name: mas_app_plan_optimizer
  type: string
  description: Configure install plan of Optimizer application (full or limited)
  default: full

# MAS Application Configuration - Predict
# -----------------------------------------------------------------------------
- name: predict_deployment_size
  type: string
  description: controls the workload size of predict containers
  default: "small"

# MAS Subscriptions - Application Channels
# -----------------------------------------------------------------------------
# Safety is deprecated, so it is only available in install pipeline
# The other channels are in params/common
- name: mas_app_channel_safety
  type: string
  description: Subscription channel for Safety application operator
  default: ""
