# KubeTurbo Configuration
# -------------------------------------------------------------------------
- name: kubeturbo_namespace
  type: string
  description: MongoDb provider
  default: ""

# Turbonomic Configuration
# -------------------------------------------------------------------------
# Both turbonomic_target_name & turbonomic_server_url need to be set, or the turbonomic role will not execute
- name: turbonomic_target_name
  type: string
  default: ""
- name: turbonomic_server_url
  type: string
  default: ""
- name: turbonomic_server_version
  type: string
  default: ""

# Turbonomic Authentication
- name: turbonomic_username
  type: string
  default: ""
- name: turbonomic_password
  type: string
  default: ""
