# Pipeline config
# -----------------------------------------------------------------------------
- name: skip_pre_install_check
  type: string
  default: ""

# Storage Class Selection
# -----------------------------------------------------------------------------
- name: storage_class_rwo
  type: string
  default: ""
  description: ReadWriteOnce storage class
- name: storage_class_rwx
  type: string
  default: ""
  description: ReadWriteMany storage class

# Entitlement
# -----------------------------------------------------------------------------
- name: ibm_entitlement_key
  type: string
  description: IBM Entitlement Key
