# MAS Configuration - Application Channels
# -------------------------------------------------------------------------
- name: mas_app_channel_iot
  type: string
  description: Subscription channel for IoT application operator
  default: ""
- name: mas_app_channel_manage
  type: string
  description: Subscription channel for Manage application operator
  default: ""
- name: mas_app_channel_monitor
  type: string
  description: Subscription channel for Monitor application operator
  default: ""
- name: mas_app_channel_optimizer
  type: string
  description: Subscription channel for Optimizer application operator
  default: ""
- name: mas_app_channel_predict
  type: string
  description: Subscription channel for Predict application operator
  default: ""
- name: mas_app_channel_assist
  type: string
  description: Subscription channel for Assist application operator
  default: ""
- name: mas_app_channel_visualinspection
  type: string
  description: Subscription channel for MVI application operator
  default: ""
- name: mas_app_channel_aibroker
  type: string
  description: Subscription channel for AI Broker application operator
  default: ""
