# Storage Class Selection
# -----------------------------------------------------------------------------
- name: storage_class_rwo
  type: string
  default: ""
  description: ReadWriteOnce storage class
- name: storage_class_rwx
  type: string
  default: ""
  description: ReadWriteMany storage class

# Entitlement
# -----------------------------------------------------------------------------
- name: ibm_entitlement_key
  type: string
  description: IBM Entitlement Key

# Entitlement
# -----------------------------------------------------------------------------
- name: skip_common_services
  type: string
  default: "false"
  description: Flag that determines if common services task must be skipped
