# Registry
- name: fvt_image_registry
  type: string
  default: ""

# Artifactory Secret
- name: fvt_artifactory_username
  type: string
  default: ""
- name: fvt_artifactory_apikey
  type: string
  default: ""

# FVT Versions
- name: fvt_version_iot
  type: string
  description: FVT Version - IoT
  default: ""

# IVT Versions
- name: ivt_version_core
  type: string
  description: IVT Version - Core
  default: ""
