# Runpipeline Parameters
# -------------------------------------------------------------------------
# Settings (used by all pipelines running inside other pipelines)
- name: runpipeline_cli_version
  description: version of CLI where PipelineRuns used by run-pipeline tasks have been released
  type: string
  default: ""
- name: runpipeline_image_registry
  type: string
  description: registry where run pipeline tasks will run
  default: ""
