# Uninstall Parameters
# -------------------------------------------------------------------------
# Tekton Pipeline image pull policy (for CLI & FVT images)
- name: image_pull_policy
  type: string
  default: IfNotPresent
  description: Pull policy for pipeline container images

  # MAS Configuration
- name: mas_instance_id
  type: string
  default: ""

# Optional parameters to uninstall dependencies
# -------------------------------------------------------------------------
- name: cluster_monitoring_action
  type: string
  description: Optional. Used to uninstall Cluster Monitoring
  default: "none"
- name: cert_manager_action
  type: string
  description: Optional. Used to uninstall Cert Manager
  default: "none"
- name: common_services_action
  type: string
  description: Optional. Used to uninstall IBM Common Services
  default: "none"
- name: ibm_catalogs_action
  type: string
  description: Optional. Used to uninstall IBM Catalogs
  default: "none"
- name: mongodb_action
  type: string
  description: Optional. Used to uninstall MongoDB
  default: "none"
- name: mas_wipe_mongo_data
  type: string
  description: Optional. Used to uninstall MongoDB databases during MAS uninstall
  default: ""
- name: sls_action
  type: string
  description: Optional. Used to uninstall SLS
  default: "none"
- name: uds_action
  type: string
  description: Optional. Used to uninstall UDS
  default: "none"
