# Manage FVT - Civil Infrastructure Selenium
- name: fvt-manage-selenium-civil
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: civil-bvt

## Minimum Verification Test for Mobile Defects MAS test suites
- name: fvt-mobile-testng-defects-android
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref-testng.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params-testng.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: civil-defects-app
    - name: mobile_device_type
      value: android
    - name: fvt_test_suite
      value: civil-defects-mvt-android
  runAfter:
    - fvt-manage-selenium-civil

# Minimum Verification Test for Mobile Defects MAS test suites
- name: fvt-mobile-testng-defects-ios
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref-testng.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params-testng.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: civil-defects-app
    - name: mobile_device_type
      value: ios
    - name: fvt_test_suite
      value: civil-defects-mvt-ios
  runAfter:
    - fvt-civil-defects-mvt-android