## Verification for Mobile JSON Schema
- name: fvt-mob-schema-post
  taskRef:
    kind: Task
    name: mas-fvt-mobile-pytest
  timeout: "0"
  params:
    - name: fvt_image_registry
      value: $(params.fvt_image_registry)
    - name: fvt_image_digest
      value: $(params.fvt_digest_mobile_pytest)
    - name: mas_instance_id
      value: $(params.mas_instance_id)
    - name: mas_workspace_id
      value: $(params.mas_workspace_id)
    - name: product_channel
      value: $(params.mas_app_channel_manage)
    - name: fvt_test_suite_suffix
      value: post
    - name: fvt_test_suite
      value: mobile-api-mobile-schema
    - name: input_data_file
      value: "MobileSetup4MAS.data"
    - name: enable_perf_debug
      value: "True"
  workspaces:
    - name: configs
      workspace: shared-configs
  when:
    - input: "$(params.mas_app_channel_manage)"
      operator: notin
      values: [""]
    - input: "$(params.fvt_digest_mobile_pytest)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-mob-android-mobfound
    - fvt-mob-ios-mobfound