## Minimum Verification Test for Mobile Service Request MAS test suites
- name: fvt-mob-ios-sr
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref-testng.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params-testng.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: service-request-app
    - name: mobile_device_type
      value: ios
    - name: fvt_test_suite
      value: service-request-mvt-ios
  runAfter:
    - fvt-mob-ios-inspections
    - fvt-mob-ios-assetmng
    - fvt-mob-ios-ic

# Mobile FVT - Inventory Receiving IOS
- name: fvt-mob-ios-ir
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref-testng.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params-testng.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: ir-automation-testcases
    - name: mobile_device_type
      value: ios
    - name: fvt_test_suite
      value: inventory-receiving-mvt-ios
  runAfter:
    - fvt-mob-ios-inspections
    - fvt-mob-ios-assetmng
    - fvt-mob-ios-ic

## Minimum Verification Test for Mobile Technician MAS test suites
- name: fvt-mob-ios-technician
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref-testng.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params-testng.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: technician-app
    - name: mobile_device_type
      value: ios
    - name: fvt_test_suite
      value: technician-mvt-ios
  runAfter:
    - fvt-mob-ios-inspections
    - fvt-mob-ios-assetmng
    - fvt-mob-ios-ic
