## Minimum Verification Test for Mobile Supervisor MAS test suites
- name: fvt-mob-android-supervisor
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref-testng.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params-testng.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: supervisor-app
    - name: mobile_device_type
      value: android
    - name: fvt_test_suite
      value: supervisor-mvt-android
  runAfter:
    - fvt-mob-android-sr
    - fvt-mob-android-ir
    - fvt-mob-android-technician

## Minimum Verification Test for Mobile calibration MAS test suites
- name: fvt-mob-android-calibration
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref-testng.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params-testng.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: calibration-app
    - name: mobile_device_type
      value: android
    - name: fvt_test_suite
      value: calibration-mvt-android
  runAfter:
    - fvt-mob-android-sr
    - fvt-mob-android-ir
    - fvt-mob-android-technician

## Mobile FVT - Issues and Transfers Android
- name: fvt-mob-android-it
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref-testng.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params-testng.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: it-automation-testcases
    - name: mobile_device_type
      value: android
    - name: fvt_test_suite
      value: issues-transfer-mvt-android
  runAfter:
    - fvt-mob-android-sr
    - fvt-mob-android-ir
    - fvt-mob-android-technician
