---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: aiservice-update
spec:
  workspaces:
    # The generated configuration files
    - name: shared-configs
    # Any pre-generated configs that will be copied into the shared-configs workspace during suite-update
    - name: shared-additional-configs
    # The SLS entitlement key file that will be updateed during update-sls.
    - name: shared-entitlement
    # Pre-generated certificates that will be copied into certs folder of shared-configs workspace to be used by suite-certs task
    - name: shared-certificates
    # PodTemplates configurations
    - name: shared-pod-templates

  tasks: [] # TODO
    