---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: cpd-install
spec:

  params:
    # 1. Common Parameters
    # -------------------------------------------------------------------------
    {{ lookup('template', params_src_dir ~ '/common.yml.j2') | indent(4) }}

    # 2. Installation
    # -------------------------------------------------------------------------
    {{ lookup('template', params_src_dir ~ '/install-common.yml.j2') | indent(4)  }}
    {{ lookup('template', params_src_dir ~ '/install.yml.j2') | indent(4) }}

  tasks:
    # Content
    # -------
    # 1. Setup Cluster-wide Dependencies inc. Grafana, ECK, and Turbonomic
    # 2. Cloud Pak for Data

    # 1. Setup Cluster-wide Dependencies 
    # -------------------------------------------------------------------------
    # 1.1 IBM Operator Catalog
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/cluster-setup/ibm-catalogs.yml.j2') | indent(4) }}

    # 1.2 Red Hat Certificate Manager
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/cluster-setup/cert-manager.yml.j2') | indent(4) }}


    # 2. Cloud Pak for Data
    # -------------------------------------------------------------------------
    # 2.1 Cloud Pak for Data Platform
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/cp4d/cp4d-platform.yml.j2') | indent(4) }}
      runAfter:
        - ibm-catalogs
        - cert-manager

    # 2.2 Watson Studio
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/cp4d/cp4d-wsl.yml.j2') | indent(4) }}
      runAfter:
        - cp4d

    # 2.3 Watson Machine Learning
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/cp4d/cp4d-wml.yml.j2') | indent(4) }}
      runAfter:
        - cp4d

    # 2.4 Analytics Service (Spark)
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/cp4d/cp4d-spark.yml.j2') | indent(4) }}
      runAfter:
        - cp4d

    # 23.5 Watson OpenScale
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/cp4d/cp4d-aiopenscale.yml.j2') | indent(4) }}
      runAfter:
        - cp4d

    # 2.6 SPSS Statistics
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/cp4d/cp4d-spss.yml.j2') | indent(4) }}
      runAfter:
        - cp4d

    # 2.7 Cognos Analytics
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/cp4d/cp4d-cognos.yml.j2') | indent(4) }}
      runAfter:
        - cp4d
