---
# There are various integration points in the install pipeline that we can hang FVT off
# 1. suite-verify ............... Triggered after Core install and configuration is verified
# 2. app-cfg-assist ............. Triggered after Assist is installed and configured
# 3. app-cfg-iot ................ Triggered after IoT is installed and configured
# 4. app-cfg-manage ............. Triggered after Manage is installed and configured
# 5. app-cfg-monitor ............ Triggered after Monitor is installed and configured
# 6. app-cfg-optimizer .......... Triggered after Optimizer is installed and configured
# 7. app-cfg-predict ............ Triggered after Predict is installed and configured
# 8. app-cft-visualinspection ... Triggered after Visual Inspection is installed and configured

# TODO: Manage component sub-pipelines need to be integrated (fvt-manage-civil, fvt-manage-health, fvt-manage-is)
# TODO: Mobile sub-pipelines need to be integrated (fvt-mobile) .. should this be fvt-manage-mobile, is it testing anything mobile that is outside scope of Manage application?

apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: mas-fvt-launcher
spec:
  params:
    - name: fvt_image_registry
      type: string
    - name: image_pull_policy
      type: string

    - name: mas_instance_id
      type: string

    - name: launchfvt_core
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable launch of the SLS & Core FVT pipelines after suite-verify completes"
    - name: launchfvt_assist
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable launch of the Assist FVT pipeline after app-cfg-assist completes"
    - name: launchfvt_iot
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable launch of the IoT FVT pipeline after app-cfg-iot completes"
    - name: launchfvt_manage
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable launch of the Monitor FVT pipeline after app-cfg-manage completes (does not control the additional Industry Solution, Mobile, or Regression Manage suites)"
    - name: launchfvt_monitor
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable launch of the Manage FVT pipeline after app-cfg-monitor completes"
    - name: launchfvt_optimizer
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable launch of the Optimizer FVT pipeline after app-cfg-optimizer completes"
    - name: launchfvt_predict
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable launch of the Predict FVT pipeline after app-cfg-predict completes"
    - name: launchfvt_visualinspection
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable launch of the Visual Inspection FVT pipeline after app-cfg-visualinspection completes"

  tasks:
    # 1. MAS Core FVT
    # -------------------------------------------------------------------------
    - name: waitfor-suite-verify
      taskRef:
        kind: Task
        name: mas-devops-wait-for-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: namespace
          value: $(context.taskRun.namespace)
        - name: configmap_name
          value: approval-suite-verify
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_target_value
          value: pending
        - name: delay
          value: "300"
        - name: max_retries
          value: "50"
        - name: ignore_failure
          value: "True"
      when:
        - input: $(params.launchfvt_core)
          operator: in
          values: ["true", "True"]

# See: https://jsw.ibm.com/browse/IBMSLS-17
#    - name: launchfvt-sls
#      taskRef:
#        kind: Task
#        name: mas-launchfvt-sls
#      params:
#        - name: image_pull_policy
#          value: $(params.image_pull_policy)
#        - name: pipelinerun_name
#          value: "$(params.mas_instance_id)-fvt-sls"
#      when:
#        - input: $(params.launchfvt_core)
#          operator: in
#          values: ["true", "True"]
#      runAfter:
#        - waitfor-suite-verify
#
#    - name: waitforfvt-sls
#      taskRef:
#        kind: Task
#        name: mas-devops-wait-for-tekton
#      params:
#        - name: pipelinerun_name
#          value: "$(params.mas_instance_id)-fvt-sls"
#        - name: ignore_failure
#          value: "True"
#      when:
#        - input: $(params.launchfvt_core)
#          operator: in
#          values: ["true", "True"]
#      runAfter:
#        - launchfvt-sls

    - name: launchfvt-core
      taskRef:
        kind: Task
        name: mas-launchfvt-core
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-core"
      when:
        - input: $(params.launchfvt_core)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitfor-suite-verify

    - name: waitforfvt-core
      taskRef:
        kind: Task
        name: mas-devops-wait-for-tekton
      params:
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-core"
        - name: ignore_failure
          value: "True"
      when:
        - input: $(params.launchfvt_core)
          operator: in
          values: ["true", "True"]
      runAfter:
        - launchfvt-core

    - name: approval-suite-verify
      taskRef:
        kind: Task
        name: mas-devops-update-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: configmap_name
          value: approval-suite-verify
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_value
          value: approved
      when:
        - input: $(params.launchfvt_core)
          operator: in
          values: ["true", "True"]
      runAfter:
# See: https://jsw.ibm.com/browse/IBMSLS-17
#        - waitforfvt-sls
        - waitforfvt-core


    # 2. Application FVT - Assist
    # -------------------------------------------------------------------------
    - name: waitfor-assist
      taskRef:
        kind: Task
        name: mas-devops-wait-for-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: namespace
          value: $(context.taskRun.namespace)
        - name: configmap_name
          value: approval-app-cfg-assist
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_target_value
          value: pending
        - name: delay
          value: "300"
        - name: max_retries
          value: "50"
        - name: ignore_failure
          value: "True"
      when:
        - input: $(params.launchfvt_assist)
          operator: in
          values: ["true", "True"]

    - name: launchfvt-assist
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-assist"
      taskRef:
        kind: Task
        name: mas-launchfvt-assist
      when:
        - input: $(params.launchfvt_assist)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitfor-assist

    - name: waitforfvt-assist
      taskRef:
        kind: Task
        name: mas-devops-wait-for-tekton
      params:
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-assist"
        - name: ignore_failure
          value: "True"
      when:
        - input: $(params.launchfvt_assist)
          operator: in
          values: ["true", "True"]
      runAfter:
        - launchfvt-assist

    - name: approval-assist
      taskRef:
        kind: Task
        name: mas-devops-update-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: configmap_name
          value: approval-app-cfg-assist
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_value
          value: approved
      when:
        - input: $(params.launchfvt_assist)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitforfvt-assist


    # 3. Application FVT - IoT
    # -------------------------------------------------------------------------
    - name: waitfor-iot
      taskRef:
        kind: Task
        name: mas-devops-wait-for-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: namespace
          value: $(context.taskRun.namespace)
        - name: configmap_name
          value: approval-app-cfg-iot
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_target_value
          value: pending
        - name: delay
          value: "300"
        - name: max_retries
          value: "50"
        - name: ignore_failure
          value: "True"
      when:
        - input: $(params.launchfvt_iot)
          operator: in
          values: ["true", "True"]

    - name: launchfvt-iot
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-iot"
      taskRef:
        kind: Task
        name: mas-launchfvt-iot
      when:
        - input: $(params.launchfvt_iot)
          operator: in
          values: ["true", "True"]
      when:
        - input: $(params.launchfvt_iot)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitfor-iot

    - name: waitforfvt-iot
      taskRef:
        kind: Task
        name: mas-devops-wait-for-tekton
      params:
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-iot"
        - name: ignore_failure
          value: "True"
      when:
        - input: $(params.launchfvt_iot)
          operator: in
          values: ["true", "True"]
      runAfter:
        - launchfvt-iot

    - name: approval-iot
      taskRef:
        kind: Task
        name: mas-devops-update-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: configmap_name
          value: approval-app-cfg-iot
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_value
          value: approved
      when:
        - input: $(params.launchfvt_iot)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitforfvt-iot


    # 5. Application FVT - Manage
    # -------------------------------------------------------------------------
    - name: waitfor-manage
      taskRef:
        kind: Task
        name: mas-devops-wait-for-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: namespace
          value: $(context.taskRun.namespace)
        - name: configmap_name
          value: approval-app-cfg-manage
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_target_value
          value: pending
        - name: delay
          value: "300"
        - name: max_retries
          value: "50"
        - name: ignore_failure
          value: "True"
      when:
        - input: $(params.launchfvt_manage)
          operator: in
          values: ["true", "True"]

    - name: launchfvt-manage
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-manage"
      taskRef:
        kind: Task
        name: mas-launchfvt-manage
      when:
        - input: $(params.launchfvt_manage)
          operator: in
          values: ["true", "True"]
      when:
        - input: $(params.launchfvt_manage)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitfor-manage

    - name: waitforfvt-manage
      taskRef:
        kind: Task
        name: mas-devops-wait-for-tekton
      params:
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-manage"
        - name: ignore_failure
          value: "True"
      when:
        - input: $(params.launchfvt_manage)
          operator: in
          values: ["true", "True"]
      runAfter:
        - launchfvt-manage

    - name: approval-manage
      taskRef:
        kind: Task
        name: mas-devops-update-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: configmap_name
          value: approval-app-cfg-manage
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_value
          value: approved
      when:
        - input: $(params.launchfvt_manage)
          operator: in
          values: ["true", "True"]
      when:
        - input: $(params.launchfvt_manage)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitforfvt-manage


    # 6. Application FVT - Monitor
    # -------------------------------------------------------------------------
    - name: waitfor-monitor
      taskRef:
        kind: Task
        name: mas-devops-wait-for-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: namespace
          value: $(context.taskRun.namespace)
        - name: configmap_name
          value: approval-app-cfg-monitor
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_target_value
          value: pending
        - name: delay
          value: "300"
        - name: max_retries
          value: "50"
        - name: ignore_failure
          value: "True"
      when:
        - input: $(params.launchfvt_monitor)
          operator: in
          values: ["true", "True"]

    - name: launchfvt-monitor
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-monitor"
      taskRef:
        kind: Task
        name: mas-launchfvt-monitor
      when:
        - input: $(params.launchfvt_monitor)
          operator: in
          values: ["true", "True"]
      when:
        - input: $(params.launchfvt_monitor)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitfor-monitor

    - name: waitforfvt-monitor
      taskRef:
        kind: Task
        name: mas-devops-wait-for-tekton
      params:
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-monitor"
        - name: ignore_failure
          value: "True"
      when:
        - input: $(params.launchfvt_monitor)
          operator: in
          values: ["true", "True"]
      runAfter:
        - launchfvt-monitor

    - name: approval-monitor
      taskRef:
        kind: Task
        name: mas-devops-update-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: configmap_name
          value: approval-app-cfg-monitor
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_value
          value: approved
      when:
        - input: $(params.launchfvt_monitor)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitforfvt-monitor


    # 7. Application FVT - Optimizer
    # -------------------------------------------------------------------------
    - name: waitfor-optimizer
      taskRef:
        kind: Task
        name: mas-devops-wait-for-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: namespace
          value: $(context.taskRun.namespace)
        - name: configmap_name
          value: approval-app-cfg-optimizer
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_target_value
          value: pending
        - name: delay
          value: "300"
        - name: max_retries
          value: "50"
        - name: ignore_failure
          value: "True"
      when:
        - input: $(params.launchfvt_optimizer)
          operator: in
          values: ["true", "True"]

    - name: launchfvt-optimizer
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-optimizer"
      taskRef:
        kind: Task
        name: mas-launchfvt-optimizer
      when:
        - input: $(params.launchfvt_optimizer)
          operator: in
          values: ["true", "True"]
      when:
        - input: $(params.launchfvt_optimizer)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitfor-optimizer

    - name: waitforfvt-optimizer
      taskRef:
        kind: Task
        name: mas-devops-wait-for-tekton
      params:
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-optimizer"
        - name: ignore_failure
          value: "True"
      when:
        - input: $(params.launchfvt_optimizer)
          operator: in
          values: ["true", "True"]
      runAfter:
        - launchfvt-optimizer

    - name: approval-optimizer
      taskRef:
        kind: Task
        name: mas-devops-update-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: configmap_name
          value: approval-app-cfg-optimizer
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_value
          value: approved
      when:
        - input: $(params.launchfvt_optimizer)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitforfvt-optimizer


    # 8. Application FVT - Predict
    # -------------------------------------------------------------------------
    - name: waitfor-predict
      taskRef:
        kind: Task
        name: mas-devops-wait-for-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: namespace
          value: $(context.taskRun.namespace)
        - name: configmap_name
          value: approval-app-cfg-predict
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_target_value
          value: pending
        - name: delay
          value: "300"
        - name: max_retries
          value: "50"
        - name: ignore_failure
          value: "True"
      when:
        - input: $(params.launchfvt_predict)
          operator: in
          values: ["true", "True"]

    - name: launchfvt-predict
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-predict"
      taskRef:
        kind: Task
        name: mas-launchfvt-predict
      when:
        - input: $(params.launchfvt_predict)
          operator: in
          values: ["true", "True"]
      when:
        - input: $(params.launchfvt_predict)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitfor-predict

    - name: waitforfvt-predict
      taskRef:
        kind: Task
        name: mas-devops-wait-for-tekton
      params:
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-predict"
        - name: ignore_failure
          value: "True"
      when:
        - input: $(params.launchfvt_predict)
          operator: in
          values: ["true", "True"]
      runAfter:
        - launchfvt-predict

    - name: approval-predict
      taskRef:
        kind: Task
        name: mas-devops-update-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: configmap_name
          value: approval-app-cfg-predict
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_value
          value: approved
      when:
        - input: $(params.launchfvt_predict)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitforfvt-predict


    # 9. Application FVT - Visual Inspection
    # -------------------------------------------------------------------------
    - name: waitfor-visualinspection
      taskRef:
        kind: Task
        name: mas-devops-wait-for-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: namespace
          value: $(context.taskRun.namespace)
        - name: configmap_name
          value: approval-app-cfg-visualinspection
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_target_value
          value: pending
        - name: delay
          value: "300"
        - name: max_retries
          value: "50"
        - name: ignore_failure
          value: "True"
      when:
        - input: $(params.launchfvt_visualinspection)
          operator: in
          values: ["true", "True"]

    - name: launchfvt-visualinspection
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-visualinspection"
      taskRef:
        kind: Task
        name: mas-launchfvt-visualinspection
      when:
        - input: $(params.launchfvt_visualinspection)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitfor-visualinspection

    - name: waitforfvt-visualinspection
      taskRef:
        kind: Task
        name: mas-devops-wait-for-tekton
      params:
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-visualinspection"
        - name: ignore_failure
          value: "True"
      when:
        - input: $(params.launchfvt_visualinspection)
          operator: in
          values: ["true", "True"]
      runAfter:
        - launchfvt-visualinspection

    - name: approval-visualinspection
      taskRef:
        kind: Task
        name: mas-devops-update-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: configmap_name
          value: approval-app-cfg-visualinspection
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_value
          value: approved
      when:
        - input: $(params.launchfvt_visualinspection)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitforfvt-visualinspection
