---
# Don't edit install.yaml directly -- modify install.yml.j2, and the content in parts/, then run "ansible-playbook generate-install.yaml"
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: mas-fvt-sls
spec:
  workspaces:
    # The generated configuration files
    - name: shared-configs
    # PodTemplates configurations
    - name: shared-pod-templates

  params:
    # 1. Common Parameters
    # -------------------------------------------------------------------------
    {{ lookup('template', params_src_dir ~ '/common.yml.j2') | indent(4) }}

    # 2. Additional Params for FVT
    # -------------------------------------------------------------------------
    {{ lookup('template', params_src_dir ~ '/fvt.yml.j2') | indent(4) }}

    # SLS Namespace
    - name: sls_namespace
      type: string
      description: SLS Namespace
      default: ""

  tasks:
    # Content
    # -------
    # 1. SLS FVT
    # -------------------------------------------------------------------------
    {{ lookup('template', 'taskdefs/fvt-sls/sls.yml.j2') | indent(4) }}
    - name: imagescan
      {{ lookup('template', 'taskdefs/ivt-core/common/taskref.yml.j2') | indent(6) }}
      params:
        {{ lookup('template', 'taskdefs/ivt-core/common/params.yml.j2') | indent(8) }}
        - name: product_id
          value: ibm-mas
        - name: fvt_test_suite
          value: imagescan
      when:
        - input: "$(params.ivt_digest_core)"
          operator: notin
          values: [""]
