---
# Don't edit install.yaml directly -- modify install.yml.j2, and the content in parts/, then run "ansible-playbook generate-install.yaml"
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
{% if wait_for_install == true %}
  name: mas-fvt-core-after-install
{% else %}
  name: mas-fvt-core
{% endif %}
spec:
  workspaces:
    # The generated configuration files
    - name: shared-configs
    # PodTemplates configurations
    - name: shared-pod-templates

  params:
    # Tekton Pipeline image pull policy (for ibmmas/cli images)
    - name: image_pull_policy
      type: string
      default: IfNotPresent
      description: Pull policy for pipeline container images

    # MAS Configuration
    - name: mas_channel
      type: string
      default: ""
    - name: mas_instance_id
      type: string
      default: ""
    - name: mas_workspace_id
      type: string
      default: ""

    # FVT Configuration
    - name: fvt_image_registry
      type: string
      default: ""
    - name: fvt_artifactory_username
      type: string
      default: ""
    - name: fvt_artifactory_token
      type: string
      default: ""
    - name: fvt_digest_core
      type: string
      description: FVT digest - Core
      default: ""
    - name: ivt_digest_core
      type: string
      description: IVT Digest - Core
      default: ""

{% if wait_for_install == true %}
    # 4. Wait params
    # -------------------------------------------------------------------------
    - name: pipelinerun_name
      type: string
    - name: ignore_failure
      type: string
      default: "True"
      description: Set to 'True' or 'False' (case-sensitive) to configure whether this pipeline continue if the pipeline we are waiting for has failed.
    - name: remote_ocp_cluster
      type: string 
    - name: remote_ocp_type
      type: string         
    - name: remote_ibmcloud_api_key
      type: string   
{% endif %}

  tasks:

{% if wait_for_install == true %}

    # 0. Wait for the install pipeline to complete
    # -------------------------------------------------------------------------
    - name: wait-for-install
      params:
        - name: pipelinerun_name
          value: $(params.pipelinerun_name)
        - name: ignore_failure
          value: $(params.ignore_failure)
        - name: remote_ocp_cluster
          value: $(params.remote_ocp_cluster) 
        - name: remote_ocp_type
          value: $(params.remote_ocp_type)
        - name: remote_ibmcloud_api_key
          value: $(params.remote_ibmcloud_api_key)
      taskRef:
        kind: Task
        name: mas-fvt-wait-for-pipelinerun
{% endif %}

    # Content
    # -------
    # 1. MAS Suite Verify
    # 2. MAS Core FVT

    # 1. MAS Suite Verify
    # -------------------------------------------------------------------------
    # 1.1 Suite Verification
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/core/suite-verify.yml.j2') | indent(4) }}
{% if wait_for_install == true %}
      runAfter:
        - wait-for-install
{% endif %}

    # 2. MAS Core FVT
    # -------------------------------------------------------------------------
    # 2.1 Phase 1 of CoreAPI testing (~35m)
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-core/phase1.yml.j2') | indent(4) }}

    # 2.2 Phase 2 of CoreAPI testing (~10m)
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-core/phase2.yml.j2') | indent(4) }}

    # 2.3 Miscellaneous test suites (~10m)
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-core/phase3.yml.j2') | indent(4) }}

    # 2.4 Single-threaded suites
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-core/phase4.yml.j2') | indent(4) }}
