---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: mas-fvt-civil
spec:
  workspaces:
    # The generated configuration files
    - name: shared-configs

  params:
    # Tekton Pipeline image pull policy (for ibmmas/cli images)
    - name: image_pull_policy
      type: string
      default: IfNotPresent
      description: Pull policy for pipeline container images

    # MAS Configuration
    - name: mas_channel
      type: string
      default: ""
    - name: mas_app_channel_manage
      type: string
      default: ""
    - name: mas_instance_id
      type: string
      default: ""
    - name: mas_workspace_id
      type: string
      default: ""

    # FVT Configuration
    - name: fvt_image_registry
      type: string
      default: ""
    - name: fvt_artifactory_token
      type: string
      default: ""
    
    # FVT: Mobile Digests
    - name: fvt_digest_mobile_testng
      type: string
      default: ""

    # FVT: Civil Manage Digests
    - name: fvt_digest_manage_civil_selenium
      type: string
      default: "" 
  
  tasks:
    # 2. Manage FVT - Manage Mobile
    # -------------------------------------------------------------------------
    
    {{ lookup('template', 'taskdefs/fvt-civil/civil.yml.j2') | indent(4) }}

