---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: mas-fvt-manage
spec:
  workspaces:
    # The generated configuration files
    - name: shared-configs
    # Any pre-generated configs that will be copied into the shared-configs workspace during suite-install
    - name: shared-additional-configs
    # The SLS entitlement key file that will be installed during install-sls.
    - name: shared-entitlement
    # Shared storage to hold mustgather output for tasks
    - name: shared-mustgather
    # Pre-generated certificates that will be copied into certs folder of shared-configs workspace to be used by suite-certs task
    - name: shared-certificates

  params:
    # 1. Common Parameters
    # -------------------------------------------------------------------------
    {{ lookup('template', params_src_dir ~ '/common.yml.j2') | indent(4) }}

    # 2. Installation
    # -------------------------------------------------------------------------
    {{ lookup('template', params_src_dir ~ '/install-common.yml.j2') | indent(4)  }}
    {{ lookup('template', params_src_dir ~ '/install.yml.j2') | indent(4) }}

    # 3. Additional Params for FVT
    # -------------------------------------------------------------------------
    {{ lookup('template', params_src_dir ~ '/fvt.yml.j2') | indent(4) }}

  tasks:
    # Content
    # -------
    # 1. Verify if Manage is up and running
    # 2. Manage IVT Core
    # 3. Manage FVT - Manage
    # 4. Manage FVT - Industry Solutions
    # -------

    # 1. Verify if Manage is up and running
    # -------------------------------------------------------------------------
    {{ lookup('template', 'taskdefs/apps/manage-verify.yml.j2') | indent(4) }}

    # 2. Manage IVT Core
    # -------------------------------------------------------------------------
    {{ lookup('template', 'taskdefs/ivt-core/manage.yml.j2') | indent(4) }}
      runAfter:
        - app-verify-manage
    
    {{ lookup('template', 'taskdefs/ivt-core/manage-cv.yml.j2') | indent(4) }}
      runAfter:
        - app-verify-manage
        
    # 3. Manage FVT - Manage
    # -------------------------------------------------------------------------
    {{ lookup('template', 'taskdefs/fvt-manage/phase0.yml.j2') | indent(4) }}
    {{ lookup('template', 'taskdefs/fvt-manage/phase1.yml.j2') | indent(4) }}
    {{ lookup('template', 'taskdefs/fvt-manage/phase2.yml.j2') | indent(4) }}
    {{ lookup('template', 'taskdefs/fvt-manage/phase3.yml.j2') | indent(4) }}
    {{ lookup('template', 'taskdefs/fvt-manage/phase4.yml.j2') | indent(4) }}
    {{ lookup('template', 'taskdefs/fvt-manage/phase5.yml.j2') | indent(4) }}

    # 4. Manage FVT - Industry Solutions
    # -------------------------------------------------------------------------
    {{ lookup('template', 'taskdefs/fvt-manage-addons/phase0-aviation.yml.j2') | indent(4) }}
    {{ lookup('template', 'taskdefs/fvt-manage-addons/phase1-scheduler.yml.j2') | indent(4) }}
    {{ lookup('template', 'taskdefs/fvt-manage-addons/phase2-civil.yml.j2') | indent(4) }}
    {{ lookup('template', 'taskdefs/fvt-manage-addons/phase3-all-setup.yml.j2') | indent(4) }}
    {{ lookup('template', 'taskdefs/fvt-manage-addons/phase4-all-user.yml.j2') | indent(4) }}
    {{ lookup('template', 'taskdefs/fvt-manage-addons/phase5-all-test.yml.j2') | indent(4) }}
    {{ lookup('template', 'taskdefs/fvt-manage-addons/phase6-maintmanager.yml.j2') | indent(4) }}

  finally:

    # Collect must-gather
    # -------------------------------------------------------------------------
    - name: must-gather
      taskRef:
        kind: Task
        name: mas-devops-must-gather
      params:
        - name: base_output_dir
          value: "/workspace/mustgather/$(context.pipelineRun.name)"
      workspaces:
        - name: mustgather
          workspace: shared-mustgather

    # Finalize the record in the FVT database
    # -------------------------------------------------------------------------
    - name: finalize
      taskRef:
        kind: Task
        name: mas-fvt-finalize
