---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: mas-fvt-manage-is
spec:
  workspaces:
    # The generated configuration files
    - name: shared-configs

  params:
    # Tekton Pipeline image pull policy (for ibmmas/cli images)
    - name: image_pull_policy
      type: string
      default: IfNotPresent
      description: Pull policy for pipeline container images

    # MAS Configuration
    - name: mas_app_channel_manage
      type: string
      default: ""
    - name: mas_instance_id
      type: string
      default: ""
    - name: mas_workspace_id
      type: string
      default: ""

    # FVT Configuration
    - name: fvt_image_registry
      type: string
      default: ""
    - name: fvt_artifactory_username
      type: string
      default: ""
    - name: fvt_artifactory_token
      type: string
      default: ""

    # Image Digests
    - name: fvt_digest_manage
      type: string
      default: ""
    - name: fvt_digest_manage_pytest
      type: string
      default: ""
    - name: fvt_digest_health_preparedata
      type: string
      default: ""
    - name: fvt_digest_health_testng
      type: string
      default: ""
    - name: fvt_digest_health_python
      type: string
      default: ""

  tasks:

    # ----------------------------------------
    # Manage Industry Solutions Setup
    # Responsible for:
    # - User Creation
    # - Add User into Security Group
    # - Set User's Default Site
    # ----------------------------------------
    - name: fvt-manage-setup-is
      {{ lookup('template', 'taskdefs/fvt-manage/api/taskref.yml.j2') | indent(6) }}
      params:
        {{ lookup('template', 'taskdefs/fvt-manage/api/params.yml.j2') | indent(8) }}
        - name: fvt_test_suite
          value: base-api-setup-is

    # ----------------------------------------
    # Industry Solution Tests
    # ----------------------------------------
    {{ lookup('template', 'taskdefs/fvt-manage-is/phase1.yml.j2') | indent(4) }}
    {{ lookup('template', 'taskdefs/fvt-manage-is/phase2.yml.j2') | indent(4) }}
    {{ lookup('template', 'taskdefs/fvt-manage-is/phase3.yml.j2') | indent(4) }}
    {{ lookup('template', 'taskdefs/fvt-manage-is/phase4.yml.j2') | indent(4) }}
