---
# Don't edit install.yaml directly -- modify install.yml.j2, and the content in parts/, then run "ansible-playbook generate-install.yaml"
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: mas-fvt-optimizer
spec:
  workspaces:
    # The generated configuration files
    - name: shared-configs

  params:
    # Tekton Pipeline image pull policy (for ibmmas/cli images)
    - name: image_pull_policy
      type: string
      default: IfNotPresent
      description: Pull policy for pipeline container images

    # MAS Configuration
    - name: mas_app_channel_optimizer
      type: string
      default: ""
    - name: mas_app_channel_manage
      type: string
      default: ""
    - name: mas_appws_components
      type: string
      default: ""
    - name: mas_instance_id
      type: string
      default: ""
    - name: mas_workspace_id
      type: string
      default: ""

    # FVT Configuration
    - name: fvt_image_registry
      type: string
      default: ""
    - name: fvt_artifactory_username
      type: string
      default: ""
    - name: fvt_artifactory_token
      type: string
      default: ""
    - name: fvt_digest_ctf
      type: string
      description: FVT Digest - CTF
      default: ""
    - name: fvt_digest_optimizer
      type: string
      description: FVT Digest - Optimizer
      default: ""
    - name: ivt_digest_core
      type: string
      description: IVT Digest - Core
      default: ""

  tasks:
    # 1. Core x Optimizer
    # -------------------------------------------------------------------------
    - name: ivtcore-optimizer
      {{ lookup('template', 'taskdefs/ivt-core/common/taskref.yml.j2') | indent(6) }}
      params:
        {{ lookup('template', 'taskdefs/ivt-core/common/params.yml.j2') | indent(8) }}
        - name: product_id
          value: ibm-mas-optimizer
        - name: product_channel
          value: $(params.mas_app_channel_optimizer)
        - name: fvt_test_suite
          value: coreivt
      when:
        - input: "$(params.ivt_digest_core)"
          operator: notin
          values: [""]

    - name: cv-optimizer
      {{ lookup('template', 'taskdefs/ivt-core/common/taskref.yml.j2') | indent(6) }}
      params:
        {{ lookup('template', 'taskdefs/ivt-core/common/params.yml.j2') | indent(8) }}
        - name: product_id
          value: ibm-mas-optimizer
        - name: product_channel
          value: $(params.mas_app_channel_optimizer)
        - name: fvt_test_suite
          value: contentverification
      when:
        - input: "$(params.ivt_digest_core)"
          operator: notin
          values: [""]


    # 2. Run "optimizer_fvt" (CTF)
    # -----------------------------------------------------------------------------
    - name: fvt-optimizer
      params:
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mas_workspace_id
          value: $(params.mas_workspace_id)

        - name: fvt_image_registry
          value: $(params.fvt_image_registry)
        - name: fvt_image_namespace
          value: ai-solutions
        - name: fvt_image_name
          value: common-test-framework
        - name: fvt_image_digest
          value: $(params.fvt_digest_ctf)
        - name: fvt_test_suite
          value: optimizer_fvt # pytest_marker in Common Test Framework
        - name: product_channel
          value: $(params.mas_app_channel_optimizer)
        - name: product_id
          value: ibm-mas-optimizer

      taskRef:
        kind: Task
        name: mas-fvt-run-suite
      # Only if we've set a digest of the Predict FVT to run
      when:
        - input: "$(params.fvt_digest_ctf)"
          operator: notin
          values: [""]
      runAfter:
        - ivtcore-optimizer
        - cv-optimizer
      workspaces:
        - name: configs
          workspace: shared-configs


    # 3. Run "optimizer-manage-user" (Optimizer)
    # -----------------------------------------------------------------------------
    - name: fvt-optimizer-manage-user
      taskRef:
        kind: Task
        name: mas-fvt-manage
      params:
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mas_workspace_id
          value: $(params.mas_workspace_id)

        - name: fvt_image_registry
          value: $(params.fvt_image_registry)
        - name: fvt_image_namespace
          value: fvt-optimizer
        - name: fvt_image_name
          value: fvt-optimizer-manage-setup
        - name: fvt_image_digest
          value: $(params.fvt_digest_optimizer)

        - name: product_channel
          value: $(params.mas_app_channel_manage)
        - name: product_id
          value: ibm-mas-optimizer

        - name: artifactory_token
          value: $(params.fvt_artifactory_token)

        - name: mas_appws_components
          value: $(params.mas_appws_components)

        - name: fvt_test_suite
          value: optimizer-manage-user
        - name: fvt_mas_appws_component
          value: optimizer
        - name: fvt_test_driver
          value: tpae
      when:
        - input: "$(params.fvt_digest_optimizer)"
          operator: notin
          values: [""]
        - input: "$(params.mas_app_channel_manage)"
          operator: notin
          values: [""]
      workspaces:
        - name: configs
          workspace: shared-configs
      runAfter:
        - fvt-optimizer


    # 4. Run "optimizer-manage-setup"  (Optimizer)
    # -----------------------------------------------------------------------------
    - name: fvt-optimizer-manage-connection-setup
      taskRef:
        kind: Task
        name: mas-fvt-manage
      params:
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mas_workspace_id
          value: $(params.mas_workspace_id)
        - name: fvt_image_registry
          value: $(params.fvt_image_registry)
        - name: fvt_image_namespace
          value: fvt-optimizer
        - name: fvt_image_name
          value: fvt-optimizer-manage-setup
        - name: fvt_image_digest
          value: $(params.fvt_digest_optimizer)
        - name: product_channel
          value: $(params.mas_app_channel_manage)
        - name: product_id
          value: ibm-mas-optimizer
        - name: artifactory_token
          value: $(params.fvt_artifactory_token)
        - name: mas_appws_components
          value: $(params.mas_appws_components)
        - name: fvt_test_suite
          value: optimizer-manage-setup
        - name: fvt_mas_appws_component
          value: optimizer
        - name: fvt_test_driver
          value: tpae
      when:
        - input: "$(params.fvt_digest_optimizer)"
          operator: notin
          values: [""]
        - input: "$(params.mas_app_channel_manage)"
          operator: notin
          values: [""]
      workspaces:
        - name: configs
          workspace: shared-configs
      runAfter:
        - fvt-optimizer-manage-user

    # 5. Run "optimizer-gs-resource-leveling" (Optimizer)
    # -----------------------------------------------------------------------------
    - name: fvt-optimizer-manage-connection
      taskRef:
        kind: Task
        name: mas-fvt-manage
      params:
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mas_workspace_id
          value: $(params.mas_workspace_id)
        - name: fvt_image_registry
          value: $(params.fvt_image_registry)
        - name: fvt_image_namespace
          value: fvt-optimizer
        - name: fvt_image_name
          value: fvt-optimizer-manage-setup
        - name: fvt_image_digest
          value: $(params.fvt_digest_optimizer)
        - name: product_channel
          value: $(params.mas_app_channel_manage)
        - name: product_id
          value: ibm-mas-optimizer
        - name: artifactory_token
          value: $(params.fvt_artifactory_token)
        - name: mas_appws_components
          value: $(params.mas_appws_components)
        - name: fvt_test_suite
          value: optimizer-gs-resource-leveling
        - name: fvt_mas_appws_component
          value: optimizer
        - name: fvt_test_driver
          value: tpae
      when:
        - input: "$(params.fvt_digest_optimizer)"
          operator: notin
          values: [""]
        - input: "$(params.mas_app_channel_manage)"
          operator: notin
          values: [""]
      workspaces:
        - name: configs
          workspace: shared-configs
      runAfter:
        - fvt-optimizer-manage-connection-setup
