---
# Don't edit install.yaml directly -- modify install.yml.j2, and the content in parts/, then run "ansible-playbook generate-install.yaml"
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: mas-fvt-core
spec:
  workspaces:
    # The generated configuration files
    - name: shared-configs
    # PodTemplates configurations
    - name: shared-pod-templates

  params:
    # Tekton Pipeline image pull policy (for ibmmas/cli images)
    - name: image_pull_policy
      type: string
      default: IfNotPresent
      description: Pull policy for pipeline container images

    # MAS Configuration
    - name: mas_channel
      type: string
      default: ""
    - name: mas_instance_id
      type: string
      default: ""
    - name: mas_workspace_id
      type: string
      default: ""

    # FVT Configuration
    - name: fvt_image_registry
      type: string
      default: ""
    - name: fvt_artifactory_username
      type: string
      default: ""
    - name: fvt_artifactory_token
      type: string
      default: ""
    - name: fvt_digest_core
      type: string
      description: FVT digest - Core
      default: ""
    - name: ivt_digest_core
      type: string
      description: IVT Digest - Core
      default: ""

  tasks:
    # Phase 1 of CoreAPI testing (~35m)
    {{ lookup('template', 'taskdefs/fvt-core/phase1.yml.j2') | indent(4) }}

    # Phase 2 of CoreAPI testing (~10m)
    {{ lookup('template', 'taskdefs/fvt-core/phase2.yml.j2') | indent(4) }}

    # Miscellaneous test suites (~10m)
    {{ lookup('template', 'taskdefs/fvt-core/phase3.yml.j2') | indent(4) }}

    # Single-threaded suites
    {{ lookup('template', 'taskdefs/fvt-core/phase4.yml.j2') | indent(4) }}
