---
# Don't edit install.yaml directly -- modify install.yml.j2, and the content in parts/, then run "ansible-playbook generate-install.yaml"
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: mas-fvt-core
spec:
  workspaces:
    # The generated configuration files
    - name: shared-configs
    # PodTemplates configurations
    - name: shared-pod-templates

  params:
    # Tekton Pipeline image pull policy (for ibmmas/cli images)
    - name: image_pull_policy
      type: string
      default: IfNotPresent
      description: Pull policy for pipeline container images

    # MAS Configuration
    - name: mas_channel
      type: string
      default: ""
    - name: mas_instance_id
      type: string
      default: ""
    - name: mas_workspace_id
      type: string
      default: ""

    # FVT Configuration
    - name: fvt_image_registry
      type: string
      default: ""
    - name: fvt_artifactory_username
      type: string
      default: ""
    - name: fvt_artifactory_token
      type: string
      default: ""
    - name: fvt_digest_core
      type: string
      description: FVT digest - Core
      default: ""
    - name: ivt_digest_core
      type: string
      description: IVT Digest - Core
      default: ""

  tasks:

    # Core FVT 1.0 coreidp-auth ~20m - Refresh token and authentication patterns
    # We are running this test first since it happens to set the Suite accessTokenTimeout from the default of 30m to 12h
    # This prevents subsequent test suites that take >30 mins from hitting unexpected 401s due to tokens generated by
    # session-scoped fixtures expiring before the tests complete.
    # This is temporary workaround, the proper fix is to make the accessTokenTimeout field configurable during install
    # See wiotp/tracker#12929 for details
    - name: coreidp-auth
      {{ lookup('template', 'taskdefs/fvt-core/common/taskref.yml.j2') | indent(6) }}
      params:
        {{ lookup('template', 'taskdefs/fvt-core/common/params.yml.j2') | indent(8) }}
        - name: fvt_test_suite
          value: coreidp-auth

    - name: imagescan-manage
      {{ lookup('template', 'taskdefs/ivt-core/common/taskref.yml.j2') | indent(6) }}
      params:
        {{ lookup('template', 'taskdefs/ivt-core/common/params.yml.j2') | indent(8) }}
        - name: product_id
          value: ibm-mas
        - name: fvt_test_suite
          value: imagescan
      when:
        - input: "$(params.ivt_digest_core)"
          operator: notin
          values: [""]

    # Phase 1
    # -------------------------------------------------------------------------
    # Only suites that take less than 5 minutes
    {{ lookup('template', 'taskdefs/fvt-core/phase1-under5min.yml.j2', template_vars={'runAfter': ['coreidp-auth']}) | indent(4) }}

    # Phase 2
    # -------------------------------------------------------------------------
    # Suites that take less than 25 minutes
    {{ lookup('template', 'taskdefs/fvt-core/phase2-under30min.yml.j2', template_vars={'runAfter': [ 'ibmadminissuer', 'adoptionusageapi', 'coreapi-apikeymgmt', 'coreapi-mobileapi', 'coreapi-messages', 'coreapi-graphiteconfigtool', 'coreapi-scimv2', 'coreapi-uicustomizations']}) | indent(4) }}

    # Phase 3
    # -------------------------------------------------------------------------
    # Suites that take more than 25 minutes
    {{ lookup('template', 'taskdefs/fvt-core/phase3-over30min.yml.j2', template_vars={'runAfter': ['coreidp-auth']}) | indent(4) }}

    # Disruptive suites ran in serial mode
    # -------------------------------------------------------------------------
    {{ lookup('template', 'taskdefs/fvt-core/phase4-disruptive.yml.j2', template_vars={'runAfter': ['coreapi-groupmgmt', 'coreapi-workspacemgmt', 'useractivation-overall', 'useractivation-expiresat', 'useractivation-inactivity', 'coreapi-dependencies', 'coreapi-usermgmt-v3', 'coreapi-other']}) | indent(4) }}

  finally:
    # 3. Run CV
    # -----------------------------------------------------------------------------
    - name: cv-core
      {{ lookup('template', 'taskdefs/ivt-core/common/taskref.yml.j2') | indent(6) }}
      params:
        {{ lookup('template', 'taskdefs/ivt-core/common/params.yml.j2') | indent(8) }}
        - name: product_id
          value: ibm-mas
        - name: product_channel
          value: $(params.mas_channel)
        - name: fvt_test_suite
          value: contentverification
      when:
        - input: "$(params.ivt_digest_core)"
          operator: notin
          values: [""]
