---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: mas-fvt-manage
spec:
  workspaces:
    # The generated configuration files
    - name: shared-configs
    # PodTemplates configurations
    - name: shared-pod-templates

  params:
    # Tekton Pipeline image pull policy (for ibmmas/cli images)
    - name: image_pull_policy
      type: string
      default: IfNotPresent
      description: Pull policy for pipeline container images

    # MAS Configuration
    - name: mas_app_channel_manage
      type: string
      default: ""
    - name: mas_instance_id
      type: string
      default: ""
    - name: mas_workspace_id
      type: string
      default: ""

    # Test Requirements
    - name: kafka_provider
      type: string
      description: kafka provider used during installation (ibm, aws or redhat) to pick up right MIF tests
      default: ""

    # FVT Configuration
    - name: fvt_image_registry
      type: string
      default: ""
    - name: fvt_artifactory_username
      type: string
      default: ""
    - name: fvt_artifactory_token
      type: string
      default: ""

    # Image Digests
    - name: fvt_digest_manage
      type: string
      default: ""
    - name: fvt_digest_manage_pytest
      type: string
      default: ""

    - name: ivt_digest_core
      type: string
      default: ""

  tasks:
    # 1. Core x Manage
    # -------------------------------------------------------------------------
    - name: ivtcore-manage
      {{ lookup('template', 'taskdefs/ivt-core/common/taskref.yml.j2') | indent(6) }}
      params:
        {{ lookup('template', 'taskdefs/ivt-core/common/params.yml.j2') | indent(8) }}
        - name: product_id
          value: ibm-mas-manage
        - name: product_channel
          value: $(params.mas_app_channel_manage)
        - name: fvt_test_suite
          value: coreivt
        - name: workspace_id
          value: $(params.mas_workspace_id)
      when:
        - input: "$(params.ivt_digest_core)"
          operator: notin
          values: [""]
        - input: "$(params.mas_app_channel_manage)"
          operator: notin
          values: [""]

    # 2. Manage FVT - Manage
    # -------------------------------------------------------------------------
    {{ lookup('template', 'taskdefs/fvt-manage/phase1.yml.j2') | indent(4) }}
    {{ lookup('template', 'taskdefs/fvt-manage/phase2.yml.j2') | indent(4) }}
    {{ lookup('template', 'taskdefs/fvt-manage/phase3.yml.j2') | indent(4) }}
    {{ lookup('template', 'taskdefs/fvt-manage/phase4.yml.j2') | indent(4) }}
    {{ lookup('template', 'taskdefs/fvt-manage/phase5.yml.j2') | indent(4) }}
    {{ lookup('template', 'taskdefs/fvt-manage/phase6.yml.j2') | indent(4) }}

  finally:
    # 3. Run CV
    # -----------------------------------------------------------------------------
    - name: cv-manage
      {{ lookup('template', 'taskdefs/ivt-core/common/taskref.yml.j2') | indent(6) }}
      params:
        {{ lookup('template', 'taskdefs/ivt-core/common/params.yml.j2') | indent(8) }}
        - name: product_id
          value: ibm-mas-manage
        - name: product_channel
          value: $(params.mas_app_channel_manage)
        - name: fvt_test_suite
          value: contentverification
      when:
        - input: "$(params.ivt_digest_core)"
          operator: notin
          values: [""]
        - input: "$(params.mas_app_channel_manage)"
          operator: notin
          values: [""]
