---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: mas-fvt-manage
spec:
  workspaces:
    # The generated configuration files
    - name: shared-configs
    # Any pre-generated configs that will be copied into the shared-configs workspace during suite-install
    - name: shared-additional-configs
    # The SLS entitlement key file that will be installed during install-sls.
    - name: shared-entitlement
    # Shared storage to hold mustgather output for tasks
    - name: shared-mustgather
    # Pre-generated certificates that will be copied into certs folder of shared-configs workspace to be used by suite-certs task
    - name: shared-certificates

  params:
    # 1. Common Parameters
    # -------------------------------------------------------------------------
    {{ lookup('template', params_src_dir ~ '/common.yml.j2') | indent(4) }}

    # 2. Installation
    # -------------------------------------------------------------------------
    {{ lookup('template', params_src_dir ~ '/install-common.yml.j2') | indent(4)  }}
    {{ lookup('template', params_src_dir ~ '/install.yml.j2') | indent(4) }}

    # 3. Additional Params for FVT
    # -------------------------------------------------------------------------
    {{ lookup('template', params_src_dir ~ '/fvt.yml.j2') | indent(4) }}

  tasks:
    # Content
    # -------
    # 1. Verify if Manage is up and running
    # -------

    # 1. Verify if Manage is up and running
    {{ lookup('template', 'taskdefs/apps/manage-verify.yml.j2') | indent(4) }}
