---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: mas-fvt-facilities
spec:
  workspaces:
    # The generated configuration files
    - name: shared-configs
    # PodTemplates configurations
    - name: shared-pod-templates

  params:
    # Tekton Pipeline image pull policy (for ibmmas/cli images)
    - name: image_pull_policy
      type: string
      default: IfNotPresent
      description: Pull policy for pipeline container images

    # MAS Configuration
    - name: mas_app_channel_facilities
      type: string
      default: ""
    - name: mas_instance_id
      type: string
      default: ""
    - name: mas_workspace_id
      type: string
      default: ""

    # FVT Configuration
    - name: fvt_image_registry
      type: string
      default: ""
    - name: fvt_artifactory_username
      type: string
      default: ""
    - name: fvt_artifactory_token
      type: string
      default: ""

    # Image Digests
    - name: fvt_digest_facilities
      type: string
      default: ""
    # - name: fvt_digest_facilities_pytest
    #   type: string
    #   default: ""
    # - name: fvt_digest_facilities_cypress
    #   type: string
    #   default: ""

    - name: ivt_digest_core
      type: string
      default: ""

  tasks:
    # 1. Core x Facilities
    # -------------------------------------------------------------------------
    - name: ivtcore-facilities
      {{ lookup('template', 'taskdefs/ivt-core/common/taskref.yml.j2') | indent(6) }}
      params:
        {{ lookup('template', 'taskdefs/ivt-core/common/params.yml.j2') | indent(8) }}
        - name: product_id
          value: ibm-mas-facilities
        - name: product_channel
          value: $(params.mas_app_channel_facilities)
        - name: fvt_test_suite
          value: coreivt
        - name: workspace_id
          value: $(params.mas_workspace_id)
      when:
        - input: "$(params.ivt_digest_core)"
          operator: notin
          values: [""]
        - input: "$(params.mas_app_channel_facilities)"
          operator: notin
          values: [""]
      workspaces:
        - name: configs
          workspace: shared-configs
        - name: pod-templates
          workspace: shared-pod-templates

    - name: imagescan-facilities
      {{ lookup('template', 'taskdefs/ivt-core/common/taskref.yml.j2') | indent(6) }}
      params:
        {{ lookup('template', 'taskdefs/ivt-core/common/params.yml.j2') | indent(8) }}
        - name: product_id
          value: ibm-mas-facilities
        - name: product_channel
          value: $(params.mas_app_channel_facilities)
        - name: fvt_test_suite
          value: imagescan
      when:
        - input: "$(params.ivt_digest_core)"
          operator: notin
          values: [""]

  finally:
    # 1. Run CV
    # -----------------------------------------------------------------------------
    - name: cv-facilities
      {{ lookup('template', 'taskdefs/ivt-core/common/taskref.yml.j2') | indent(6) }}
      params:
        {{ lookup('template', 'taskdefs/ivt-core/common/params.yml.j2') | indent(8) }}
        - name: product_id
          value: ibm-mas-facilities
        - name: product_channel
          value: $(params.mas_app_channel_facilities)
        - name: fvt_test_suite
          value: contentverification
      when:
        - input: "$(params.ivt_digest_core)"
          operator: notin
          values: [""]
        - input: "$(params.mas_app_channel_facilities)"
          operator: notin
          values: [""]
