apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: mas-fvt-launcher-for-aiservice
spec:
  params:
    - name: image_pull_policy
      type: string

    - name: mas_instance_id
      type: string

    - name: sync_with_install
      type: string
      default: "false"
      description: "Set this to 'true' to enable synchronization with a running MAS install pipeline"
    - name: sync_with_update
      type: string
      default: "false"
      description: "Set this to 'true' to enable synchronization with a running MAS update pipeline"
    - name: sync_with_upgrade
      type: string
      default: "false"
      description: "Set this to 'true' to enable synchronization with a running MAS upgrade pipeline"
    - name: sync_with_uninstall
      type: string
      default: "false"
      description: "Set this to 'true' to enable synchronization with a running MAS uninstall pipeline"

    # What to launch
    # -------------------------------------------------------------------------
    - name: setup_manage
      type: string
      default: "false"
      description: "Set this to 'true' to enable Manage setup step"

    - name: launchfvt_core
      type: string
      default: "false"
      description: "Set this to 'true' to enable launch of the SLS & Core FVT pipelines after suite-verify completes"
    - name: launchfvt_assist
      type: string
      default: "false"
      description: "Set this to 'true' to enable launch of the Assist FVT pipeline after app-cfg-assist completes"
    - name: launchfvt_iot
      type: string
      default: "false"
      description: "Set this to 'true' to enable launch of the IoT FVT pipeline after app-cfg-iot completes"
    - name: launchfvt_manage
      type: string
      default: "false"
      description: "Set this to 'true' to enable launch of the Manage FVT pipeline after app-cfg-manage completes"
    - name: launchfvt_manage_is
      type: string
      default: "false"
      description: "Set this to 'true' to enable launch of the Manage Industry Solutions FVT pipeline after app-cfg-manage completes"
    - name: launchfvt_mobile
      type: string
      default: "false"
      description: "Set this to 'true' to enable launch of the Mobile FVT pipeline after app-cfg-manage completes"
    - name: launchfvt_monitor
      type: string
      default: "false"
      description: "Set this to 'true' to enable launch of the Monitor FVT pipeline after app-cfg-monitor completes"
    - name: launchfvt_optimizer
      type: string
      default: "false"
      description: "Set this to 'true' to enable launch of the Optimizer FVT pipeline after app-cfg-optimizer completes"
    - name: launchfvt_predict
      type: string
      default: "false"
      description: "Set this to 'true' to enable launch of the Predict FVT pipeline after app-cfg-predict completes"
    - name: launchfvt_aibroker
      type: string
      default: "false"
      description: "Set this to 'true' to enable launch of the AIBroker FVT pipeline after app-cfg-aibroker completes"
    - name: launchfvt_visualinspection
      type: string
      default: "false"
      description: "Set this to 'true' to enable launch of the Visual Inspection FVT pipeline after app-cfg-visualinspection completes"
    - name: launchivt_manage
      type: string
      default: "false"
      description: "Set this to 'true' to enable launch of the IVT pipeline at the end of applications FVT"

    # Dynamic Application Scanning
    # -------------------------------------------------------------------------
    - name: launchdyncscan_core
      type: string
      default: "false"
      description: "Set this to 'true' to enable dynamic scanning pipeline for Core after waitfor-installation completes"
    - name: launchdyncscan_assist
      type: string
      default: "false"
      description: "Set this to 'true' to enable dynamic scanning pipeline for Assist after waitfor-installation completes"
    - name: launchdyncscan_iot
      type: string
      default: "false"
      description: "Set this to 'true' to enable dynamic scanning pipeline for IoT after waitfor-installation completes"
    - name: launchdyncscan_manage
      type: string
      default: "false"
      description: "Set this to 'true' to enable dynamic scanning pipeline for Manage after waitfor-installation completes"
    - name: launchdyncscan_monitor
      type: string
      default: "false"
      description: "Set this to 'true' to enable dynamic scanning pipeline for Monitor after waitfor-installation completes"
    - name: launchdyncscan_optimizer
      type: string
      default: "false"
      description: "Set this to 'true' to enable dynamic scanning pipeline for Optimizer after waitfor-installation completes"
    - name: launchdyncscan_predict
      type: string
      default: "false"
      description: "Set this to 'true' to enable dynamic scanning pipeline for Predict after waitfor-installation completes"
    - name: launchdyncscan_aibroker
      type: string
      default: "false"
      description: "Set this to 'true' to enable dynamic scanning pipeline for AIBroker after waitfor-installation completes"
    - name: launchdyncscan_visualinspection
      type: string
      default: "false"
      description: "Set this to 'true' to enable dynamic scanning pipeline for VisualInspection after waitfor-installation completes"

    # Finalize
    # -------------------------------------------------------------------------
    - name: finalize
      type: string
      default: "true"
      description: "Set this to 'false' to stop the finalize task from running for this launcher"
    - name: set_finished
      type: string
      default: "true"
      description: "Set this to 'false' to stop the the fvt test being marked as complete"

    # Deprovision Resources
    # -------------------------------------------------------------------------
    - name: deprovision
      type: string
      default: "false"
      description: "Set this to 'true' to enable deprovision of the target cluster & associated resources following the completion of this pipeline"

    # Manage FVT Setup
    # -------------------------------------------------------------------------
    # These properties should not live here, but I don't have the time to fix this.
    #
    # Manage setup should match the same strategy used everywhere else with a launcher that
    # is able to get this information from the various secrets that we put into the namespace
    # so that the FVT launcher parameter space/interface is kept clean and simple
    - name: fvt_image_registry
      type: string
      default: ""
    - name: fvt_digest_manage_pytest
      type: string
      default: ""
    - name: mas_app_channel_manage
      type: string
      default: ""

tasks:

    # 1. Application FVT - AIBroker
    # -------------------------------------------------------------------------
    # We start the AIBroker part of the FVT launcher
    - name: waitfor-aibroker
      timeout: "0"
      taskRef:
        kind: Task
        name: mas-devops-wait-for-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: namespace
          value: $(context.taskRun.namespace)
        - name: configmap_name
          value: approval-app-cfg-aibroker
        - name: configmap_target_value
          value: pending
        # Escape route
        - name: escape_configmap_name
          value: sync-install
        # 25 retries at 5 minute intervals = 2 hours
        - name: delay
          value: "300"
        - name: max_retries
          value: "25"
        - name: ignore_failure
          value: "False"
      when:
        - input: $(params.launchfvt_aibroker)
          operator: in
          values: ["true", "True"]
        - input: $(params.sync_with_install)
          operator: in
          values: ["true", "True"]

    - name: launchfvt-aibroker
      timeout: "0"
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-aibroker"
      taskRef:
        kind: Task
        name: mas-launchfvt-aibroker
      when:
        - input: $(params.launchfvt_aibroker)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitfor-aibroker

    - name: approval-aibroker
      timeout: "0"
      taskRef:
        kind: Task
        name: mas-devops-update-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: configmap_name
          value: approval-app-cfg-aibroker
        - name: configmap_value
          value: approved
      when:
        - input: $(params.sync_with_install)
          operator: in
          values: ["true", "True"]
      runAfter:
        - launchfvt-aibroker