---
# There are various integration points in the install pipeline that we can hang FVT off
# 1. suite-verify ............... Triggered after Core install and configuration is verified
# 2. app-cfg-assist ............. Triggered after Assist is installed and configured
# 3. app-cfg-iot ................ Triggered after IoT is installed and configured
# 4. app-cfg-manage ............. Triggered after Manage is installed and configured
# 5. app-cfg-monitor ............ Triggered after Monitor is installed and configured
# 6. app-cfg-optimizer .......... Triggered after Optimizer is installed and configured
# 7. app-cfg-predict ............ Triggered after Predict is installed and configured
# 8. app-cft-visualinspection ... Triggered after Visual Inspection is installed and configured

# TODO: Manage component sub-pipelines need to be integrated (fvt-manage-civil, fvt-manage-is)
# TODO: Mobile sub-pipelines need to be integrated (fvt-mobile) .. should this be fvt-manage-mobile, is it testing anything mobile that is outside scope of Manage application?

apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: mas-fvt-launcher
spec:
  params:
    - name: fvt_image_registry
      type: string
    - name: image_pull_policy
      type: string

    - name: mas_instance_id
      type: string

    - name: sync_with_install
      type: string
      default: "false"
      description: "Set this to 'true' to enable synchronization with a running MAS install pipeline"

    - name: launchfvt_core
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable launch of the SLS & Core FVT pipelines after suite-verify completes"
    - name: launchfvt_assist
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable launch of the Assist FVT pipeline after app-cfg-assist completes"
    - name: launchfvt_iot
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable launch of the IoT FVT pipeline after app-cfg-iot completes"
    - name: launchfvt_manage
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable launch of the Manage FVT pipeline after app-cfg-manage completes"
    - name: launchfvt_mobile
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable launch of the Mobile FVT pipeline after app-cfg-manage completes"
    - name: launchfvt_monitor
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable launch of the Monitor FVT pipeline after app-cfg-monitor completes"
    - name: launchfvt_optimizer
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable launch of the Optimizer FVT pipeline after app-cfg-optimizer completes"
    - name: launchfvt_predict
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable launch of the Predict FVT pipeline after app-cfg-predict completes"
    - name: launchfvt_visualinspection
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable launch of the Visual Inspection FVT pipeline after app-cfg-visualinspection completes"

  tasks:
    # 1. MAS Core FVT
    # -------------------------------------------------------------------------
    - name: waitfor-suite-verify
      taskRef:
        kind: Task
        name: mas-devops-wait-for-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: namespace
          value: $(context.taskRun.namespace)
        - name: configmap_name
          value: approval-suite-verify
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_target_value
          value: pending
        # Escape route
        - name: escape_configmap_name
          value: sync-install
        - name: escape_configmap_key
          value: INSTALL_STATUS
        # 25 retries at 5 minute intervals = 2 hours
        - name: delay
          value: "300"
        - name: max_retries
          value: "25"
        - name: ignore_failure
          value: "False"
      when:
        - input: $(params.sync_with_install)
          operator: in
          values: ["true", "True"]

    - name: launchfvt-sls
      taskRef:
        kind: Task
        name: mas-launchfvt-sls
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-sls"
      when:
        - input: $(params.launchfvt_core)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitfor-suite-verify

    - name: launchfvt-core
      taskRef:
        kind: Task
        name: mas-launchfvt-core
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-core"
      when:
        - input: $(params.launchfvt_core)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitfor-suite-verify

    - name: approval-suite-verify
      taskRef:
        kind: Task
        name: mas-devops-update-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: configmap_name
          value: approval-suite-verify
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_value
          value: approved
      when:
        - input: $(params.sync_with_install)
          operator: in
          values: ["true", "True"]
      runAfter:
        - launchfvt-core
        - launchfvt-sls


    # 2. Application FVT - Assist
    # -------------------------------------------------------------------------
    - name: waitfor-assist
      taskRef:
        kind: Task
        name: mas-devops-wait-for-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: namespace
          value: $(context.taskRun.namespace)
        - name: configmap_name
          value: approval-app-cfg-assist
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_target_value
          value: pending
        # Escape route
        - name: escape_configmap_name
          value: sync-install
        - name: escape_configmap_key
          value: INSTALL_STATUS
        # 40 retries at 5 minute intervals = 3 hours
        - name: delay
          value: "300"
        - name: max_retries
          value: "40"
        - name: ignore_failure
          value: "False"
      when:
        - input: $(params.launchfvt_assist)
          operator: in
          values: ["true", "True"]
        - input: $(params.sync_with_install)
          operator: in
          values: ["true", "True"]
      runAfter:
        - approval-suite-verify

    - name: launchfvt-assist
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-assist"
      taskRef:
        kind: Task
        name: mas-launchfvt-assist
      when:
        - input: $(params.launchfvt_assist)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitfor-assist

    - name: approval-assist
      taskRef:
        kind: Task
        name: mas-devops-update-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: configmap_name
          value: approval-app-cfg-assist
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_value
          value: approved
      when:
        - input: $(params.launchfvt_assist)
          operator: in
          values: ["true", "True"]
        - input: $(params.sync_with_install)
          operator: in
          values: ["true", "True"]
      runAfter:
        - launchfvt-assist


    # 3. Application FVT - IoT
    # -------------------------------------------------------------------------
    - name: waitfor-iot
      taskRef:
        kind: Task
        name: mas-devops-wait-for-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: namespace
          value: $(context.taskRun.namespace)
        - name: configmap_name
          value: approval-app-cfg-iot
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_target_value
          value: pending
        # Escape route
        - name: escape_configmap_name
          value: sync-install
        - name: escape_configmap_key
          value: INSTALL_STATUS
        # 40 retries at 5 minute intervals = 3 hours
        - name: delay
          value: "300"
        - name: max_retries
          value: "40"
        - name: ignore_failure
          value: "False"
      when:
        # Wait for IoT to be installed if we are running the IoT and/or the Monitor FVT suite
        - input: "$(params.launchfvt_iot)$(params.launchfvt_monitor)"
          operator: in
          values: ["true", "True", "truetrue", "TrueTrue", "falsetrue", "FalseTrue"]
        - input: $(params.sync_with_install)
          operator: in
          values: ["true", "True"]
      runAfter:
        - approval-suite-verify

    - name: launchfvt-iot
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-iot"
      taskRef:
        kind: Task
        name: mas-launchfvt-iot
      when:
        - input: $(params.launchfvt_iot)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitfor-iot

    - name: approval-iot
      taskRef:
        kind: Task
        name: mas-devops-update-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: configmap_name
          value: approval-app-cfg-iot
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_value
          value: approved
      when:
        - input: "$(params.launchfvt_iot)$(params.launchfvt_monitor)"
          operator: in
          values: ["true", "True", "truetrue", "TrueTrue", "falsetrue", "FalseTrue"]
        - input: $(params.sync_with_install)
          operator: in
          values: ["true", "True"]
      runAfter:
        - launchfvt-iot


    # 5. Application FVT - Manage
    # -------------------------------------------------------------------------
    - name: waitfor-manage
      taskRef:
        kind: Task
        name: mas-devops-wait-for-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: namespace
          value: $(context.taskRun.namespace)
        - name: configmap_name
          value: approval-app-cfg-manage
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_target_value
          value: pending
        # Escape route
        - name: escape_configmap_name
          value: sync-install
        - name: escape_configmap_key
          value: INSTALL_STATUS
        # 100 retries at 5 minute intervals = 8 hours
        - name: delay
          value: "300"
        - name: max_retries
          value: "100"
        - name: ignore_failure
          value: "False"
      when:
        - input: $(params.launchfvt_manage)$(params.launchfvt_mobile)
          operator: in
          values: ["true", "True", "truetrue", "TrueTrue", "falsetrue", "FalseTrue", "truefalse", "TrueFalse"]
        - input: $(params.sync_with_install)
          operator: in
          values: ["true", "True"]
      runAfter:
        - approval-suite-verify

    - name: launchfvt-manage
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-manage"
      taskRef:
        kind: Task
        name: mas-launchfvt-manage
      when:
        - input: $(params.launchfvt_manage)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitfor-manage

    - name: approval-manage
      taskRef:
        kind: Task
        name: mas-devops-update-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: configmap_name
          value: approval-app-cfg-manage
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_value
          value: approved
      when:
        - input: $(params.launchfvt_manage)$(params.launchfvt_mobile)
          operator: in
          values: ["true", "True", "truetrue", "TrueTrue", "falsetrue", "FalseTrue", "truefalse", "TrueFalse"]
        - input: $(params.sync_with_install)
          operator: in
          values: ["true", "True"]
      runAfter:
        - launchfvt-manage


    # 6. Application FVT - Mobile
    # -------------------------------------------------------------------------
    # Mobile FVT pipeline is launched after Manage is installed, but we do not sync it's progress back to the install pipeline
    - name: launchfvt-mobile
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-mobile"
      taskRef:
        kind: Task
        name: mas-launchfvt-mobile
      when:
        - input: $(params.launchfvt_mobile)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitfor-manage


    # 7. Application FVT - Monitor
    # -------------------------------------------------------------------------
    # We only start the Monitor part of the FVT launcher after the IoT part has completed
    - name: waitfor-monitor
      taskRef:
        kind: Task
        name: mas-devops-wait-for-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: namespace
          value: $(context.taskRun.namespace)
        - name: configmap_name
          value: approval-app-cfg-monitor
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_target_value
          value: pending
        # Escape route
        - name: escape_configmap_name
          value: sync-install
        - name: escape_configmap_key
          value: INSTALL_STATUS
        # 25 retries at 5 minute intervals = 4 hours
        - name: delay
          value: "300"
        - name: max_retries
          value: "25"
        - name: ignore_failure
          value: "False"
      when:
        - input: $(params.launchfvt_monitor)
          operator: in
          values: ["true", "True"]
        - input: $(params.sync_with_install)
          operator: in
          values: ["true", "True"]
      runAfter:
        - approval-iot

    - name: launchfvt-monitor
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-monitor"
      taskRef:
        kind: Task
        name: mas-launchfvt-monitor
      when:
        - input: $(params.launchfvt_monitor)
          operator: in
          values: ["true", "True"]
      when:
        - input: $(params.launchfvt_monitor)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitfor-monitor

    - name: approval-monitor
      taskRef:
        kind: Task
        name: mas-devops-update-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: configmap_name
          value: approval-app-cfg-monitor
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_value
          value: approved
      when:
        - input: $(params.launchfvt_monitor)
          operator: in
          values: ["true", "True"]
        - input: $(params.sync_with_install)
          operator: in
          values: ["true", "True"]
      runAfter:
        - launchfvt-monitor


    # 8. Application FVT - Optimizer
    # -------------------------------------------------------------------------
    - name: waitfor-optimizer
      taskRef:
        kind: Task
        name: mas-devops-wait-for-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: namespace
          value: $(context.taskRun.namespace)
        - name: configmap_name
          value: approval-app-cfg-optimizer
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_target_value
          value: pending
        # Escape route
        - name: escape_configmap_name
          value: sync-install
        - name: escape_configmap_key
          value: INSTALL_STATUS
        # 25 retries at 5 minute intervals = 2 hours
        - name: delay
          value: "300"
        - name: max_retries
          value: "25"
        - name: ignore_failure
          value: "False"
      when:
        - input: $(params.launchfvt_optimizer)
          operator: in
          values: ["true", "True"]
        - input: $(params.sync_with_install)
          operator: in
          values: ["true", "True"]
      runAfter:
        - approval-suite-verify

    - name: launchfvt-optimizer
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-optimizer"
      taskRef:
        kind: Task
        name: mas-launchfvt-optimizer
      when:
        - input: $(params.launchfvt_optimizer)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitfor-optimizer

    - name: approval-optimizer
      taskRef:
        kind: Task
        name: mas-devops-update-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: configmap_name
          value: approval-app-cfg-optimizer
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_value
          value: approved
      when:
        - input: $(params.launchfvt_optimizer)
          operator: in
          values: ["true", "True"]
        - input: $(params.sync_with_install)
          operator: in
          values: ["true", "True"]
      runAfter:
        - launchfvt-optimizer


    # 9. Application FVT - Predict
    # -------------------------------------------------------------------------
    # We only start the Predict part of the FVT launcher after the Monitor part has completed
    - name: waitfor-predict
      taskRef:
        kind: Task
        name: mas-devops-wait-for-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: namespace
          value: $(context.taskRun.namespace)
        - name: configmap_name
          value: approval-app-cfg-predict
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_target_value
          value: pending
        # Escape route
        - name: escape_configmap_name
          value: sync-install
        - name: escape_configmap_key
          value: INSTALL_STATUS
        # 25 retries at 5 minute intervals = 2 hours
        - name: delay
          value: "300"
        - name: max_retries
          value: "25"
        - name: ignore_failure
          value: "False"
      when:
        - input: $(params.launchfvt_predict)
          operator: in
          values: ["true", "True"]
        - input: $(params.sync_with_install)
          operator: in
          values: ["true", "True"]
      runAfter:
        - approval-monitor
        - approval-manage

    - name: launchfvt-predict
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-predict"
      taskRef:
        kind: Task
        name: mas-launchfvt-predict
      when:
        - input: $(params.launchfvt_predict)
          operator: in
          values: ["true", "True"]
      when:
        - input: $(params.launchfvt_predict)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitfor-predict

    - name: approval-predict
      taskRef:
        kind: Task
        name: mas-devops-update-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: configmap_name
          value: approval-app-cfg-predict
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_value
          value: approved
      when:
        - input: $(params.launchfvt_predict)
          operator: in
          values: ["true", "True"]
        - input: $(params.sync_with_install)
          operator: in
          values: ["true", "True"]
      runAfter:
        - launchfvt-predict


    # 10. Application FVT - Visual Inspection
    # -------------------------------------------------------------------------
    - name: waitfor-visualinspection
      taskRef:
        kind: Task
        name: mas-devops-wait-for-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: namespace
          value: $(context.taskRun.namespace)
        - name: configmap_name
          value: approval-app-cfg-visualinspection
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_target_value
          value: pending
        # Escape route
        - name: escape_configmap_name
          value: sync-install
        - name: escape_configmap_key
          value: INSTALL_STATUS
        # 25 retries at 5 minute intervals = 2 hours
        - name: delay
          value: "300"
        - name: max_retries
          value: "25"
        - name: ignore_failure
          value: "False"
      when:
        - input: $(params.launchfvt_visualinspection)
          operator: in
          values: ["true", "True"]
        - input: $(params.sync_with_install)
          operator: in
          values: ["true", "True"]
      runAfter:
        - approval-suite-verify

    - name: launchfvt-visualinspection
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: pipelinerun_name
          value: "$(params.mas_instance_id)-fvt-visualinspection"
      taskRef:
        kind: Task
        name: mas-launchfvt-visualinspection
      when:
        - input: $(params.launchfvt_visualinspection)
          operator: in
          values: ["true", "True"]
      runAfter:
        - waitfor-visualinspection

    - name: approval-visualinspection
      taskRef:
        kind: Task
        name: mas-devops-update-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: configmap_name
          value: approval-app-cfg-visualinspection
        - name: configmap_key
          value: FVT_STATUS
        - name: configmap_value
          value: approved
      when:
        - input: $(params.launchfvt_visualinspection)
          operator: in
          values: ["true", "True"]
        - input: $(params.sync_with_install)
          operator: in
          values: ["true", "True"]
      runAfter:
        - launchfvt-visualinspection
    
    # Last Sync Point
    # -------------------------------------------------------------------------
    # Guarantee installation pipeline ran till the end;
    # In other words, guarantee sync-install pipeline has install_status key filled
    # 
    # Note: this task will start once all the FVTs are approved and will start at the
    # same time install's post-verify starts. It means its timeout must be higher than
    # post-verify + sync-install, which will set the flag needed to finalize this fvt-launcher
    # - Escape Route: none
    # - Ignore Failures: false
    # -------------------------------------------------------------------------
    - name: waitfor-installation
      taskRef:
        kind: Task
        name: mas-devops-wait-for-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: namespace
          value: $(context.taskRun.namespace)
        - name: configmap_name
          value: sync-install
        - name: configmap_key
          value: INSTALL_STATUS
        - name: configmap_target_value
          value: Completed
        # 25 retries at 5 minute intervals = 2 hours
        - name: delay
          value: "300"
        - name: max_retries
          value: "25"
        - name: ignore_failure
          value: "False"
      when:
        - input: $(params.sync_with_install)
          operator: in
          values: ["true", "True"]
      runAfter:
        - launchfvt-mobile
        - approval-assist
        - approval-optimizer
        - approval-predict # Infers Manage, Monitor and IoT completed
        - approval-visualinspection

  finally:
    # Collect must-gather
    # -------------------------------------------------------------------------
    - name: must-gather
      taskRef:
        kind: Task
        name: mas-devops-must-gather
      params:
        - name: base_output_dir
          value: "/mustgather/$(context.pipelineRun.name)"
      workspaces:
        - name: mustgather
          workspace: shared-mustgather

    # Finalize the record in the FVT database
    # -------------------------------------------------------------------------
    - name: finalize
      taskRef:
        kind: Task
        name: mas-fvt-finalize

  workspaces:
    # Shared storage to hold mustgather output for tasks
    - name: shared-mustgather
