---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: mas-update
spec:
  params:
    # Tekton Pipeline Configuration
    # -------------------------------------------------------------------------
    - name: image_pull_policy
      type: string
      default: IfNotPresent
    - name: skip_pre_check
      type: string
      default: ""

    # Catalog Version
    # -------------------------------------------------------------------------
    - name: mas_catalog_version
      type: string

    # Development Build Support
    # -------------------------------------------------------------------------
    - name: artifactory_username
      default: ""
      type: string
      description: Required to install development MAS catalogs
    - name: artifactory_token
      default: ""
      type: string
      description: Required to install development MAS catalogs

    # ocs/odf storage action
    # -------------------------------------------------------------------------
    - name: ocs_action
      type: string
      default: "upgrade"
      description: Set to 'upgrade' to update ocs/odf

    # db2 update
    # -------------------------------------------------------------------------
    - name: db2_action
      type: string
      default: "upgrade"
      description: Set to 'upgrade' to update db2 instances in specified db2 namespace
    - name: db2_namespace
      type: string
      default: "db2u"
      description: Namespace where db2 instances will be updated

    # mongodb update
    # -------------------------------------------------------------------------
    - name: mongodb_action
      type: string
      default: "none"
      description: Set to 'install' to update mongodb instances in specified mongodb namespace
    - name: mongodb_namespace
      type: string
      default: "mongoce"
      description: Namespace where mongodb instances will be updated
    - name: mongodb_version
      type: string
      default: ""
      description: Override the target version of MongoDb (use with extreme caution)

    # TODO: The role should look this up itself
    - name: mongodb_replicas
      type: string
      description: Optional configuration for mongodb replicas
      default: ""

    # Required to confirm a major version update
    - name: mongodb_v5_upgrade
      type: string
      description: Approves the MongoDb upgrade to version 5 if needed
      default: ""
    - name: mongodb_v6_upgrade
      type: string
      description: Approves the MongoDb upgrade to version 6 if needed
      default: ""
    - name: mongodb_v7_upgrade
      type: string
      description: Approves the MongoDb upgrade to version 7 if needed
      default: ""
    - name: mongodb_v8_upgrade
      type: string
      description: Approves the MongoDb upgrade to version 8 if needed
      default: ""

    # kafka update
    # -------------------------------------------------------------------------
    - name: kafka_action
      type: string
      default: "upgrade"
      description: Set to 'upgrade' to update kafka instances in specified namespace
    - name: kafka_namespace
      type: string
      default: "strimzi"
      description: Namespace where kafka instances will be updated
    - name: kafka_provider
      type: string
      default: "strimzi"
      description: kafka provider such as 'redhat' or 'strimzi'

    # Grafana operator update
    # -------------------------------------------------------------------------
    - name: grafana_v5_upgrade
      type: string
      description: Approves the Grafana Operator upgrade to version 5
      default: ""

    # CP4D update
    # -------------------------------------------------------------------------
    - name: cpd_product_version
      type: string
      default: ""

    - name: cp4d_update
      type: string
      default: ""
      description: Flag that determines if CP4D must be upgraded
    - name: cp4d_update_ws
      type: string
      default: ""
      description: Flag that determines if Watson Studio must be upgraded
    - name: cp4d_update_wml
      type: string
      default: ""
      description: Flag that determines if Watson Machine Learning must be upgraded
    - name: cp4d_update_spark
      type: string
      default: ""
      description: Flag that determines if Analytics Engine must be upgraded
    - name: cp4d_update_cognos
      type: string
      default: ""
      description: Flag that determines if Cognos Analytics must be upgraded

    # TODO: CP4D update needs to just look up the storage classes already in use
    - name: storage_class_rwo
      type: string
      default: ""
      description: ReadWriteOnce storage class
    - name: storage_class_rwx
      type: string
      default: ""
      description: ReadWriteMany storage class

  tasks:
    # 1. Wait for approval & verify health of the cluster before we change anything
    # -------------------------------------------------------------------------
    - name: waitfor-approval
      timeout: "0"
      taskRef:
        kind: Task
        name: mas-devops-wait-for-configmap-v2
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: configmap_name
          value: approval-update

    {{ lookup('template', 'taskdefs/cluster-setup/ocp-verify-all.yml.j2', template_vars={'name': 'pre-update-check', 'devops_suite_name': 'pre-update-check'}) | indent(4) }}
      runAfter:
        - waitfor-approval


    # 2. Run the catalog update
    # -------------------------------------------------------------------------
    - name: update-catalog
      timeout: "0"
      taskRef:
        kind: Task
        name: mas-devops-ibm-catalogs
      runAfter:
        - pre-update-check
      params:
        - name: devops_suite_name
          value: update-catalog
        - name: mas_catalog_version
          value: $(params.mas_catalog_version)

        # Development catalog support
        - name: artifactory_username
          value: $(params.artifactory_username)
        - name: artifactory_token
          value: $(params.artifactory_token)


    # 3. Verify health of the cluster before we consider the update complete
    # -------------------------------------------------------------------------
    {{ lookup('template', 'taskdefs/cluster-setup/ocp-verify-all.yml.j2', template_vars={
        'name': 'post-update-verify',
        'devops_suite_name': 'post-update-verify'
      }) | indent(4) }}
      runAfter:
        - update-catalog


    # 4. Update Dependencies
    # ---------------------------------------------------------------------------
    - name: update-ocs
      timeout: "0"
      taskRef:
        kind: Task
        name: mas-devops-ocs
      runAfter:
        - post-update-verify
      params:
        - name: devops_suite_name
          value: update-ocs
        - name: ocs_action
          value: $(params.ocs_action)

    - name: update-grafana
      timeout: "0"
      taskRef:
        kind: Task
        name: mas-devops-grafana
      when:
        - input: $(params.grafana_v5_upgrade)
          operator: in
          values: ["true", "True"]
      runAfter:
        - post-update-verify
      params:
        - name: grafana_action
          value: update
        - name: devops_suite_name
          value: dependencies-grafana-update

    - name: update-db2
      timeout: "0"
      taskRef:
        kind: Task
        name: mas-devops-db2
      runAfter:
        - post-update-verify
      params:
        - name: devops_suite_name
          value: update-db2
        - name: db2_action
          value: $(params.db2_action)
        - name: db2_namespace
          value: $(params.db2_namespace)

    - name: update-mongodb
      timeout: "0"
      taskRef:
        kind: Task
        name: mas-devops-mongodb
      runAfter:
        - post-update-verify
      params:
        - name: devops_suite_name
          value: update-mongodb
        - name: mongodb_action
          value: $(params.mongodb_action)
        - name: mongodb_namespace
          value: $(params.mongodb_namespace)
        - name: mongodb_v5_upgrade
          value: $(params.mongodb_v5_upgrade)
        - name: mongodb_version
          value: $(params.mongodb_version)
        - name: mongodb_v6_upgrade
          value: $(params.mongodb_v6_upgrade)
        - name: mongodb_v7_upgrade
          value: $(params.mongodb_v7_upgrade)
        - name: mongodb_v8_upgrade
          value: $(params.mongodb_v8_upgrade)
        - name: mongodb_replicas
          value: $(params.mongodb_replicas)

    - name: update-kafka
      timeout: "0"
      taskRef:
        kind: Task
        name: mas-devops-kafka
      runAfter:
        - post-update-verify
      params:
        - name: devops_suite_name
          value: update-kafka
        - name: kafka_action
          value: $(params.kafka_action)
        - name: kafka_namespace
          value: $(params.kafka_namespace)
        - name: kafka_provider
          value: $(params.kafka_provider)

    # 5 Update Cloud Pak for Data
    # -------------------------------------------------------------------------
    # 5.1 Cloud Pak for Data Platform
    {{ lookup('template', 'taskdefs/cp4d/cp4d-platform-update.yml.j2') | indent(4) }}
      runAfter:
        - post-update-verify

    # 5.2 Watson Studio
    {{ lookup('template', 'taskdefs/cp4d/cp4d-wsl-update.yml.j2') | indent(4) }}
      runAfter:
        - update-cp4d

    # 5.3 Watson Machine Learning
    {{ lookup('template', 'taskdefs/cp4d/cp4d-wml-update.yml.j2') | indent(4) }}
      runAfter:
        - update-cp4d

    # 5.4 Analytics Service (Spark)
    {{ lookup('template', 'taskdefs/cp4d/cp4d-spark-update.yml.j2') | indent(4) }}
      runAfter:
        - update-cp4d

    # 5.5 Cognos Analytics
    {{ lookup('template', 'taskdefs/cp4d/cp4d-cognos-update.yml.j2') | indent(4) }}
      runAfter:
        - update-cp4d


    # 6. Verify health of the cluster after dependencies updates
    # -------------------------------------------------------------------------
    {{ lookup('template', 'taskdefs/cluster-setup/ocp-verify-all.yml.j2', template_vars={
        'name': 'post-deps-update-verify',
        'devops_suite_name': 'post-deps-update-verify'
      }) | indent(4) }}
      runAfter:
        - update-ocs
        - update-db2
        - update-mongodb
        - update-kafka
        - update-grafana
        - update-watson-studio
        - update-watson-machine-learning
        - update-analytics-engine
        - update-cognos

  finally:
    # Update synchronization configmap
    # -------------------------------------------------------------------------
    - name: sync-update
      timeout: "0"
      taskRef:
        kind: Task
        name: mas-devops-update-configmap
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: configmap_name
          value: sync-update
        - name: configmap_value
          # An aggregate status of all the pipelineTasks under the tasks section (excluding the finally section).
          # This variable is only available in the finally tasks and can have any one of the values (Succeeded, Failed, Completed, or None)
          value: $(tasks.status)
