---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: mas-fvt-optimizer
spec:
  workspaces:
    # The generated configuration files
    - name: shared-configs

  params:
    # Tekton Pipeline image pull policy (for ibmmas/cli images)
    - name: image_pull_policy
      type: string
      default: IfNotPresent
      description: Pull policy for pipeline container images

    # MAS Configuration
    - name: mas_app_channel_optimizer
      type: string
      default: ""
    - name: mas_app_channel_manage
      type: string
      default: ""
    - name: mas_instance_id
      type: string
      default: ""
    - name: mas_workspace_id
      type: string
      default: ""

    # FVT Configuration
    - name: fvt_image_registry
      type: string
      default: ""
    - name: fvt_artifactory_username
      type: string
      default: ""
    - name: fvt_artifactory_token
      type: string
      default: ""
    - name: fvt_digest_ctf
      type: string
      description: FVT Digest - CTF
      default: ""
    - name: fvt_digest_optimizer
      type: string
      description: FVT Digest - Optimizer
      default: ""
    - name: ivt_digest_core
      type: string
      description: IVT Digest - Core
      default: ""
    - name: fvt_digest_manage_pytest
      type: string
      default: ""

  tasks:
    - name: pipeline-start
      timeout: "0"
      taskRef:
        kind: Task
        name: mas-devops-update-pipeline-status
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: pipeline_status
          value: Started
        - name: pipeline_name
          value: $(context.pipeline.name)
        - name: pipelinerun_name
          value: $(context.pipelineRun.name)
        - name: pipelinerun_namespace
          value: $(context.pipelineRun.namespace)
  
    # 1. Core x Optimizer
    # -------------------------------------------------------------------------
    - name: kyverno-optimizer
      {{ lookup('template', 'taskdefs/ivt-core/common/taskref.yml.j2') | indent(6) }}
      params:
        {{ lookup('template', 'taskdefs/ivt-core/common/params.yml.j2') | indent(8) }}
        - name: product_id
          value: ibm-mas-optimizer
        - name: product_channel
          value: $(params.mas_app_channel_optimizer)
        - name: fvt_test_suite
          value: kyverno
      when:
        - input: "$(params.ivt_digest_core)"
          operator: notin
          values: [""]
      runAfter:
        - pipeline-start

    - name: ivtcore-optimizer
      {{ lookup('template', 'taskdefs/ivt-core/common/taskref.yml.j2') | indent(6) }}
      params:
        {{ lookup('template', 'taskdefs/ivt-core/common/params.yml.j2') | indent(8) }}
        - name: product_id
          value: ibm-mas-optimizer
        - name: product_channel
          value: $(params.mas_app_channel_optimizer)
        - name: fvt_test_suite
          value: coreivt
      runAfter:
        - kyverno-optimizer
      when:
        - input: "$(params.ivt_digest_core)"
          operator: notin
          values: [""]

    # 2. Run "cypress/optimizer/e2e/ui/bvt/MOAdmin.cy.js"
    # -----------------------------------------------------------------------------
    - name: moadmin
      params:
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mas_workspace_id
          value: $(params.mas_workspace_id)

        - name: fvt_image_registry
          value: $(params.fvt_image_registry)
        - name: fvt_image_namespace
          value: fvt-optimizer
        - name: fvt_image_name
          value: fvt-ibm-mas-optimizer-cypress
        - name: fvt_image_digest
          value: $(params.fvt_digest_optimizer)
        - name: fvt_test_suite
          value: ui_mo_admin
        - name: fvt_config_file
          value: configs/fvt-optimizer-cypress.config.js
        - name: product_channel
          value: $(params.mas_app_channel_optimizer)
        - name: product_id
          value: ibm-mas-optimizer

      taskRef:
        kind: Task
        name: mas-fvt-run-suite
      # Only if we've set a digest of the Predict FVT to run
      when:
        - input: "$(params.fvt_digest_ctf)"
          operator: notin
          values: [""]
        - input: "$(params.mas_app_channel_optimizer)"
          operator: notin
          values: [""]
      runAfter:
        - ivtcore-optimizer
      workspaces:
        - name: configs
          workspace: shared-configs

    # 3. Run "cypress/optimizer/e2e/ui/bvt/MOAdminJobs.cy.js"
    # -----------------------------------------------------------------------------
    - name: moadminjobs
      params:
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mas_workspace_id
          value: $(params.mas_workspace_id)

        - name: fvt_image_registry
          value: $(params.fvt_image_registry)
        - name: fvt_image_namespace
          value: fvt-optimizer
        - name: fvt_image_name
          value: fvt-ibm-mas-optimizer-cypress
        - name: fvt_image_digest
          value: $(params.fvt_digest_optimizer)
        - name: fvt_test_suite
          value: ui_mo_admin_jobs
        - name: fvt_config_file
          value: configs/fvt-optimizer-cypress.config.js
        - name: product_channel
          value: $(params.mas_app_channel_optimizer)
        - name: product_id
          value: ibm-mas-optimizer

      taskRef:
        kind: Task
        name: mas-fvt-run-suite
      # Only if we've set a digest of the Predict FVT to run
      when:
        - input: "$(params.fvt_digest_ctf)"
          operator: notin
          values: [""]
        - input: "$(params.mas_app_channel_optimizer)"
          operator: notin
          values: [""]
      runAfter:
        - moadmin
      workspaces:
        - name: configs
          workspace: shared-configs

    # 4. Run "cypress/optimizer/e2e/ui/bvt/MOAdminModels.cy.js"
    # -----------------------------------------------------------------------------
    - name: moadminmodels
      params:
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mas_workspace_id
          value: $(params.mas_workspace_id)

        - name: fvt_image_registry
          value: $(params.fvt_image_registry)
        - name: fvt_image_namespace
          value: fvt-optimizer
        - name: fvt_image_name
          value: fvt-ibm-mas-optimizer-cypress
        - name: fvt_image_digest
          value: $(params.fvt_digest_optimizer)
        - name: fvt_test_suite
          value: ui_mo_admin_models
        - name: fvt_config_file
          value: configs/fvt-optimizer-cypress.config.js
        - name: product_channel
          value: $(params.mas_app_channel_optimizer)
        - name: product_id
          value: ibm-mas-optimizer

      taskRef:
        kind: Task
        name: mas-fvt-run-suite
      # Only if we've set a digest of the Predict FVT to run
      when:
        - input: "$(params.fvt_digest_ctf)"
          operator: notin
          values: [""]
        - input: "$(params.mas_app_channel_optimizer)"
          operator: notin
          values: [""]
      runAfter:
        - moadminjobs
      workspaces:
        - name: configs
          workspace: shared-configs

    # 5. Run "cypress/optimizer/e2e/ui/bvt/MOAdminOverview.cy.js"
    # -----------------------------------------------------------------------------
    - name: moadminoverview
      params:
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mas_workspace_id
          value: $(params.mas_workspace_id)

        - name: fvt_image_registry
          value: $(params.fvt_image_registry)
        - name: fvt_image_namespace
          value: fvt-optimizer
        - name: fvt_image_name
          value: fvt-ibm-mas-optimizer-cypress
        - name: fvt_image_digest
          value: $(params.fvt_digest_optimizer)
        - name: fvt_test_suite
          value: ui_mo_admin_overview
        - name: fvt_config_file
          value: configs/fvt-optimizer-cypress.config.js
        - name: product_channel
          value: $(params.mas_app_channel_optimizer)
        - name: product_id
          value: ibm-mas-optimizer

      taskRef:
        kind: Task
        name: mas-fvt-run-suite
      # Only if we've set a digest of the Predict FVT to run
      when:
        - input: "$(params.fvt_digest_ctf)"
          operator: notin
          values: [""]
        - input: "$(params.mas_app_channel_optimizer)"
          operator: notin
          values: [""]
      runAfter:
        - moadminmodels
      workspaces:
        - name: configs
          workspace: shared-configs

    # 6. Run "cypress/optimizer/e2e/ui/bvt/MOAdminProjects.cy.js"
    # -----------------------------------------------------------------------------
    - name: moadminprojects
      params:
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mas_workspace_id
          value: $(params.mas_workspace_id)

        - name: fvt_image_registry
          value: $(params.fvt_image_registry)
        - name: fvt_image_namespace
          value: fvt-optimizer
        - name: fvt_image_name
          value: fvt-ibm-mas-optimizer-cypress
        - name: fvt_image_digest
          value: $(params.fvt_digest_optimizer)
        - name: fvt_test_suite
          value: ui_mo_admin_projects
        - name: fvt_config_file
          value: configs/fvt-optimizer-cypress.config.js
        - name: product_channel
          value: $(params.mas_app_channel_optimizer)
        - name: product_id
          value: ibm-mas-optimizer

      taskRef:
        kind: Task
        name: mas-fvt-run-suite
      # Only if we've set a digest of the Predict FVT to run
      when:
        - input: "$(params.fvt_digest_ctf)"
          operator: notin
          values: [""]
        - input: "$(params.mas_app_channel_optimizer)"
          operator: notin
          values: [""]
      runAfter:
        - moadminoverview
      workspaces:
        - name: configs
          workspace: shared-configs

    # 7. Run "cypress/optimizer/e2e/ui/bvt/MOModels/MOModels.cy.js"
    # -----------------------------------------------------------------------------
    - name: momodels
      params:
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mas_workspace_id
          value: $(params.mas_workspace_id)

        - name: fvt_image_registry
          value: $(params.fvt_image_registry)
        - name: fvt_image_namespace
          value: fvt-optimizer
        - name: fvt_image_name
          value: fvt-ibm-mas-optimizer-cypress
        - name: fvt_image_digest
          value: $(params.fvt_digest_optimizer)
        - name: fvt_test_suite
          value: ui_mo_models
        - name: fvt_config_file
          value: configs/fvt-optimizer-cypress.config.js
        - name: product_channel
          value: $(params.mas_app_channel_optimizer)
        - name: product_id
          value: ibm-mas-optimizer

      taskRef:
        kind: Task
        name: mas-fvt-run-suite
      # Only if we've set a digest of the Predict FVT to run
      when:
        - input: "$(params.fvt_digest_ctf)"
          operator: notin
          values: [""]
        - input: "$(params.mas_app_channel_optimizer)"
          operator: notin
          values: [""]
      runAfter:
        - moadminprojects
      workspaces:
        - name: configs
          workspace: shared-configs

    # 8. Run "cypress/optimizer/e2e/ui/bvt/MOProjects/MOProjects.cy.js"
    # -----------------------------------------------------------------------------
    - name: moprojects
      params:
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mas_workspace_id
          value: $(params.mas_workspace_id)

        - name: fvt_image_registry
          value: $(params.fvt_image_registry)
        - name: fvt_image_namespace
          value: fvt-optimizer
        - name: fvt_image_name
          value: fvt-ibm-mas-optimizer-cypress
        - name: fvt_image_digest
          value: $(params.fvt_digest_optimizer)
        - name: fvt_test_suite
          value: ui_mo_projects
        - name: fvt_config_file
          value: configs/fvt-optimizer-cypress.config.js
        - name: product_channel
          value: $(params.mas_app_channel_optimizer)
        - name: product_id
          value: ibm-mas-optimizer

      taskRef:
        kind: Task
        name: mas-fvt-run-suite
      # Only if we've set a digest of the Predict FVT to run
      when:
        - input: "$(params.fvt_digest_ctf)"
          operator: notin
          values: [""]
        - input: "$(params.mas_app_channel_optimizer)"
          operator: notin
          values: [""]
      runAfter:
        - momodels
      workspaces:
        - name: configs
          workspace: shared-configs


    # 9. Run "api_python_optim_model" (CTF)
    # -----------------------------------------------------------------------------
    - name: fvt-optimizer-python-model-ctf
      params:
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mas_workspace_id
          value: $(params.mas_workspace_id)

        - name: fvt_image_registry
          value: $(params.fvt_image_registry)
        - name: fvt_image_namespace
          value: ai-solutions
        - name: fvt_image_name
          value: common-test-framework
        - name: fvt_image_digest
          value: $(params.fvt_digest_ctf)
        - name: fvt_test_suite
          value: api_python_optim_model # pytest_marker in Common Test Framework
        - name: product_channel
          value: $(params.mas_app_channel_optimizer)
        - name: product_id
          value: ibm-mas-optimizer

      taskRef:
        kind: Task
        name: mas-fvt-run-suite
      # Only if we've set a digest of the Predict FVT to run
      when:
        - input: "$(params.fvt_digest_ctf)"
          operator: notin
          values: [""]
        - input: "$(params.mas_app_channel_optimizer)"
          operator: notin
          values: [""]
      runAfter:
        - moprojects
      workspaces:
        - name: configs
          workspace: shared-configs

    # 10. Run "api_java_optim_model" (CTF)
    # -----------------------------------------------------------------------------
    - name: fvt-optimizer-java-model-ctf
      params:
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mas_workspace_id
          value: $(params.mas_workspace_id)

        - name: fvt_image_registry
          value: $(params.fvt_image_registry)
        - name: fvt_image_namespace
          value: ai-solutions
        - name: fvt_image_name
          value: common-test-framework
        - name: fvt_image_digest
          value: $(params.fvt_digest_ctf)
        - name: fvt_test_suite
          value: api_java_optim_model # pytest_marker in Common Test Framework
        - name: product_channel
          value: $(params.mas_app_channel_optimizer)
        - name: product_id
          value: ibm-mas-optimizer

      taskRef:
        kind: Task
        name: mas-fvt-run-suite
      # Only if we've set a digest of the Predict FVT to run
      when:
        - input: "$(params.fvt_digest_ctf)"
          operator: notin
          values: [""]
        - input: "$(params.mas_app_channel_optimizer)"
          operator: notin
          values: [""]
      runAfter:
        - fvt-optimizer-python-model-ctf
      workspaces:
        - name: configs
          workspace: shared-configs

    # 11. Run "api_model_endpoints" (CTF)
    # -----------------------------------------------------------------------------
    - name: fvt-optimizer-model-endpoints-ctf
      params:
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mas_workspace_id
          value: $(params.mas_workspace_id)

        - name: fvt_image_registry
          value: $(params.fvt_image_registry)
        - name: fvt_image_namespace
          value: ai-solutions
        - name: fvt_image_name
          value: common-test-framework
        - name: fvt_image_digest
          value: $(params.fvt_digest_ctf)
        - name: fvt_test_suite
          value: api_model_endpoints # pytest_marker in Common Test Framework
        - name: product_channel
          value: $(params.mas_app_channel_optimizer)
        - name: product_id
          value: ibm-mas-optimizer

      taskRef:
        kind: Task
        name: mas-fvt-run-suite
      # Only if we've set a digest of the Predict FVT to run
      when:
        - input: "$(params.fvt_digest_ctf)"
          operator: notin
          values: [""]
        - input: "$(params.mas_app_channel_optimizer)"
          operator: notin
          values: [""]
      runAfter:
        - fvt-optimizer-java-model-ctf
      workspaces:
        - name: configs
          workspace: shared-configs

    # 12. Run "api_job_endpoints" (CTF)
    # -----------------------------------------------------------------------------
    - name: fvt-optimizer-job-endpoints-ctf
      params:
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mas_workspace_id
          value: $(params.mas_workspace_id)

        - name: fvt_image_registry
          value: $(params.fvt_image_registry)
        - name: fvt_image_namespace
          value: ai-solutions
        - name: fvt_image_name
          value: common-test-framework
        - name: fvt_image_digest
          value: $(params.fvt_digest_ctf)
        - name: fvt_test_suite
          value: api_job_endpoints # pytest_marker in Common Test Framework
        - name: product_channel
          value: $(params.mas_app_channel_optimizer)
        - name: product_id
          value: ibm-mas-optimizer

      taskRef:
        kind: Task
        name: mas-fvt-run-suite
      # Only if we've set a digest of the Predict FVT to run
      when:
        - input: "$(params.fvt_digest_ctf)"
          operator: notin
          values: [""]
        - input: "$(params.mas_app_channel_optimizer)"
          operator: notin
          values: [""]
      runAfter:
        - fvt-optimizer-model-endpoints-ctf
      workspaces:
        - name: configs
          workspace: shared-configs

    # 13. Run "api_project_endpoints" (CTF)
    # -----------------------------------------------------------------------------
    - name: fvt-optimizer-project-endpoints-ctf
      params:
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mas_workspace_id
          value: $(params.mas_workspace_id)

        - name: fvt_image_registry
          value: $(params.fvt_image_registry)
        - name: fvt_image_namespace
          value: ai-solutions
        - name: fvt_image_name
          value: common-test-framework
        - name: fvt_image_digest
          value: $(params.fvt_digest_ctf)
        - name: fvt_test_suite
          value: api_project_endpoints # pytest_marker in Common Test Framework
        - name: product_channel
          value: $(params.mas_app_channel_optimizer)
        - name: product_id
          value: ibm-mas-optimizer

      taskRef:
        kind: Task
        name: mas-fvt-run-suite
      # Only if we've set a digest of the Predict FVT to run
      when:
        - input: "$(params.fvt_digest_ctf)"
          operator: notin
          values: [""]
        - input: "$(params.mas_app_channel_optimizer)"
          operator: notin
          values: [""]
      runAfter:
        - fvt-optimizer-job-endpoints-ctf
      workspaces:
        - name: configs
          workspace: shared-configs

    # 14. Run "optimizer-api-authorization-service"
    # -----------------------------------------------------------------------------
    - name: fvt-optimizer-authorization-service
      params:
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: fvt_image_registry
          value: $(params.fvt_image_registry)
        - name: fvt_image_namespace
          value: fvt-manage
        - name: fvt_image_name
          value: fvt-ibm-mas-manage-pytest
        - name: fvt_image_digest
          value: $(params.fvt_digest_manage_pytest)
        - name: product_channel
          value: $(params.mas_app_channel_optimizer)
        - name: product_id
          value: ibm-mas-optimizer
        - name: fvt_test_suite
          value: optimizer-api-authorization-service
      timeout: "0"
      taskRef:
        kind: Task
        name: mas-fvt-manage-pytest
      when:
        - input: "$(params.fvt_digest_manage_pytest)"
          operator: notin
          values: [""]
        - input: "$(params.mas_app_channel_manage)"
          operator: notin
          values: [""]
        - input: "$(params.mas_app_channel_optimizer)"
          operator: notin
          values: [""]           
        # Ensures the optimizer channel starts with a version >= 9.1.
        # Tekton 'when' expressions do not support numeric comparisons,
        # so we use a regex to approximate semantic version ordering.
        # This regex matches:
        #   - 9.1, 9.1.x, 9.2.x, ..., 9.N.x
        #   - Any major version >= 10 (e.g., 10.x, 11.x)
        # It intentionally excludes versions like 9.0.x or anything < 9.1.
        - input: "$(params.mas_app_channel_optimizer)"
          operator: matches
          values: ["^9\\.(1|[2-9][0-9]*)(\\..*)?$|^[1-9][0-9]+\\..*$"]
      workspaces:
        - name: configs
          workspace: shared-configs
      runAfter:
        - moprojects

    # 15. Run "optimizer-api-endpoints"
    # -----------------------------------------------------------------------------
    - name: fvt-optimizer-endpoints
      params:
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: fvt_image_registry
          value: $(params.fvt_image_registry)
        - name: fvt_image_namespace
          value: fvt-manage
        - name: fvt_image_name
          value: fvt-ibm-mas-manage-pytest
        - name: fvt_image_digest
          value: $(params.fvt_digest_manage_pytest)
        - name: product_channel
          value: $(params.mas_app_channel_optimizer)
        - name: product_id
          value: ibm-mas-optimizer
        - name: fvt_test_suite
          value: optimizer-api-endpoints
      timeout: "0"
      taskRef:
        kind: Task
        name: mas-fvt-manage-pytest
      when:
        - input: "$(params.fvt_digest_manage_pytest)"
          operator: notin
          values: [""]
        - input: "$(params.mas_app_channel_manage)"
          operator: notin
          values: [""]
        - input: "$(params.mas_app_channel_optimizer)"
          operator: notin
          values: [""]
      workspaces:
        - name: configs
          workspace: shared-configs
      runAfter:
        - fvt-optimizer-authorization-service

  finally:
    # 1. Run CV
    # -----------------------------------------------------------------------------
    - name: cv-optimizer
      {{ lookup('template', 'taskdefs/ivt-core/common/taskref.yml.j2') | indent(6) }}
      params:
        {{ lookup('template', 'taskdefs/ivt-core/common/params.yml.j2') | indent(8) }}
        - name: product_id
          value: ibm-mas-optimizer
        - name: product_channel
          value: $(params.mas_app_channel_optimizer)
        - name: fvt_test_suite
          value: contentverification
      when:
        - input: "$(params.ivt_digest_core)"
          operator: notin
          values: [""]
    
    - name: pipeline-finish
      timeout: "0"
      taskRef:
        kind: Task
        name: mas-devops-update-pipeline-status
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: pipeline_status
          # An aggregate status of all the pipelineTasks under the tasks section (excluding the finally section).
          # This variable is only available in the finally tasks and can have any one of the values (Succeeded, Failed, Completed, or None)
          value: $(tasks.status)
        - name: pipeline_name
          value: $(context.pipeline.name)
        - name: pipelinerun_name
          value: $(context.pipelineRun.name)
        - name: pipelinerun_namespace
          value: $(context.pipelineRun.namespace)
