---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: mas-fvt-manage-ai
spec:
  workspaces:
    # The generated configuration files
    - name: shared-configs
    # PodTemplates configurations
    - name: shared-pod-templates

  params:
    # Tekton Pipeline image pull policy (for ibmmas/cli images)
    - name: image_pull_policy
      type: string
      default: IfNotPresent
      description: Pull policy for pipeline container images

    # MAS Configuration
    - name: mas_app_channel_manage
      type: string
      default: ""
    - name: mas_instance_id
      type: string
      default: ""
    - name: mas_workspace_id
      type: string
      default: ""
    - name: mas_appws_components
      type: string
      default: ""

    # FVT Configuration
    - name: fvt_image_registry
      type: string
      default: ""
    - name: fvt_artifactory_username
      type: string
      default: ""
    - name: fvt_artifactory_token
      type: string
      default: ""

    # Image Digests
    - name: fvt_digest_manage_pytest
      type: string
      default: ""

  tasks:
    - name: pipeline-start
      timeout: "0"
      taskRef:
        kind: Task
        name: mas-devops-update-pipeline-status
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: pipeline_status
          value: Started
        - name: pipeline_name
          value: $(context.pipeline.name)
        - name: pipelinerun_name
          value: $(context.pipelineRun.name)
        - name: pipelinerun_namespace
          value: $(context.pipelineRun.namespace)

    # Manage Components Information
    - name: fvt-component
      taskRef:
        kind: Task
        name: mas-fvt-components
      params:
        - name: mas_appws_components
          value: "$(params.mas_appws_components)"
      runAfter:
        - pipeline-start

    # AI-Related Tests Only
    # -------------------------------------------------------------------------
    {{ lookup('template', 'taskdefs/fvt-manage-ai/ai-tests.yml.j2') | indent(4) }}

  finally:
    - name: pipeline-finish
      timeout: "0"
      taskRef:
        kind: Task
        name: mas-devops-update-pipeline-status
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: pipeline_status
          # An aggregate status of all the pipelineTasks under the tasks section (excluding the finally section).
          # This variable is only available in the finally tasks and can have any one of the values (Succeeded, Failed, Completed, or None)
          value: $(tasks.status)
        - name: pipeline_name
          value: $(context.pipeline.name)
        - name: pipelinerun_name
          value: $(context.pipelineRun.name)
        - name: pipelinerun_namespace
          value: $(context.pipelineRun.namespace)
