---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
{% if wait_for_install == true %}
  name: mas-uninstall-after-install
{% else %}
  name: mas-uninstall
{% endif %}
spec:
  params:
    - name: image_pull_policy
      type: string
      default: IfNotPresent
      description: Tekton Pipeline image pull policy (for ibmmas/cli images)

    # Optional parameters to uninstall dependencies
    # -------------------------------------------------------------------------
    - name: mas_instance_id
      type: string
      default: ""
      description: Instance ID of the MAS installation to remove from the cluster, if not provided the uninstall can still be used to remove shared dependencies from the cluster

    # Optional parameters to uninstall dependencies
    # -------------------------------------------------------------------------
    - name: cluster_monitoring_action
      type: string
      description: Optional. Used to uninstall Cluster Monitoring
      default: "none"
    - name: cert_manager_action
      type: string
      description: Optional. Used to uninstall Cert Manager
      default: "none"
    - name: common_services_action
      type: string
      description: Optional. Used to uninstall IBM Common Services
      default: "none"
    - name: ibm_catalogs_action
      type: string
      description: Optional. Used to uninstall IBM Catalogs
      default: "none"
    - name: mongodb_action
      type: string
      description: Optional. Used to uninstall MongoDB
      default: "none"
    - name: mas_wipe_mongo_data
      type: string
      description: Optional. Used to wipe content from the MAS Core MongoDB database during MAS uninstall
      default: ""
    - name: sls_action
      type: string
      description: Optional. Used to uninstall SLS
      default: "none"
    - name: uds_action
      type: string
      description: Optional. Used to uninstall UDS
      default: "none"

  tasks:
    # Content
    # -------
    # 1. Uninstall IBM Maximo Application Suite
    # 2. Uninstall IBM Suite Licensing Service
    # 3. Uninstall MongoDB
    # 4. Uninstall IBM User Data Services
    # 5. Uninstall IBM Cert Manager
    # 6. Uninstall IBM Common Services
    # 7. Uninstall IBM Catalogs
    # 8. Uninstall Cluster Monitoring


{% if wait_for_install == true %}
    # 0. Wait for the install pipeline to complete
    # -------------------------------------------------------------------------
    - name: wait-for-install
      params:
        - name: mas_instance_id
          value: $(params.mas_instance_id)
      taskRef:
        kind: Task
        name: mas-fvt-wait-for-install
{% endif %}


    # 1. Uninstall IBM Maximo Application Suite
    # -------------------------------------------------------------------------
    - name: uninstall-suite
{% if wait_for_install == true %}
      runAfter:
        - wait-for-install
{% endif %}
      taskRef:
        kind: Task
        name: mas-devops-suite-uninstall
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mas_wipe_mongo_data
          value: $(params.mas_wipe_mongo_data)


    # 2. Uninstall IBM Suite Licensing Service
    # -------------------------------------------------------------------------
    - name: uninstall-sls
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: sls_action
          value: $(params.sls_action)
      taskRef:
        kind: Task
        name: mas-devops-sls
      when:
        - input: "$(params.sls_action)"
          operator: in
          values: ["uninstall"]
      runAfter:
        - uninstall-suite


    # 3. Uninstall MongoDB
    # -------------------------------------------------------------------------
    - name: uninstall-mongodb
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: mongodb_action
          value: $(params.mongodb_action)
      taskRef:
        kind: Task
        name: mas-devops-mongodb
      when:
        - input: "$(params.mongodb_action)"
          operator: in
          values: ["uninstall"]
      runAfter:
        - uninstall-sls


    # 4. Uninstall IBM User Data Services
    # -------------------------------------------------------------------------
    - name: uninstall-uds
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: uds_action
          value: $(params.uds_action)
      taskRef:
        kind: Task
        name: mas-devops-uds
      when:
        - input: "$(params.uds_action)"
          operator: in
          values: ["uninstall"]
      runAfter:
        - uninstall-mongodb


    # 5. Uninstall IBM Cert Manager
    # -------------------------------------------------------------------------
    - name: uninstall-cert-manager
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: cert_manager_action
          value: $(params.cert_manager_action)
      taskRef:
        kind: Task
        name: mas-devops-cert-manager
      when:
        - input: "$(params.cert_manager_action)"
          operator: in
          values: ["uninstall"]
      runAfter:
        - uninstall-uds


    # 6. Uninstall IBM Common Services
    # -------------------------------------------------------------------------
    - name: uninstall-common-services
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: common_services_action
          value: $(params.common_services_action)
      taskRef:
        kind: Task
        name: mas-devops-common-services
      when:
        - input: "$(params.common_services_action)"
          operator: in
          values: ["uninstall"]
      runAfter:
        - uninstall-cert-manager


    # 7. Uninstall IBM Catalogs
    # -------------------------------------------------------------------------
    - name: uninstall-ibm-catalogs
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: ibm_catalogs_action
          value: $(params.ibm_catalogs_action)
      taskRef:
        kind: Task
        name: mas-devops-ibm-catalogs
      when:
        - input: "$(params.ibm_catalogs_action)"
          operator: in
          values: ["uninstall"]
      runAfter:
        - uninstall-common-services


    # 8. Uninstall Cluster Monitoring
    # -------------------------------------------------------------------------
    - name: uninstall-cluster-monitoring
      params:
        - name: image_pull_policy
          value: $(params.image_pull_policy)
        - name: cluster_monitoring_action
          value: $(params.cluster_monitoring_action)
      taskRef:
        kind: Task
        name: mas-devops-cluster-monitoring
      when:
        - input: "$(params.cluster_monitoring_action)"
          operator: in
          values: ["uninstall"]
      runAfter:
        - uninstall-ibm-catalogs
