db2_namespace: {{DB2_NAMESPACE}}
db2_instance_name: {{DB2_INSTANCE_NAME}}
db2_dbname: {{DB2_DBNAME}}
db2_version: {{DB2_VERSION}}
db2_tls_version: {{DB2_TLS_VERSION}}
db2_table_org: {{DB2_TABLE_ORG}}
db2_node_label: {{DB2_NODE_LABEL}}
db2_dedicated_node: {{DB2_DEDICATED_NODE}}
db2_instance_registry:
  {% filter indent(width=2) -%}
  {{ DB2_INSTANCE_REGISTRY }}
  {%- endfilter %}
db2_database_db_config:
  {% filter indent(width=2) -%}
  {{ DB2_DATABASE_DB_CONFIG }}
  {%- endfilter %}
{% if DB2_ADDONS_AUDIT_CONFIG %}
db2_addons_audit_config:
  {% filter indent(width=2) -%}
  {{ DB2_ADDONS_AUDIT_CONFIG }}
  {%- endfilter %}
{% endif %}
{% if DB2_INSTANCE_DBM_CONFIG %}
db2_instance_dbm_config:
  {% filter indent(width=2) -%}
  {{ DB2_INSTANCE_DBM_CONFIG }}
  {%- endfilter %}
{% endif %}
db2_mln_count: {{DB2_MLN_COUNT}}
db2_num_pods: {{DB2_NUM_PODS}}
db2_meta_storage_class: {{DB2_META_STORAGE_CLASS}}
db2_meta_storage_size: {{DB2_META_STORAGE_SIZE}}
db2_meta_storage_accessmode: {{DB2_META_STORAGE_ACCESSMODE}}
db2_data_storage_class: {{DB2_DATA_STORAGE_CLASS}}
db2_data_storage_size: {{DB2_DATA_STORAGE_SIZE}}
db2_data_storage_accessmode: {{DB2_DATA_STORAGE_ACCESSMODE}}
db2_backup_storage_class: {{DB2_BACKUP_STORAGE_CLASS}}
db2_backup_storage_size: {{DB2_BACKUP_STORAGE_SIZE}}
db2_backup_storage_accessmode: {{DB2_BACKUP_STORAGE_ACCESSMODE}}
db2_logs_storage_class: {{DB2_LOGS_STORAGE_CLASS}}
db2_logs_storage_size: {{DB2_LOGS_STORAGE_SIZE}}
db2_logs_storage_accessmode: {{DB2_LOGS_STORAGE_ACCESSMODE}}
db2_audit_logs_storage_class: {{DB2_AUDIT_LOGS_STORAGE_CLASS}}
db2_audit_logs_storage_size: {{DB2_AUDIT_LOGS_STORAGE_SIZE}}
db2_audit_logs_storage_accessmode: {{DB2_AUDIT_LOGS_STORAGE_ACCESSMODE}}
db2_temp_storage_class: {{DB2_TEMP_STORAGE_CLASS}}
db2_temp_storage_size: {{DB2_TEMP_STORAGE_SIZE}}
db2_temp_storage_accessmode: {{DB2_TEMP_STORAGE_ACCESSMODE}}
db2_cpu_requests: {{DB2_CPU_REQUESTS}}
db2_cpu_limits: {{DB2_CPU_LIMITS}}
db2_memory_requests: {{DB2_MEMORY_REQUESTS}}
db2_memory_limits: {{DB2_MEMORY_LIMITS}}
db2_affinity_key: {{DB2_AFFINITY_KEY}}
db2_affinity_value: {{DB2_AFFINITY_VALUE}}
db2_tolerate_key: {{DB2_TOLERATE_KEY}}
db2_tolerate_value: {{DB2_TOLERATE_VALUE}}
db2_tolerate_effect: {{DB2_TOLERATE_EFFECT}}
cluster_domain: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_CLUSTER_DOMAIN }}>
mas_application_id: {{MAS_APP_ID}}

