db2_namespace: {{ DB2_NAMESPACE }}
mas_application_id: {{ MAS_APP_ID }}
db2_instance_name: {{ DB2_INSTANCE_NAME }}
host: <path:{{ SECRETS_PATH }}:{{ HOST }}>
port: <path:{{ SECRETS_PATH }}:{{ PORT }}>
dbname: <path:{{ SECRETS_PATH }}:{{ DBNAME }}>
rds_admin_db_name: <path:{{ SECRETS_PATH }}:{{ RDS_ADMIN_DB_NAME }}>
user: <path:{{ SECRETS_PATH }}:{{ USER_NAME }}>
password: <path:{{ SECRETS_PATH }}:{{ PASSWORD }}> # pragma: allowlist secret
jdbc_connection_url: <path:{{ SECRETS_PATH }}:{{ JDBC_CONNECTION_URL }}>
{%- if JDBC_CONNECTION_URL_ADDITIONAL_PARAMS is defined and JDBC_CONNECTION_URL_ADDITIONAL_PARAMS !='' %}
jdbc_connection_url_additional_params: {{ JDBC_CONNECTION_URL_ADDITIONAL_PARAMS }}
{%- endif %}
replica_db: {{ REPLICA_DB }}
db2_instance_registry:
  {% filter indent(width=2) -%}
  {{ DB2_INSTANCE_REGISTRY }}
  {%- endfilter %}
db2_database_db_config:
  {% filter indent(width=2) -%}
  {{ DB2_DATABASE_DB_CONFIG }}
  {%- endfilter %}
{% if DB2_ADDONS_AUDIT_CONFIG %}
db2_addons_audit_config:
  {% filter indent(width=2) -%}
  {{ DB2_ADDONS_AUDIT_CONFIG }}
  {%- endfilter %}
{% endif %}
{% if DB2_INSTANCE_DBM_CONFIG %}
db2_instance_dbm_config:
  {% filter indent(width=2) -%}
  {{ DB2_INSTANCE_DBM_CONFIG }}
  {%- endfilter %}
{% endif %}
{% if (RDS_DB2_BACKUP_MANAGE is defined and RDS_DB2_BACKUP_MANAGE == 'true') or (RDS_DB2_BACKUP_IOT is defined and RDS_DB2_BACKUP_IOT == 'true') or (RDS_DB2_BACKUP_FACILITIES is defined and RDS_DB2_BACKUP_FACILITIES == 'true') %}
backup:
  enabled: true
  s3_bucket_name: ""
  s3_prefix: "db2-backups"
  
  compression: "INCLUDE"
  util_impact_priority: 50
  num_files: 4
  parallelism: 4
  num_buffers: 8
  
  full:
    enabled: true
    schedule: "0 2 * * 0"

  incremental:
    enabled: true
    schedule: "0 2 * * 1-6"
{% endif %}
