# Manage FVT Setup
- name: fvt-manage-setup # convention: use fvt-manage-<keyword>, as the value of fvt_test_suite parameter
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: setup
  runAfter:
    - fvt-manage-aviation-setup # regression tasks depend on fvt-manage-setup or, eventually, any subsequent task in case of Manage Industry Solutions

# Manage FVT - ACM Setup
- name: fvt-manage-acm-setup
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-acm
    - name: fvt_test_suite
      value: fvt-acm-setup
    - name: fvt_mas_appws_component
      value: acm
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-setup

# Manage FVT - ACM - New User
- name: fvt-manage-acm-user
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-acm
    - name: fvt_test_suite
      value: fvt-acm-user
    - name: fvt_mas_appws_component
      value: acm
    - name: fvt_test_driver
      value: tpae      
  runAfter:
    - fvt-manage-acm-setup

# Manage FVT - ACM
- name: fvt-manage-acm
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-acm
    - name: fvt_test_suite
      value: fvt-acm
    - name: fvt_mas_appws_component
      value: acm
    - name: fvt_test_driver
      value: tpae 
  runAfter:
    - fvt-manage-acm-user

# Manage FVT - Aviation Setup
- name: fvt-manage-aviation-setup
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-aviation
    - name: fvt_test_suite
      value: fvt-mfa-setup
    - name: fvt_mas_appws_component
      value: aviation
    - name: fvt_test_driver
      value: tpae 
  runAfter:
    - ivtcore-manage

# Manage FVT - Aviation
- name: fvt-manage-aviation
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-aviation
    - name: fvt_test_suite
      value: fvt-mfa
    - name: fvt_mas_appws_component
      value: aviation
    - name: fvt_test_driver
      value: tpae 
  runAfter:
    - fvt-manage-setup

# Manage FVT - HSE Setup
- name: fvt-manage-hse-setup
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-hse
    - name: fvt_test_suite
      value: hse-setup
    - name: fvt_mas_appws_component
      value: hse
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-setup

# Manage FVT - HSE - New User
- name: fvt-manage-hse-user
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-hse
    - name: fvt_test_suite
      value: fvt-hse-user
    - name: fvt_mas_appws_component
      value: hse
    - name: fvt_test_driver
      value: tpae 
  runAfter:
    - fvt-manage-hse-setup

# Manage FVT - HSE
- name: fvt-manage-hse
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-hse
    - name: fvt_test_suite
      value: fvt-hse
    - name: fvt_mas_appws_component
      value: hse
    - name: fvt_test_driver
      value: tpae 
  runAfter:
    - fvt-manage-hse-user

# Manage FVT - Nuclear Setup
- name: fvt-manage-nuclear-setup
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-nuclear
    - name: fvt_test_suite
      value: nuc-setup
    - name: fvt_mas_appws_component
      value: nuclear
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-setup

# Manage FVT - Nuclear - New User
- name: fvt-manage-nuclear-user
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-nuclear
    - name: fvt_test_suite
      value: fvt-nuc-user
    - name: fvt_mas_appws_component
      value: nuclear
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-nuclear-setup

# Manage FVT - Nuclear
- name: fvt-manage-nuclear
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-nuclear
    - name: fvt_test_suite
      value: fvt-nuc
    - name: fvt_mas_appws_component
      value: nuclear
    - name: fvt_test_driver
      value: tpae      
  runAfter:
    - fvt-manage-nuclear-user

# Manage FVT - Service Provider Setup
- name: fvt-manage-serviceprovider-setup
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-service-provider
    - name: fvt_test_suite
      value: fvt-sp-setup
    - name: fvt_mas_appws_component
      value: serviceprovider
    - name: fvt_test_driver
      value: tpae      
  runAfter:
    - fvt-manage-setup

# Manage FVT - Service Provider - New User
- name: fvt-manage-serviceprovider-user
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-service-provider
    - name: fvt_test_suite
      value: fvt-sp-user
    - name: fvt_mas_appws_component
      value: serviceprovider
    - name: fvt_test_driver
      value: tpae      
  runAfter:
    - fvt-manage-serviceprovider-setup

# Manage FVT - Service Provider
- name: fvt-manage-serviceprovider
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-service-provider
    - name: fvt_test_suite
      value: fvt-sp
    - name: fvt_mas_appws_component
      value: serviceprovider
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-serviceprovider-user

# Manage FVT - Location Base Services - Setup
- name: fvt-manage-lbs-setup
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-spatial
    - name: fvt_test_suite
      value: lbs-setup
    - name: fvt_mas_appws_component
      value: spatial
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-setup

# Manage FVT - Location Base Services - New User
- name: fvt-manage-lbs-user
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-spatial
    - name: fvt_test_suite
      value: lbs-user
    - name: fvt_mas_appws_component
      value: spatial
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-lbs-setup

# Manage FVT - Spatial
- name: fvt-manage-spatial
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-spatial
    - name: fvt_test_suite
      value: fvt-manage-spatial
    - name: fvt_mas_appws_component
      value: spatial
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-lbs-user

# Manage FVT - Utilities
- name: fvt-manage-utilities
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-spatial
    - name: fvt_test_suite
      value: fvt-manage-utilities
    - name: fvt_mas_appws_component
      value: spatial
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-lbs-user

# Manage FVT - Linear
- name: fvt-manage-linear
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-spatial
    - name: fvt_test_suite
      value: fvt-manage-linear
    - name: fvt_mas_appws_component
      value: spatial
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-lbs-user

# Manage FVT - Transportation Setup
- name: fvt-manage-transportation-setup
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-transportation
    - name: fvt_test_suite
      value: fvt-tr-setup
    - name: fvt_mas_appws_component
      value: transportation
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-setup

# Manage FVT - Transportation - New User
- name: fvt-manage-transportation-user
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-transportation
    - name: fvt_test_suite
      value: fvt-tr-user
    - name: fvt_mas_appws_component
      value: transportation
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-transportation-setup

# Manage FVT - Transportation
- name: fvt-manage-transportation
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-transportation
    - name: fvt_test_suite
      value: fvt-tr
    - name: fvt_mas_appws_component
      value: transportation
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-transportation-user

# Manage FVT - Scheduler Setup
- name: fvt-manage-scheduler-setup
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-scheduler
    - name: fvt_test_suite
      value: sched_fvt_setup
    - name: fvt_mas_appws_component
      value: scheduler
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-setup

# Manage FVT - Scheduler - New User
- name: fvt-manage-scheduler-user
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-scheduler
    - name: fvt_test_suite
      value: sched_fvt_user
    - name: fvt_mas_appws_component
      value: scheduler
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-scheduler-setup

# Manage FVT - Scheduler
- name: fvt-manage-scheduler-1
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-scheduler    
    - name: fvt_test_suite
      value: sched_fvt_1
    - name: fvt_mas_appws_component
      value: scheduler
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-scheduler-user

# Manage FVT - Scheduler
- name: fvt-manage-scheduler-2
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-scheduler    
    - name: fvt_test_suite
      value: sched_fvt_2
    - name: fvt_mas_appws_component
      value: scheduler
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-scheduler-user

# Manage FVT - Scheduler
- name: fvt-manage-scheduler-3
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-scheduler
    - name: fvt_test_suite
      value: sched_fvt_3
    - name: fvt_mas_appws_component
      value: scheduler
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-scheduler-user

# Manage FVT - Scheduler
- name: fvt-manage-scheduler-4
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-scheduler
    - name: fvt_test_suite
      value: sched_fvt_4
    - name: fvt_mas_appws_component
      value: scheduler
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-scheduler-user

# Manage FVT - Scheduler Dashboard
- name: fvt-manage-scheduling-dashboard
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-scheduler
    - name: fvt_test_suite
      value: schedulingDashboard
    - name: fvt_mas_appws_component
      value: scheduler
    - name: fvt_test_driver
      value: graphite
  runAfter:
    - fvt-manage-scheduler-user

# Manage FVT - Maintenance Manager
- name: fvt-manage-maintmanager
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-maintmanager
    - name: fvt_test_suite
      value: mm_bvt
    - name: fvt_mas_appws_component
      value: maintmanager
    - name: fvt_test_driver
      value: graphite
  runAfter:
    - fvt-manage-setup

# Manage FVT - Health
- name: fvt-manage-health
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-multi-is.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-multi-is.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-health
    - name: fvt_test_suite
      value: assetviewtable
    - name: fvt_mas_appws_component
      value: health
    - name: fvt_test_driver
      value: graphite
  runAfter:
    - fvt-manage-setup

# Manage FVT - Civil Infrastructure Selenium - Setup
- name: fvt-manage-civil-selenium-setup
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-civil.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-civil.yml.j2') | indent(4) }}
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-civil-selenium
    - name: fvt_test_suite
      value: fvt-ci-setup
  runAfter:
    - fvt-manage-setup

# Manage FVT - Civil Infrastructure Selenium - New User
- name: fvt-manage-civil-selenium-user
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-civil.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-civil.yml.j2') | indent(4) }}
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-civil-selenium
    - name: fvt_test_suite
      value: cibvt-user
  runAfter:
    - fvt-manage-civil-selenium-setup


# Manage FVT - Civil Infrastructure Selenium
- name: fvt-manage-civil-selenium
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-civil.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-civil.yml.j2') | indent(4) }}
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-civil-selenium
    - name: fvt_test_suite
      value: cibvt
  runAfter:
    - fvt-manage-civil-selenium-user
  
# Manage FVT - Civil Infrastructure Cypress
- name: fvt-manage-civil-cypress
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage-civil.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage-civil.yml.j2') | indent(4) }}
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-civil-cypress
    - name: fvt_test_suite
      value: web-mas-civil # display purposes only, not a keyword
  runAfter:
    - fvt-manage-civil-selenium-user

# FVT6.16 Manage FVT - Mobile SR Setup
- name: fvt-servicerequest-setup4sr
  params:
    - name: mas_instance_id
      value: $(params.mas_instance_id)
    - name: mas_workspace_id
      value: $(params.mas_workspace_id)
    - name: devops_mongo_uri
      value: $(params.devops_mongo_uri)
    - name: devops_build_number
      value: $(params.devops_build_number)
    - name: devops_cos_crn
      value: $(params.devops_cos_crn)
    - name: ibmcloud_apikey
      value: $(params.ibmcloud_apikey)
    - name: fvt_image_registry
      value: $(params.fvt_image_registry)
    - name: fvt_image_namespace
      value: fvt-manage
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-sr
    - name: fvt_image_version
      value: $(params.fvt_version_manage_mobile_sr_setup)
    - name: fvt_test_suite
      value: setup4sr # Keyword for Mobile FVT
    - name: product_channel
      value: $(params.mas_app_channel_manage)
    - name: product_id
      value: ibm-mobile
    - name: artifactory_apikey
      value: $(params.fvt_artifactory_apikey)
  taskRef:
    kind: Task
    name: mas-fvt-run-suite
  # Only if we've set a version of the Manage Transportation FVT to run
  when:
    - input: "$(params.fvt_version_manage_mobile_sr_setup)"
      operator: notin
      values: ["skip"]
    - input: "$(params.mas_app_channel_manage)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-manage-setup
  workspaces:
    - name: configs
      workspace: shared-configs
