# Manage Regression FVT
- name: fvt-manage-workorder # convention: use fvt-manage-<keyword>, as the value of fvt_test_suite parameter
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: workorder
  runAfter:
    - fvt-manage-setup # regression tasks depend on fvt-manage-setup or, eventually, any subsequent task in case of Manage Industry Solutions
 
# Manage Aviation FVT - Regression Lane 1 - Task 1
- name: fvt-manage-avi-reg1-1
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: avi-reg1-1
    - name: fvt_mas_appws_component
      value: aviation
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-aviation

# Manage Aviation FVT - Regression Lane 2 - Task 1
- name: fvt-manage-avi-reg2-1
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: avi-reg2-1
    - name: fvt_mas_appws_component
      value: aviation
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-aviation

# Manage Aviation FVT - Regression Lane 1 - Task 2
- name: fvt-manage-avi-reg1-2
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: avi-reg1-2
    - name: fvt_mas_appws_component
      value: aviation
    - name: fvt_test_driver
      value: tpae  
  runAfter:
    - fvt-manage-avi-reg1-1

# Manage Aviation FVT - Regression Lane 2 - Task 2
- name: fvt-manage-avi-reg2-2
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: avi-reg2-2
    - name: fvt_mas_appws_component
      value: aviation
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-avi-reg2-1

# Manage Aviation FVT - Regression Lane 1 - Task 3
- name: fvt-manage-avi-reg1-3
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: avi-reg1-3
    - name: fvt_mas_appws_component
      value: aviation  
    - name: fvt_test_driver
      value: tpae  
  runAfter:
    - fvt-manage-avi-reg1-2

# Manage Aviation FVT - Regression Lane 2 - Task 3
- name: fvt-manage-avi-reg2-3
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: avi-reg2-3
    - name: fvt_mas_appws_component
      value: aviation
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-avi-reg2-2

# Manage FVT - Scheduler
- name: fvt-manage-scheduler-5
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: scheduler-5
    - name: fvt_mas_appws_component
      value: scheduler
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-scheduler-1
    - fvt-manage-scheduler-2
    - fvt-manage-scheduler-3

# Manage FVT - Scheduler
- name: fvt-manage-scheduler-6
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: scheduler-6
    - name: fvt_mas_appws_component
      value: scheduler
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-scheduler-1
    - fvt-manage-scheduler-2
    - fvt-manage-scheduler-3

# Manage FVT - Scheduler
- name: fvt-manage-scheduler-7
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: scheduler-7
    - name: fvt_mas_appws_component
      value: scheduler
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-scheduler-1
    - fvt-manage-scheduler-2
    - fvt-manage-scheduler-3

# Service Provider FVT - Regression Lane 1 - Task 1
- name: fvt-manage-sp-reg1-1
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: fvt-sp-reg1-1
    - name: fvt_mas_appws_component
      value: serviceprovider
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-serviceprovider

# Service Provider FVT - Regression Lane 1 - Task 2
- name: fvt-manage-sp-reg1-2
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: fvt-sp-reg1-2
    - name: fvt_mas_appws_component
      value: serviceprovider
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-sp-reg1-1

# Service Provider FVT - Regression Lane 2 - Task 1
- name: fvt-manage-sp-reg2-1
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: fvt-sp-reg2-1
    - name: fvt_mas_appws_component
      value: serviceprovider
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-serviceprovider

# Service Provider FVT - Regression Lane 2 - Task 2
- name: fvt-manage-sp-reg2-2
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: fvt-sp-reg2-2
    - name: fvt_mas_appws_component
      value: serviceprovider
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-sp-reg2-1

# Transportation FVT - Regression Lane 1 - Task 1
- name: fvt-manage-tr-reg1-1
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: fvt-tr-reg1-1
    - name: fvt_mas_appws_component
      value: transportation
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-transportation

# Transportation FVT - Regression Lane 1 - Task 2
- name: fvt-manage-tr-reg1-2
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: fvt-tr-reg1-2
    - name: fvt_mas_appws_component
      value: transportation
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-tr-reg1-1

# Transportation FVT - Regression Lane 1 - Task 3
- name: fvt-manage-tr-reg1-3
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: fvt-tr-reg1-3
    - name: fvt_mas_appws_component
      value: transportation
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-tr-reg1-2

# Transportation FVT - Regression Lane 2 - Task 1
- name: fvt-manage-tr-reg2-1
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: fvt-tr-reg2-1
    - name: fvt_mas_appws_component
      value: transportation
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-transportation

# Transportation FVT - Regression Lane 2 - Task 2
- name: fvt-manage-tr-reg2-2
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: fvt-tr-reg2-2
    - name: fvt_mas_appws_component
      value: transportation
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-tr-reg2-1

# Transportation FVT - Regression Lane 2 - Task 2
- name: fvt-manage-tr-reg2-3
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: fvt-tr-reg2-3
    - name: fvt_mas_appws_component
      value: transportation
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-tr-reg2-2

# ACM - Regression Lane 1 - Task 1
- name: fvt-manage-acm-reg1-1
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: fvt-acm-reg1-1
    - name: fvt_mas_appws_component
      value: acm
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-acm

# ACM - Regression Lane 1 - Task 2
- name: fvt-manage-acm-reg1-2
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: fvt-acm-reg1-2
    - name: fvt_mas_appws_component
      value: acm
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-acm-reg1-1

# ACM - Regression Lane 1 - Task 3
- name: fvt-manage-acm-reg1-3
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: fvt-acm-reg1-3
    - name: fvt_mas_appws_component
      value: acm
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-acm-reg1-2

# ACM - Regression Lane 2 - Task 1
- name: fvt-manage-acm-reg2-1
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: fvt-acm-reg2-1
    - name: fvt_mas_appws_component
      value: acm
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-acm

# ACM- Regression Lane 2 - Task 2
- name: fvt-manage-acm-reg2-2
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: fvt-acm-reg2-2
    - name: fvt_mas_appws_component
      value: acm
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-acm-reg2-1

# ACM- Regression Lane 2 - Task 3
- name: fvt-manage-acm-reg2-3
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: fvt-acm-reg2-3
    - name: fvt_mas_appws_component
      value: acm
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-acm-reg2-2
