# Manage FVT Setup
- name: fvt-manage-setup # convention: use fvt-manage-<keyword>, as the value of fvt_test_suite parameter
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: setup
  runAfter:
    - fvt-manage-aviation-setup # regression tasks depend on fvt-manage-setup or, eventually, any subsequent task in case of Manage Industry Solutions

# Manage FVT Start Center
- name: fvt-manage-startcenter-config
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: startcenter_config_layer3
  runAfter:
    - fvt-manage-setup

# Manage FVT Escalation
- name: fvt-manage-escalation-action
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: escalation_action_layer3"
  runAfter:
    - fvt-manage-setup

# Manage FVT Monitoring Metrics
- name: fvt-manage-metrics
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: metrics_layer3
  runAfter:
    - fvt-manage-setup

# Manage FVT API Tests
- name: fvt-manage-api-test
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-manage.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: api-test_layer3
  runAfter:
    - fvt-manage-setup

