## Mobile Foundation Manage Setup
- name: fvt-mobilefoundation-manage-setup
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-mobilefoundation
    - name: fvt_image_name
      value: fvt-mobilefoundation-manage-setup
    - name: fvt_image_digest
      value: $(params.fvt_digest_mobilefoundation_manage_setup)
    - name: fvt_mas_appws_component
      value: mobile
    - name: mas_appws_components
      value: $(params.mas_appws_components)
    - name: fvt_test_suite
      value: platform-manage-setup # Keyword for Mobile FVT
  # Only if we've set a digest of the Manage Transportation FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_mobilefoundation_manage_setup)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-manage-workflow-designer

## Mobile Foundation Prepare User Data
- name: fvt-mobilefoundation-testng-preparedata
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }} 
    - name: fvt_image_namespace
      value: fvt-mobilefoundation
    - name: fvt_image_name
      value: fvt-mobilefoundation-preparedata
    - name: fvt_image_digest
      value: $(params.fvt_digest_mobilefoundation_preparedata)
    - name: fvt_test_suite
      value: prepare
    - name: browserstack_remoteserver
      value: http:<username>:<access_key>@<server>/wd/hub # we need to set it somewhere or discover it from inside the container
  # Only if we've set a digest of the Mobile Foundation FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_mobilefoundation_preparedata)"
      operator: notin
      values: [""]
  runAfter:
    - ivtcore-manage
    - fvt-mobilefoundation-manage-setup
  
## All Mobile Foundation MAS test suites
- name: fvt-mobilefoundation-testng-mas-android
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-mobilefoundation
    - name: fvt_image_name
      value: fvt-mobilefoundation-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_mobilefoundation_testng)
    - name: fvt_test_suite
      value: mobfoundation-mvt-android
    - name: browserstack_remoteserver
      value: http:<username>:<access_key>@<server>/wd/hub # we need to set it somewhere or discover it from inside the container
    - name: foundation_device_type
      value: android
    - name: foundation_server_type
      value: mas
  # Only if we've set a digest of the Mobile Foundation FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_mobilefoundation_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-mobilefoundation-testng-preparedata

- name: fvt-mobilefoundation-testng-mas-ios
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-mobilefoundation
    - name: fvt_image_name
      value: fvt-mobilefoundation-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_mobilefoundation_testng)
    - name: fvt_test_suite
      value: mobfoundation-mvt-ios
    - name: browserstack_remoteserver
      value: http:<username>:<access_key>@<server>/wd/hub # we need to set it somewhere or discover it from inside the container
    - name: foundation_device_type
      value: ios
    - name: foundation_server_type
      value: mas
  # Only if we've set a digest of the Mobile Foundation FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_mobilefoundation_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-mobilefoundation-testng-preparedata

## Prepare Data for Mobile Service Request MAS test suites
- name: fvt-servicerequest-setup4sr
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-servicerequests
    - name: fvt_image_name
      value: fvt-servicerequests-manage-setup
    - name: fvt_image_digest
      value: $(params.fvt_digest_servicerequests_manage_setup)
    - name: fvt_test_suite
      value: service-request-setup-data
    - name: fvt_mas_appws_component
      value: mobile
    - name: mas_appws_components
      value: $(params.mas_appws_components)
  # Only if we've set a digest of the Mobile Foundation FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_servicerequests_manage_setup)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-manage-workflow-designer

## Minimum Verification Test for Mobile Service Request MAS test suites
- name: fvt-servicerequest-testng-mas-android
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-servicerequests
    - name: fvt_image_name
      value: fvt-servicerequests-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_servicerequests_testng)
    - name: fvt_test_suite
      value: SR-mas-android-MVT
    - name: assist_test_type
      value: mobileapp
    - name: assist_device_type
      value: android
    - name: assist_server_type
      value: mas
  # Only if we've set a digest of the Mobile Service Request FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_servicerequests_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-servicerequest-setup4sr

## Minimum Verification Test for Mobile Service Request MAS test suites
- name: fvt-servicerequest-testng-mas-ios
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-servicerequests
    - name: fvt_image_name
      value: fvt-servicerequests-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_servicerequests_testng)
    - name: fvt_test_suite
      value: SR-mas-ios-MVT
    - name: assist_test_type
      value: mobileapp
    - name: assist_device_type
      value: ios
    - name: assist_server_type
      value: mas
  # Only if we've set a digest of the Mobile Service Request FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }} 
    - input: "$(params.fvt_digest_servicerequests_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-servicerequest-testng-mas-android

## Prepare Data for Mobile Technician MAS test suites
- name: fvt-technician-testng-preparedata
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-technician
    - name: fvt_image_name
      value: fvt-technician-preparedata
    - name: fvt_image_digest
      value: $(params.fvt_digest_technician_preparedata)
    - name: fvt_test_suite
      value: Technician-prepare-data
  # Only if we've set a digest of the Mobile Foundation FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_technician_preparedata)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-asset-manager-testng-mas-ios

## Minimum Verification Test for Mobile Technician MAS test suites
- name: fvt-technician-testng-mas-android
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-technician
    - name: fvt_image_name
      value: fvt-technician-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_technician_testng)
    - name: fvt_test_suite
      value: Technician-mas-android-MVT
    - name: assist_test_type
      value: mobileapp
    - name: assist_device_type
      value: android
    - name: assist_server_type
      value: mas
  # Only if we've set a digest of the Mobile Technician FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_technician_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-technician-testng-preparedata

## Minimum Verification Test for Mobile Technician MAS test suites
- name: fvt-technician-testng-mas-ios
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-technician
    - name: fvt_image_name
      value: fvt-technician-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_technician_testng)
    - name: fvt_test_suite
      value: Technician-mas-ios-MVT
    - name: assist_test_type
      value: mobileapp
    - name: assist_device_type
      value: ios
    - name: assist_server_type
      value: mas
  # Only if we've set a digest of the Mobile Technician FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_technician_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-technician-testng-mas-android

## Mobile Inspections Manage Setup
- name: fvt-inspections-manage-setup
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-inspections
    - name: fvt_image_name
      value: fvt-inspections-manage-setup
    - name: fvt_image_digest
      value: $(params.fvt_digest_inspection_manage_setup)
    - name: fvt_mas_appws_component
      value: mobile
    - name: mas_appws_components
      value: $(params.mas_appws_components)
    - name: fvt_test_suite
      value: inspections-setup-data # Keyword for Mobile FVT
  # Only if we've set a digest of the Manage Transportation FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_inspection_manage_setup)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-manage-workflow-designer

## Prepare Data for Mobile Inspection MAS test suites
- name: fvt-inspections-testng-preparedata
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-inspections
    - name: fvt_image_name
      value: fvt-inspections-preparedata
    - name: fvt_image_digest
      value: $(params.fvt_digest_inspection_preparedata)
    - name: fvt_test_suite
      value: Inspections-prepare-data
  # Only if we've set a digest of the Mobile Foundation FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_inspection_preparedata)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-inspections-manage-setup

## Minimum Verification Test for Mobile Inspection MAS test suites
- name: fvt-inspections-testng-mas-android
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-inspections
    - name: fvt_image_name
      value: fvt-inspections-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_inspection_testng)
    - name: fvt_test_suite
      value: Inspections-mas-android-MVT
    - name: assist_test_type
      value: mobileapp
    - name: assist_device_type
      value: android
    - name: assist_server_type
      value: mas
  # Only if we've set a digest of the Mobile Inspection FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_inspection_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-inspections-testng-preparedata

## Minimum Verification Test for Mobile Inspections MAS test suites
- name: fvt-inspections-testng-mas-ios
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-inspections
    - name: fvt_image_name
      value: fvt-inspections-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_inspection_testng)
    - name: fvt_test_suite
      value: Inspections-mas-ios-MVT
    - name: assist_test_type
      value: mobileapp
    - name: assist_device_type
      value: ios
    - name: assist_server_type
      value: mas
  # Only if we've set a digest of the Mobile Inspection FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_inspection_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-inspections-testng-mas-android

## Prepare Data for Mobile Defects MAS test suites
- name: fvt-defects-testng-preparedata
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage-civil
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-civil-defects-preparedata
    - name: fvt_image_digest
      value: $(params.fvt_digest_manage_defects_preparedata)
    - name: fvt_test_suite
      value: Defects-prepare-data
  # Only if we've set a digest of the Mobile Foundation FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_manage_defects_preparedata)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-manage-workflow-designer

## Minimum Verification Test for Mobile Defects MAS test suites
- name: fvt-defects-testng-mas-android
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage-civil
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-civil-defects-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_manage_defects_testng)
    - name: fvt_test_suite
      value: Defects-mas-android-MVT
    - name: assist_test_type
      value: mobileapp
    - name: assist_device_type
      value: android
    - name: assist_server_type
      value: mas
  # Only if we've set a digest of the Mobile Defects FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_manage_defects_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-defects-testng-preparedata

## Minimum Verification Test for Mobile Defects MAS test suites
- name: fvt-defects-testng-mas-ios
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage-civil
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-civil-defects-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_manage_defects_testng)
    - name: fvt_test_suite
      value: Defects-mas-ios-MVT
    - name: assist_test_type
      value: mobileapp
    - name: assist_device_type
      value: ios
    - name: assist_server_type
      value: mas
  # Only if we've set a digest of the Mobile Defects FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_manage_defects_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-defects-testng-mas-android

## Prepare Data for Mobile Asset Manager MAS test suites
- name: fvt-asset-manager-testng-preparedata
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-asset-manager
    - name: fvt_image_name
      value: fvt-asset-manager-preparedata
    - name: fvt_image_digest
      value: $(params.fvt_digest_asset_manager_preparedata)
    - name: fvt_test_suite
      value: AssetManager-prepare-data
  # Only if we've set a digest of the Mobile Foundation FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_asset_manager_preparedata)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-manage-workflow-designer

## Minimum Verification Test for Mobile Asset Manager MAS test suites
- name: fvt-asset-manager-testng-mas-android
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-asset-manager
    - name: fvt_image_name
      value: fvt-asset-manager-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_asset_manager_testng)
    - name: fvt_test_suite
      value: AssetManager-mas-android-MVT
    - name: assist_test_type
      value: mobileapp
    - name: assist_device_type
      value: android
    - name: assist_server_type
      value: mas
  # Only if we've set a digest of the Mobile Asset Manager FVT to run
  when:
    - input: "$(params.fvt_digest_asset_manager_testng)"
      operator: notin
      values: [""]
    - input: "$(params.mas_app_channel_manage)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-asset-manager-testng-preparedata

## Minimum Verification Test for Mobile Asset Manager MAS test suites
- name: fvt-asset-manager-testng-mas-ios
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-asset-manager
    - name: fvt_image_name
      value: fvt-asset-manager-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_asset_manager_testng)
    - name: fvt_test_suite
      value: AssetManager-mas-ios-MVT
    - name: assist_test_type
      value: mobileapp
    - name: assist_device_type
      value: ios
    - name: assist_server_type
      value: mas
  # Only if we've set a digest of the Mobile Asset Manager FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_asset_manager_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-asset-manager-testng-mas-android

# Manage FVT - IC Setup
- name: fvt-mobile-inventorycounting-setup
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-inventorycounting
    - name: fvt_image_name
      value: fvt-inventorycounting-manage-setup
    - name: fvt_image_digest
      value: $(params.fvt_digest_ic_manage_setup)
    - name: fvt_mas_appws_component
      value: mobile
    - name: mas_appws_components
      value: $(params.mas_appws_components)
    - name: fvt_test_suite
      value: inventory-counting-setup-data # Keyword for IC setup
  # Only if we've set a digest of the IC FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_ic_manage_setup)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-manage-workflow-designer

# Mobile FVT - Inventory Counting
- name: fvt-mobile-inventorycounting
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-inventorycounting
    - name: fvt_image_name
      value: fvt-inventorycounting-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_ic_testng)
    - name: fvt_mas_appws_component
      value: base
    - name: mas_appws_components
      value: $(params.mas_appws_components)
    - name: fvt_test_suite
      value: prepare-test-data-testng-mas # xml for Mobile IC
  # Only if we've set a digest of the Mobile IC FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_ic_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-mobile-inventorycounting-setup
