# Note: last FVT test of Manage Core is fvt-manage-last-phase to avoid trigger
# all the tests at the same time, be sure to start industry solution, mobile and
# optimizer tests after this test instead of fvt-manage-setup
## Mobile Foundation Manage Setup
- name: fvt-mobfoundation-setup-data
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-mobilefoundation
    - name: fvt_image_name
      value: fvt-mobilefoundation-manage-setup
    - name: fvt_image_digest
      value: $(params.fvt_digest_mobilefoundation_manage_setup)
    - name: fvt_mas_appws_component
      value: mobile
    - name: mas_appws_components
      value: $(params.mas_appws_components)
    - name: fvt_test_suite
      value: mobfoundation-setup-data # Keyword for Mobile FVT
  # Only if we've set a digest of the Manage Transportation FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_mobilefoundation_manage_setup)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-manage-last-phase

## All Mobile Foundation MAS test suites
- name: fvt-mobfoundation-mvt-android
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-mobilefoundation
    - name: fvt_image_name
      value: fvt-mobilefoundation-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_mobilefoundation_testng)
    - name: fvt_test_suite
      value: mobfoundation-mvt-android
    - name: browserstack_remoteserver
      value: http:<username>:<access_key>@<server>/wd/hub # we need to set it somewhere or discover it from inside the container
    - name: foundation_device_type
      value: android
    - name: foundation_server_type
      value: mas
  # Only if we've set a digest of the Mobile Foundation FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_mobilefoundation_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-mobfoundation-setup-data

- name: fvt-mobfoundation-mvt-ios
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-mobilefoundation
    - name: fvt_image_name
      value: fvt-mobilefoundation-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_mobilefoundation_testng)
    - name: fvt_test_suite
      value: mobfoundation-mvt-ios
    - name: browserstack_remoteserver
      value: http:<username>:<access_key>@<server>/wd/hub # we need to set it somewhere or discover it from inside the container
    - name: foundation_device_type
      value: ios
    - name: foundation_server_type
      value: mas
  # Only if we've set a digest of the Mobile Foundation FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_mobilefoundation_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-mobfoundation-setup-data

## Prepare Data for Mobile Service Request MAS test suites
- name: fvt-service-request-setup-data
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-servicerequests
    - name: fvt_image_name
      value: fvt-servicerequests-manage-setup
    - name: fvt_image_digest
      value: $(params.fvt_digest_servicerequests_manage_setup)
    - name: fvt_test_suite
      value: service-request-setup-data
    - name: fvt_mas_appws_component
      value: mobile
    - name: mas_appws_components
      value: $(params.mas_appws_components)
  # Only if we've set a digest of the Mobile Foundation FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_servicerequests_manage_setup)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-manage-last-phase

## Minimum Verification Test for Mobile Service Request MAS test suites
- name: fvt-service-request-mvt-android
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-servicerequests
    - name: fvt_image_name
      value: fvt-servicerequests-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_servicerequests_testng)
    - name: fvt_test_suite
      value: service-request-mvt-android
    - name: assist_test_type
      value: mobileapp
    - name: assist_device_type
      value: android
    - name: assist_server_type
      value: mas
  # Only if we've set a digest of the Mobile Service Request FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_servicerequests_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-service-request-setup-data

## Minimum Verification Test for Mobile Service Request MAS test suites
- name: fvt-service-request-mvt-ios
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-servicerequests
    - name: fvt_image_name
      value: fvt-servicerequests-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_servicerequests_testng)
    - name: fvt_test_suite
      value: service-request-mvt-ios
    - name: assist_test_type
      value: mobileapp
    - name: assist_device_type
      value: ios
    - name: assist_server_type
      value: mas
  # Only if we've set a digest of the Mobile Service Request FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }} 
    - input: "$(params.fvt_digest_servicerequests_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-service-request-mvt-android

## Prepare Data for Mobile Technician MAS test suites
- name: fvt-technician-setup-data
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-technician
    - name: fvt_image_name
      value: fvt-technician-manage-setup
    - name: fvt_image_digest
      value: $(params.fvt_digest_technician_manage_setup)
    - name: fvt_test_suite
      value: technician-setup-data
    - name: fvt_mas_appws_component
      value: mobile
    - name: mas_appws_components
      value: $(params.mas_appws_components)
  # Only if we've set a digest of the Mobile Foundation FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_technician_manage_setup)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-manage-last-phase

## Minimum Verification Test for Mobile Technician MAS test suites
- name: fvt-technician-mvt-android
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-technician
    - name: fvt_image_name
      value: fvt-technician-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_technician_testng)
    - name: fvt_test_suite
      value: technician-mvt-android
    - name: assist_test_type
      value: mobileapp
    - name: assist_device_type
      value: android
    - name: assist_server_type
      value: mas
  # Only if we've set a digest of the Mobile Technician FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_technician_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-technician-setup-data

## Minimum Verification Test for Mobile Technician MAS test suites
- name: fvt-technician-mvt-ios
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-technician
    - name: fvt_image_name
      value: fvt-technician-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_technician_testng)
    - name: fvt_test_suite
      value: technician-mvt-ios
    - name: assist_test_type
      value: mobileapp
    - name: assist_device_type
      value: ios
    - name: assist_server_type
      value: mas
  # Only if we've set a digest of the Mobile Technician FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_technician_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-technician-mvt-android

## Mobile Inspections Manage Setup
- name: fvt-inspections-setup-data
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-inspections
    - name: fvt_image_name
      value: fvt-inspections-manage-setup
    - name: fvt_image_digest
      value: $(params.fvt_digest_inspection_manage_setup)
    - name: fvt_mas_appws_component
      value: mobile
    - name: mas_appws_components
      value: $(params.mas_appws_components)
    - name: fvt_test_suite
      value: inspections-setup-data # Keyword for Mobile FVT
  # Only if we've set a digest of the Manage Transportation FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_inspection_manage_setup)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-manage-last-phase

## Minimum Verification Test for Mobile Inspection MAS test suites
- name: fvt-inspections-mvt-android
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-inspections
    - name: fvt_image_name
      value: fvt-inspections-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_inspection_testng)
    - name: fvt_test_suite
      value: inspections-mvt-android
    - name: assist_test_type
      value: mobileapp
    - name: assist_device_type
      value: android
    - name: assist_server_type
      value: mas
  # Only if we've set a digest of the Mobile Inspection FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_inspection_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-inspections-setup-data

## Minimum Verification Test for Mobile Inspections MAS test suites
- name: fvt-inspections-mvt-ios
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-inspections
    - name: fvt_image_name
      value: fvt-inspections-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_inspection_testng)
    - name: fvt_test_suite
      value: inspections-mvt-ios
    - name: assist_test_type
      value: mobileapp
    - name: assist_device_type
      value: ios
    - name: assist_server_type
      value: mas
  # Only if we've set a digest of the Mobile Inspection FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_inspection_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-inspections-mvt-android

## Minimum Verification Test for Mobile Asset Manager MAS test suites
- name: fvt-asset-manager-mvt-android
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-asset-manager
    - name: fvt_image_name
      value: fvt-asset-manager-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_asset_manager_testng)
    - name: fvt_test_suite
      value: asset-manager-mvt-android
    - name: assist_test_type
      value: mobileapp
    - name: assist_device_type
      value: android
    - name: assist_server_type
      value: mas
  # Only if we've set a digest of the Mobile Asset Manager FVT to run
  when:
    - input: "$(params.fvt_digest_asset_manager_testng)"
      operator: notin
      values: [""]
    - input: "$(params.mas_app_channel_manage)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-technician-mvt-ios

## Minimum Verification Test for Mobile Asset Manager MAS test suites
- name: fvt-asset-manager-mvt-ios
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-asset-manager
    - name: fvt_image_name
      value: fvt-asset-manager-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_asset_manager_testng)
    - name: fvt_test_suite
      value: asset-manager-mvt-ios
    - name: assist_test_type
      value: mobileapp
    - name: assist_device_type
      value: ios
    - name: assist_server_type
      value: mas
  # Only if we've set a digest of the Mobile Asset Manager FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_asset_manager_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-asset-manager-mvt-android

# Manage FVT - IC Setup
- name: fvt-inventorycounting-manage-setup
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-inventorycounting
    - name: fvt_image_name
      value: fvt-inventorycounting-manage-setup
    - name: fvt_image_digest
      value: $(params.fvt_digest_inventorycounting_manage_setup)
    - name: fvt_mas_appws_component
      value: mobile
    - name: mas_appws_components
      value: $(params.mas_appws_components)
    - name: fvt_test_suite
      value: inventory-counting-setup-data # Keyword for IC setup
  # Only if we've set a digest of the IC FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_inventorycounting_manage_setup)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-manage-last-phase

# Mobile FVT - Inventory Counting Android
- name: fvt-inventorycounting-mvt-android
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-inventorycounting
    - name: fvt_image_name
      value: fvt-inventorycounting-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_inventorycounting_testng)
    - name: fvt_mas_appws_component
      value: base
    - name: mas_appws_components
      value: $(params.mas_appws_components)
    - name: fvt_test_suite
      value: inventory-counting-mvt-android # xml for Mobile IC
  # Only if we've set a digest of the Mobile IC FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_inventorycounting_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-inventorycounting-manage-setup

# Mobile FVT - Inventory Counting IOS
- name: fvt-inventorycounting-mvt-ios
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-inventorycounting
    - name: fvt_image_name
      value: fvt-inventorycounting-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_inventorycounting_testng)
    - name: fvt_mas_appws_component
      value: base
    - name: mas_appws_components
      value: $(params.mas_appws_components)
    - name: fvt_test_suite
      value: inventory-counting-mvt-ios # xml for Mobile IC
  # Only if we've set a digest of the Mobile IC FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_inventorycounting_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-inventorycounting-manage-setup

## Minimum Verification Test for Mobile Defects MAS test suites
- name: fvt-civil-defects-mvt-android
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage-civil
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-civil-defects-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_manage_defects_testng)
    - name: fvt_test_suite
      value: civil-defects-mvt-android
    - name: assist_test_type
      value: mobileapp
    - name: assist_device_type
      value: android
    - name: assist_server_type
      value: mas
  # Only if we've set a digest of the Mobile Defects FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_manage_defects_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-manage-civil-cypress
    - fvt-manage-civil-selenium

## Minimum Verification Test for Mobile Defects MAS test suites
- name: fvt-civil-defects-mvt-ios
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-manage-civil
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-civil-defects-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_manage_defects_testng)
    - name: fvt_test_suite
      value: civil-defects-mvt-ios
    - name: assist_test_type
      value: mobileapp
    - name: assist_device_type
      value: ios
    - name: assist_server_type
      value: mas
  # Only if we've set a digest of the Mobile Defects FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-apps/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_manage_defects_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-manage-civil-cypress
    - fvt-manage-civil-selenium
