- name: cp4d
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: setup-cp4d

    - name: ibm_entitlement_key
      value: $(params.ibm_entitlement_key)
    - name: cpd_product_version
      value: $(params.cpd_product_version)
  taskRef:
    kind: Task
    name: mas-devops-cp4d
  # Only needed if either Predict, HPUtilities or Assist are being installed
  when:
    - input: "$(params.mas_app_channel_predict)$(params.mas_app_channel_hputilities)$(params.mas_app_channel_assist)"
      operator: notin
      values: [""]