- name: update-watson-machine-learning
  timeout: "0"
  params:
    # Controls the image pull policy for the ibmmas/cli image
    - name: image_pull_policy
      value: $(params.image_pull_policy)
    - name: devops_suite_name
      value: update-cp4d-watson-machine-learning
    - name: cpd_product_version
      value: "$(params.cpd_product_version)"
    - name: cpd_service_name
      value: wml
    - name: cpd_service_storage_class
      value: "$(params.storage_class_rwx)"
    - name: cpd_service_block_storage_class
      value: "$(params.storage_class_rwo)"
    - name: cp4d_update_wml
      value: $(params.cp4d_update_wml)
  taskRef:
    kind: Task
    name: mas-devops-cp4d-service-update
  when:
    - input: "$(params.cp4d_update_wml)"
      operator: notin
      values: [""]
