# Prepare data before the testsuite run
- name: fvt-assist-testng-preparedata
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-assist-testng.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-assist-testng.yml.j2') | indent(4) }}
    - name: fvt_image_name
      value: fvt-assist-preparedata
    - name: fvt_test_suite
      value: prepare
  runAfter:
    - ivtcore-assist

# Run the first testsuite (testng-desktop-admin-roles)
- name: fvt-assist-testng-desktop
  {{ lookup('template', 'taskdefs/fvt-apps/common/taskref-assist-testng.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-apps/common/params-assist-testng.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: testng-desktop-admin-roles
  runAfter:
    - fvt-assist-testng-preparedata