# Manage FVT - Aviation Setup
- name: fvt-manage-aviation-setup
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: mfa-setup
    - name: fvt_mas_appws_component
      value: aviation
    - name: fvt_test_driver
      value: tpae
