# -------------
# SETUP
# -------------

# Aviation - Setup
- name: fvt-manage-aviation-setup
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: mfa-setup
    - name: fvt_mas_appws_component
      value: aviation
    - name: fvt_test_driver
      value: tpae

# Manage FVT - HSE Setup
- name: fvt-manage-hse-setup
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: hse-setup-data
    - name: fvt_mas_appws_component
      value: hse
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-scheduler-scheduling-dashboard
    - fvt-manage-scheduler-dispatching-dashboard

# Manage FVT - Nuclear Setup
- name: fvt-manage-nuclear-setup
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: nuc-setup-data
    - name: fvt_mas_appws_component
      value: nuclear
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-scheduler-scheduling-dashboard
    - fvt-manage-scheduler-dispatching-dashboard

# Manage FVT - Service Provider Setup
- name: fvt-manage-serviceprovider-setup
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: sp-setup-data
    - name: fvt_mas_appws_component
      value: serviceprovider
    - name: fvt_test_driver
      value: tpae      
  runAfter:
    - fvt-manage-scheduler-scheduling-dashboard
    - fvt-manage-scheduler-dispatching-dashboard

# Manage FVT - Location Base Services - Setup
- name: fvt-manage-lbs-setup
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: lbs-setup-data
    - name: fvt_mas_appws_component
      value: spatial
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-scheduler-scheduling-dashboard
    - fvt-manage-scheduler-dispatching-dashboard

# Manage FVT - Transportation Setup
- name: fvt-manage-transportation-setup
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: tr-setup-data
    - name: fvt_mas_appws_component
      value: transportation
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-scheduler-scheduling-dashboard
    - fvt-manage-scheduler-dispatching-dashboard


# -------------
# USER
# -------------


# Manage FVT - HSE - New User
- name: fvt-manage-hse-user
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: hse-setup-user
    - name: fvt_mas_appws_component
      value: hse
    - name: fvt_test_driver
      value: tpae 
  runAfter:
    - fvt-manage-acm-setup
    - fvt-manage-hse-setup
    - fvt-manage-nuclear-setup
    - fvt-manage-serviceprovider-setup
    - fvt-manage-lbs-setup
    - fvt-manage-transportation-setup

# Manage FVT - Nuclear - New User
- name: fvt-manage-nuclear-user
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: nuc-setup-user
    - name: fvt_mas_appws_component
      value: nuclear
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-acm-setup
    - fvt-manage-hse-setup
    - fvt-manage-nuclear-setup
    - fvt-manage-serviceprovider-setup
    - fvt-manage-lbs-setup
    - fvt-manage-transportation-setup

# Manage FVT - Service Provider - New User
- name: fvt-manage-serviceprovider-user
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: sp-setup-user
    - name: fvt_mas_appws_component
      value: serviceprovider
    - name: fvt_test_driver
      value: tpae      
  runAfter:
    - fvt-manage-acm-setup
    - fvt-manage-hse-setup
    - fvt-manage-nuclear-setup
    - fvt-manage-serviceprovider-setup
    - fvt-manage-lbs-setup
    - fvt-manage-transportation-setup

# Manage FVT - Location Base Services - New User
- name: fvt-manage-lbs-user
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: lbs-setup-user
    - name: fvt_mas_appws_component
      value: spatial
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-acm-setup
    - fvt-manage-hse-setup
    - fvt-manage-nuclear-setup
    - fvt-manage-serviceprovider-setup
    - fvt-manage-lbs-setup
    - fvt-manage-transportation-setup

# Manage FVT - Transportation - New User
- name: fvt-manage-transportation-user
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: tr-setup-user
    - name: fvt_mas_appws_component
      value: transportation
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-acm-setup
    - fvt-manage-hse-setup
    - fvt-manage-nuclear-setup
    - fvt-manage-serviceprovider-setup
    - fvt-manage-lbs-setup
    - fvt-manage-transportation-setup

# -------------
# TESTS
# -------------

# Aviation - FVT
- name: fvt-manage-aviation
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: mfa-1
    - name: fvt_mas_appws_component
      value: aviation
    - name: fvt_test_driver
      value: tpae 
  runAfter:
    - fvt-manage-aviation-setup

# Manage FVT - HSE
- name: fvt-manage-hse
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: hse-1
    - name: fvt_mas_appws_component
      value: hse
    - name: fvt_test_driver
      value: tpae 
  runAfter:
    - fvt-manage-acm-user
    - fvt-manage-hse-user
    - fvt-manage-nuclear-user
    - fvt-manage-serviceprovider-user
    - fvt-manage-lbs-user
    - fvt-manage-transportation-user

# Manage FVT - Nuclear
- name: fvt-manage-nuclear
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: nuc-1
    - name: fvt_mas_appws_component
      value: nuclear
    - name: fvt_test_driver
      value: tpae      
  runAfter:
    - fvt-manage-acm-user
    - fvt-manage-hse-user
    - fvt-manage-nuclear-user
    - fvt-manage-serviceprovider-user
    - fvt-manage-lbs-user
    - fvt-manage-transportation-user

# Manage FVT - Service Provider
- name: fvt-manage-serviceprovider
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: sp-1
    - name: fvt_mas_appws_component
      value: serviceprovider
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-acm-user
    - fvt-manage-hse-user
    - fvt-manage-nuclear-user
    - fvt-manage-serviceprovider-user
    - fvt-manage-lbs-user
    - fvt-manage-transportation-user

# Manage FVT - Spatial
- name: fvt-manage-spatial
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: lbs-spatial-1
    - name: fvt_mas_appws_component
      value: spatial
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-acm-user
    - fvt-manage-hse-user
    - fvt-manage-nuclear-user
    - fvt-manage-serviceprovider-user
    - fvt-manage-lbs-user
    - fvt-manage-transportation-user

# Manage FVT - Utilities
- name: fvt-manage-utilities
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: lbs-utilities-1
    - name: fvt_mas_appws_component
      value: spatial
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-acm-user
    - fvt-manage-hse-user
    - fvt-manage-nuclear-user
    - fvt-manage-serviceprovider-user
    - fvt-manage-lbs-user
    - fvt-manage-transportation-user

# Manage FVT - Linear
- name: fvt-manage-linear
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: lbs-linear-1
    - name: fvt_mas_appws_component
      value: spatial
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-acm-user
    - fvt-manage-hse-user
    - fvt-manage-nuclear-user
    - fvt-manage-serviceprovider-user
    - fvt-manage-lbs-user
    - fvt-manage-transportation-user

# Manage FVT - Transportation
- name: fvt-manage-transportation
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: tr-1
    - name: fvt_mas_appws_component
      value: transportation
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-acm-user
    - fvt-manage-hse-user
    - fvt-manage-nuclear-user
    - fvt-manage-serviceprovider-user
    - fvt-manage-lbs-user
    - fvt-manage-transportation-user
