# ------------------
# HSE - API Tests
# ------------------
- name: fvt-manage-hse-api
  {{ lookup('template', 'taskdefs/fvt-manage/api/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/api/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: hse-api
  runAfter:
    - fvt-manage-setup-is # Tests must always start after fvt-manage-setup-is

# ------------------
# HSE - UI
# ------------------
- name: fvt-manage-hse-ui
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: hse-1
    - name: fvt_mas_appws_component
      value: hse
    - name: fvt_test_driver
      value: tpae 
  runAfter:
    - fvt-manage-setup-is # Tests must always start after fvt-manage-setup-is
