# ------------------
# Maintenance Manager - UI (Setup)
# ------------------
- name: fvt-manage-maintmanager-setup
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: maintmanager-setup-data
    - name: fvt_mas_appws_component
      value: maintmanager
    - name: fvt_test_driver
      value: graphite
  runAfter:
    - fvt-manage-setup-is # Tests must always start after fvt-manage-setup-is

# ------------------
# Maintenance Manager - API Tests
# ------------------
- name: fvt-manage-maintmanager-api
  {{ lookup('template', 'taskdefs/fvt-manage/api/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/api/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: maintmanager-api
  runAfter:
    - fvt-manage-maintmanager-setup

{# # Maintenance Manager - BVT
- name: fvt-manage-maintmanager-bvt
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: maintmanager-bvt
    - name: fvt_mas_appws_component
      value: maintmanager
    - name: fvt_test_driver
      value: graphite
  runAfter:
    - fvt-manage-maintmanager-setup

# Maintenance Manager - FVT
- name: fvt-manage-maintmanager-fvt
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: maintmanager-fvt
    - name: fvt_mas_appws_component
      value: maintmanager
    - name: fvt_test_driver
      value: graphite
  runAfter:
    - fvt-manage-maintmanager-setup #}
