# Minimum Verification Test for Operational Map Test Suites
- name: fvt-manage-operationalmap-api
  {{ lookup('template', 'taskdefs/fvt-manage/api/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/api/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: operationalmap-api
  runAfter:
    - fvt-manage-maintmanager-api
    - fvt-manage-maintmanager-setup
    - fvt-manage-aviation-api  