# Manage FVT - ACM - New User
- name: fvt-manage-acm-user
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: acm-setup-user
    - name: fvt_mas_appws_component
      value: acm
    - name: fvt_test_driver
      value: tpae      
  runAfter:
    - fvt-manage-hse-setup
    - fvt-manage-nuclear-setup
    - fvt-manage-serviceprovider-setup
    - fvt-manage-lbs-setup
    - fvt-manage-transportation-setup
    - fvt-manage-acm-setup

# Manage FVT - HSE - New User
- name: fvt-manage-hse-user
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: hse-setup-user
    - name: fvt_mas_appws_component
      value: hse
    - name: fvt_test_driver
      value: tpae 
  runAfter:
    - fvt-manage-acm-setup
    - fvt-manage-hse-setup
    - fvt-manage-nuclear-setup
    - fvt-manage-serviceprovider-setup
    - fvt-manage-lbs-setup
    - fvt-manage-transportation-setup

# Manage FVT - Nuclear - New User
- name: fvt-manage-nuclear-user
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: nuc-setup-user
    - name: fvt_mas_appws_component
      value: nuclear
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-acm-setup
    - fvt-manage-hse-setup
    - fvt-manage-nuclear-setup
    - fvt-manage-serviceprovider-setup
    - fvt-manage-lbs-setup
    - fvt-manage-transportation-setup

# Manage FVT - Service Provider - New User
- name: fvt-manage-serviceprovider-user
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: sp-setup-user
    - name: fvt_mas_appws_component
      value: serviceprovider
    - name: fvt_test_driver
      value: tpae      
  runAfter:
    - fvt-manage-acm-setup
    - fvt-manage-hse-setup
    - fvt-manage-nuclear-setup
    - fvt-manage-serviceprovider-setup
    - fvt-manage-lbs-setup
    - fvt-manage-transportation-setup

# Manage FVT - Location Base Services - New User
- name: fvt-manage-lbs-user
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: lbs-setup-user
    - name: fvt_mas_appws_component
      value: spatial
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-acm-setup
    - fvt-manage-hse-setup
    - fvt-manage-nuclear-setup
    - fvt-manage-serviceprovider-setup
    - fvt-manage-lbs-setup
    - fvt-manage-transportation-setup

# Manage FVT - Transportation - New User
- name: fvt-manage-transportation-user
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: tr-setup-user
    - name: fvt_mas_appws_component
      value: transportation
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-acm-setup
    - fvt-manage-hse-setup
    - fvt-manage-nuclear-setup
    - fvt-manage-serviceprovider-setup
    - fvt-manage-lbs-setup
    - fvt-manage-transportation-setup
