# -----------------------------------------------------------------------------
# PHASE 3
# - fvt-manage-nuclear-api             # Nuclear
# - fvt-manage-nuclear-ui              # Nuclear
# - fvt-manage-transportation-api      # Transportation
# - fvt-manage-transportation-ui       # Transportation
# - fvt-manage-lbs-api                 # LBS
# - fvt-manage-lbs-spatial-ui          # LBS
# - fvt-manage-lbs-utilities-ui      # LBS
# - fvt-manage-lbs-linear-ui       # LBS
# -----------------------------------------------------------------------------


# Nuclear
# -----------------------------------------------------------------------------
# Nuclear - API Tests
- name: fvt-manage-nuclear-api
  {{ lookup('template', 'taskdefs/fvt-manage/api/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/api/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: nuclear-api
  when:
    - input: "nuclear"
      operator: in
      values: ["$(tasks.fvt-component.results.component_names[*])"]
  runAfter:
    - fvt-manage-acm-api
    - fvt-manage-acm-ui
    - fvt-manage-hse-api
    - fvt-manage-hse-ui
    - fvt-manage-serviceprovider-api
    - fvt-manage-serviceprovider-ui

# Nuclear - UI
- name: fvt-manage-nuclear-ui
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: nuclear-ui-bvt
    - name: fvt_mas_appws_component
      value: nuclear
    - name: fvt_test_driver
      value: tpae
  when:
    - input: "nuclear"
      operator: in
      values: ["$(tasks.fvt-component.results.component_names[*])"]
  runAfter:
    - fvt-manage-acm-api
    - fvt-manage-acm-ui
    - fvt-manage-hse-api
    - fvt-manage-hse-ui
    - fvt-manage-serviceprovider-api
    - fvt-manage-serviceprovider-ui


# Transportation
# -----------------------------------------------------------------------------
# Transportation - API Tests
- name: fvt-manage-transportation-api
  {{ lookup('template', 'taskdefs/fvt-manage/api/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/api/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: transportation-api
  when:
    - input: "transportation"
      operator: in
      values: ["$(tasks.fvt-component.results.component_names[*])"]
  runAfter:
    - fvt-manage-acm-api
    - fvt-manage-acm-ui
    - fvt-manage-hse-api
    - fvt-manage-hse-ui
    - fvt-manage-serviceprovider-api
    - fvt-manage-serviceprovider-ui

# Transportation - UI
- name: fvt-manage-transportation-ui
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: transportation-ui-bvt
    - name: fvt_mas_appws_component
      value: transportation
    - name: fvt_test_driver
      value: tpae
  when:
    - input: "transportation"
      operator: in
      values: ["$(tasks.fvt-component.results.component_names[*])"]
  runAfter:
    - fvt-manage-acm-api
    - fvt-manage-acm-ui
    - fvt-manage-hse-api
    - fvt-manage-hse-ui
    - fvt-manage-serviceprovider-api
    - fvt-manage-serviceprovider-ui


# LBS
# -----------------------------------------------------------------------------
# LBS - API Tests
- name: fvt-manage-lbs-api
  {{ lookup('template', 'taskdefs/fvt-manage/api/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/api/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: lbs-api
  when:
    - input: "spatial"
      operator: in
      values: ["$(tasks.fvt-component.results.component_names[*])"]
  runAfter:
    - fvt-manage-acm-api
    - fvt-manage-acm-ui
    - fvt-manage-hse-api
    - fvt-manage-hse-ui
    - fvt-manage-serviceprovider-api
    - fvt-manage-serviceprovider-ui

# LBS - Spatial
- name: fvt-manage-lbs-spatial-ui
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: lbs-spatial-ui-setup
    - name: fvt_mas_appws_component
      value: spatial
    - name: fvt_test_driver
      value: tpae
  when:
    - input: "spatial"
      operator: in
      values: ["$(tasks.fvt-component.results.component_names[*])"]
  runAfter:
    - fvt-manage-acm-api
    - fvt-manage-acm-ui
    - fvt-manage-hse-api
    - fvt-manage-hse-ui
    - fvt-manage-serviceprovider-api
    - fvt-manage-serviceprovider-ui

# LBS - Utilities
- name: fvt-manage-lbs-utilities-ui
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: lbs-utilities-ui-setup
    - name: fvt_mas_appws_component
      value: spatial
    - name: fvt_test_driver
      value: tpae
  when:
    - input: "spatial"
      operator: in
      values: ["$(tasks.fvt-component.results.component_names[*])"]
  runAfter:
    - fvt-manage-lbs-spatial-ui

# LBS - Linear
- name: fvt-manage-lbs-linear-ui
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: lbs-linear-ui-setup
    - name: fvt_mas_appws_component
      value: spatial
    - name: fvt_test_driver
      value: tpae
  when:
    - input: "spatial"
      operator: in
      values: ["$(tasks.fvt-component.results.component_names[*])"]
  runAfter:
    - fvt-manage-lbs-utilities-ui

# LBS - Run "cypress/manage/spatial-ui-maps/indoorsValidation.cy.js"
- name: fvt-manage-spatial-maps
  {{ lookup('template', 'taskdefs/fvt-manage/ui-cypress/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui-cypress/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: spatial-ui-maps
    - name: fvt_config_file
      value: configs/lbs-cypress.config.js
  when:
    - input: "$(params.fvt_digest_manage_cypress)"
      operator: notin
      values: [""]
    - input: "$(params.mas_app_channel_manage)"
      operator: notin
      values: [""]
    - input: "spatial"
      operator: in
      values: ["$(tasks.fvt-component.results.component_names[*])"]
  runAfter:
    - fvt-manage-lbs-linear-ui