# ------------------
# LBS - API Tests
# ------------------
- name: fvt-manage-lbs-api
  {{ lookup('template', 'taskdefs/fvt-manage/api/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/api/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: lbs-api
  runAfter:
    - fvt-manage-setup-is # Tests must always start after fvt-manage-setup-is

# ------------------
# LBS - UI
# ------------------

# Manage FVT - Spatial
- name: fvt-manage-lbs-spatial-ui
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: lbs-spatial-1
    - name: fvt_mas_appws_component
      value: spatial
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-setup-is

# Manage FVT - Utilities
- name: fvt-manage-lbs-utilities-ui
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: lbs-utilities-1
    - name: fvt_mas_appws_component
      value: spatial
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-lbs-spatial-ui

# Manage FVT - Linear
- name: fvt-manage-lbs-linear-ui
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: lbs-linear-1
    - name: fvt_mas_appws_component
      value: spatial
    - name: fvt_test_driver
      value: tpae
  runAfter:
    - fvt-manage-lbs-utilities-ui
