# Why are these suites disruptive?
# - smtp: only test_smtpcfg is disruptive - deletes and recreates SMTPCfg multiple times
# - trustcas: changes Suite config and verifies using SCIM whether defult CAs are included (or not) in the truststore
# - adoptionusagemetering: I can't see anything disruptive happening in this suite at all !?
# - coreidp-ldap: reconfigures MAS IDP multiple times
# - coreidp-saml: reconfigures MAS IDP multiple times
# - coreidp-saml-ui: ??
# - coreidp-ssoconfig: ??
# - licensingapi: ??
# - operatormaturity: non-disruptive, we just want it to be the last thing that runs

# 1. smtp
# -------------------------------------------------------------------------
- name: smtp
  {{ lookup('template', 'taskdefs/fvt-core/common/taskref.yml.j2') | indent(2) }}
  params:
    - name: fvt_test_suite
      value: smtp
    {{ lookup('template', 'taskdefs/fvt-core/common/params.yml.j2') | indent(4) }}
  runAfter: {{ runAfter }}

# 2. core-trustcas
# -------------------------------------------------------------------------
- name: core-trustcas
  {{ lookup('template', 'taskdefs/fvt-core/common/taskref.yml.j2') | indent(2) }}
  params:
    - name: fvt_test_suite
      value: core-trustcas
    {{ lookup('template', 'taskdefs/fvt-core/common/params.yml.j2') | indent(4) }}
  runAfter: {{ runAfter }}

# 3. adoptionusagemetering
# -------------------------------------------------------------------------
- name: adoptionusagemetering
  {{ lookup('template', 'taskdefs/fvt-core/common/taskref.yml.j2') | indent(2) }}
  params:
    - name: fvt_test_suite
      value: adoptionusagemetering
    {{ lookup('template', 'taskdefs/fvt-core/common/params.yml.j2') | indent(4) }}
  runAfter: {{ runAfter }}

# authservice ~3m
# -----------------------------------------------------------------------------
- name: authservice
  {{ lookup('template', 'taskdefs/fvt-core/common/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-core/common/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: authservice
  runAfter:
    - smtp
    - core-trustcas
    - adoptionusagemetering

# 4. coreidp-ldap
# -------------------------------------------------------------------------
- name: coreidp-ldap
  {{ lookup('template', 'taskdefs/fvt-core/common/taskref.yml.j2') | indent(2) }}
  params:
    - name: fvt_test_suite
      value: coreidp-ldap
    {{ lookup('template', 'taskdefs/fvt-core/common/params.yml.j2') | indent(4) }}
  runAfter:
    - authservice

# 5. coreidp-saml
# -------------------------------------------------------------------------
- name: coreidp-saml
  {{ lookup('template', 'taskdefs/fvt-core/common/taskref.yml.j2') | indent(2) }}
  params:
    - name: fvt_test_suite
      value: coreidp-saml
    {{ lookup('template', 'taskdefs/fvt-core/common/params.yml.j2') | indent(4) }}
  runAfter:
    - coreidp-ldap

# 6. coreidp-saml-ui
# -------------------------------------------------------------------------
- name: coreidp-saml-ui
  {{ lookup('template', 'taskdefs/fvt-core/common/taskref.yml.j2') | indent(2) }}
  params:
    - name: fvt_test_suite
      value: coreidp-saml-ui
    {{ lookup('template', 'taskdefs/fvt-core/common/params.yml.j2') | indent(4) }}
  runAfter:
    - coreidp-saml

# 7. coreidp-ssoconfig
# -------------------------------------------------------------------------
- name: coreidp-ssoconfig
  {{ lookup('template', 'taskdefs/fvt-core/common/taskref.yml.j2') | indent(2) }}
  params:
    - name: fvt_test_suite
      value: coreidp-ssoconfig
    {{ lookup('template', 'taskdefs/fvt-core/common/params.yml.j2') | indent(4) }}
  runAfter:
    - coreidp-saml-ui

# 8. licensingapi
# -------------------------------------------------------------------------
- name: licensingapi
  {{ lookup('template', 'taskdefs/fvt-core/common/taskref.yml.j2') | indent(2) }}
  params:
    - name: fvt_test_suite
      value: licensingapi
    {{ lookup('template', 'taskdefs/fvt-core/common/params.yml.j2') | indent(4) }}
  runAfter:
    - coreidp-ssoconfig

# 9. operatormaturity
# -------------------------------------------------------------------------
- name: operatormaturity
  {{ lookup('template', 'taskdefs/fvt-core/common/taskref.yml.j2') | indent(2) }}
  params:
    - name: fvt_test_suite
      value: operatormaturity
    {{ lookup('template', 'taskdefs/fvt-core/common/params.yml.j2') | indent(4) }}
  runAfter:
    - licensingapi
  workspaces:
    - name: configs
      workspace: shared-configs
    - name: pod-templates
      workspace: shared-pod-templates
