# Why are these suites disruptive?
# - smtp: only test_smtpcfg is disruptive - deletes and recreates SMTPCfg multiple times
# - trustcas: changes Suite config and verifies using SCIM whether defult CAs are included (or not) in the truststore
# - adoptionusagemetering: I can't see anything disruptive happening in this suite at all !?
# - coreidp-ldap: reconfigures MAS IDP multiple times
# - coreidp-saml: reconfigures MAS IDP multiple times
# - coreidp-saml-ui: ??
# - coreidp-ssoconfig: ??
# - licensingapi: ??
# - operatormaturity: non-disruptive, we just want it to be the last thing that runs


# authservice ~3m
# -----------------------------------------------------------------------------
- name: authservice
  {{ lookup('template', 'taskdefs/fvt-core/common/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-core/common/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: authservice
  runAfter: {{ runAfter }}

# 9. operatormaturity
# -------------------------------------------------------------------------
- name: operatormaturity
  {{ lookup('template', 'taskdefs/fvt-core/common/taskref.yml.j2') | indent(2) }}
  params:
    - name: fvt_test_suite
      value: operatormaturity
    {{ lookup('template', 'taskdefs/fvt-core/common/params.yml.j2') | indent(4) }}
  runAfter:
    - authservice
  workspaces:
    - name: configs
      workspace: shared-configs
    - name: pod-templates
      workspace: shared-pod-templates
