{% include 'common-config.yaml.j2' %}

ibm-mas-workspace:
  mas_instance_id: {{ MAS_INSTANCE_ID }}
  mas_workspace_id: {{ MAS_WORKSPACE_ID }}
  mas_workspace_name: {{ MAS_WORKSPACE_NAME }}

tags:
  ibm-mas-workspace: true

