



- name: mobile-pytest-requests
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref-pytest.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params-pytest.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: mobile-api-requests
  runAfter:
    - mobile-pytest-tech
    - mobile-pytest-supervisor
    - mobile-pytest-location
    - mobile-pytest-crew
    - mobile-pytest-materialrequest
