---
apiVersion: v1
kind: Secret
metadata:
  name: openshift-gitops-vault
  namespace: openshift-gitops
{%- if CUSTOM_LABELS is defined and CUSTOM_LABELS !='' %}
  labels:
    {{ CUSTOM_LABELS | indent(4) }}
{%- endif %}
stringData:
  vault.yml: |
    AVP_IBM_INSTANCE_URL: {{ AVP_INSTANCE_URL }}
    AVP_TYPE: ibmsecretsmanager
    AVP_IBM_API_KEY: {{ IBMCLOUD_APIKEY }}
