---
apiVersion: v1
kind: Secret
metadata:
  name: openshift-gitops-vault
  namespace: openshift-gitops
stringData:
  vault.yml: |
    AVP_IBM_INSTANCE_URL: {{ AVP_INSTANCE_URL }}
    AVP_TYPE: ibmsecretsmanager
    AVP_IBM_API_KEY: {{ IBMCLOUD_APIKEY }}
