---
kind: Secret
apiVersion: v1
metadata:
  name: ghe-pat-secret
  namespace: openshift-gitops
  labels:
    argocd.argoproj.io/secret-type: repository
{%- if CUSTOM_LABELS is defined and CUSTOM_LABELS !='' %}
  labels:
    {{ CUSTOM_LABELS | indent(4) }}
{%- endif %}
stringData:
  password: {{ APP_REPO_PAT }}
  url: {{ APP_REPO_URL }}
  username: not-used
type: Opaque
