---
kind: Secret
apiVersion: v1
metadata:
  name: ghe-pat-secret
  namespace: openshift-gitops
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  password: {{ APP_WATCHER_REPO_PAT }}
  url: {{ APP_WATCHER_REPO_URL }}
  username: not-used
type: Opaque
