---
apiVersion: v1
kind: Secret
metadata:
  name: openshift-gitops-vault
  namespace: openshift-gitops
stringData:
  vault.yml: |
    AVP_TYPE: awssecretsmanager
    AWS_REGION: {{ AVP_AWS_SECRET_REGION }}
    AWS_ACCESS_KEY_ID: {{ AVP_AWS_ACCESS_KEY }}
    AWS_SECRET_ACCESS_KEY: {{ AVP_AWS_SECRET_KEY }}
