---
apiVersion: v1
kind: Secret
metadata:
  name: {{ ARGOCLUSTER_NAMESPACE }}-vault
  namespace: {{ ARGOCLUSTER_NAMESPACE }}
stringData:
  vault.yml: |
    AVP_TYPE: awssecretsmanager
    AWS_REGION: {{ SM_AWS_REGION }}
    AWS_ACCESS_KEY_ID: {{ SM_AWS_ACCESS_KEY_ID }}
    AWS_SECRET_ACCESS_KEY: {{ SM_AWS_SECRET_ACCESS_KEY }}
