---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-launchfvt-iot
spec:
  params:
    # Control the image pull policy for the FVT container image
    - name: image_pull_policy
      type: string
      default: IfNotPresent

    - name: pipelinerun_name
      type: string

  steps:
    - name: start-pipelinerun
      image: quay.io/ibmmas/cli:latest
      imagePullPolicy: $(params.image_pull_policy)
      command:
        - ansible-playbook
        - /masfvt/fvt-iot.yml
      env:
        - name: IMAGE_PULL_POLICY
          value: $(params.image_pull_policy)
        - name: PIPELINERUN_NAME
          value: $(params.pipelinerun_name)
        - name: PIPELINERUN_NAMESPACE
          value: $(context.taskRun.namespace)

        # Lookups from mas-devops
        # -----------------------------------------------------------------------
        - name: DEVOPS_BUILD_NUMBER
          valueFrom:
            secretKeyRef:
              name: mas-devops
              key: DEVOPS_BUILD_NUMBER
              optional: true
        - name: MAS_INSTANCE_ID
          valueFrom:
            secretKeyRef:
              name: mas-devops
              key: MAS_INSTANCE_ID
              optional: false

        # Lookups from mas-fvt
        # -----------------------------------------------------------------------
        - name: FVT_IMAGE_REGISTRY
          valueFrom:
            secretKeyRef:
              name: mas-fvt
              key: FVT_IMAGE_REGISTRY
              optional: false
        - name: FVT_ARTIFACTORY_USERNAME
          valueFrom:
            secretKeyRef:
              name: mas-fvt
              key: FVT_ARTIFACTORY_USERNAME
              optional: false
        - name: FVT_ARTIFACTORY_TOKEN
          valueFrom:
            secretKeyRef:
              name: mas-fvt
              key: FVT_ARTIFACTORY_TOKEN
              optional: false

        # Lookups from mas-fvt-iot
        # -----------------------------------------------------------------------
        # Framework Information
        - name: MAS_APP_CHANNEL_IOT
          valueFrom:
            secretKeyRef:
              name: mas-fvt-iot
              key: MAS_APP_CHANNEL_IOT
              optional: false
        - name: MAS_WORKSPACE_ID
          valueFrom:
            secretKeyRef:
              name: mas-fvt-iot
              key: MAS_WORKSPACE_ID
              optional: false
        # Digests
        - name: FVT_DIGEST_IOT
          valueFrom:
            secretKeyRef:
              name: mas-fvt-iot
              key: FVT_DIGEST_IOT
              optional: false
        - name: IVT_DIGEST_CORE
          valueFrom:
            secretKeyRef:
              name: mas-fvt-assist
              key: IVT_DIGEST_CORE
              optional: false

    - name: wait-for-pipelinerun
      image: quay.io/ibmmas/cli:latest
      imagePullPolicy: $(params.image_pull_policy)
      # 15 retries at 5 minute intervals = just over 1 hour
      command:
        - /opt/app-root/src/wait-for-tekton.sh
      env:
        - name: TYPE
          value: pipelinerun
        - name: NAME
          value: $(params.pipelinerun_name)
        - name: NAMESPACE
          value: $(context.taskRun.namespace)
        - name: DELAY
          value: "300"
        - name: MAX_RETRIES
          value: "15"
        - name: IGNORE_FAILURE
          value: "True"

