# Manage FVT - Civil Infrastructure Selenium - Setup
- name: fvt-manage-civil-selenium-setup
  {{ lookup('template', 'taskdefs/fvt-manage-is/ui/taskref-civil.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage-is/ui/params-civil.yml.j2') | indent(4) }}
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-civil-selenium
    - name: fvt_image_digest
      value: $(params.fvt_digest_manage_civil_selenium)
    - name: fvt_test_suite
      value: civil-setup-data

# Manage FVT - Civil Infrastructure Selenium - New User
- name: fvt-manage-civil-selenium-user
  {{ lookup('template', 'taskdefs/fvt-manage-is/ui/taskref-civil.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage-is/ui/params-civil.yml.j2') | indent(4) }}
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-civil-selenium
    - name: fvt_image_digest
      value: $(params.fvt_digest_manage_civil_selenium)
    - name: fvt_test_suite
      value: civil-setup-user
  runAfter:
    - fvt-manage-civil-selenium-setup

# Manage FVT - Civil Infrastructure Selenium
- name: fvt-manage-civil-selenium
  {{ lookup('template', 'taskdefs/fvt-manage-is/ui/taskref-civil.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage-is/ui/params-civil.yml.j2') | indent(4) }}
    - name: fvt_image_name
      value: fvt-ibm-mas-manage-civil-selenium
    - name: fvt_image_digest
      value: $(params.fvt_digest_manage_civil_selenium)
    - name: fvt_test_suite
      value: civil-bvt
  runAfter:
    - fvt-manage-civil-selenium-user
