- name: git_branch
  value: $(params.git_branch)
- name: github_org
  value: $(params.github_org)
- name: github_repo
  value: $(params.github_repo)
- name: github_host
  value: $(params.github_host)
- name: git_commit_msg
  value: $(params.git_commit_msg)