- name: cluster_name
  value: $(params.cluster_name)
- name: cluster_url
  value: $(params.cluster_url)
- name: region
  value: $(params.region)
- name: argocd_url
  value: $(params.argocd_url)
- name: account
  value: $(params.account)
- name: argocd_check
  value: $(params.argocd_check)
