- name: secrets_path
  value: $(params.secrets_path)
- name: avp_aws_secret_region
  value: $(params.avp_aws_secret_region)
- name: avp_aws_secret_key
  value: $(params.avp_aws_secret_key)
- name: avp_aws_access_key
  value: $(params.avp_aws_access_key)