- name: gencfg-workspace
  params:
    {{ lookup('template', 'taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: gencfg-workspace

    - name: mas_workspace_id
      value: $(params.mas_workspace_id)
    - name: mas_workspace_name
      value: $(params.mas_workspace_name)
  taskRef:
    kind: Task
    name: mas-devops-gencfg-workspace
  workspaces:
    - name: configs
      workspace: shared-configs