---
# Don't edit install.yaml directly -- modify install.yaml.j2, and the content in parts/, then run "ansible-playbook generate-install.yaml"
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: mas-fvt-core
spec:
  workspaces:
    # The generated configuration files
    - name: shared-configs

  params:
    # 1. Installation
    # -------------------------------------------------------------------------
    {{ lookup('template', 'params/install.yml.j2') | indent(4) }}


    # 2. Additional Params for FVT
    # -------------------------------------------------------------------------
    {{ lookup('template', 'params/fvt.yml.j2') | indent(4) }}


  tasks:
    # Content
    # -------
    # 1. MAS Core FVT

    # 1. MAS Core FVT
    # -------------------------------------------------------------------------
    # 1.1 Phase 1 of CoreAPI testing (~35m)
    {{ lookup('template', 'taskdefs/fvt-core/phase1.yml.j2') | indent(4) }}

    # 1.2 Phase 2 of CoreAPI testing (~10m)
    {{ lookup('template', 'taskdefs/fvt-core/phase2.yml.j2') | indent(4) }}

    # 1.3 Adoptionusage Metering test suite (~30m)
    {{ lookup('template', 'taskdefs/fvt-core/phase3.yml.j2') | indent(4) }}

    # 1.4 Miscellaneous test suites (~10m)
    {{ lookup('template', 'taskdefs/fvt-core/phase4.yml.j2') | indent(4) }}

    # 1.5 Single-threaded suites
    {{ lookup('template', 'taskdefs/fvt-core/phase5.yml.j2') | indent(4) }}
