---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: mas-upgrade-test
spec:
  params:

    {{ lookup('template', 'pipelines/params/upgrade-test/params.yml.j2') | indent(4) }}
  
  tasks:

    # Install
    - name: install
      params:
        - name: pipelinerun_template_file_name
          value: install
        - name: fvt_image_registry
          value: $(params.fvt_image_registry)

        {{ lookup('template', 'taskdefs/run-pipeline/install.yml.j2') | indent(8) }}

      taskRef:
        kind: Task
        name: mas-install-run-pipeline
    
    # FVT
    - name: test-before
      params:
        - name: pipelinerun_template_file_name
          value: fvt
        - name: devops_mongo_uri
          value: $(params.devops_mongo_uri)
        - name: devops_build_number
          value: $(params.devops_build_number)
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mas_channel
          value: $(params.source_mas_channel)
        - name: mas_workspace_id
          value: $(params.mas_workspace_id)

        {{ lookup('template', 'taskdefs/run-pipeline/fvt.yml.j2') | indent(8) }}

      taskRef:
        kind: Task
        name: mas-fvt-run-pipeline
      runAfter:
        - install
    
    # Upgrade
    - name: upgrade
      params:
        - name: pipelinerun_template_file_name
          value: upgrade
        - name: fvt_image_registry
          value: $(params.fvt_image_registry)
        
        {{ lookup('template', 'taskdefs/run-pipeline/upgrade.yml.j2') | indent(8) }}

      taskRef:
        kind: Task
        name: mas-upgrade-run-pipeline
      runAfter:
        - test-before
    
    # FVT
    - name: test-after
      params:
        - name: pipelinerun_template_file_name
          value: fvt
        - name: devops_mongo_uri
          value: $(params.devops_mongo_uri)
        - name: devops_build_number
          value: $(params.devops_build_number)
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mas_channel
          value: $(params.target_mas_channel)
        - name: mas_workspace_id
          value: $(params.mas_workspace_id)

        {{ lookup('template', 'taskdefs/run-pipeline/fvt.yml.j2') | indent(8) }}

      taskRef:
        kind: Task
        name: mas-fvt-run-pipeline
      runAfter:
        - upgrade
