- name: app-cfg-manage
  params:
    - name: devops_suite_name
      value: app-manage-cfg
    - name: devops_build_number
      value: $(params.devops_build_number)
    - name: devops_mongo_uri
      value: $(params.devops_mongo_uri)

    - name: mas_instance_id
      value: $(params.mas_instance_id)
    - name: mas_app_id
      value: manage
    - name: mas_workspace_id
      value: "$(params.mas_workspace_id)"

    - name: mas_appws_components
      value: "$(params.mas_appws_components)"
    - name: mas_app_settings_aio_flag
      value: $(params.mas_app_settings_aio_flag)
    - name: mas_app_settings_demodata
      value: $(params.mas_app_settings_demodata)
  taskRef:
    name: mas-devops-suite-app-config
    kind: Task
  # Only install Manage if a channel has been chosen
  when:
    - input: "$(params.mas_app_channel_manage)"
      operator: notin
      values: [""]
  workspaces:
    - name: configs
      workspace: shared-configs