---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-ocp-deprovision
spec:
  params:
    {{ lookup('template', task_src_dir ~ '/common/cli-params.yml.j2') | indent(4) }}

    # Cluster Details
    - name: cluster_name
      type: string
    - name: cluster_type
      type: string
      default: roks

    # ROKS Support
    - name: ibmcloud_apikey
      type: string
      default: ""

  stepTemplate:
    env:
      {{ lookup('template', task_src_dir ~ '/common/cli-env.yml.j2') | indent(6) }}

      # Cluster Details
      - name: CLUSTER_NAME
        value: $(params.cluster_name)
      - name: CLUSTER_TYPE
        value: $(params.cluster_type)

      # ROKS Support
      - name: IBMCLOUD_APIKEY
        value: $(params.ibmcloud_apikey)

  steps:
    - name: ocp-deprovision
      command:
        - /opt/app-root/src/run-role.sh
        - ocp_deprovision
      image: quay.io/ibmmas/cli:latest
      imagePullPolicy: $(params.image_pull_policy)
