---
apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: "{{mas_instance_id}}-uninstall-{{ timestamp }}"
  labels:
    tekton.dev/pipeline: mas-uninstall
spec:
  pipelineRef:
    name: mas-uninstall

  serviceAccountName: pipeline
  timeouts:
    pipeline: "5h"

  params:
    - name: mas_instance_id
      value: {{ mas_instance_id }}
    - name: grafana_action
      value: {{ grafana_action }}
    - name: cert_manager_provider
      value: {{ cert_manager_provider }}
    - name: cert_manager_action
      value: {{ cert_manager_action }}
    - name: common_services_action
      value: {{ common_services_action }}
    - name: ibm_catalogs_action
      value: {{ ibm_catalogs_action }}
    - name: mongodb_action
      value: {{ mongodb_action }}
    - name: sls_action
      value: {{ sls_action }}
    - name: uds_action
      value: {{ uds_action }}
