- name: aiservice-tenant
  timeout: "0"
  params:
    {{ lookup('template', 'taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: aibroker
    - name: mas_instance_id
      value: $(params.aiservice_instance_id)
    - name: mas_app_id
      value: aibroker
    - name: artifactory_username
      value: $(params.artifactory_username)
    - name: artifactory_token
      value: $(params.artifactory_token)
    - name: mas_app_channel
      value: "$(params.mas_app_channel_aibroker)"
    - name: ibm_entitlement_key
      value: $(params.ibm_entitlement_key)
    - name: custom_labels
      value: $(params.custom_labels)
    - name: aiservice_storage_provider
      value: $(params.aiservice_storage_provider)
    - name: aiservice_storage_accesskey
      value: $(params.aiservice_storage_accesskey)
    - name: aiservice_storage_secretkey
      value: $(params.aiservice_storage_secretkey)
    - name: aiservice_storage_host
      value: $(params.aiservice_storage_host)
    - name: aiservice_storage_port
      value: $(params.aiservice_storage_port)
    - name: aiservice_storage_ssl
      value: $(params.aiservice_storage_ssl)
    - name: aiservice_storage_region
      value: $(params.aiservice_storage_region)
    - name: aiservice_storage_pipelines_bucket
      value: $(params.aiservice_storage_pipelines_bucket)
    - name: aiservice_storage_tenants_bucket
      value: $(params.aiservice_storage_tenants_bucket)
    - name: aiservice_storage_templates_bucket
      value: $(params.aiservice_storage_templates_bucket)
    - name: aiservice_watsonxai_apikey
      value: $(params.aiservice_watsonxai_apikey)
    - name: aiservice_watsonxai_url
      value: $(params.aiservice_watsonxai_url)
    - name: aiservice_watsonxai_project_id
      value: $(params.aiservice_watsonxai_project_id)
    - name: aiservice_watsonx_action
      value: $(params.aiservice_watsonx_action)
    - name: aiservice_s3_action
      value: $(params.aiservice_s3_action)
    - name: aiservice_apikey_action
      value: $(params.aiservice_apikey_action)
    - name: aiservice_tenant_name
      value: $(params.aiservice_tenant_name)
    - name: tenant_entitlement_type
      value: $(params.tenant_entitlement_type)
    - name: tenant_entitlement_start_date
      value: $(params.tenant_entitlement_start_date)
    - name: tenant_entitlement_end_date
      value: $(params.tenant_entitlement_end_date)
    - name: mas_icr_cp
      value: $(params.mas_icr_cp)
    - name: mas_icr_cpopen
      value: $(params.mas_icr_cpopen)
    - name: aiservice_tenant_s3_bucket_prefix
      value: $(params.aiservice_tenant_s3_bucket_prefix)
    - name: aiservice_tenant_s3_region
      value: $(params.aiservice_tenant_s3_region)
    - name: aiservice_tenant_s3_endpoint_url
      value: $(params.aiservice_tenant_s3_endpoint_url)
    - name: aiservice_tenant_s3_access_key
      value: $(params.aiservice_tenant_s3_access_key)
    - name: aiservice_tenant_s3_secret_key
      value: $(params.aiservice_tenant_s3_secret_key)
    - name: rsl_url
      value: $(params.rsl_url)
    - name: rsl_org_id
      value: $(params.rsl_org_id)
    - name: rsl_token
      value: $(params.rsl_token)
    - name: aiservice_dro_secret_name
      value: $(params.aiservice_dro_secret_name)
    - name: aiservice_dro_api_key
      value: $(params.aiservice_dro_api_key)
    - name: aiservice_dro_url
      value: $(params.aiservice_dro_url)
    - name: aiservice_dro_ca_cert
      value: $(params.aiservice_dro_ca_cert)
    - name: aiservice_db2_username
      value: $(params.aiservice_db2_username)
    - name: aiservice_db2_password
      value: $(params.aiservice_db2_password)
    - name: aiservice_db2_jdbc_url
      value: $(params.aiservice_db2_jdbc_url)
    - name: aiservice_db2_ssl_enabled
      value: $(params.aiservice_db2_ssl_enabled)
    - name: aiservice_db2_ca_cert
      value: $(params.aiservice_db2_ca_cert)
    - name: aiservice_sls_secret_name
      value: $(params.aiservice_sls_secret_name)
    - name: aiservice_sls_registration_key
      value: $(params.aiservice_sls_registration_key)
    - name: aiservice_sls_url
      value: $(params.aiservice_sls_url)
    - name: aiservice_sls_ca_cert
      value: $(params.aiservice_sls_ca_cert)
    - name: environment_type
      value: $(params.environment_type)

  taskRef:
    name: mas-devops-aiservice-tenant
    kind: Task
  when:
    - input: "$(params.mas_app_channel_aibroker)"
      operator: notin
      values: [""]
    - input: "$(params.mas_app_channel_aibroker)"
      operator: notin
      values: ["9.0.x"]
  workspaces:
    - name: configs
      workspace: shared-configs