- name: aiservice
  timeout: "0"
  params:
    {{ lookup('template', 'taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: aiservice

    - name: artifactory_username
      value: $(params.artifactory_username)
    - name: artifactory_token
      value: $(params.artifactory_token)

    - name: ibm_entitlement_key
      value: $(params.ibm_entitlement_key)

    - name: custom_labels
      value: $(params.custom_labels)

    - name: aiservice_instance_id
      value: $(params.aiservice_instance_id)
    - name: aiservice_channel
      value: "$(params.aiservice_channel)"

    - name: aiservice_s3_accesskey
      value: $(params.aiservice_s3_accesskey)
    - name: aiservice_s3_secretkey
      value: $(params.aiservice_s3_secretkey)
    - name: aiservice_s3_host
      value: $(params.aiservice_s3_host)
    - name: aiservice_s3_port
      value: $(params.aiservice_s3_port)
    - name: aiservice_s3_ssl
      value: $(params.aiservice_s3_ssl)
    - name: aiservice_s3_region
      value: $(params.aiservice_s3_region)
    - name: aiservice_s3_bucket_prefix
      value: $(params.aiservice_s3_bucket_prefix)
    - name: aiservice_s3_tenants_bucket
      value: $(params.aiservice_s3_tenants_bucket)
    - name: aiservice_s3_templates_bucket
      value: $(params.aiservice_s3_templates_bucket)

    - name: aiservice_watsonxai_apikey
      value: $(params.aiservice_watsonxai_apikey)
    - name: aiservice_watsonxai_url
      value: $(params.aiservice_watsonxai_url)
    - name: aiservice_watsonxai_project_id
      value: $(params.aiservice_watsonxai_project_id)
    - name: aiservice_watsonxai_deployment_id
      value: $(params.aiservice_watsonxai_deployment_id)
    - name: aiservice_watsonxai_space_id
      value: $(params.aiservice_watsonxai_space_id)
    - name: aiservice_watsonx_action
      value: $(params.aiservice_watsonx_action)
    - name: aiservice_watsonxai_ca_crt
      value: $(params.aiservice_watsonxai_ca_crt)
    - name: aiservice_watsonxai_instance_id
      value: $(params.aiservice_watsonxai_instance_id)
    - name: aiservice_watsonxai_username
      value: $(params.aiservice_watsonxai_username)
    - name: aiservice_watsonxai_version
      value: $(params.aiservice_watsonxai_version)
    - name: aiservice_watsonxai_on_prem
      value: $(params.aiservice_watsonxai_on_prem)
    - name: aiservice_watsonxai_verify
      value: $(params.aiservice_watsonxai_verify)

    - name: tenant_entitlement_type
      value: $(params.tenant_entitlement_type)
    - name: tenant_entitlement_start_date
      value: $(params.tenant_entitlement_start_date)
    - name: tenant_entitlement_end_date
      value: $(params.tenant_entitlement_end_date)

    - name: rsl_url
      value: $(params.rsl_url)
    - name: rsl_org_id
      value: $(params.rsl_org_id)
    - name: rsl_token
      value: $(params.rsl_token)
      
    - name: mas_icr_cp
      value: $(params.mas_icr_cp)
    - name: mas_icr_cpopen
      value: $(params.mas_icr_cpopen)

    - name: environment_type
      value: $(params.environment_type)

  taskRef:
    name: mas-devops-aiservice
    kind: Task
  when:
    - input: "$(params.aiservice_channel)"
      operator: notin
      values: [""]
  workspaces:
    - name: configs
      workspace: shared-configs
