- name: aiservice-post-verify
  timeout: "0"
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: aiservice-post-verify

    - name: aiservice_instance_id
      value: $(params.aiservice_instance_id)

  taskRef:
    name: aiservice-post-verify
    kind: Task
  # Only install aibroker if a channel has been chosen
  when:
    - input: "$(params.aiservice_channel)"
      operator: notin
      values: [""]
