
# A more elaborated test of user sync has been added in Manage and, like coreivt, must run before
# any FVT starts. That is the phase 0.

# -------------------------------------------------------------
# PHASE 0
# - fvt-manage-usersync (pytest)
# -------------------------------------------------------------
# Manage FVT User Sync
- name: fvt-manage-usersync
  {{ lookup('template', 'taskdefs/fvt-manage/api/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/api/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: core
    - name: fvt_test_suite
      value: usersync
  runAfter:
    - ivtcore-manage
