# -------------------------------------------------------------
# PHASE 2
# - fvt-manage-base-api-system (pytest)
# - fvt-manage-base-api-mif (pytest)
# - fvt-manage-base-api-mif-setup (pytest)
# -------------------------------------------------------------

# Manage FVT System
- name: fvt-manage-base-api-system
  {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/api/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/api/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: base-api-system
  runAfter:
    - fvt-manage-base-api-ivt

# Manage FVT MIF
- name: fvt-manage-base-api-mif
  {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/api/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/api/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: base-api-mif
  runAfter:
    - fvt-manage-base-api-ivt

# Manage FVT MIF-SETUP
- name: fvt-manage-base-api-mif-setup
  {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/api/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/api/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: base-api-mif-setup
  runAfter:
    - fvt-manage-base-api-ivt

