# -------------------------------------------------------------
# PHASE 3
# - fvt-manage-escalation-action (selenium)
# - fvt-manage-autoscript-adddeletewo (selenium)
# - fvt-manage-jms-inbound (selenium)
# - fvt-manage-mif-kafka-setup (selenium)
# - fvt-manage-mif-s3-setup (selenium)
# - fvt-manage-birt-report (selenium)
# - fvt-manage-user-crud (selenium)
# - fvt-manage-user-consumption (selenium)
# - fvt-manage-communication-temp (selenium)
# - fvt-manage-externalsystem (pytest)
# - fvt-manage-s3fileandbucketoperations (pytest)
# - fvt-manage-s3doclinksupport (pytest)
# -------------------------------------------------------------

# Manage FVT Escalation
- name: fvt-manage-escalation-action
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base
    - name: fvt_test_suite
      value: escalation-action
  runAfter:
    - fvt-manage-mas-navigation
    - fvt-manage-classification
    - fvt-manage-helplinks
    - fvt-manage-mif-setup
    - fvt-manage-wo-basic
    - fvt-manage-ancestors
    - fvt-manage-automationscripts
    
# Manage FVT AutoScript to Add Delete WorkOrder
- name: fvt-manage-autoscript-adddeletewo
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base
    - name: fvt_test_suite
      value: autoscript-adddeletewo
  runAfter:
    - fvt-manage-mas-navigation
    - fvt-manage-classification
    - fvt-manage-helplinks
    - fvt-manage-mif-setup
    - fvt-manage-wo-basic
    - fvt-manage-ancestors
    - fvt-manage-automationscripts

# Manage JMS Integration - Inbound
- name: fvt-manage-jms-inbound
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base
    - name: fvt_test_suite
      value: mif-jms-inbound
  runAfter:
    - fvt-manage-mas-navigation
    - fvt-manage-classification
    - fvt-manage-helplinks
    - fvt-manage-mif-setup
    - fvt-manage-wo-basic
    - fvt-manage-ancestors
    - fvt-manage-automationscripts

# Manage FVT Kafka Setup
- name: fvt-manage-mif-kafka-setup
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base
    - name: fvt_test_suite
      value: mif-kafka-setup
    - name: kafka_provider
      value: $(params.kafka_provider)
  taskRef:
    kind: Task
    name: mas-fvt-manage
  when:
    - input: "$(params.fvt_digest_manage)"
      operator: notin
      values: [""]
    - input: "$(params.mas_app_channel_manage)"
      operator: notin
      values: [""]
    - input: "$(params.kafka_provider)"
      operator: notin
      values: [""]
  workspaces:
    - name: configs
      workspace: shared-configs
  runAfter:
    - fvt-manage-mas-navigation
    - fvt-manage-classification
    - fvt-manage-helplinks
    - fvt-manage-mif-setup
    - fvt-manage-wo-basic
    - fvt-manage-ancestors
    - fvt-manage-automationscripts

# Manage MIF S3 setup
- name: fvt-manage-mif-s3-setup
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base
    - name: fvt_test_suite
      value: mif-s3-setup
  runAfter:
    - fvt-manage-mas-navigation
    - fvt-manage-classification
    - fvt-manage-helplinks
    - fvt-manage-mif-setup
    - fvt-manage-wo-basic
    - fvt-manage-ancestors
    - fvt-manage-automationscripts

# Manage FVT BIRT Reports
- name: fvt-manage-birt-report
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base
    - name: fvt_test_suite
      value: birtreportexe
  runAfter:
    - fvt-manage-mas-navigation
    - fvt-manage-classification
    - fvt-manage-helplinks
    - fvt-manage-mif-setup
    - fvt-manage-wo-basic
    - fvt-manage-ancestors
    - fvt-manage-automationscripts

# Manage FVT New User Update/Delete/Verufy
- name: fvt-manage-user-crud
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base
    - name: fvt_test_suite
      value: user-crud
  runAfter:
    - fvt-manage-mas-navigation
    - fvt-manage-classification
    - fvt-manage-helplinks
    - fvt-manage-mif-setup
    - fvt-manage-wo-basic
    - fvt-manage-ancestors
    - fvt-manage-automationscripts

# Manage FVT User Consumption verification
- name: fvt-manage-user-consumption
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base
    - name: fvt_test_suite
      value: user-consumption
  runAfter:
    - fvt-manage-mas-navigation
    - fvt-manage-classification
    - fvt-manage-helplinks
    - fvt-manage-mif-setup
    - fvt-manage-wo-basic
    - fvt-manage-ancestors
    - fvt-manage-automationscripts

# Manage FVT Communication Template
- name: fvt-manage-communication-temp
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base
    - name: fvt_test_suite
      value: communication-temp
  runAfter:
    - fvt-manage-mas-navigation
    - fvt-manage-classification
    - fvt-manage-helplinks
    - fvt-manage-mif-setup
    - fvt-manage-wo-basic
    - fvt-manage-ancestors
    - fvt-manage-automationscripts

# Manage FVT externalsystem
- name: fvt-manage-externalsystem
  {{ lookup('template', 'taskdefs/fvt-manage/api/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/api/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base
    - name: fvt_test_suite
      value: externalsystem
  runAfter:
    - fvt-manage-mas-navigation
    - fvt-manage-classification
    - fvt-manage-helplinks
    - fvt-manage-mif-setup
    - fvt-manage-wo-basic
    - fvt-manage-ancestors
    - fvt-manage-automationscripts

 # Manage FVT S3 COSAPI
- name: fvt-manage-s3fileandbucketoperations
  {{ lookup('template', 'taskdefs/fvt-manage/api/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/api/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base
    - name: fvt_test_suite
      value: s3fileandbucketoperations
  runAfter:
    - fvt-manage-mas-navigation
    - fvt-manage-classification
    - fvt-manage-helplinks
    - fvt-manage-mif-setup
    - fvt-manage-wo-basic
    - fvt-manage-ancestors
    - fvt-manage-automationscripts

 # Manage FVT S3 DoclinkSupport
- name: fvt-manage-s3doclinksupport
  {{ lookup('template', 'taskdefs/fvt-manage/api/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/api/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base
    - name: fvt_test_suite
      value: s3doclinksupport
  runAfter:
    - fvt-manage-mas-navigation
    - fvt-manage-classification
    - fvt-manage-helplinks
    - fvt-manage-mif-setup
    - fvt-manage-wo-basic
    - fvt-manage-ancestors
    - fvt-manage-automationscripts
