# -------------------------------------------------------------
# PHASE 5
# - fvt-manage-base-ui-sec-audit-log (selenium)
# - fvt-manage-base-ui-wo-doclink (selenium)
# - fvt-manage-base-ui-directprint (selenium)
# - fvt-manage-base-ui-adhoc-report (selenium)
# - fvt-manage-base-ui-userprofile (cypress)
# - fvt-manage-base-ui-scheduler-scheduling (cypress)
# - fvt-manage-base-ui-scheduler-dispatching (cypress)
# - fvt-manage-base-ui-scheduler-planning (cypress)
# -------------------------------------------------------------

# Manage FVT Security Audit Logging
- name: fvt-manage-base-ui-sec-audit-log
  {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base-ui
    - name: fvt_test_suite
      value: sec-audit-log
  when:
    - input: "base"
      operator: in
      values: ["$(tasks.fvt-component.results.component_names[*])"]
  runAfter:
    - fvt-manage-base-ui-escalation-action
    - fvt-manage-base-ui-birt-report
    - fvt-manage-base-ui-user-crud
    - fvt-manage-base-ui-user-consumption
    - fvt-manage-base-ui-communication-temp
    - fvt-manage-base-ui-scheduler-classic

# Manage FVT Work Order Attachments
- name: fvt-manage-base-ui-wo-doclink
  {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base-ui
    - name: fvt_test_suite
      value: wo-doclink
  when:
    - input: "base"
      operator: in
      values: ["$(tasks.fvt-component.results.component_names[*])"]
  runAfter:
    - fvt-manage-base-ui-escalation-action
    - fvt-manage-base-ui-birt-report
    - fvt-manage-base-ui-user-crud
    - fvt-manage-base-ui-user-consumption
    - fvt-manage-base-ui-communication-temp
    - fvt-manage-base-ui-scheduler-classic

# Manage Direct Print Report Tasks
- name: fvt-manage-base-ui-directprint
  {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  taskRef:
    kind: Task
    name: mas-fvt-manage-directprint
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
  when:
    - input: "base"
      operator: in
      values: ["$(tasks.fvt-component.results.component_names[*])"]
  runAfter:
    - fvt-manage-base-ui-escalation-action
    - fvt-manage-base-ui-birt-report
    - fvt-manage-base-ui-user-crud
    - fvt-manage-base-ui-user-consumption
    - fvt-manage-base-ui-communication-temp
    - fvt-manage-base-ui-scheduler-classic

# Manage FVT Adhoc Reports
- name: fvt-manage-base-ui-adhoc-report
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  taskRef:
    kind: Task
    name: mas-fvt-manage-adhoc-report
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
  when:
    - input: "base"
      operator: in
      values: ["$(tasks.fvt-component.results.component_names[*])"]
  runAfter:
    - fvt-manage-base-ui-escalation-action
    - fvt-manage-base-ui-birt-report
    - fvt-manage-base-ui-user-crud
    - fvt-manage-base-ui-user-consumption
    - fvt-manage-base-ui-communication-temp
    - fvt-manage-base-ui-scheduler-classic


# Manage FVT Adhoc Reports
- name: fvt-manage-base-ui-userprofile
  {{ lookup('template', 'taskdefs/fvt-manage/ui-cypress/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui-cypress/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: base-ui-userprofile
  runAfter:
    - fvt-manage-base-ui-escalation-action
    - fvt-manage-base-ui-birt-report
    - fvt-manage-base-ui-user-crud
    - fvt-manage-base-ui-user-consumption
    - fvt-manage-base-ui-communication-temp
    - fvt-manage-base-ui-scheduler-classic


# Scheduling Dashboard Cypress test
- name: fvt-manage-base-ui-scheduler-scheduling
  {{ lookup('template', 'taskdefs/fvt-manage/ui-cypress/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui-cypress/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: base-ui-scheduler-scheduling
  when:
    - input: "base"
      operator: in
      values: ["$(tasks.fvt-component.results.component_names[*])"]
  runAfter:
    - fvt-manage-base-ui-escalation-action
    - fvt-manage-base-ui-birt-report
    - fvt-manage-base-ui-user-crud
    - fvt-manage-base-ui-user-consumption
    - fvt-manage-base-ui-communication-temp
    - fvt-manage-base-ui-scheduler-classic

# Dispatching Dashboard Cypress test
- name: fvt-manage-base-ui-scheduler-dispatching
  {{ lookup('template', 'taskdefs/fvt-manage/ui-cypress/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui-cypress/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: base-ui-scheduler-dispatching
  when:
    - input: "base"
      operator: in
      values: ["$(tasks.fvt-component.results.component_names[*])"]
  runAfter:
    - fvt-manage-base-ui-escalation-action
    - fvt-manage-base-ui-birt-report
    - fvt-manage-base-ui-user-crud
    - fvt-manage-base-ui-user-consumption
    - fvt-manage-base-ui-communication-temp
    - fvt-manage-base-ui-scheduler-classic

# Planning Dashboard Cypress test
- name: fvt-manage-base-ui-scheduler-planning
  {{ lookup('template', 'taskdefs/fvt-manage/ui-cypress/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui-cypress/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite
      value: base-ui-scheduler-planning
  when:
    - input: "base"
      operator: in
      values: ["$(tasks.fvt-component.results.component_names[*])"]
  runAfter:
    - fvt-manage-base-ui-escalation-action
    - fvt-manage-base-ui-birt-report
    - fvt-manage-base-ui-user-crud
    - fvt-manage-base-ui-user-consumption
    - fvt-manage-base-ui-communication-temp
    - fvt-manage-base-ui-scheduler-classic    
