# -------------------------------------------------------------
# PHASE 1
# - fvt-manage-setup
# - fvt-manage-monitoring
# -------------------------------------------------------------

# Manage FVT Setup
- name: fvt-manage-setup # convention: use fvt-manage-<keyword>, as the value of fvt_test_suite parameter
  {{ lookup('template', 'taskdefs/fvt-manage/api/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/api/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: core
    - name: fvt_test_suite
      value: bvt
  runAfter:
    - fvt-manage-usersync

# Manage FVT Monitoring
- name: fvt-manage-monitoring
  {{ lookup('template', 'taskdefs/fvt-manage/api/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/api/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: core
    - name: fvt_test_suite
      value: monitoring
  runAfter:
    - fvt-manage-usersync
