# -------------------------------------------------------------
# PHASE 2
# - fvt-manage-classification (selenium)
# - fvt-manage-helplinks (selenium)
# - fvt-manage-wo-basic (selenium)
# - fvt-manage-ancestors (pytest)
# - fvt-manage-automationscripts (pytest)
# - fvt-manage-mif-setup (selenium)
# - fvt-manage-crontask (pytest)
# - fvt-manage-endpoint (pytest)
# - fvt-manage-mas-navigation (selenium)
# -------------------------------------------------------------

# Manage FVT Classification
- name: fvt-manage-classification
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base
    - name: fvt_test_suite
      value: classification
  runAfter:
    - fvt-manage-setup
    - fvt-manage-monitoring

# Manage FVT Help Links
- name: fvt-manage-helplinks
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base
    - name: fvt_test_suite
      value: helplinks
  runAfter:
    - fvt-manage-setup
    - fvt-manage-monitoring

# Manage FVT Work Order Basic Scenario
- name: fvt-manage-wo-basic
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base
    - name: fvt_test_suite
      value: wo-basic
  runAfter:
    - fvt-manage-setup
    - fvt-manage-monitoring

# Manage FVT Ancestors
- name: fvt-manage-ancestors
  {{ lookup('template', 'taskdefs/fvt-manage/api/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/api/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base
    - name: fvt_test_suite
      value: ancestors
  runAfter:
    - fvt-manage-setup
    - fvt-manage-monitoring

# Manage FVT AutomationScript
- name: fvt-manage-automationscripts
  {{ lookup('template', 'taskdefs/fvt-manage/api/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/api/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base
    - name: fvt_test_suite
      value: automationscripts
  runAfter:
    - fvt-manage-setup
    - fvt-manage-monitoring

# Manage MIF setup
- name: fvt-manage-mif-setup
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base
    - name: fvt_test_suite
      value: mif-setup
  runAfter:
    - fvt-manage-setup
    - fvt-manage-monitoring

# Manage FVT crontask
- name: fvt-manage-crontask
  {{ lookup('template', 'taskdefs/fvt-manage/api/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/api/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base
    - name: fvt_test_suite
      value: crontask
  runAfter:
    - fvt-manage-setup
    - fvt-manage-monitoring

# Manage FVT endpoint
- name: fvt-manage-endpoint
  {{ lookup('template', 'taskdefs/fvt-manage/api/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/api/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base
    - name: fvt_test_suite
      value: endpoint
  runAfter:
    - fvt-manage-setup
    - fvt-manage-monitoring

# Manage FVT Mas Navigation Scenario
- name: fvt-manage-mas-navigation
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base
    - name: fvt_test_suite
      value: mas-navigation
  runAfter:
    - fvt-manage-setup
    - fvt-manage-monitoring
