# -------------------------------------------------------------
# PHASE 2.5 (temporary workaround) - one after the other
# - fvt-manage-mas-navigation (selenium)
# - fvt-manage-mif-setup (selenium)
# -------------------------------------------------------------

# Manage FVT Mas Navigation Scenario
- name: fvt-manage-mas-navigation
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base
    - name: fvt_test_suite
      value: mas-navigation
  runAfter:
    - fvt-manage-setup
    - fvt-manage-monitoring

# Manage MIF setup
- name: fvt-manage-mif-setup
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base
    - name: fvt_test_suite
      value: mif-setup
  runAfter:
    - fvt-manage-mas-navigation
