# -------------------------------------------------------------
# PHASE 4
# - fvt-manage-base-ui-escalation-action (selenium)
# - fvt-manage-base-ui-jms-inbound (selenium)
# - fvt-manage-base-ui-mif-kafka-setup (selenium)
# - fvt-manage-base-ui-birt-report (selenium)
# - fvt-manage-base-ui-user-crud (selenium)
# - fvt-manage-base-ui-user-consumption (selenium)
# - fvt-manage-base-ui-communication-temp (selenium)
# -------------------------------------------------------------

# Manage FVT Escalation
- name: fvt-manage-base-ui-escalation-action
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base-ui
    - name: fvt_test_suite
      value: escalation-action
  runAfter:
    - fvt-manage-base-ui-classification
    - fvt-manage-base-ui-helplinks
    - fvt-manage-base-ui-wo-basic
    - fvt-manage-base-ui-mif-setup
    - fvt-manage-base-ui-mas-navigation

# Manage JMS Integration - Inbound
- name: fvt-manage-base-ui-jms-inbound
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base-ui
    - name: fvt_test_suite
      value: mif-jms-inbound
  runAfter:
    - fvt-manage-base-ui-classification
    - fvt-manage-base-ui-helplinks
    - fvt-manage-base-ui-wo-basic
    - fvt-manage-base-ui-mif-setup
    - fvt-manage-base-ui-mas-navigation

# Manage FVT Kafka Setup
- name: fvt-manage-base-ui-mif-kafka-setup
  {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base-ui
    - name: fvt_test_suite
      value: mif-kafka-setup
  runAfter:
    - fvt-manage-base-ui-classification
    - fvt-manage-base-ui-helplinks
    - fvt-manage-base-ui-wo-basic
    - fvt-manage-base-ui-mif-setup
    - fvt-manage-base-ui-mas-navigation

# Manage FVT BIRT Reports
- name: fvt-manage-base-ui-birt-report
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base-ui
    - name: fvt_test_suite
      value: birtreportexe
  runAfter:
    - fvt-manage-base-ui-classification
    - fvt-manage-base-ui-helplinks
    - fvt-manage-base-ui-wo-basic
    - fvt-manage-base-ui-mif-setup
    - fvt-manage-base-ui-mas-navigation

# Manage FVT New User Update/Delete/Verufy
- name: fvt-manage-base-ui-user-crud
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base-ui
    - name: fvt_test_suite
      value: user-crud
  runAfter:
    - fvt-manage-base-ui-classification
    - fvt-manage-base-ui-helplinks
    - fvt-manage-base-ui-wo-basic
    - fvt-manage-base-ui-mif-setup
    - fvt-manage-base-ui-mas-navigation

# Manage FVT User Consumption verification
- name: fvt-manage-base-ui-user-consumption
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base-ui
    - name: fvt_test_suite
      value: user-consumption
  runAfter:
    - fvt-manage-base-ui-classification
    - fvt-manage-base-ui-helplinks
    - fvt-manage-base-ui-wo-basic
    - fvt-manage-base-ui-mif-setup
    - fvt-manage-base-ui-mas-navigation

# Manage FVT Communication Template
- name: fvt-manage-base-ui-communication-temp
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base-ui
    - name: fvt_test_suite
      value: communication-temp
  runAfter:
    - fvt-manage-base-ui-classification
    - fvt-manage-base-ui-helplinks
    - fvt-manage-base-ui-wo-basic
    - fvt-manage-base-ui-mif-setup
    - fvt-manage-base-ui-mas-navigation
