# -------------------------------------------------------------
# PHASE 3
# - fvt-manage-base-ui-classification (selenium)
# - fvt-manage-base-ui-helplinks (selenium)
# - fvt-manage-base-ui-wo-basic (selenium)
# - fvt-manage-base-ui-mas-navigation (selenium)
# - fvt-manage-base-ui-requestreport-pages (selenium)
# -------------------------------------------------------------

# Manage FVT Classification
- name: fvt-manage-base-ui-classification
  {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base-ui
    - name: fvt_test_suite
      value: classification
  runAfter:
    - fvt-manage-base-api-system
    - fvt-manage-base-api-mif

# Manage FVT Help Links
- name: fvt-manage-base-ui-helplinks
  {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base-ui
    - name: fvt_test_suite
      value: helplinks
  runAfter:
    - fvt-manage-base-api-system
    - fvt-manage-base-api-mif

# Manage FVT Work Order Basic Scenario
- name: fvt-manage-base-ui-wo-basic
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base-ui
    - name: fvt_test_suite
      value: wo-basic
  runAfter:
    - fvt-manage-base-api-system
    - fvt-manage-base-api-mif

# Manage FVT Mas Navigation Scenario
- name: fvt-manage-base-ui-mas-navigation
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base-ui
    - name: fvt_test_suite
      value: mas-navigation
  runAfter:
    - fvt-manage-base-api-system
    - fvt-manage-base-api-mif

# Manage FVT Generate Request Pages for Reports
- name: fvt-manage-base-ui-requestreport-pages
  {{ lookup('template', 'taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', 'taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base-ui
    - name: fvt_test_suite
      value: requestreport-pages
  runAfter:
    - fvt-manage-base-api-system
    - fvt-manage-base-api-mif
