# -------------------------------------------------------------
# PHASE 4
# - fvt-manage-base-ui-escalation-action (selenium)
# - fvt-manage-base-ui-birt-report (selenium)
# - fvt-manage-base-ui-user-crud (selenium)
# - fvt-manage-base-ui-user-consumption (selenium)
# - fvt-manage-base-ui-communication-temp (selenium)
# -------------------------------------------------------------

# Manage FVT Escalation
- name: fvt-manage-base-ui-escalation-action
  {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base-ui
    - name: fvt_test_suite
      value: escalation-action
  runAfter:
    - fvt-manage-base-ui-classification
    - fvt-manage-base-ui-helplinks
    - fvt-manage-base-ui-wo-basic
    - fvt-manage-base-ui-mas-navigation
    - fvt-manage-base-ui-requestreport-pages

# Manage FVT BIRT Reports 
- name: fvt-manage-base-ui-birt-report
  {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  taskRef:
    kind: Task
    name: mas-fvt-manage-birt-report  
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
  runAfter:
    - fvt-manage-base-ui-classification
    - fvt-manage-base-ui-helplinks
    - fvt-manage-base-ui-wo-basic
    - fvt-manage-base-ui-mas-navigation
    - fvt-manage-base-ui-requestreport-pages

# Manage FVT New User Update/Delete/Verufy
- name: fvt-manage-base-ui-user-crud
  {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base-ui
    - name: fvt_test_suite
      value: user-crud
  runAfter:
    - fvt-manage-base-ui-classification
    - fvt-manage-base-ui-helplinks
    - fvt-manage-base-ui-wo-basic
    - fvt-manage-base-ui-mas-navigation
    - fvt-manage-base-ui-requestreport-pages

# Manage FVT User Consumption verification
- name: fvt-manage-base-ui-user-consumption
  {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base-ui
    - name: fvt_test_suite
      value: user-consumption
  runAfter:
    - fvt-manage-base-ui-classification
    - fvt-manage-base-ui-helplinks
    - fvt-manage-base-ui-wo-basic
    - fvt-manage-base-ui-mas-navigation
    - fvt-manage-base-ui-requestreport-pages

# Manage FVT Communication Template
- name: fvt-manage-base-ui-communication-temp
  {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/taskref.yml.j2') | indent(2) }}
  {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/when.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-manage/ui/params.yml.j2') | indent(4) }}
    - name: fvt_test_suite_prefix
      value: base-ui
    - name: fvt_test_suite
      value: communication-temp
  runAfter:
    - fvt-manage-base-ui-classification
    - fvt-manage-base-ui-helplinks
    - fvt-manage-base-ui-wo-basic
    - fvt-manage-base-ui-mas-navigation
    - fvt-manage-base-ui-requestreport-pages
