---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: gitops-deprovision-mas-instance
spec:
  workspaces:
    - name: configs
  description: Deprovision MAS GitOps Instance
  params:
    - name: cluster_name
      type: string
    - name: account
      type: string
    - name: secrets_path
      type: string
    - name: avp_aws_secret_region
      type: string
    - name: avp_aws_secret_key
      type: string
    - name: avp_aws_access_key
      type: string

    # 1. Gitops git Parameters
    # -------------------------------------------------------------------------
    {{ lookup('template', params_src_dir ~ '/gitops-git.yml.j2') | indent(4) }}

    - name: github_url
      type: string
    - name: mas_instance_id
      type: string
    - name: vpc_ipv4_cidr
      type: string
    - name: mongo_provider
      type: string
      default: aws
    - name: workspace_id
      type: string
    - name: workspace_name
      type: string
    - name: aws_key_pair_name
      type: string
    - name: ec2_linux_ami_id
      type: string
      default: ""
    - name: docdb_user_action
      type: string
      default: remove
    - name: cloud_provider
      type: string
      default: aws
    - name: kafka_provider
      type: string
      default: aws
    - name: db2_action
      type: string
      default: "remove"
      description: Only remove when db2 instances is provisioned

    # Dependencies - COS
    # -----------------------------------------------------------------------------
    - name: cos_type
      type: string
      description: COS Provider (ibm or ocs)
      default: ""
    - name: ibmcloud_resourcegroup
      type: string
      description: Name of an existing COS Resource Group in IBM Cloud account
      default: ""
    - name: cos_action
      type: string
      description: COS action to be performed (provision or deprovision)
      default: ""
    - name: ibmcloud_apikey
      type: string
      default: ""

    - name: force_removal
      type: string
      default: ""
  tasks:
    - name: gitops-deprovision-suite-smtp-config
      runAfter:
        - gitops-deprovision-suite-workspace
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: git_branch
          value: $(params.git_branch)
        - name: github_org
          value: $(params.github_org)
        - name: github_repo
          value: $(params.github_repo)
        - name: github_host
          value: $(params.github_host)
        - name: git_commit_msg
          value: $(params.git_commit_msg)
        - name: github_pat
          value: $(params.github_pat)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: avp_aws_secret_key
          value: $(params.avp_aws_secret_key)
        - name: avp_aws_access_key
          value: $(params.avp_aws_access_key)
        - name: force_removal
          value: $(params.force_removal)
      taskRef:
        kind: Task
        name: gitops-deprovision-suite-smtp-config
      workspaces:
        - name: configs
          workspace: configs
    - name: gitops-deprovision-suite-idp-config
      runAfter:
        - gitops-deprovision-suite-workspace
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: git_branch
          value: $(params.git_branch)
        - name: github_org
          value: $(params.github_org)
        - name: github_repo
          value: $(params.github_repo)
        - name: github_host
          value: $(params.github_host)
        - name: git_commit_msg
          value: $(params.git_commit_msg)
        - name: github_pat
          value: $(params.github_pat)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: avp_aws_secret_key
          value: $(params.avp_aws_secret_key)
        - name: avp_aws_access_key
          value: $(params.avp_aws_access_key)
        - name: force_removal
          value: $(params.force_removal)
      taskRef:
        kind: Task
        name: gitops-deprovision-suite-idp-config
      workspaces:
        - name: configs
          workspace: configs
    - name: gitops-deprovision-suite-workspace
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: workspace_id
          value: $(params.workspace_id)
        - name: workspace_name
          value: $(params.workspace_name)
        - name: git_branch
          value: $(params.git_branch)
        - name: github_org
          value: $(params.github_org)
        - name: github_repo
          value: $(params.github_repo)
        - name: github_host
          value: $(params.github_host)
        - name: git_commit_msg
          value: $(params.git_commit_msg)
        - name: github_pat
          value: $(params.github_pat)
        - name: force_removal
          value: $(params.force_removal)
      taskRef:
        kind: Task
        name: gitops-deprovision-suite-workspace
      workspaces:
        - name: configs
          workspace: configs
    - name: gitops-deprovision-suite-config
      runAfter:
        - gitops-delete-kafka-config
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: git_branch
          value: $(params.git_branch)
        - name: github_org
          value: $(params.github_org)
        - name: github_repo
          value: $(params.github_repo)
        - name: github_host
          value: $(params.github_host)
        - name: git_commit_msg
          value: $(params.git_commit_msg)
        - name: github_pat
          value: $(params.github_pat)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: avp_aws_secret_key
          value: $(params.avp_aws_secret_key)
        - name: avp_aws_access_key
          value: $(params.avp_aws_access_key)
        - name: force_removal
          value: $(params.force_removal)
      workspaces:
        - name: configs
          workspace: configs
      taskRef:
        name: gitops-deprovision-suite-config
        kind: Task
    - name: gitops-deprovision-suite
      runAfter:
        - gitops-deprovision-suite-config
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mongo_provider
          value: $(params.mongo_provider)
        - name: git_branch
          value: $(params.git_branch)
        - name: github_org
          value: $(params.github_org)
        - name: github_repo
          value: $(params.github_repo)
        - name: github_host
          value: $(params.github_host)
        - name: git_commit_msg
          value: $(params.git_commit_msg)
        - name: github_pat
          value: $(params.github_pat)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: avp_aws_secret_key
          value: $(params.avp_aws_secret_key)
        - name: avp_aws_access_key
          value: $(params.avp_aws_access_key)
        - name: force_removal
          value: $(params.force_removal)
      taskRef:
        kind: Task
        name: gitops-deprovision-suite
      workspaces:
        - name: configs
          workspace: configs
    - name: gitops-process-mongo-user
      runAfter:
        - gitops-deprovision-suite
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: avp_aws_secret_key
          value: $(params.avp_aws_secret_key)
        - name: avp_aws_access_key
          value: $(params.avp_aws_access_key)
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: vpc_ipv4_cidr
          value: $(params.vpc_ipv4_cidr)
        - name: mongo_provider
          value: $(params.mongo_provider)
        - name: user_action
          value: $(params.docdb_user_action)
        - name: aws_key_pair_name
          value: $(params.aws_key_pair_name)
        - name: ec2_linux_ami_id
          value: $(params.ec2_linux_ami_id)
      workspaces:
        - name: configs
          workspace: configs
      taskRef:
        kind: Task
        name: gitops-process-mongo-user
    - name: gitops-deprovision-db2u
      runAfter:
        - gitops-deprovision-suite
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: avp_aws_secret_key
          value: $(params.avp_aws_secret_key)
        - name: avp_aws_access_key
          value: $(params.avp_aws_access_key)
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: git_branch
          value: $(params.git_branch)
        - name: github_org
          value: $(params.github_org)
        - name: github_repo
          value: $(params.github_repo)
        - name: github_host
          value: $(params.github_host)
        - name: git_commit_msg
          value: $(params.git_commit_msg)
        - name: github_pat
          value: $(params.github_pat)
        - name: db2_action
          value: $(params.db2_action)
      workspaces:
        - name: configs
          workspace: configs
      taskRef:
        kind: Task
        name: gitops-deprovision-db2u
      when:
        - input: "$(params.db2_action)"
          operator: in
          values: ["remove"]
    - name: gitops-deprovision-efs
      runAfter:
        - gitops-deprovision-suite
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: avp_aws_secret_key
          value: $(params.avp_aws_secret_key)
        - name: avp_aws_access_key
          value: $(params.avp_aws_access_key)
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: cloud_provider
          value: $(params.cloud_provider)
      workspaces:
        - name: configs
          workspace: configs
      taskRef:
        kind: Task
        name: gitops-deprovision-efs
    - name: gitops-delete-kafka-config
      runAfter:
        - gitops-deprovision-suite-smtp-config
        - gitops-deprovision-suite-idp-config
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: git_branch
          value: $(params.git_branch)
        - name: github_org
          value: $(params.github_org)
        - name: github_repo
          value: $(params.github_repo)
        - name: github_host
          value: $(params.github_host)
        - name: git_commit_msg
          value: $(params.git_commit_msg)
        - name: github_pat
          value: $(params.github_pat)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: avp_aws_secret_key
          value: $(params.avp_aws_secret_key)
        - name: avp_aws_access_key
          value: $(params.avp_aws_access_key)
      workspaces:
        - name: configs
          workspace: configs
      taskRef:
        kind: Task
        name: gitops-delete-kafka-config
    - name: gitops-deprovision-suite-objectstorage-config
      params:

        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/gitops-params.yml.j2') | indent(8) }}

        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/secrets-params.yml.j2') | indent(8) }}
        
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/git-params.yml.j2') | indent(8) }}

        - name: mas_instance_id
          value: $(params.mas_instance_id)

      taskRef:
        kind: Task
        name: gitops-deprovision-suite-objectstorage-config
      workspaces:
        - name: configs
          workspace: configs
    - name: gitops-deprovision-cos
      runAfter:
        - gitops-deprovision-suite-objectstorage-config
      params:
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/gitops-params.yml.j2') | indent(8) }}

        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/secrets-params.yml.j2') | indent(8) }}
        
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/git-params.yml.j2') | indent(8) }}

        - name: mas_instance_id
          value: $(params.mas_instance_id)

        - name: cos_action
          value: $(params.cos_action)
        - name: cos_type
          value: $(params.cos_type)
        - name: ibmcloud_resourcegroup
          value: $(params.ibmcloud_resourcegroup)
        - name: ibmcloud_apikey
          value: $(params.ibmcloud_apikey)

      workspaces:
        - name: configs
          workspace: configs
      taskRef:
        kind: Task
        name: gitops-deprovision-cos
      when:
        - input: "$(params.cos_action)"
          operator: notin
          values: [""]
        - input: "$(params.cos_action)"
          operator: in
          values: ["deprovision"]
