
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: gitops-deprovision-cluster
spec:
  description: Deprovision ROSA, docDb and GitOps Cluster
  workspaces:
    - name: configs
  params:
    - name: cluster_name
      type: string    
    - name: ocp_version
      type: string
    - name: avp_type
      type: string
    - name: avp_aws_secret_region
      type: string
    - name: avp_aws_secret_key
      type: string
    - name: avp_aws_access_key
      type: string
    - name: github_url
      type: string
    - name: github_pat
      type: string
    - name: rosa_token
      type: string
    - name: account
      type: string
    - name: secrets_path
      type: string
    - name: git_branch
      type: string
    - name: github_org
      type: string
    - name: github_repo
      type: string
    - name: github_host
      type: string
    - name: vpc_ipv4_cidr
      type: string
    - name: mongo_provider
      type: string
      default: aws
    - name: argocd_url
      type: string
    - name: argocd_username
      type: string
    - name: argocd_password
      type: string
  tasks:
    - name: gitops-deprovision-mongo
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: avp_aws_secret_key
          value: $(params.avp_aws_secret_key)
        - name: avp_aws_access_key
          value: $(params.avp_aws_access_key)
        - name: vpc_ipv4_cidr
          value: $(params.vpc_ipv4_cidr)
        - name: mongo_provider
          value: $(params.mongo_provider)
      taskRef:
        kind: Task
        name: gitops-deprovision-mongo
      workspaces:
        - name: configs
          workspace: configs
    - name: gitops-deprovision-cluster
      runAfter:
        - gitops-deprovision-mongo
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: git_branch
          value: $(params.git_branch)
        - name: github_org
          value: $(params.github_org)
        - name: github_repo
          value: $(params.github_repo)
        - name: github_host
          value: $(params.github_host)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: avp_aws_secret_key
          value: $(params.avp_aws_secret_key)
        - name: avp_aws_access_key
          value: $(params.avp_aws_access_key)
        - name: github_pat
          value: $(params.github_pat)
        - name: argocd_url
          value: $(params.argocd_url)
        - name: argocd_username
          value: $(params.argocd_username)
        - name: argocd_password
          value: $(params.argocd_password)
      taskRef:
        kind: Task
        name: gitops-deprovision-cluster
      workspaces:
        - name: configs
          workspace: configs
    - name: gitops-deprovision-rosa
      runAfter:
        - gitops-deprovision-cluster
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: aws_region
          value: $(params.avp_aws_secret_region)
        - name: aws_secret_access_key
          value: $(params.avp_aws_secret_key)
        - name: aws_access_key_id
          value: $(params.avp_aws_access_key)
        - name: rosa_token
          value: $(params.rosa_token)
        - name: ocp_version
          value: $(params.ocp_version)
      taskRef:
        kind: Task
        name: gitops-deprovision-rosa
      workspaces:
        - name: configs
          workspace: configs
