apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: gitops-deprovision-mas-aibroker
spec:
  params:
    - name: cluster_name
      type: string
    - name: cluster_id
      type: string
    - name: account
      type: string
    - name: aibroker_instance_id
      type: string
    - name: cluster_url
      type: string
      default: ""
    - name: secrets_path
      type: string
    - name: avp_aws_secret_region
      type: string
    - name: git_branch
      type: string
    - name: github_org
      type: string
    - name: github_repo
      type: string
    - name: github_host
      type: string

  tasks:
    - name:  gitops-deprovision-mas-aibroker
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: cluster_id
          value: $(params.cluster_id)
        - name: cluster_url
          value: $(params.cluster_url)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: git_branch
          value: $(params.git_branch)
        - name: github_org
          value: $(params.github_org)
        - name: github_repo
          value: $(params.github_repo)
        - name: github_host
          value: $(params.github_host)
        - name: aibroker_instance_id
          value: $(params.aibroker_instance_id)
          
      taskRef:
        kind: Task
        name: gitops-deprovision-aibroker
      workspaces:
        - name: configs
          workspace: configs

      
   