---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
{% if wait_for_deprovision == true %}
  name: gitops-deprovision-mas-instance-after-deprovision
{% else %}
  name: gitops-deprovision-mas-instance
{% endif %}
spec:
  workspaces:
    - name: configs
  description: Deprovision MAS GitOps Instance
  params:
{% if wait_for_deprovision == true %}
      # Name of the PipelineRun to wait for
    - name: pipelinerun_name
      type: string
    - name: ignore_failure
      type: string
      default: "False"
      description: Set to 'True' or 'False' (case-sensitive) to configure whether this pipeline continue if the pipeline we are waiting for has failed.
{% endif %}
    - name: cluster_name
      type: string
    - name: cluster_url
      type: string
    - name: argocd_url
      type: string
    - name: argocd_check
      type: string
    - name: account
      type: string
    - name: secrets_path
      type: string
    - name: avp_aws_secret_region
      type: string

    # 1. Gitops git Parameters
    # -------------------------------------------------------------------------
    {{ lookup('template', params_src_dir ~ '/gitops-git.yml.j2') | indent(4) }}

    - name: github_url
      type: string
    - name: mas_instance_id
      type: string
    - name: vpc_ipv4_cidr
      type: string
    - name: mongo_provider
      type: string
      default: aws
    - name: mas_workspace_id
      type: string
    - name: mas_workspace_name
      type: string
    - name: aws_key_pair_name
      type: string
    - name: ec2_linux_ami_id
      type: string
      default: ""
    - name: docdb_user_action
      type: string
      default: remove
    - name: cloud_provider
      type: string
      default: aws
    - name: kafka_provider
      type: string
      default: aws
    - name: db2_action
      type: string
      default: "remove"
      description: Only remove when db2 instances is provisioned

    - name: force_removal
      type: string
      default: ""
  tasks:
{% if wait_for_deprovision == true %}
    # 0. Wait for the deprovsion mas apps pipeline to complete
    # -------------------------------------------------------------------------
    - name: wait-for-deprovision
      params:
        - name: pipelinerun_name
          value: $(params.pipelinerun_name)
        - name: ignore_failure
          value: $(params.ignore_failure)
      taskRef:
        kind: Task
        name: mas-fvt-wait-for-pipelinerun
{% endif %}

    # 1. Deprovision workspace
    # -------------------------------------------------------------------------
    - name: gitops-deprovision-suite-workspace
{% if wait_for_deprovision == true %}
      runAfter:
        - wait-for-deprovision
{% endif %}
      params:
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/gitops-params.yml.j2') | indent(8) }}
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/secrets-params.yml.j2') | indent(8) }}
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/git-params.yml.j2') | indent(8) }}

        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: workspace_id
          value: $(params.mas_workspace_id)
        - name: workspace_name
          value: $(params.mas_workspace_name)
        - name: force_removal
          value: $(params.force_removal)

      taskRef:
        kind: Task
        name: gitops-deprovision-suite-workspace
      workspaces:
        - name: configs
          workspace: configs

    # 2. Deprovision SMTP config
    # -------------------------------------------------------------------------
    - name: gitops-deprovision-suite-smtp-config
      runAfter:
        - gitops-deprovision-suite-workspace
      params:
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/gitops-params.yml.j2') | indent(8) }}
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/secrets-params.yml.j2') | indent(8) }}
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/git-params.yml.j2') | indent(8) }}

        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: force_removal
          value: $(params.force_removal)

      taskRef:
        kind: Task
        name: gitops-deprovision-suite-smtp-config
      workspaces:
        - name: configs
          workspace: configs

    # 3. Deprovision IDP config
    # -------------------------------------------------------------------------
    - name: gitops-deprovision-suite-idp-config
      runAfter:
        - gitops-deprovision-suite-workspace
      params:
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/gitops-params.yml.j2') | indent(8) }}
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/secrets-params.yml.j2') | indent(8) }}
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/git-params.yml.j2') | indent(8) }}

        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: force_removal
          value: $(params.force_removal)

      taskRef:
        kind: Task
        name: gitops-deprovision-suite-idp-config
      workspaces:
        - name: configs
          workspace: configs

    # 4. Deprovision Suite config
    # -------------------------------------------------------------------------
    - name: gitops-deprovision-suite-config
      runAfter:
        - gitops-delete-kafka-config
      params:
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/gitops-params.yml.j2') | indent(8) }}
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/secrets-params.yml.j2') | indent(8) }}
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/git-params.yml.j2') | indent(8) }}

        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: force_removal
          value: $(params.force_removal)

      workspaces:
        - name: configs
          workspace: configs
      taskRef:
        name: gitops-deprovision-suite-config
        kind: Task

    # 5. Deprovision Suite config
    # -------------------------------------------------------------------------
    - name: gitops-deprovision-suite
      runAfter:
        - gitops-deprovision-suite-config
      params:
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/gitops-params.yml.j2') | indent(8) }}
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/secrets-params.yml.j2') | indent(8) }}
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/git-params.yml.j2') | indent(8) }}

        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mongo_provider
          value: $(params.mongo_provider)
        - name: force_removal
          value: $(params.force_removal)
        - name: user_action
          value: $(params.docdb_user_action)

      taskRef:
        kind: Task
        name: gitops-deprovision-suite
      workspaces:
        - name: configs
          workspace: configs

    # 7. Deprovision db2u operator
    # -------------------------------------------------------------------------
    - name: gitops-deprovision-db2u
      runAfter:
        - gitops-deprovision-suite
      params:
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/gitops-params.yml.j2') | indent(8) }}
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/secrets-params.yml.j2') | indent(8) }}
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/git-params.yml.j2') | indent(8) }}

        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: db2_action
          value: $(params.db2_action)

      workspaces:
        - name: configs
          workspace: configs
      taskRef:
        kind: Task
        name: gitops-deprovision-db2u
      when:
        - input: "$(params.db2_action)"
          operator: in
          values: ["remove"]

    # 8. Deprovision EFS
    # -------------------------------------------------------------------------
    - name: gitops-deprovision-efs
      runAfter:
        - gitops-deprovision-suite
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: cloud_provider
          value: $(params.cloud_provider)
      workspaces:
        - name: configs
          workspace: configs
      taskRef:
        kind: Task
        name: gitops-deprovision-efs

    # 9. Deprovision Kafka config
    # -------------------------------------------------------------------------
    - name: gitops-delete-kafka-config
      runAfter:
        - gitops-deprovision-suite-smtp-config
        - gitops-deprovision-suite-idp-config
        - gitops-deprovision-suite-objectstorage-config
      params:
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/gitops-params.yml.j2') | indent(8) }}
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/secrets-params.yml.j2') | indent(8) }}
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/git-params.yml.j2') | indent(8) }}

        - name: mas_instance_id
          value: $(params.mas_instance_id)

      workspaces:
        - name: configs
          workspace: configs
      taskRef:
        kind: Task
        name: gitops-delete-kafka-config

    # 10. Deprovision Objectstorage config
    # -------------------------------------------------------------------------
    - name: gitops-deprovision-suite-objectstorage-config
      runAfter:
        - gitops-deprovision-suite-workspace
      params:
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/gitops-params.yml.j2') | indent(8) }}
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/secrets-params.yml.j2') | indent(8) }}
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/git-params.yml.j2') | indent(8) }}
        - name: force_removal
          value: $(params.force_removal)
        - name: mas_instance_id
          value: $(params.mas_instance_id)

      taskRef:
        kind: Task
        name: gitops-deprovision-suite-objectstorage-config
      workspaces:
        - name: configs
          workspace: configs

    # 12. Deprovision Watson Studio config
    # -------------------------------------------------------------------------
    - name: gitops-deprovision-suite-watson-studio-config
      runAfter:
        - gitops-deprovision-suite-workspace
      params:
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/gitops-params.yml.j2') | indent(8) }}
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/secrets-params.yml.j2') | indent(8) }}
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/git-params.yml.j2') | indent(8) }}
        - name: force_removal
          value: $(params.force_removal)
        - name: mas_instance_id
          value: $(params.mas_instance_id)

      taskRef:
        kind: Task
        name: gitops-deprovision-suite-watson-studio-config
      workspaces:
        - name: configs
          workspace: configs
