---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: gitops-mas-cluster
spec:
  description: MAS Cluster scope
  workspaces:
    - name: configs
  params:
    - name: cluster_name
      type: string
    - name: cluster_url
      type: string
    - name: account
      type: string
    - name: git_branch
      type: string
    - name: github_org
      type: string
    - name: github_repo
      type: string
    - name: github_host
      type: string
    - name: github_user
      type: string
    - name: git_commit_msg
      type: string
    - name: secrets_path
      type: string
    - name: avp_aws_secret_region
      type: string
    
    - name: argocd_url
      type: string
    - name: argocd_check
      type: string

    - name: mas_catalog_version
      type: string
    - name: mas_catalog_image
      type: string

    - name: common_services_channel
      type: string

    - name: dro_namespace
      type: string
      default: "redhat-marketplace"

    - name: db2_channel
      type: string
      default: ""
    - name: db2_action
      type: string
      default: ""

    - name: nvidia_gpu_action
      type: string
      default: ""
    - name: nfd_namespace
      type: string
      default: openshift-nfd
    - name: nfd_channel
      type: string
      default: stable
    - name: gpu_namespace
      type: string
      default: nvidia-gpu-operator
    - name: gpu_channel
      type: string
      default: v23.3
    - name: gpu_driver_version
      type: string
      default: 525.105.17
    - name: gpu_driver_repository_path
      type: string
      default: nvcr.io/nvidia

  tasks:
    - name: gitops-cluster
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: cluster_url
          value: $(params.cluster_url)
        - name: account
          value: $(params.account)
        - name: git_branch
          value: $(params.git_branch)
        - name: github_org
          value: $(params.github_org)
        - name: github_repo
          value: $(params.github_repo)
        - name: github_host
          value: $(params.github_host)
        - name: github_user
          value: $(params.github_user)
        - name: git_commit_msg
          value: $(params.git_commit_msg)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: argocd_url
          value: $(params.argocd_url)
        - name: argocd_check
          value: $(params.argocd_check)

        - name: mas_catalog_version
          value: $(params.mas_catalog_version)
        - name: mas_catalog_image
          value: $(params.mas_catalog_image)

        - name: common_services_channel
          value: $(params.common_services_channel)

      taskRef:
        kind: Task
        name: gitops-cluster
      workspaces:
        - name: configs
          workspace: configs

    - name: gitops-dro
      runAfter:
        - gitops-cluster
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: cluster_url
          value: $(params.cluster_url)
        - name: account
          value: $(params.account)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: git_branch
          value: $(params.git_branch)
        - name: github_org
          value: $(params.github_org)
        - name: github_repo
          value: $(params.github_repo)
        - name: github_host
          value: $(params.github_host)
        - name: git_commit_msg
          value: $(params.git_commit_msg)
        - name: argocd_url
          value: $(params.argocd_url)
        - name: argocd_check
          value: $(params.argocd_check)
        - name: dro_namespace
          value: $(params.dro_namespace)
      taskRef:
        kind: Task
        name: gitops-dro
      workspaces:
        - name: configs
          workspace: configs

    - name: gitops-cis-compliance
      runAfter:
        - gitops-cluster
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: cluster_url
          value: $(params.cluster_url)
        - name: account
          value: $(params.account)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: git_branch
          value: $(params.git_branch)
        - name: github_org
          value: $(params.github_org)
        - name: github_repo
          value: $(params.github_repo)
        - name: github_host
          value: $(params.github_host)
        - name: git_commit_msg
          value: $(params.git_commit_msg)
        - name: argocd_url
          value: $(params.argocd_url)
        - name: argocd_check
          value: $(params.argocd_check)
      taskRef:
        kind: Task
        name: gitops-cis-compliance
      workspaces:
        - name: configs
          workspace: configs

    - name: gitops-db2u
      runAfter:
        - gitops-cluster
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: cluster_url
          value: $(params.cluster_url)
        - name: account
          value: $(params.account)
        - name: git_branch
          value: $(params.git_branch)
        - name: github_org
          value: $(params.github_org)
        - name: github_repo
          value: $(params.github_repo)
        - name: github_host
          value: $(params.github_host)
        - name: git_commit_msg
          value: $(params.git_commit_msg)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: db2_channel
          value: $(params.db2_channel)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: argocd_url
          value: $(params.argocd_url)
        - name: argocd_check
          value: $(params.argocd_check)
      workspaces:
        - name: configs
          workspace: configs
      taskRef:
        kind: Task
        name: gitops-db2u
      when:
        - input: "$(params.db2_action)"
          operator: in
          values: ["install"]

    - name: gitops-nvidia-gpu
      runAfter:
        - gitops-cluster
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: cluster_url
          value: $(params.cluster_url)
        - name: account
          value: $(params.account)
        - name: git_branch
          value: $(params.git_branch)
        - name: github_org
          value: $(params.github_org)
        - name: github_repo
          value: $(params.github_repo)
        - name: github_host
          value: $(params.github_host)
        - name: git_commit_msg
          value: $(params.git_commit_msg)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: argocd_url
          value: $(params.argocd_url)
        - name: argocd_check
          value: $(params.argocd_check)
        - name: nfd_namespace
          value: $(params.nfd_namespace)
        - name: nfd_channel
          value: $(params.nfd_channel)
        - name: gpu_namespace
          value: $(params.gpu_namespace)
        - name: gpu_channel
          value: $(params.gpu_channel)
        - name: gpu_driver_version
          value: $(params.gpu_driver_version)
        - name: gpu_driver_repository_path
          value: $(params.gpu_driver_repository_path)
      workspaces:
        - name: configs
          workspace: configs
      taskRef:
        kind: Task
        name: gitops-nvidia-gpu
      when:
        - input: "$(params.nvidia_gpu_action)"
          operator: in
          values: ["install"]
