---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
{% if wait_for_provision == true %}
  name: gitops-aiservice-deps-after-provision
{% else %}
  name: gitops-aiservice-deps
{% endif %}
spec:
  description: MAS Cluster off-cluster dependencies
  workspaces:
    - name: configs
    - name: shared-gitops-configs
  params:
{% if wait_for_provision == true %}
      # Name of the PipelineRun to wait for
    - name: pipelinerun_name
      type: string
    - name: ignore_failure
      type: string
      default: "False"
      description: Set to 'True' or 'False' (case-sensitive) to configure whether this pipeline continue if the pipeline we are waiting for has failed.
{% endif %}
    - name: cluster_name
      type: string
    - name: account
      type: string
    - name: aiservice_instance_id
      type: string
    - name: secrets_path
      type: string
    - name: avp_aws_secret_region
      type: string
    - name: avp_aws_secret_key
      type: string
    - name: avp_aws_access_key
      type: string
    - name: github_pat
      type: string

    - name: vpc_ipv4_cidr
      type: string
    - name: mongo_provider
      type: string
      default: aws
    - name: aws_docdb_instance_number
      type: string
      default: 3
    - name: aws_docdb_engine_version
      type: string
      default: 4.0.0
    - name: mongodb_action
      type: string

    - name: efs_action
      type: string
      description: efs action to be performed (provision or deprovision)
      default: ""

    - name: jdbc_type_aiservice
      type: string
    - name: jdbc_instance_name_aiservice
      type: string
    - name: jdbc_connection_url_aiservice
      type: string
      default: ""
    - name: jdbc_certificate_file_aiservice
      type: string
      default: ""
    - name: jdbc_route_aiservice
      type: string
      default: ""
    - name: mas_app_channel_aiservice
      type: string
      default: ""
    ################# Added on Parameters
    - name: allow_list
      type: string
    - name: auto_backup_aiservice
      type: string
    - name: cloud_provider
      type: string
      default: aws
    - name: cluster_url
      type: string
      default: ""
    - name: db2_action_aiservice
      type: string
      description: Set to 'install' to set up a Db2 instance for AI Service
      default: "none"

    ################# Gitops Parameters
    - name: git_branch
      type: string
    - name: git_commit_msg
      type: string
    - name: github_host
      type: string
    - name: github_org
      type: string
    - name: github_repo
      type: string  

    ################# DB2 Parameters
    - name: db2_meta_storage_class
      type: string
    - name: db2_temp_storage_class
      type: string
    - name: db2_logs_storage_class
      type: string
    - name: db2_audit_logs_storage_class
      type: string
    - name: db2_archivelogs_storage_class
      type: string
    - name: db2_data_storage_class
      type: string
    - name: db2_backup_storage_class
      type: string
    - name: db2_meta_storage_size
      type: string
    - name: db2_temp_storage_size
      type: string
    - name: db2_logs_storage_size
      type: string
    - name: db2_audit_logs_storage_size
      type: string
    - name: db2_archivelogs_storage_size
      type: string
    - name: db2_data_storage_size
      type: string
    - name: db2_backup_storage_size
      type: string
    - name: db2_version
      type: string
    - name: db2_instance_registry_yaml
      type: string
    - name: db2_instance_dbm_config_yaml
      type: string
    - name: db2_addons_audit_config_yaml
      type: string
    - name: db2_database_db_config_yaml
      type: string
    - name: db2_table_org
      type: string
    - name: db2_mln_count
      type: string
    - name: db2_num_pods
      type: string
    - name: db2_meta_storage_accessmode
      type: string
    - name: db2_data_storage_accessmode
      type: string
    - name: db2_backup_storage_accessmode
      type: string
    - name: db2_logs_storage_accessmode
      type: string
    - name: db2_audit_logs_storage_accessmode
      type: string
    - name: db2_temp_storage_accessmode
      type: string
    - name: db2_archivelogs_storage_accessmode
      type: string
    - name: db2_cpu_requests
      type: string
    - name: db2_cpu_limits
      type: string
    - name: db2_memory_requests
      type: string
    - name: db2_memory_limits
      type: string
    - name: db2_affinity_key
      type: string
    - name: db2_affinity_value
      type: string
    - name: db2_tolerate_key
      type: string
    - name: db2_tolerate_value
      type: string
    - name: db2_tolerate_effect
      type: string
    - name: db2_timezone
      type: string
    - name: db2_tls_version
      type: string
    - name: db2_addons_audit_config_yaml_aiservice
      type: string
    - name: db2_affinity_key_aiservice
      type: string
    - name: db2_affinity_value_aiservice
      type: string
    - name: db2_archivelogs_storage_accessmode_aiservice
      type: string
    - name: db2_archivelogs_storage_class_aiservice
      type: string
    - name: db2_archivelogs_storage_size_aiservice
      type: string
    - name: db2_audit_logs_storage_accessmode_aiservice
      type: string
    - name: db2_audit_logs_storage_class_aiservice
      type: string
    - name: db2_audit_logs_storage_size_aiservice
      type: string
    - name: db2_backup_notify_slack_url_aiservice
      type: string
    - name: db2_backup_storage_accessmode_aiservice
      type: string
    - name: db2_backup_storage_class_aiservice
      type: string
    - name: db2_backup_storage_size_aiservice
      type: string
    - name: db2_cpu_limits_aiservice
      type: string
    - name: db2_cpu_requests_aiservice
      type: string
    - name: db2_data_storage_accessmode_aiservice
      type: string
    - name: db2_data_storage_class_aiservice
      type: string
    - name: db2_data_storage_size_aiservice
      type: string
    - name: db2_database_db_config_yaml_aiservice
      type: string
    - name: db2_instance_dbm_config_yaml_aiservice
      type: string
    - name: db2_instance_registry_yaml_aiservice
      type: string
    - name: db2_logs_storage_accessmode_aiservice
      type: string
    - name: db2_logs_storage_class_aiservice
      type: string
    - name: db2_logs_storage_size_aiservice
      type: string
    - name: db2_memory_limits_aiservice
      type: string
    - name: db2_memory_requests_aiservice
      type: string
    - name: db2_meta_storage_accessmode_aiservice
      type: string
    - name: db2_meta_storage_class_aiservice
      type: string
    - name: db2_meta_storage_size_aiservice
      type: string
    - name: db2_mln_count_aiservice
      type: string
    - name: db2_num_pods_aiservice
      type: string
    - name: db2_subscription_install_plan
      type: string
    - name: db2_table_org_aiservice
      type: string
    - name: db2_temp_storage_accessmode_aiservice
      type: string
    - name: db2_temp_storage_class_aiservice
      type: string
    - name: db2_temp_storage_size_aiservice 
      type: string
    - name: db2_timezone_aiservice
      type: string
    - name: db2_tls_version_aiservice
      type: string
    - name: db2_tolerate_key_aiservice
      type: string
    - name: db2_tolerate_value_aiservice
      type: string
    - name: db2_version_aiservice
      type: string
    - name: mas_instance_id
      type: string
    - name: region
      type: string
    - name: db2_channel
      type: string
    - name: db2_tolerate_effect_aiservice
      type: string

  tasks:
{% if wait_for_provision == true %}
    # 0. Wait for the provsion pipeline to complete
    # -------------------------------------------------------------------------
    - name: wait-for-provision
      timeout: "0"
      taskRef:
        kind: Task
        name: mas-devops-wait-for-tekton
      params:
        - name: type
          value: pipelinerun
        - name: name
          value: $(params.pipelinerun_name)
        - name: delay
          value: 120  # seconds between checking the status of the pipelinerun
        - name: max_retries
          value: 120  # attempts before giving up
        - name: ignore_failure
          value: $(params.ignore_failure)  # fails and exit once the first failure is detected
{% endif %}

    #1 Install AWS Elastic File Service (EFS)
    - name: gitops-efs
{% if wait_for_provision == true %}
      runAfter:
        - wait-for-provision
{% endif %}
      params:
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/secrets-params.yml.j2') | indent(8) }}
        - name: cluster_name
          value: $(params.cluster_name)
        - name: aiservice_instance_id
          value: $(params.aiservice_instance_id)
        - name: cloud_provider
          value: $(params.cloud_provider)
        - name: avp_aws_secret_key
          value: $(params.avp_aws_secret_key)
        - name: avp_aws_access_key
          value: $(params.avp_aws_access_key)
        - name: efs_action
          value: $(params.efs_action)
      workspaces:
        - name: configs
          workspace: configs
      taskRef:
        kind: Task
        name: gitops-efs
      when:
        - input: "$(params.efs_action)"
          operator: notin
          values: [""]
        - input: "$(params.efs_action)"
          operator: in
          values: ["provision"]

    - name: gitops-provision-mongo
      runAfter:
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: avp_aws_secret_key
          value: $(params.avp_aws_secret_key)
        - name: avp_aws_access_key
          value: $(params.avp_aws_access_key)
        - name: vpc_ipv4_cidr
          value: $(params.vpc_ipv4_cidr)
        - name: mongo_provider
          value: $(params.mongo_provider)
        - name: aws_docdb_instance_number
          value: $(params.aws_docdb_instance_number)
        - name: aws_docdb_engine_version
          value: $(params.aws_docdb_engine_version)
      taskRef:
        kind: Task
        name: gitops-mongo
      workspaces:
        - name: configs
          workspace: configs
      when:
        - input: "$(params.mongodb_action)"
          operator: notin
          values: [""]

    # Install DB2 database
    - name: gitops-provision-db2u
      runAfter:
        - gitops-provision-mongo
      params:
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/secrets-params.yml.j2') | indent(8) }}

        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/git-params.yml.j2') | indent(8) }}        
        - name: cluster_name
          value: $(params.cluster_name)
        - name: cluster_url
          value: $(params.cluster_url)
        - name: account
          value: $(params.account)
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: db2_channel
          value: $(params.db2_channel)
        - name: db2_subscription_install_plan
          value: $(params.db2_subscription_install_plan)
      workspaces:
      - name: configs
        workspace: configs
      taskRef:
        kind: Task
        name: gitops-db2u

    # DB2 for AI Service
    - name: gitops-db2u-database-aiservice
      runAfter:
        - gitops-provision-db2u
      params:
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/gitops-params.yml.j2') | indent(8) }}

        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/secrets-params.yml.j2') | indent(8) }}
        
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/git-params.yml.j2') | indent(8) }}

        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mas_app_id
          value: aiservice

        - name: db2_meta_storage_class
          value: $(params.db2_meta_storage_class_aiservice)
        - name: db2_temp_storage_class
          value: $(params.db2_temp_storage_class_aiservice)
        - name: db2_logs_storage_class
          value: $(params.db2_logs_storage_class_aiservice)
        - name: db2_audit_logs_storage_class
          value: $(params.db2_audit_logs_storage_class_aiservice)
        - name: db2_data_storage_class
          value: $(params.db2_data_storage_class_aiservice)
        - name: db2_backup_storage_class
          value: $(params.db2_backup_storage_class_aiservice)
        - name: db2_archivelogs_storage_class
          value: $(params.db2_archivelogs_storage_class_aiservice)

        - name: db2_meta_storage_size
          value: $(params.db2_meta_storage_size_aiservice)
        - name: db2_temp_storage_size
          value: $(params.db2_temp_storage_size_aiservice)
        - name: db2_logs_storage_size
          value: $(params.db2_logs_storage_size_aiservice)
        - name: db2_audit_logs_storage_size
          value: $(params.db2_audit_logs_storage_size_aiservice)
        - name: db2_data_storage_size
          value: $(params.db2_data_storage_size_aiservice)
        - name: db2_backup_storage_size
          value: $(params.db2_backup_storage_size_aiservice)
        - name: db2_archivelogs_storage_size
          value: $(params.db2_archivelogs_storage_size_aiservice)

        - name: db2_version
          value: $(params.db2_version_aiservice)
        - name: db2_tls_version
          value: $(params.db2_tls_version_aiservice)
        - name: db2_instance_registry_yaml
          value: $(params.db2_instance_registry_yaml_aiservice)
        - name: db2_instance_dbm_config_yaml
          value: $(params.db2_instance_dbm_config_yaml_aiservice)
        - name: db2_database_db_config_yaml
          value: $(params.db2_database_db_config_yaml_aiservice)
        - name: db2_addons_audit_config_yaml
          value: $(params.db2_addons_audit_config_yaml_aiservice)
        - name: db2_table_org
          value: $(params.db2_table_org_aiservice)
        - name: db2_mln_count
          value: $(params.db2_mln_count_aiservice)
        - name: db2_num_pods
          value: $(params.db2_num_pods_aiservice)
        - name: db2_meta_storage_accessmode
          value: $(params.db2_meta_storage_accessmode_aiservice)
        - name: db2_data_storage_accessmode
          value: $(params.db2_data_storage_accessmode_aiservice)
        - name: db2_backup_storage_accessmode
          value: $(params.db2_backup_storage_accessmode_aiservice)
        - name: db2_logs_storage_accessmode
          value: $(params.db2_logs_storage_accessmode_aiservice)
        - name: db2_audit_logs_storage_accessmode
          value: $(params.db2_audit_logs_storage_accessmode_aiservice)
        - name: db2_temp_storage_accessmode
          value: $(params.db2_temp_storage_accessmode_aiservice)
        - name: db2_archivelogs_storage_accessmode
          value: $(params.db2_archivelogs_storage_accessmode_aiservice)
        - name: db2_cpu_requests
          value: $(params.db2_cpu_requests_aiservice)
        - name: db2_cpu_limits
          value: $(params.db2_cpu_limits_aiservice)
        - name: db2_memory_requests
          value: $(params.db2_memory_requests_aiservice)
        - name: db2_memory_limits
          value: $(params.db2_memory_limits_aiservice)
        - name: db2_affinity_key
          value: $(params.db2_affinity_key_aiservice)
        - name: db2_affinity_value
          value: $(params.db2_affinity_value_aiservice)
        - name: db2_tolerate_key
          value: $(params.db2_tolerate_key_aiservice)
        - name: db2_tolerate_value
          value: $(params.db2_tolerate_value_aiservice)
        - name: db2_tolerate_effect
          value: $(params.db2_tolerate_effect_aiservice)
        - name: jdbc_route
          value: $(params.jdbc_route_aiservice)
        - name: db2_timezone
          value: $(params.db2_timezone_aiservice)
        - name: db2_backup_notify_slack_url
          value: $(params.db2_backup_notify_slack_url_aiservice)
        - name: auto_backup
          value: $(params.auto_backup_aiservice)
        - name: allow_list
          value: $(params.allow_list)

      workspaces:
        - name: configs
          workspace: configs
        - name: shared-gitops-configs
          workspace: shared-gitops-configs
      taskRef:
        kind: Task
        name: gitops-db2u-database
      when:
        - input: "$(params.db2_action_aiservice)"
          operator: notin
          values: [""]
        - input: "$(params.jdbc_type_aiservice)"
          operator: in
          values: ["incluster-db2"]
        - input: "$(params.mas_app_channel_aiservice)"
          operator: notin
          values: [""]

    - name: gitops-jdbc-config-aiservice
      runAfter:
        - gitops-db2u-database-aiservice
      params:
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/gitops-params.yml.j2') | indent(8) }}

        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/secrets-params.yml.j2') | indent(8) }}
        
        {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/git-params.yml.j2') | indent(8) }}

        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mas_app_id
          value: aiservice
        - name: mas_config_scope
          value: system
        - name: jdbc_type
          value: $(params.jdbc_type_aiservice)
        - name: jdbc_instance_name
          value: $(params.jdbc_instance_name_aiservice)
        - name: jdbc_connection_url
          value: $(params.jdbc_connection_url_aiservice)
        - name: jdbc_certificate_file
          value: $(params.jdbc_certificate_file_aiservice)
      workspaces:
        - name: configs
          workspace: configs
        - name: shared-gitops-configs
          workspace: shared-gitops-configs
      taskRef:
        kind: Task
        name: gitops-jdbc-config
      when:
        - input: "$(params.jdbc_type_aiservice)"
          operator: notin
          values: [""]
        - input: "$(params.mas_app_channel_aiservice)"
          operator: notin
          values: [""]
