---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: gitops-mas-fvt-preparer-pipeline
spec:
  workspaces:
    - name: configs
    - name: shared-additional-configs

  description: Gitops MAS FVT pipeline
  params:
    - name: cluster_name
      type: string
    - name: account_id
      type: string
    - name: region_id
      type: string
    - name: cluster_url
      type: string
    - name: devops_build_number
      type: string
    - name: launcher_id
      type: string
    - name: mas_instance_id
      type: string
    - name: pipeline_storage_class
      type: string
    - name: avp_aws_secret_region
      type: string
    - name: fvt_pipeline_name
      type: string
    - name: cli_version
      type: string
    - name: fvt_config
      type: string
    - name: fvt_image_registry
      type: string
    - name: artifactory_generic_release_url
      type: string
    - name: fvt_ansible_version
      type: string

    - name: fvt_version_core
      type: string
    - name: ivt_version_core
      type: string
    - name: fvt_version_ctf
      type: string
    - name: fvt_version_assist
      type: string
    - name: fvt_version_health
      type: string
    - name: fvt_version_iot
      type: string
    - name: fvt_version_optimizer
      type: string
    - name: fvt_version_manage
      type: string
    - name: fvt_manage_automation_version
      type: string
    - name: fvt_version_manage_civil
      type: string
    - name: fvt_version_mobile
      type: string
    - name: fvt_version_mobilefoundation
      type: string
    - name: fvt_version_servicerequests
      type: string
    - name: fvt_version_inspection
      type: string
    - name: fvt_version_technician
      type: string
    - name: fvt_version_asset_manager
      type: string
    - name: fvt_version_inventorycounting
      type: string
    - name: fvt_version_data_dictionary
      type: string

    - name: fvt_blacklist_core
      type: string
    - name: fvt_whitelist_core
      type: string

    - name: mas_workspace_id
      type: string
    - name: mas_channel
      type: string

    - name: launchfvt_core
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable lauch of the Core FVT Pipeline after suite-verify completes"
    - name: launchfvt_assist
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable lauch of the Assist FVT Pipeline after app-cfg-assist completes"
    - name: launchfvt_iot
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable lauch of the IoT FVT Pipeline after app-cfg-iot completes"
    - name: launchfvt_manage
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable lauch of the Manage FVT Pipeline after app-cfg-manage completes (does not control the additional Industry Solution, Mobile, or Regression Manage suites)"
    - name: launchfvt_monitor
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable lauch of the Manage FVT Pipeline after app-cfg-monitor completes"
    - name: launchfvt_optimizer
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable lauch of the Optimizer FVT Pipeline after app-cfg-optimizer completes"
    - name: launchfvt_predict
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable lauch of the Predict FVT Pipeline after app-cfg-predict completes"
    - name: launchfvt_visualinspection
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable lauch of the Visual Inspection FVT Pipeline after app-cfg-visualinspection completes"
    - name: launchfvt_mobile
      type: string
      default: "true"
      description: "Set this to any falue other than 'true' to disable lauch of the Mobile FVT Pipeline after app-cfg-manage completes"
    - name: launchfvt_health
      type: string
      default: "true"
    - name: launchfvt_manage_civil
      type: string
      default: "true"
    - name: launchfvt_manage_is
      type: string
      default: "true"

    - name: mas_app_channel_iot
      type: string
      default: ""
    - name: mas_app_channel_manage
      type: string
      default: ""
    - name: mas_app_channel_monitor
      type: string
      default: ""
    - name: mas_app_channel_visualinspection
      type: string
      default: ""
    - name: mas_app_channel_assist
      type: string
      default: ""
    - name: mas_app_channel_optimizer
      type: string
      default: ""
    - name: mas_app_channel_predict
      type: string
      default: ""

    - name: ldap_url
      type: string
      default: ""
    - name: ldap_basedn
      type: string
      default: ""
    - name: ldap_userid_map
      type: string
      default: ""

  tasks:
    - name: mas-launchfvt
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account_id
          value: $(params.account_id)
        - name: region_id
          value: $(params.region_id)
        - name: cluster_url
          value: $(params.cluster_url)
        - name: devops_build_number
          value: $(params.devops_build_number)
        - name: launcher_id
          value: $(params.launcher_id)
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: pipeline_storage_class
          value: $(params.pipeline_storage_class)
        - name: aws_region
          value: $(params.avp_aws_secret_region)
        - name: fvt_pipeline_name
          value: $(params.fvt_pipeline_name)
        - name: cli_version
          value: $(params.cli_version)
        - name: fvt_config
          value: $(params.fvt_config)
        - name: fvt_image_registry
          value: $(params.fvt_image_registry)

        - name: artifactory_generic_release_url
          value: $(params.artifactory_generic_release_url)
        - name: fvt_ansible_version
          value: $(params.fvt_ansible_version)

        - name: fvt_version_core
          value: $(params.fvt_version_core)
        - name: ivt_version_core
          value: $(params.ivt_version_core)
        - name: fvt_version_ctf
          value: $(params.fvt_version_ctf)
        - name: fvt_version_assist
          value: $(params.fvt_version_assist)
        - name: fvt_version_health
          value: $(params.fvt_version_health)
        - name: fvt_version_iot
          value: $(params.fvt_version_iot)
        - name: fvt_version_optimizer
          value: $(params.fvt_version_optimizer)
        - name: fvt_version_manage
          value: $(params.fvt_version_manage)
        - name: fvt_manage_automation_version
          value: $(params.fvt_manage_automation_version)
        - name: fvt_version_manage_civil
          value: $(params.fvt_version_manage_civil)
        - name: fvt_version_mobile
          value: $(params.fvt_version_mobile)
        - name: fvt_version_mobilefoundation
          value: $(params.fvt_version_mobilefoundation)
        - name: fvt_version_servicerequests
          value: $(params.fvt_version_servicerequests)
        - name: fvt_version_inspection
          value: $(params.fvt_version_inspection)
        - name: fvt_version_technician
          value: $(params.fvt_version_technician)
        - name: fvt_version_asset_manager
          value: $(params.fvt_version_asset_manager)
        - name: fvt_version_inventorycounting
          value: $(params.fvt_version_inventorycounting)
        - name: fvt_version_data_dictionary
          value: $(params.fvt_version_data_dictionary)

        - name: fvt_blacklist_core
          value: $(params.fvt_blacklist_core)
        - name: fvt_whitelist_core
          value: $(params.fvt_whitelist_core)

        - name: mas_workspace_id
          value: $(params.mas_workspace_id)
        - name: mas_channel
          value: $(params.mas_channel)

        - name: launchfvt_core
          value: $(params.launchfvt_core)
        - name: launchfvt_assist
          value: $(params.launchfvt_assist)
        - name: launchfvt_iot
          value: $(params.launchfvt_iot)
        - name: launchfvt_manage
          value: $(params.launchfvt_manage)
        - name: launchfvt_mobile
          value: $(params.launchfvt_mobile)
        - name: launchfvt_monitor
          value: $(params.launchfvt_monitor)
        - name: launchfvt_optimizer
          value: $(params.launchfvt_optimizer)
        - name: launchfvt_predict
          value: $(params.launchfvt_predict)
        - name: launchfvt_visualinspection
          value: $(params.launchfvt_visualinspection)
        - name: launchfvt_health
          value: $(params.launchfvt_health)
        - name: launchfvt_manage_civil
          value: $(params.launchfvt_manage_civil)
        - name: launchfvt_manage_is
          value: $(params.launchfvt_manage_is)

        - name: mas_app_channel_iot
          value: $(params.mas_app_channel_iot)
        - name: mas_app_channel_manage
          value: $(params.mas_app_channel_manage)
        - name: mas_app_channel_monitor
          value: $(params.mas_app_channel_monitor)
        - name: mas_app_channel_visualinspection
          value: $(params.mas_app_channel_visualinspection)
        - name: mas_app_channel_assist
          value: $(params.mas_app_channel_assist)
        - name: mas_app_channel_optimizer
          value: $(params.mas_app_channel_optimizer)
        - name: mas_app_channel_predict
          value: $(params.mas_app_channel_predict)

        - name: ldap_url
          value: $(params.ldap_url)
        - name: ldap_basedn
          value: $(params.ldap_basedn)
        - name: ldap_userid_map
          value: $(params.ldap_userid_map)

      workspaces:
        - name: configs
          workspace: configs
        - name: shared-additional-configs
          workspace: shared-additional-configs
      taskRef:
        kind: Task
        name: gitops-mas-fvt-preparer
