apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: gitops-mas-aibroker-tenant
spec:
  params:
    - name: cluster_name
      type: string
    - name: account
      type: string
    - name: cluster_id
      type: string
    - name: cluster_url
      type: string
    - name: secrets_path
      type: string
    - name: avp_aws_secret_region
      type: string
    - name: git_branch
      type: string
    - name: github_org
      type: string
    - name: github_repo
      type: string
    - name: github_host
      type: string

    - name: aibroker_namespace
      type: string
    - name: mas_aibroker_provision_tenant
      type: string
    - name: mas_instance_id
      type: string
    - name: tenantNamespace
      type: string
    - name: cluster_domain
      type: string
    - name: in_saas_env
      type: string
    - name: ibm_entitlement_key
      type: string
    - name: mas_icr_cp
      type: string
    - name: mas_icr_cpopen
      type: string

    - name: artifactory_token
      type: string
    - name: drocfg_url
      type: string
    - name: drocfg_ca
      type: string
    - name: drocfg_registration_key
      type: string

    - name: slscfg_url
      type: string
    - name: slscfg_registration_key
      type: string
    - name: mas_aibroker_sls_subscription_id
      type: string

    - name: mas_aibroker_watsonxai_url
      type: string
    - name: mas_aibroker_watsonxai_apikey
      type: string
    - name: mas_aibroker_watsonxai_project_id
      type: string

    - name: mas_aibroker_storage_host
      type: string
    - name: mas_aibroker_storage_port
      type: string
    - name: mas_aibroker_storage_region
      type: string
    - name: mas_aibroker_storage_accesskey
      type: string
    - name: mas_aibroker_storage_secretkey
      type: string
    - name: mas_aibroker_storage_pipelines_bucket
      type: string
    - name: mas_aibroker_storage_ssl
      type: string
    
    ##review
    - name: mas_aibroker_s3_endpoint_url
      type: string

    - name: mas_aibroker_s3_region
      type: string

    - name: mas_aibroker_s3_bucket_prefix
      type: string

    - name: rsl_url
      type: string

    - name: rsl_org_id
      type: string

    - name: rsl_token
      type: string

    - name: tenant_entitlement_type
      type: string

    - name: tenant_entitlement_start_date
      type: string

    - name: tenant_entitlement_end_date
      type: string

    ##review



  workspaces:
    - name: configs

  tasks:
    - name: run-gitops-aibroker-tenant
      taskRef:
        name: gitops-aibroker-tenant
      workspaces:
        - name: configs
          workspace: configs
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: cluster_id
          value: $(params.cluster_id)
        - name: cluster_url
          value: $(params.cluster_url)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: git_branch
          value: $(params.git_branch)
        - name: github_org
          value: $(params.github_org)
        - name: github_repo
          value: $(params.github_repo)
        - name: github_host
          value: $(params.github_host)

        - name: aibroker_namespace
          value: $(params.aibroker_namespace)
        - name: mas_aibroker_provision_tenant
          value: $(params.mas_aibroker_provision_tenant)
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: tenantNamespace
          value: $(params.tenantNamespace)
        - name: cluster_domain
          value: $(params.cluster_domain)
        - name: in_saas_env
          value: $(params.in_saas_env)
        - name: ibm_entitlement_key
          value: $(params.ibm_entitlement_key)
        - name: mas_icr_cp
          value: $(params.mas_icr_cp)
        - name: mas_icr_cpopen
          value: $(params.mas_icr_cpopen)

        - name: artifactory_token
          value: $(params.artifactory_token)
        - name: drocfg_url
          value: $(params.drocfg_url)

        - name: drocfg_ca
          value: $(params.drocfg_ca)
        - name: drocfg_registration_key
          value: $(params.drocfg_registration_key)

        - name: slscfg_url
          value: $(params.slscfg_url)
        - name: slscfg_registration_key
          value: $(params.slscfg_registration_key)
        - name: mas_aibroker_sls_subscription_id
          value: $(params.mas_aibroker_sls_subscription_id)

        - name: mas_aibroker_watsonxai_url
          value: $(params.mas_aibroker_watsonxai_url)
        - name: mas_aibroker_watsonxai_apikey
          value: $(params.mas_aibroker_watsonxai_apikey)
        - name: mas_aibroker_watsonxai_project_id
          value: $(params.mas_aibroker_watsonxai_project_id)

        - name: mas_aibroker_storage_host
          value: $(params.mas_aibroker_storage_host)
        - name: mas_aibroker_storage_port
          value: $(params.mas_aibroker_storage_port)
        - name: mas_aibroker_storage_region
          value: $(params.mas_aibroker_storage_region)
        - name: mas_aibroker_storage_accesskey
          value: $(params.mas_aibroker_storage_accesskey)
        - name: mas_aibroker_storage_secretkey
          value: $(params.mas_aibroker_storage_secretkey)
        - name: mas_aibroker_storage_pipelines_bucket
          value: $(params.mas_aibroker_storage_pipelines_bucket)
        - name: mas_aibroker_storage_ssl
          value: $(params.mas_aibroker_storage_ssl)
        
        ##review
        - name: mas_aibroker_s3_endpoint_url
          value: $(params.mas_aibroker_s3_endpoint_url)

        - name: mas_aibroker_s3_region
          value: $(params.mas_aibroker_s3_region)

        - name: mas_aibroker_s3_bucket_prefix
          value: $(params.mas_aibroker_s3_bucket_prefix)

        - name: rsl_url
          value: $(params.rsl_url)

        - name: rsl_org_id
          value: $(params.rsl_org_id)

        - name: rsl_token
          value: $(params.rsl_token)

        - name: tenant_entitlement_type
          value: $(params.tenant_entitlement_type)

        - name: tenant_entitlement_start_date
          value: $(params.tenant_entitlement_start_date)

        - name: tenant_entitlement_end_date
          value: $(params.tenant_entitlement_end_date)
        ##review

