---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: gitops-suite-license-service
spec:
  workspaces:
    - name: shared-entitlement
    - name: shared-gitops-configs
    - name: configs
  description: MAS provision Suite License Service for customer subscription
  params:
    - name: cluster_name
      type: string
    - name: account
      type: string
    - name: secrets_path
      type: string
    - name: avp_aws_secret_region
      type: string
    # 1. Gitops git Parameters
    # -------------------------------------------------------------------------
    # Gitops Git Parameters
    # ------------------------------------------------------------------------- 
    - name: github_push
      type: string
      default: "False"
      description: Whether to push changes to github or not. True or False
    - name: git_branch
      type: string
      description: The git branch to push too
      default: ""
    - name: github_org
      type: string
      description: The git org to push too
      default: ""
    - name: github_repo
      type: string
      description: The git repo to push too
      default: ""
    - name: github_host
      type: string
      description: The git host to push too
      default: ""
    - name: github_pat
      type: string
      description: The git personal access token to use on the commit
      default: ""
    - name: git_commit_msg
      type: string
      description: The git commit message to use in the push
      default: ""
    - name: github_url
      type: string
    - name: github_ssh
      type: string
      default: ""

    - name: mas_instance_id
      type: string
      default: ""

    - name: mongo_provider
      type: string
      default: aws
    - name: sls_channel
      type: string

    - name: sls_install_plan
      type: string
      default: "Automatic"

    - name: docdb_user_action
      type: string
      default: add

    - name: icr_cp
      type: string
    - name: icr_cp_open
      type: string

    - name: ocp_cluster_domain
      type: string
      default: ""

    - name: dns_provider
      type: string
      default: ""

    - name: cis_service_name
      type: string
      default: ""
    
    - name: cis_crn
      type: string
      default: ""

    - name: cluster_url
      type: string
      default: ""

    - name: authorized_entitlement_saas_encoded
      type: string
      default: ""

    - name: mas_slscfg_pod_template_yaml
      type: string
      default: ""

    # gitops-license-generator parameters
    # ------------------------------------------------------------------------- 
    - name: sls_license_expiry_date
      type: string
    - name: sls_license_app_points
      type: string
    - name: sls_license_customer_name
      type: string
    - name: sls_license_country
      type: string
    - name: sls_license_icn
      type: string
      default: ""
    - name: sls_subscription_id
      type: string
      default: ""

  tasks:

    # 1. License Entitlement
    # -------------------------------------------------------------------------
    - name: gitops-license
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        
        - name: sls_license_icn
          value: $(params.sls_license_icn)
        - name: sls_subscription_id
          value: $(params.sls_subscription_id)

        - name: authorized_entitlement_saas_encoded
          value: $(params.authorized_entitlement_saas_encoded)
      workspaces:
        - name: shared-entitlement
          workspace: shared-entitlement
      taskRef:
        kind: Task
        name: gitops-license
      when:
        - input: "$(params.authorized_entitlement_saas_encoded)"
          operator: notin
          values: [""]

    - name: gitops-license-generator
      runAfter:
        - gitops-license
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)

        - name: expiry_date
          value: $(params.sls_license_expiry_date)
        - name: app_points
          value: $(params.sls_license_app_points)
        - name: customer_name
          value: $(params.sls_license_customer_name)
        - name: country
          value: $(params.sls_license_country)
        - name: sls_license_icn
          value: $(params.sls_license_icn)
        - name: sls_subscription_id
          value: $(params.sls_subscription_id)
        - name: authorized_entitlement_saas_encoded
          value: $(params.authorized_entitlement_saas_encoded)  
      taskRef:
        kind: Task
        name: gitops-license-generator
      when:
        - input: "$(params.authorized_entitlement_saas_encoded)"
          operator: in
          values: [""]

    # 2. 
    # -------------------------------------------------------------------------
    - name: gitops-sls
      runAfter:        
        - gitops-license-generator
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: mongo_provider
          value: $(params.mongo_provider)
        - name: docdb_user_action
          value: $(params.docdb_user_action)

        - name: github_push
          value: $(params.github_push)
        - name: git_branch
          value: $(params.git_branch)
        - name: github_org
          value: $(params.github_org)
        - name: github_repo
          value: $(params.github_repo)
        - name: github_host
          value: $(params.github_host)
        - name: git_commit_msg
          value: $(params.git_commit_msg)
        - name: github_ssh
          value: $(params.github_ssh)

        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)

        - name: sls_channel
          value: $(params.sls_channel)
        - name: sls_install_plan
          value: $(params.sls_install_plan)
        - name: icr_cp
          value: $(params.icr_cp)
        - name: icr_cp_open
          value: $(params.icr_cp_open)

        - name: cluster_url
          value: $(params.cluster_url)
        - name: ocp_cluster_domain
          value: $(params.ocp_cluster_domain)
        - name: dns_provider
          value: $(params.dns_provider)
        - name: cis_service_name
          value: $(params.cis_service_name)
        - name: cis_crn
          value: $(params.cis_crn)

        - name: sls_license_icn
          value: $(params.sls_license_icn)
        - name: sls_subscription_id
          value: $(params.sls_subscription_id)
        - name: mas_slscfg_pod_template_yaml
          value: $(params.mas_slscfg_pod_template_yaml)

      taskRef:
        kind: Task
        name: gitops-sls
      workspaces:
        - name: shared-entitlement
          workspace: shared-entitlement
        - name: configs
          workspace: configs
        - name: shared-gitops-configs
          workspace: shared-gitops-configs

          
