---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: gitops-mas-cluster
spec:
  description: MAS Cluster scope
  workspaces:
    - name: configs
  params:
    - name: cluster_name
      type: string
    - name: account
      type: string
    - name: git_branch
      type: string
    - name: github_org
      type: string
    - name: github_repo
      type: string
    - name: github_host
      type: string
    - name: github_user
      type: string
    - name: github_pat
      type: string
      default: ""
    - name: git_commit_msg
      type: string
    - name: artifactory_username
      type: string
      default: ""
    - name: artifactory_token
      type: string
      default: ""
    - name: avp_aws_access_key
      type: string
    - name: avp_aws_secret_key
      type: string
    - name: avp_aws_secret_region
      type: string
    
    - name: argocd_url
      type: string
    - name: argocd_username
      type: string
      default: ""
    - name: argocd_password
      type: string
      default: ""

    - name: mas_catalog_version
      type: string
    - name: mas_catalog_image
      type: string

    - name: common_services_channel
      type: string

    - name: dro_namespace
      type: string
      default: "redhat-marketplace"
    - name: dro_csv
      type: string
      default: ""
  tasks:
    - name: gitops-cluster
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: git_branch
          value: $(params.git_branch)
        - name: github_org
          value: $(params.github_org)
        - name: github_repo
          value: $(params.github_repo)
        - name: github_host
          value: $(params.github_host)
        - name: github_user
          value: $(params.github_user)
        - name: github_pat
          value: $(params.github_pat)
        - name: git_commit_msg
          value: $(params.git_commit_msg)
        - name: artifactory_username
          value: $(params.artifactory_username)
        - name: artifactory_token
          value: $(params.artifactory_token)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: avp_aws_secret_key
          value: $(params.avp_aws_secret_key)
        - name: avp_aws_access_key
          value: $(params.avp_aws_access_key)
        - name: argocd_url
          value: $(params.argocd_url)
        - name: argocd_username
          value: $(params.argocd_username)
        - name: argocd_password
          value: $(params.argocd_password)

        - name: mas_catalog_version
          value: $(params.mas_catalog_version)
        - name: mas_catalog_image
          value: $(params.mas_catalog_image)

        - name: common_services_channel
          value: $(params.common_services_channel)

      taskRef:
        kind: Task
        name: gitops-cluster
      workspaces:
        - name: configs
          workspace: configs

    - name: gitops-dro
      runAfter:
        - gitops-cluster
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: avp_aws_secret_key
          value: $(params.avp_aws_secret_key)
        - name: avp_aws_access_key
          value: $(params.avp_aws_access_key)
        - name: git_branch
          value: $(params.git_branch)
        - name: github_org
          value: $(params.github_org)
        - name: github_repo
          value: $(params.github_repo)
        - name: github_host
          value: $(params.github_host)
        - name: git_commit_msg
          value: $(params.git_commit_msg)
        - name: github_pat
          value: $(params.github_pat)
        - name: argocd_url
          value: $(params.argocd_url)
        - name: argocd_username
          value: $(params.argocd_username)
        - name: argocd_password
          value: $(params.argocd_password)
        - name: dro_namespace
          value: $(params.dro_namespace)
        - name: dro_csv
          value: $(params.dro_csv)
      taskRef:
        kind: Task
        name: gitops-dro
      workspaces:
        - name: configs
          workspace: configs

    - name: gitops-cis-compliance
      runAfter:
        - gitops-cluster
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: avp_aws_secret_key
          value: $(params.avp_aws_secret_key)
        - name: avp_aws_access_key
          value: $(params.avp_aws_access_key)
        - name: git_branch
          value: $(params.git_branch)
        - name: github_org
          value: $(params.github_org)
        - name: github_repo
          value: $(params.github_repo)
        - name: github_host
          value: $(params.github_host)
        - name: git_commit_msg
          value: $(params.git_commit_msg)
        - name: github_pat
          value: $(params.github_pat)

        - name: argocd_url
          value: $(params.argocd_url)
        - name: argocd_username
          value: $(params.argocd_username)
        - name: argocd_password
          value: $(params.argocd_password)
      taskRef:
        kind: Task
        name: gitops-cis-compliance
      workspaces:
        - name: configs
          workspace: configs

