---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: gitops-mas-update
spec:

  workspaces:
    - name: configs

  params:

    # 1. Gitops git Parameters
    # -------------------------------------------------------------------------
    {{ lookup('template', params_src_dir ~ '/gitops-git.yml.j2') | indent(4) }}

    # 2. Gitops avp Parameters
    # -------------------------------------------------------------------------
    {{ lookup('template', params_src_dir ~ '/gitops-avp.yml.j2') | indent(4) }}

    # 3. Gitops common Parameters
    # -------------------------------------------------------------------------
    {{ lookup('template', params_src_dir ~ '/gitops-common.yml.j2') | indent(4) }}

    - name: mas_catalog_image
      type: string
      default: ""

    - name: icr_username
      type: string
      default: ""

    - name: icr_password
      type: string
      default: ""

    # Tekton Pipeline image pull policy (for ibmmas/cli images)
    - name: image_pull_policy
      type: string
      default: IfNotPresent

    # Catalog Version
    - name: mas_catalog_version
      type: string

    # Development Build Support
    - name: artifactory_username
      default: ""
      type: string
      description: Required to install development MAS catalogs
    - name: artifactory_token
      default: ""
      type: string
      description: Required to install development MAS catalogs

    # common services action
    - name: common_services_action
      type: string
      default: "upgrade"
      description: Set to 'upgrade' to update common_services
    
    - name: common-services-channel
      type: string
      default: ""
      description: The common-services channel to upgrade too

    # Remote OCP Cluster verification
    - name: remote_ocp_cluster
      type: string
      default: ""
    - name: remote_ocp_type
      type: string
      default: "rosa"

    - name: skip_pre_update_check
      type: string
      default: "false"

    - name: skip_post_update_check
      type: string
      default: "false"
  
  tasks:

    # 1. Verify health of the cluster before we change anything
    # -------------------------------------------------------------------------
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/cluster-setup/ocp-verify.yml.j2', template_vars={
        'name': 'pre-update-check', 
        'devops_suite_name': 'pre-update-check',
        'remote_ocp_cluster': '$(params.remote_ocp_cluster)',
        'remote_ocp_type': '$(params.remote_ocp_type)',
        'rosa_cluster_admin_password': '$(params.rosa_cluster_admin_password)',
        'rosa_token': '$(params.rosa_token)',
        'avp_aws_secret_region': '$(params.avp_aws_secret_region)',
        'avp_aws_secret_key': '$(params.avp_aws_secret_key)',
        'avp_aws_access_key': '$(params.avp_aws_access_key)'
      }) | indent(4) }}
      when:
        - input: "$(params.skip_pre_update_check)"
          operator: notin
          values: ["true"]

    # 2. Run the catalog update
    # -------------------------------------------------------------------------
    - name: update-catalog-gitops
      taskRef:
        kind: Task
        name: gitops-cluster
      runAfter:
        - pre-update-check
      params:
        - name: devops_suite_name
          value: update-catalog

        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: rosa_token
          value: $(params.rosa_token)
        - name: rosa_cluster_admin_password
          value: $(params.rosa_cluster_admin_password)

        - name: github_push
          value: $(params.github_push)
        - name: git_branch
          value: $(params.git_branch)
        - name: github_org
          value: $(params.github_org)
        - name: github_repo
          value: $(params.github_repo)
        - name: github_host
          value: $(params.github_host)
        - name: github_pat
          value: $(params.github_pat)
        - name: git_commit_msg
          value: $(params.git_commit_msg)

        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: avp_aws_secret_key
          value: $(params.avp_aws_secret_key)
        - name: avp_aws_access_key
          value: $(params.avp_aws_access_key)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: secrets_key_seperator
          value: $(params.secrets_key_seperator)

        - name: mas_catalog_action
          value: "update"
        - name: common_services_action
          value: "none"

        - name: mas_catalog_version
          value: $(params.mas_catalog_version)
        - name: mas_catalog_image
          value: $(params.mas_catalog_image)

        - name: icr_username
          value: $(params.icr_username)
        - name: icr_password
          value: $(params.icr_password)

        # Development catalog support
        - name: artifactory_username
          value: $(params.artifactory_username)
        - name: artifactory_token
          value: $(params.artifactory_token)
      workspaces:
        - name: configs
          workspace: configs

    # 3. Verify health of the cluster before we consider the update complete
    # -------------------------------------------------------------------------
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/cluster-setup/ocp-verify.yml.j2', template_vars={
        'name': 'post-update-verify-cluster',
        'devops_suite_name': 'post-update-verify-cluster',
        'verify_cluster': 'True',
        'verify_catalogsources': 'False',
        'verify_subscriptions': 'False',
        'verify_workloads': 'False',
        'verify_ingress': 'False',
        'remote_ocp_cluster': '$(params.remote_ocp_cluster)',
        'remote_ocp_type': '$(params.remote_ocp_type)',
        'rosa_cluster_admin_password': '$(params.rosa_cluster_admin_password)',
        'rosa_token': '$(params.rosa_token)',
        'avp_aws_secret_region': '$(params.avp_aws_secret_region)',
        'avp_aws_secret_key': '$(params.avp_aws_secret_key)',
        'avp_aws_access_key': '$(params.avp_aws_access_key)'
      }) | indent(4) }}
      runAfter:
        - update-catalog-gitops
      when:
        - input: "$(params.skip_post_update_check)"
          operator: notin
          values: ["true"]

    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/cluster-setup/ocp-verify.yml.j2', template_vars={
        'name': 'post-update-verify-catalogsources',
        'devops_suite_name': 'post-update-verify-catalogsources',
        'verify_cluster': 'False',
        'verify_catalogsources': 'True',
        'verify_subscriptions': 'False',
        'verify_workloads': 'False',
        'verify_ingress': 'False',
        'remote_ocp_cluster': '$(params.remote_ocp_cluster)',
        'remote_ocp_type': '$(params.remote_ocp_type)',
        'rosa_cluster_admin_password': '$(params.rosa_cluster_admin_password)',
        'rosa_token': '$(params.rosa_token)',
        'avp_aws_secret_region': '$(params.avp_aws_secret_region)',
        'avp_aws_secret_key': '$(params.avp_aws_secret_key)',
        'avp_aws_access_key': '$(params.avp_aws_access_key)'
      }) | indent(4) }}
      runAfter:
        - post-update-verify-cluster
      when:
        - input: "$(params.skip_post_update_check)"
          operator: notin
          values: ["true"]

    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/cluster-setup/ocp-verify.yml.j2', template_vars={
        'name': 'post-update-verify-subscriptions',
        'devops_suite_name': 'post-update-verify-subscriptions',
        'verify_cluster': 'False',
        'verify_catalogsources': 'False',
        'verify_subscriptions': 'True',
        'verify_workloads': 'False',
        'verify_ingress': 'False',
        'remote_ocp_cluster': '$(params.remote_ocp_cluster)',
        'remote_ocp_type': '$(params.remote_ocp_type)',
        'rosa_cluster_admin_password': '$(params.rosa_cluster_admin_password)',
        'rosa_token': '$(params.rosa_token)',
        'avp_aws_secret_region': '$(params.avp_aws_secret_region)',
        'avp_aws_secret_key': '$(params.avp_aws_secret_key)',
        'avp_aws_access_key': '$(params.avp_aws_access_key)'
      }) | indent(4) }}
      runAfter:
        - post-update-verify-catalogsources
      when:
        - input: "$(params.skip_post_update_check)"
          operator: notin
          values: ["true"]

    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/cluster-setup/ocp-verify.yml.j2', template_vars={
        'name': 'post-update-verify-workloads',
        'devops_suite_name': 'post-update-verify-workloads',
        'verify_cluster': 'False',
        'verify_catalogsources': 'False',
        'verify_subscriptions': 'False',
        'verify_workloads': 'True',
        'verify_ingress': 'False',
        'remote_ocp_cluster': '$(params.remote_ocp_cluster)',
        'remote_ocp_type': '$(params.remote_ocp_type)',
        'rosa_cluster_admin_password': '$(params.rosa_cluster_admin_password)',
        'rosa_token': '$(params.rosa_token)',
        'avp_aws_secret_region': '$(params.avp_aws_secret_region)',
        'avp_aws_secret_key': '$(params.avp_aws_secret_key)',
        'avp_aws_access_key': '$(params.avp_aws_access_key)'
      }) | indent(4) }}
      runAfter:
        - post-update-verify-subscriptions
      when:
        - input: "$(params.skip_post_update_check)"
          operator: notin
          values: ["true"]

    # 4. Update Dependencies
    # --------------------------------------------------------------------------=  
    - name: update-common-services-gitops
      taskRef:
        kind: Task
        name: gitops-cluster
      runAfter:
        - post-update-verify-workloads
      params:
        - name: devops_suite_name
          value: update-common-services

        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: rosa_token
          value: $(params.rosa_token)
        - name: rosa_cluster_admin_password
          value: $(params.rosa_cluster_admin_password)

        - name: github_push
          value: $(params.github_push)
        - name: git_branch
          value: $(params.git_branch)
        - name: github_org
          value: $(params.github_org)
        - name: github_repo
          value: $(params.github_repo)
        - name: github_host
          value: $(params.github_host)
        - name: github_pat
          value: $(params.github_pat)
        - name: git_commit_msg
          value: $(params.git_commit_msg)

        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: avp_aws_secret_key
          value: $(params.avp_aws_secret_key)
        - name: avp_aws_access_key
          value: $(params.avp_aws_access_key)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: secrets_key_seperator
          value: $(params.secrets_key_seperator)

        - name: mas_catalog_action
          value: "none"
        - name: common_services_action
          value: "upgrade"

        - name: common-services-channel
          value: $(params.common-services-channel)

        - name: icr_username
          value: $(params.icr_username)
        - name: icr_password
          value: $(params.icr_password)

        # Development catalog support
        - name: artifactory_username
          value: $(params.artifactory_username)
        - name: artifactory_token
          value: $(params.artifactory_token)
      workspaces:
        - name: configs
          workspace: configs


    # 5. Verify health of the cluster after dependencies updates
    # -------------------------------------------------------------------------
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/cluster-setup/ocp-verify.yml.j2', template_vars={
        'name': 'post-deps-update-verify-cluster',
        'devops_suite_name': 'post-deps-update-verify-cluster',
        'verify_cluster': 'True',
        'verify_catalogsources': 'False',
        'verify_subscriptions': 'False',
        'verify_workloads': 'False',
        'verify_ingress': 'False',
        'remote_ocp_cluster': '$(params.remote_ocp_cluster)',
        'remote_ocp_type': '$(params.remote_ocp_type)',
        'rosa_cluster_admin_password': '$(params.rosa_cluster_admin_password)',
        'rosa_token': '$(params.rosa_token)',
        'avp_aws_secret_region': '$(params.avp_aws_secret_region)',
        'avp_aws_secret_key': '$(params.avp_aws_secret_key)',
        'avp_aws_access_key': '$(params.avp_aws_access_key)'
      }) | indent(4) }}
      runAfter:
        - update-common-services-gitops
      when:
        - input: "$(params.skip_post_update_check)"
          operator: notin
          values: ["true"]

    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/cluster-setup/ocp-verify.yml.j2', template_vars={
        'name': 'post-deps-update-verify-catalogsources',
        'devops_suite_name': 'post-deps-update-verify-catalogsources',
        'verify_cluster': 'False',
        'verify_catalogsources': 'True',
        'verify_subscriptions': 'False',
        'verify_workloads': 'False',
        'verify_ingress': 'False',
        'remote_ocp_cluster': '$(params.remote_ocp_cluster)',
        'remote_ocp_type': '$(params.remote_ocp_type)',
        'rosa_cluster_admin_password': '$(params.rosa_cluster_admin_password)',
        'rosa_token': '$(params.rosa_token)',
        'avp_aws_secret_region': '$(params.avp_aws_secret_region)',
        'avp_aws_secret_key': '$(params.avp_aws_secret_key)',
        'avp_aws_access_key': '$(params.avp_aws_access_key)'
      }) | indent(4) }}
      runAfter:
        - post-deps-update-verify-cluster
      when:
        - input: "$(params.skip_post_update_check)"
          operator: notin
          values: ["true"]

    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/cluster-setup/ocp-verify.yml.j2', template_vars={
        'name': 'post-deps-update-verify-subscriptions',
        'devops_suite_name': 'post-deps-update-verify-subscriptions',
        'verify_cluster': 'False',
        'verify_catalogsources': 'False',
        'verify_subscriptions': 'True',
        'verify_workloads': 'False',
        'verify_ingress': 'False',
        'remote_ocp_cluster': '$(params.remote_ocp_cluster)',
        'remote_ocp_type': '$(params.remote_ocp_type)',
        'rosa_cluster_admin_password': '$(params.rosa_cluster_admin_password)',
        'rosa_token': '$(params.rosa_token)',
        'avp_aws_secret_region': '$(params.avp_aws_secret_region)',
        'avp_aws_secret_key': '$(params.avp_aws_secret_key)',
        'avp_aws_access_key': '$(params.avp_aws_access_key)'
      }) | indent(4) }}
      runAfter:
        - post-deps-update-verify-catalogsources
      when:
        - input: "$(params.skip_post_update_check)"
          operator: notin
          values: ["true"]

    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/cluster-setup/ocp-verify.yml.j2', template_vars={
        'name': 'post-deps-update-verify-workloads',
        'devops_suite_name': 'post-deps-update-verify-workloads',
        'verify_cluster': 'False',
        'verify_catalogsources': 'False',
        'verify_subscriptions': 'False',
        'verify_workloads': 'True',
        'verify_ingress': 'False',
        'remote_ocp_cluster': '$(params.remote_ocp_cluster)',
        'remote_ocp_type': '$(params.remote_ocp_type)',
        'rosa_cluster_admin_password': '$(params.rosa_cluster_admin_password)',
        'rosa_token': '$(params.rosa_token)',
        'avp_aws_secret_region': '$(params.avp_aws_secret_region)',
        'avp_aws_secret_key': '$(params.avp_aws_secret_key)',
        'avp_aws_access_key': '$(params.avp_aws_access_key)'
      }) | indent(4) }}
      runAfter:
        - post-deps-update-verify-subscriptions
      when:
        - input: "$(params.skip_post_update_check)"
          operator: notin
          values: ["true"]


