---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
{% if wait_for_provision == true %}
  name: gitops-provision-mas-fvt-core-after-provision
{% else %}
  name: gitops-provision-mas-fvt-core
{% endif %}
spec:
  workspaces:
    - name: configs
    # Any pre-generated configs that will be copied into the shared-configs workspace during suite-install
    - name: shared-additional-configs
    # The SLS entitlement key file that will be installed during install-sls.
    - name: shared-entitlement
  description: Provision MAS FVT core pipeline
  params:
{% if wait_for_provision == true %}
      # Name of the PipelineRun to wait for
    - name: pipelinerun_name
      type: string
    - name: ignore_failure
      type: string
      default: "False"
      description: Set to 'True' or 'False' (case-sensitive) to configure whether this pipeline continue if the pipeline we are waiting for has failed.
{% endif %}
    - name: cluster_name
      type: string
    - name: pipeline_storage_class
      type: string
    - name: avp_aws_secret_region
      type: string
    - name: avp_aws_secret_key
      type: string
    - name: avp_aws_access_key
      type: string
    - name: fvt_pipeline_name
      type: string
    - name: cli_version
      type: string
    - name: fvt_artifactory_username
      type: string
    - name: fvt_artifactory_token
      type: string
    - name: fvt_config
      type: string
    - name: fvt_image_registry
      type: string
    - name: fvt_version_core
      type: string
    - name: ivt_version_core
      type: string
  tasks:
{% if wait_for_provision == true %}
    # 0. Wait for the provsion pipeline to complete
    # -------------------------------------------------------------------------
    - name: wait-for-provision
      params:
        - name: pipelinerun_name
          value: $(params.pipelinerun_name)
        - name: ignore_failure
          value: $(params.ignore_failure)
      taskRef:
        kind: Task
        name: mas-fvt-wait-for-pipelinerun
{% endif %}
    - name: gitops-provision-mas-fvt-core
{% if wait_for_provision == true %}
      runAfter:
        - wait-for-provision
{% endif %}
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: pipeline_storage_class
          value: $(params.pipeline_storage_class)
        - name: aws_region
          value: $(params.avp_aws_secret_region)
        - name: aws_secret_access_key
          value: $(params.avp_aws_secret_key)
        - name: aws_access_key_id
          value: $(params.avp_aws_access_key)
        - name: fvt_pipeline_name
          value: $(params.fvt_pipeline_name)
        - name: cli_version
          value: $(params.cli_version)
        - name: fvt_artifactory_username
          value: $(params.fvt_artifactory_username)
        - name: fvt_artifactory_token
          value: $(params.fvt_artifactory_token)
        - name: fvt_config
          value: $(params.fvt_config)
        - name: fvt_image_registry
          value: $(params.fvt_image_registry)
        - name: fvt_version_core
          value: $(params.fvt_version_core)
        - name: ivt_version_core
          value: $(params.ivt_version_core)
      workspaces:
        - name: configs
          workspace: configs
        - name: shared-additional-configs
          workspace: shared-additional-configs
        - name: shared-entitlement
          workspace: shared-entitlement
      taskRef:
        kind: Task
        name: gitops-provision-mas-fvt-core
