---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
{% if wait_for_provision == true %}
  name: gitops-provision-mas-instance-after-provision
{% else %}
  name: gitops-provision-mas-instance
{% endif %}
spec:
  workspaces:
    - name: configs
    - name: shared-entitlement
  description: Provision MAS GitOps Instance
  params:
{% if wait_for_provision == true %}
      # Name of the PipelineRun to wait for
    - name: pipelinerun_name
      type: string
    - name: ignore_failure
      type: string
      default: "False"
      description: Set to 'True' or 'False' (case-sensitive) to configure whether this pipeline continue if the pipeline we are waiting for has failed.
{% endif %}
    - name: cluster_name
      type: string
    - name: account
      type: string
    - name: secrets_path
      type: string
    - name: avp_aws_secret_region
      type: string
    - name: avp_aws_secret_key
      type: string
    - name: avp_aws_access_key
      type: string
    - name: github_url
      type: string
    - name: github_pat
      type: string
    - name: mas_instance_id
      type: string
    - name: vpc_ipv4_cidr
      type: string
    - name: mongo_provider
      type: string
      default: aws
    - name: sls_channel
      type: string
    - name: mas_channel
      type: string
    - name: mas_domain
      type: string
    - name: workspace_id
      type: string
    - name: workspace_name
      type: string
    - name: git_branch
      type: string
    - name: github_org
      type: string
    - name: github_repo
      type: string
    - name: github_host
      type: string
    - name: aws_key_pair_name
      type: string
    - name: ec2_linux_ami_id
      type: string
      default: ""
    - name: docdb_user_action
      type: string
      default: add
  tasks:
    - name: gitops-process-mongo-user
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: avp_aws_secret_key
          value: $(params.avp_aws_secret_key)
        - name: avp_aws_access_key
          value: $(params.avp_aws_access_key)
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: vpc_ipv4_cidr
          value: $(params.vpc_ipv4_cidr)
        - name: mongo_provider
          value: $(params.mongo_provider)
        - name: user_action
          value: $(params.docdb_user_action)
        - name: aws_key_pair_name
          value: $(params.aws_key_pair_name)
        - name: ec2_linux_ami_id
          value: $(params.ec2_linux_ami_id)
      workspaces:
        - name: configs
          workspace: configs
      taskRef:
        kind: Task
        name: gitops-process-mongo-user
    - name: gitops-init-license
      runAfter:
        - gitops-process-mongo-user
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: avp_aws_secret_key
          value: $(params.avp_aws_secret_key)
        - name: avp_aws_access_key
          value: $(params.avp_aws_access_key)
      workspaces:
        - name: shared-entitlement
          workspace: shared-entitlement
      taskRef:
        kind: Task
        name: gitops-init-license
    - name: gitops-init-suite
      runAfter:
        - gitops-init-license
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mongo_provider
          value: $(params.mongo_provider)
        - name: git_branch
          value: $(params.git_branch)
        - name: github_org
          value: $(params.github_org)
        - name: github_repo
          value: $(params.github_repo)
        - name: github_host
          value: $(params.github_host)
        - name: sls_channel
          value: $(params.sls_channel)
        - name: mas_channel
          value: $(params.mas_channel)
        - name: mas_domain
          value: $(params.mas_domain)
        - name: github_pat
          value: $(params.github_pat)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: avp_aws_secret_key
          value: $(params.avp_aws_secret_key)
        - name: avp_aws_access_key
          value: $(params.avp_aws_access_key)
      taskRef:
        kind: Task
        name: gitops-init-suite
      workspaces:
        - name: configs
          workspace: configs
    - name: gitops-init-suite-config
      runAfter:
        - gitops-init-suite
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: mongo_provider
          value: $(params.mongo_provider)
        - name: git_branch
          value: $(params.git_branch)
        - name: github_org
          value: $(params.github_org)
        - name: github_repo
          value: $(params.github_repo)
        - name: github_host
          value: $(params.github_host)
        - name: github_pat
          value: $(params.github_pat)
        - name: avp_aws_secret_region
          value: $(params.avp_aws_secret_region)
        - name: avp_aws_secret_key
          value: $(params.avp_aws_secret_key)
        - name: avp_aws_access_key
          value: $(params.avp_aws_access_key)
      workspaces:
        - name: configs
          workspace: configs
      taskRef:
        name: gitops-init-suite-config
        kind: Task
    - name: gitops-init-suite-workspace
      runAfter:
        - gitops-init-suite-config
      params:
        - name: cluster_name
          value: $(params.cluster_name)
        - name: account
          value: $(params.account)
        - name: secrets_path
          value: $(params.secrets_path)
        - name: mas_instance_id
          value: $(params.mas_instance_id)
        - name: workspace_id
          value: $(params.workspace_id)
        - name: workspace_name
          value: $(params.workspace_name)
        - name: git_branch
          value: $(params.git_branch)
        - name: github_org
          value: $(params.github_org)
        - name: github_repo
          value: $(params.github_repo)
        - name: github_host
          value: $(params.github_host)
        - name: github_pat
          value: $(params.github_pat)
      taskRef:
        kind: Task
        name: gitops-init-suite-workspace
      workspaces:
        - name: configs
          workspace: configs
