- name: app-cfg-iot
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/common/cli-params.yml.j2') | indent(4) }}
  
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/gitops-params.yml.j2') | indent(4) }}

    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/secrets-params.yml.j2') | indent(4) }}

    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/gitops/common/git-params.yml.j2') | indent(4) }}

    - name: devops_suite_name
      value: app-iot-cfg
    - name: mas_instance_id
      value: $(params.mas_instance_id)
    - name: mas_app_id
      value: iot
    - name: mas_workspace_id
      value: $(params.mas_workspace_id)
    - name: custom_labels
      value: $(params.custom_labels)
    - name: mas_appws_spec_yaml
      value: $(params.mas_appws_spec_yaml_iot)
    - name: mas_appws_api_version
      value: $(params.mas_appws_api_version_iot)
    - name: mas_appws_kind
      value: $(params.mas_appws_kind_iot)
    - name: mas_app_kind
      value: $(params.mas_app_kind_iot)
  taskRef:
    name: gitops-suite-app-config
    kind: Task
  # Only configure a workspace for IoT if a channel has been chosen
  when:
    - input: "$(params.mas_app_channel_iot)"
      operator: notin
      values: [""]
    - input: "$(params.iot_workspace_action)"
      operator: in
      values: ["activate"]
  workspaces:
    - name: configs
      workspace: configs
    - name: shared-gitops-configs
      workspace: shared-gitops-configs