- name: cos
  params:
    {{ lookup('template', 'taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: dependencies-cos

    - name: cos_type
      value: $(params.cos_type)
    - name: ibmcloud_apikey
      value: $(params.ibmcloud_apikey)
  taskRef:
    kind: Task
    name: mas-devops-cos
  when:
    - input: "$(params.cos_type)"
      operator: notin
      values: [""]
    - input: "$(params.mas_app_channel_assist)"
      operator: notin
      values: [""]
  workspaces:
    - name: configs
      workspace: shared-configs