- name: kafka
  params:
    {{ lookup('template', 'taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: dependencies-kafka

    - name: kafka_namespace
      value: "$(params.kafka_namespace)"
    - name: kafka_cluster_name
      value: "$(params.kafka_cluster_name)"
    - name: kafka_cluster_size
      value: "$(params.kafka_cluster_size)"
    - name: kafka_user_name
      value: "$(params.kafka_user_name)"
    - name: kafka_storage_class
      value: $(params.storage_class_rwo)
    - name: zookeeper_storage_class
      value: $(params.storage_class_rwo)
  # Only install Kafka if the IoT application is being installed
  when:
    - input: "$(params.mas_app_channel_iot)"
      operator: notin
      values: [""]
  taskRef:
    kind: Task
    name: mas-devops-kafka
  workspaces:
    - name: configs
      workspace: shared-configs