{% include 'common-config.yaml.j2' %}

ibm-dro:
    dro_namespace: "redhat-marketplace"
    dro_csv: ""
    ibm_entitlement_key: "<path:arn:aws:secretsmanager:us-east-2:435377327995:secret:development/fvtsaas/ibm_entitlement#entitlement_key>"

tags:
    ibm-dro: true
