- name: cluster-monitoring
  params:
    {{ lookup('template', 'taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: setup-cluster-monitoring

    - name: prometheus_storage_class
      value: $(params.storage_class_rwo)
    - name: prometheus_retention_period
      value: $(params.prometheus_retention_period)
    - name: prometheus_storage_size
      value: $(params.prometheus_storage_size)

    - name: prometheus_alertmgr_storage_class
      value: $(params.storage_class_rwo)
    - name: prometheus_alertmgr_storage_size
      value: $(params.prometheus_alertmgr_storage_size)

    - name: prometheus_userworkload_storage_class
      value: $(params.storage_class_rwo)
    - name: prometheus_userworkload_retention_period
      value: $(params.prometheus_userworkload_retention_period)
    - name: prometheus_userworkload_storage_size
      value: $(params.prometheus_userworkload_storage_size)

    - name: cluster_monitoring_include_grafana
      value: $(params.cluster_monitoring_include_grafana)
    - name: cluster_monitoring_include_opentelemetry
      value: $(params.cluster_monitoring_include_opentelemetry)
    - name: grafana_namespace
      value: $(params.grafana_namespace)
    - name: grafana_instance_storage_class
      value: $(params.storage_class_rwo)
    - name: grafana_instance_storage_size
      value: $(params.grafana_instance_storage_size)
    - name: grafana_major_version
      value: $(params.grafana_major_version)

  taskRef:
    kind: Task
    name: mas-devops-cluster-monitoring
