- name: {{ name | default("ocp-verify") }}
  taskRef:
    kind: Task
    name: mas-devops-ocp-verify-all
  params:
    # Pipeline Config
    - name: skip_pre_check
      value: $(params.skip_pre_check)
    - name: devops_suite_name
      value: {{ devops_suite_name }}
  when:
    - input: "$(params.skip_pre_check)"
      operator: notin
      values: ["true"]
