- name: {{ name | default("ocp-verify") }}
  taskRef:
    kind: Task
    name: mas-devops-ocp-verify-all
  params:
    {{ lookup('template', 'taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: {{ devops_suite_name }}
  when:
    - input: "$(params.skip_install_pre_check)"
      operator: notin
      values: ["true"]
