- name: {{ name | default("ocp-verify") }}
  timeout: 0
  taskRef:
    kind: Task
    name: mas-devops-ocp-verify
  params:
    {{ lookup('template', 'taskdefs/common/cli-params.yml.j2') | indent(4) }}
    # Pipeline Config
    - name: skip_pre_check
      value: $(params.skip_pre_check)
    - name: devops_suite_name
      value: {{ devops_suite_name }}
    - name: verify_cluster
      value: {{ verify_cluster | default("True") }}
    - name: verify_catalogsources
      value: {{ verify_catalogsources | default("True") }}
    - name: verify_subscriptions
      value: {{ verify_subscriptions | default("True") }}
    - name: verify_workloads
      value: {{ verify_workloads | default("True") }}
    - name: verify_ingress
      value: {{ verify_ingress | default("True") }}
    - name: ocp_ingress_tls_secret_name
      value: $(params.ocp_ingress_tls_secret_name)
  when:
    - input: "$(params.skip_pre_check)"
      operator: notin
      values: ["true"]
