merge-key: "{{ ACCOUNT_ID }}/{{ REGION }}/{{ CLUSTER_ID }}"

cis_compliance:
  # no config keys actually needed for the cis-compliance chart, but we need something here
  # for our cis-compliance-app chart to know it it ready to install
  config: true
