merge-key: "{{ ACCOUNT_ID }}/{{ CLUSTER_ID }}"

{% set cluster_values = CLUSTER_PROMOTION_CLUSTER_VALUES.split(",") %}
promotion:
  github_pat: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_GITHUB_PAT }}>"
  target_github_host: "{{ CLUSTER_PROMOTION_TARGET_GITHUB_HOST }}"
  target_github_repo: "{{ CLUSTER_PROMOTION_TARGET_GITHUB_REPO}}"
  target_github_org: "{{ CLUSTER_PROMOTION_TARGET_GITHUB_ORG }}"
  target_github_path: "{{ CLUSTER_PROMOTION_TARGET_GITHUB_PATH }}"
  target_git_branch: "{{ CLUSTER_PROMOTION_TARGET_GIT_BRANCH }}"
  create_target_pr: "{{ CLUSTER_PROMOTION_CREATE_TARGET_PR }}"
  cluster_values:
{% for cluster_value in cluster_values  -%}
  {% filter indent(width=2, first=true) -%}
    - value: {{ cluster_value | trim("[]") }}
  {%- endfilter %}
{% endfor %}
  cluster_values_direct_non_value:
{% for cluster_value in (ESCAPED_CLUSTER_VALUES if ESCAPED_CLUSTER_VALUES is not string else [ESCAPED_CLUSTER_VALUES] -%}
  {% filter indent(width=2, first=true) -%}
    - value: {{ cluster_value }}
  {%- endfilter %}
{% endfor %}
  cluster_values_escaped_direct:
{% for cluster_value in ESCAPED_CLUSTER_VALUES if ESCAPED_CLUSTER_VALUES is not string else [ESCAPED_CLUSTER_VALUES] -%}
  {% filter indent(width=2, first=true) -%}
    - value: {{ cluster_value.value }}
  {%- endfilter %}
{% endfor %}
  target_pr_title: "{{ CLUSTER_PROMOTION_TARGET_PR_TITLE }}"
