merge-key: "{{ ACCOUNT_ID }}/{{ CLUSTER_ID }}"

instana_agent_operator:
  install: "{{ INSTANA_AGENT_OPERATOR_INSTALL }}"
  jks_storage_class: "{{ INSTANA_AGENT_OPERATOR_JKS_STORAGE_CLASS }}"
  key:  "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_INSTANA_KEY }}>"
  endpoint_host: "{{ INSTANA_AGENT_OPERATOR_ENDPOINT_HOST }}"
  endpoint_port: "{{ INSTANA_AGENT_OPERATOR_ENDPOINT_PORT }}"
{%- if INSTANA_AGENT_OPERATOR_ENV is defined and INSTANA_AGENT_OPERATOR_ENV %}
  env:
    {{ INSTANA_AGENT_OPERATOR_ENV | indent }}
{%- endif %}

{%- if INSTANA_AGENT_OPERATOR_ARGOCD_PLUGIN_ENABLED is defined and INSTANA_AGENT_OPERATOR_ARGOCD_PLUGIN_ENABLED %}
  argocd_plugin_enabled: true
  argocd_insecure_skip_tls: {{ INSTANA_AGENT_OPERATOR_ARGOCD_INSECURE_SKIP_TLS }}
  argocd_url: "{{ INSTANA_AGENT_OPERATOR_ARGOCD_URL }}"
  argocd_clusters: {{ INSTANA_AGENT_OPERATOR_ARGOCD_CLUSTERS | toYaml }}
  argocd_username: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_INSTANA_ARGOCD_USERNAME }}>"
  argocd_password: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_INSTANA_ARGOCD_PASSWORD }}>"
{%- endif %}
