merge-key: "{{ ACCOUNT_ID }}/{{ CLUSTER_ID }}"

nvidia_gpu_operator:
  nfd_namespace: {{ NFD_NAMESPACE }}
  nfd_channel: {{ NFD_CHANNEL }}
  nfd_install_plan: {{ NFD_INSTALL_PLAN }}
  gpu_namespace: {{ GPU_NAMESPACE }}
  gpu_channel: {{ GPU_CHANNEL }}
  gpu_driver_version: {{ GPU_DRIVER_VERSION }}
  gpu_driver_repository_path: {{ GPU_DRIVER_REPOSITORY_PATH }}
  gpu_install_plan: {{ GPU_INSTALL_PLAN }}
