taskRef:
  kind: Task
  name: mas-fvt-sls
when:
  - input: "$(params.fvt_digest_sls)"
    operator: notin
    values: [""]
workspaces:
  - name: configs
    workspace: shared-configs
  - name: pod-templates
    workspace: shared-pod-templates