---
merge-key: "{{ ACCOUNT_ID }}/{{ CLUSTER_ID }}/{{ MAS_INSTANCE_ID }}"

ibm_odh:
  openshift_namespace: {{ OPENSHIFT_NAMESPACE }}
  odh_pipeline_channel: {{ ODH_PIPELINE_CHANNEL }}
  odh_pipeline_installplan: {{ ODH_PIPELINE_INSTALLPLAN }}
  pipeline_catalog_source: {{ PIPELINE_CATALOG_SOURCE }}
  service_mesh_namespace: {{ SERVICE_MESH_NAMESPACE }}
  service_mesh_channel: {{ SERVICE_MESH_CHANNEL }}
  service_mesh_catalog_source: {{ SERVICE_MESH_CATALOG_SOURCE }}
  service_mesh_sourceNamespace: {{ SERVICE_MESH_SOURCENAMESPACE }}
  operatorName: {{ OPERATOR_NAME }}
  serverless_channel: {{ SERVERLESS_CHANNEL }}
  authorino_catalog_source: {{ AUTHORINO_CATALOG_SOURCE }}
  odh_channel: {{ ODH_CHANNEL }}
  odh_catalog_source: {{ ODH_CATALOG_SOURCE }}
  odh_operator_version: {{ ODH_OPERATOR_VERSION }}
  odh_namespace: {{ ODH_NAMESPACE }}

  aibroker_namespace: {{ AIBROKER_NAMESPACE }}
  pull_secret_name: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_IMAGE_PULL_SECRET_B64 }}>"

  # ODH Pipeline operator
  odh_pipeline_name: {{ ODH_PIPELINE_NAME }}
  odh_pipeline_namespace: {{ ODH_PIPELINE_NAMESPACE }}
  odh_pipeline_operatorName: {{ ODH_PIPELINE_OPERATOR_NAME }}
  odh_pipeline_source: {{ ODH_PIPELINE_SOURCE }}
  odh_pipeline_sourceNamespace: {{ ODH_PIPELINE_SOURCE_NAMESPACE }}

  # Serverless Operator
  serverless_namespace: {{ SERVERLESS_NAMESPACE }}
  serverless_operator_name: {{ SERVERLESS_OPERATOR_NAME }}
  serverless_operator_source: {{ SERVERLESS_OPERATOR_SOURCE }}
  serverless_operator_sourceNamespace: {{ SERVERLESS_OPERATOR_SOURCE_NAMESPACE }}

  # OpenDataHub Operator
  opendatahub_OperatorGroup_name: {{ OPENDATAHUB_OPERATORGROUP_NAME }}
  opendatahub_name: {{ OPENDATAHUB_NAME }}
  opendatahub_namespace: {{ OPENDATAHUB_NAMESPACE }}
  opendatahub_installPlanApproval: {{ OPENDATAHUB_INSTALLPLAN_APPROVAL }}
  opendatahub_channel: {{ OPENDATAHUB_CHANNEL }}
  opendatahub_source: {{ OPENDATAHUB_SOURCE }}
  opendatahub__sourceNamespace: {{ OPENDATAHUB_SOURCE_NAMESPACE }}

  # Storage configuration
  mas_aibroker_storage_provider: {{ MAS_AIBROKER_STORAGE_PROVIDER }}
  mas_aibroker_storage_accesskey: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_SM_STORAGE_ACCESSKEY }}>"
  mas_aibroker_storage_secretkey: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_SM_STORAGE_SECRETKEY }}>"
  mas_aibroker_storage_host: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_SM_STORAGE_HOST }}>"
  mas_aibroker_storage_port: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_SM_STORAGE_PORT }}>"
  mas_aibroker_storage_ssl: {{ MAS_AIBROKER_STORAGE_SSL }}
  mas_aibroker_storage_region: "{{ MAS_AIBROKER_STORAGE_REGION }}"
  mas_aibroker_storage_pipelines_bucket: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_SM_STORAGE_BUCKET_DEFAULT }}>"

  # MariaDB configuration
  mas_aibroker_db_host: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_SM_MARIADB_HOST }}>"
  mas_aibroker_db_port: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_SM_MARIADB_PORT }}>"
  mas_aibroker_db_user: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_SM_MARIADB_USER }}>"
  mas_aibroker_db_database: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_SM_MARIADB_DATABASE }}>"
  mas_aibroker_db_secret_name: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_SM_MARIADB_SECRET_NAME }}>"
  mas_aibroker_db_secret_value: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_SM_MARIADB_SECRET_VALUE }}>"

  primary_storage_class: {{ PRIMARY_STORAGE_CLASS }}
