merge-key: "{{ ACCOUNT_ID }}/{{ CLUSTER_ID }}/{{ MAS_INSTANCE_ID }}"

ibm_db2u:
  db2_namespace: {{ DB2_NAMESPACE }}
  db2_install_plan: {{ DB2_INSTALL_PLAN }}
{% if DB2_CHANNEL is defined and DB2_CHANNEL !='' %}
  db2_channel: {{ DB2_CHANNEL }}
{% else %}
  db2_channel: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_DB2_DEFAULT_CHANNEL }}>
{% endif %}
  ibm_entitlement_key: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_IBM_ENTITLEMENT }}>"
{% if CLUSTER_DOMAIN is defined and CLUSTER_DOMAIN !='' %}
  cluster_domain: {{ CLUSTER_DOMAIN }}
{% endif %}

# DB2 database array for AI Service
ibm_db2u_databases:
  - db2_instance_name: db2u-{{ MAS_INSTANCE_ID }}
    db2_dbname: BLUDB
    db2_version: s11.5.9.0-cn2
    db2_table_org: COLUMN
    db2_mln_count: 1
    db2_num_pods: 1
    
    # Resource limits
    db2_cpu_requests: 2000m
    db2_memory_requests: 8Gi
    db2_cpu_limits: 4000m
    db2_memory_limits: 16Gi
    
    # Storage configuration
    db2_meta_storage_class: efsfvtsaasai
    db2_meta_storage_accessmode: ReadWriteMany
    db2_meta_storage_size: 20Gi
    
    db2_backup_storage_class: efsfvtsaasai
    db2_backup_storage_accessmode: ReadWriteMany
    db2_backup_storage_size: 100Gi
    
    db2_data_storage_class: gp3-csi
    db2_data_storage_accessmode: ReadWriteOnce
    db2_data_storage_size: 100Gi
    
    db2_temp_storage_class: gp3-csi
    db2_temp_storage_accessmode: ReadWriteOnce
    db2_temp_storage_size: 100Gi
    
    db2_logs_storage_class: gp3-csi
    db2_logs_storage_accessmode: ReadWriteOnce
    db2_logs_storage_size: 100Gi
    
    db2_audit_logs_storage_class: efsfvtsaasai
    db2_audit_logs_storage_accessmode: ReadWriteMany
    db2_audit_logs_storage_size: 100Gi
    
    # LDAP authentication disabled for AI Service
    db2_ldap_enabled: false
    
    # JDBC route configuration
    jdbc_route: default
    
    # Cluster domain
{% if CLUSTER_DOMAIN is defined and CLUSTER_DOMAIN !='' %}
    cluster_domain: {{ CLUSTER_DOMAIN }}
{% endif %}