{
  "terraform": {
    "backend": {
      "s3": {
        "bucket": "mas-aws-build",
        "key": "mas-instance/{{MAS_INSTANCE_ID}}/terraform.tfstate",
        "region": "{{REGION_ID}}",
        "use_lockfile": true
      }
    }
  }
}