merge-key: "{{ ACCOUNT_ID }}/{{ CLUSTER_ID }}/{{ AISERVICE_INSTANCE_ID }}"

ibm_aiservice:
  aiservice_instance_id: "{{ AISERVICE_INSTANCE_ID }}"
  aiservice_namespace: "{{ AISERVICE_NAMESPACE }}"
  ibm_entitlement_key: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_IBM_ENTITLEMENT }}>"

  #DRO
  drocfg_registration_key: "<path:{{ SECRETS_PATH }}:{{ DROCFG_REGISTRATION_KEY }}>"
  drocfg_url: "<path:{{ SECRETS_PATH }}:{{ DROCFG_URL }}>"
  drocfg_ca_b64enc: "<path:{{ SECRETS_PATH }}:{{ DROCFG_CA_B64ENC }}>"
  aiservice_dro_token_secret: "{{ DRO_TOKEN_SECRET }}"
  aiservice_dro_cacert_secret: "{{ DRO_CACERT_SECRET }}"
  
  environment_type: "{{ ENVIRONMENT_TYPE }}"
  
  # S3  url added with port
  aiservice_s3_endpoint_url: "{{ AISERVICE_S3_ENDPOINT_URL }}"
  aiservice_s3_bucket_prefix: "{{ AISERVICE_S3_BUCKET_PREFIX }}"
  aiservice_s3_templates_bucket: "{{ AISERVICE_S3_TEMPLATES_BUCKET }}"
  aiservice_s3_tenants_bucket: "{{ AISERVICE_S3_TENANTS_BUCKET }}"
  aiservice_s3_secret: "{{ AISERVICE_S3_SECRET }}"

  #km-s3-secret  
  aiservice_s3_ssl: "{{ AISERVICE_STORAGE_SSL }}"
  aiservice_s3_accesskey: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_STORAGE_ACCESSKEY }}>"
  aiservice_s3_secretkey: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_STORAGE_SECRETKEY }}>"
  aiservice_s3_host: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_STORAGE_HOST }}>"
  aiservice_s3_port: ""
  aiservice_s3_region: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_STORAGE_REGION }}>"

  #JDBC
  jdbccfg_username: "<path:{{ SECRETS_PATH }}:{{ JDBCCFG_USERNAME }}>"
  jdbccfg_password: "<path:{{ SECRETS_PATH }}:{{ JDBCCFG_PASSWORD }}>"
  jdbccfg_url: "<path:{{ SECRETS_PATH }}:{{ JDBCCFG_URL }}>"
  jdbccfg_sslenabled: "<path:{{ SECRETS_PATH }}:{{ JDBCCFG_SSLENABLED }}>" 
  jdbccfg_ca_b64enc: "<path:{{ SECRETS_PATH }}:{{ JDBCCFG_CA_B64ENC }}>"
  aiservice_jdbc_secret: "{{ JDBC_SECRET }}"
  use_aws_db2: {{ USE_AWS_DB2 }}

  # MAS Entitlement
  entitlement_key: "<path:{{ SECRETS_PATH }}:{{ MAS_ENTITLEMENT_KEY }}>"

  # Development Registry Entitlement
  artifactory_token: "<path:{{ SECRETS_PATH }}:{{ ARTIFACTORY_TOKEN }}>"
  # Environment Variable:
  aiservice_channel: "{{ AISERVICE_CHANNEL }}"
  mas_catalog_source: "{{ MAS_CATALOG_SOURCE }}"

  # Source container registry
  # -----------------------------------------------------------------------------
 
  mas_icr_cp: "{{ MAS_ICR_CP }}"
  mas_icr_cpopen: "{{ MAS_ICR_CPOPEN }}"

  aiservice_domain: "{{ CLUSTER_DOMAIN }}"
  in_saas_env: {{ IN_SAAS_ENV }}
  aiservice_storage_class: "{{ PRIMARY_STORAGE_CLASS }}"
  aiservice_operator_log_level: "0"