merge-key: "{{ ACCOUNT_ID }}/{{ CLUSTER_ID }}/{{ AISERVICE_INSTANCE_ID }}/{{ TENANT_ID }}"

ibm_aiservice_tenant:
  # aiservice
  tenant_id: "{{ TENANT_ID }}"
  aiservice_namespace: "{{ AISERVICE_NAMESPACE }}"
  aiservice_instance_id: "{{ AISERVICE_INSTANCE_ID }}"
  tenantNamespace: "{{ TENANT_NAMESPACE }}"

  mas_icr_cp: "{{ MAS_ICR_CP }}"
  mas_icr_cpopen: "{{ MAS_ICR_CPOPEN }}"

  # dro
  drocfg_url: "{{ DROCFG_URL }}"
  drocfg_registration_key: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_DROCFG_REGISTRATION_KEY }}>"
  drocfg_ca_b64enc: "<path:{{ SECRETS_PATH }}:{{ DROCFG_CA_B64ENC }}>"

  # sls
  slscfg_ca_b64enc: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_SLSCFG_CA_B64ENC }}>"
  slscfg_url: "{{ SLSCFG_URL }}"
  slscfg_registration_key: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_SLSCFG_REGISTRATION_KEY }}>"
  aiservice_sls_subscription_id: "{{ AISERVICE_SLS_SUBSCRIPTION_ID }}"
  
  rsl_url: "{{ RSL_URL }}"
  rsl_org_id: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_RSL_ORG_ID }}>"
  rsl_token: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_RSL_TOKEN }}>"
  rsl_ca_crt: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_RSL_CA_CRT }}>"

  #s3 for manage job
  aiservice_s3_accesskey: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_STORAGE_ACCESSKEY }}>"
  aiservice_s3_secretkey: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_STORAGE_SECRETKEY }}>"
  aiservice_s3_region: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_STORAGE_REGION }}>"

  # watsonx
  aiservice_watsonxai_url: "{{ AISERVICE_WATSONXAI_URL }}"
  aiservice_watsonxai_project_id: "<path:{{ SECRETS_PATH }}:{{ AISERVICE_WATSONXAI_PROJECT_ID }}>"
  aiservice_watsonxai_apikey: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_WATSONXAI_APIKEY }}>"
  aiservice_watsonxai_deployment_id: "<path:{{ SECRETS_PATH }}:{{ AISERVICE_WATSONXAI_DEPLOYMENT_ID }}>"
  aiservice_watsonxai_space_id: "<path:{{ SECRETS_PATH }}:{{ AISERVICE_WATSONXAI_SPACE_ID }}>"
  aiservice_watsonxai_on_prem: "{{ AISERVICE_WATSONXAI_ON_PREM }}"
  aiservice_watsonxai_ca_crt: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_WATSONXAI_CA_CRT }}>"
  aiservice_watsonxai_instance_id: "{{ AISERVICE_WATSONX_INSTANCE_ID }}"
  aiservice_watsonxai_username: "{{ AISERVICE_WATSONX_USERNAME }}"
  aiservice_watsonxai_version: "{{ AISERVICE_WATSONX_VERSION }}"
  aiservice_watsonxai_verify: "{{ AISERVICE_WATSONXAI_VERIFY }}"

  tenant_entitlement_type: "{{ TENANT_ENTITLEMENT_TYPE }}"
  tenant_entitlement_start_date: "{{ TENANT_ENTITLEMENT_START_DATE }}"
  tenant_entitlement_end_date: "{{ TENANT_ENTITLEMENT_END_DATE }}"
  
  aiservice_operator_log_level: "{{ AISERVICE_OPERATOR_LOG_LEVEL }}"