module "s3buckets_access_point_{{RDS_S3_APP_NAME}}" {
  source = "{{ S3_SOURCE_S3ACCESSPOINT }}"
  for_each = {
    for k, v in local.cluster.instance.rds_s3bucket_manage :
    k => v if can(regex("auditlog-{{RDS_S3_APP_NAME}}", v.name))
  }

  depends_on = [module.s3buckets_instance_{{RDS_S3_APP_NAME}}, module.account_policy_{{RDS_S3_APP_NAME}}]

  name_prefix                    = each.value.name_prefix
  s3_access_point_bucket_id      = each.value.id
  s3_bucket_arn                  = each.value.s3_bucket_arn
  s3_access_point_name           = join("-", [var.cluster_name,var.instance_name,"auditlog",{{RDS_S3_APP_NAME}}])
  s3_access_point_policy_actions = local.s3_actions_audit_log[each.value.access_level]
  configure_antivirus            = false

  #  Dynamically select correct IAM user based on bucket name
  s3_access_point_user = local.iam_user_arns_audit_log_{{RDS_S3_APP_NAME}}["audit_logs"]

  account_id                   = var.account_id
  antivirus_lamda_function_arn = ""
  vpc_id                       = var.vpc_id
}