merge-key: "{{ ACCOUNT_ID }}/{{ CLUSTER_ID }}/{{ MAS_INSTANCE_ID }}"
ibm_dbs_rds_databases:
  - instance_name: {{INSTANCE_NAME}}
    connection_string: {{CONNECTION_STRING}}
    user: <path:{{ SECRETS_PATH }}:{{ USER }}>
    password: <path:{{ SECRETS_PATH }}:{{ PASSWORD }}>
