{%- if (IS_EFS | lower == 'true') or (IS_S3 | lower == 'true') %}
#----Common params starts----
cluster_name         = "{{ CLUSTER_ID}}"
instance_name        = "{{ MAS_INSTANCE_ID }}"
#----Common params ends----
{%- endif %}


{%- if IS_EFS | lower == 'true' %}

#----EFS related params starts----
vpc_id               = "{{ VPC_ID_VALUE}}"
vpc_name             = "{{ VPC_NAME_VALUE }}"
#----EFS related params ends----
{%- endif %}



{%- if IS_S3 | lower == 'true'  %}

#----S3 related params starts----
name_prefix             = "{{ NAME_PREFIX_VALUE }}"
create_s3_iam_group     = false
create_s3_iam_policy    = false
create_efs_policy       = false
common_tags = {
    "source"      = "terraform",
    "environment" = "{{ENVIRONMENT_VALUE}}",
    "owner"       = "{{OWNER_VALUE}}",
    "contact"     = "{{CONTACT_VALUE}}",
    "cost-center" = "{{COST_CENTER_VALUE}}"
}
create_bucket        = true
s3_encryption_algorithm = "AES256"
account_id = "{{ACCOUNT_ID}}"
location = {
    region             = "{{REGION_NAME}}"
    availability_zones = ["{{REGION_NAME}}a", "{{REGION_NAME}}b", "{{REGION_NAME}}c"]
}
{%- import 's3-macros.j2' as s3 -%}
{%- for component_name, component_config in S3_COMPONENTS.items() %}
{%- if component_config.enabled | lower == 'true' %}

{{ s3.generate_component_tfvars(component_name, component_config, ACCOUNT_ID, CLUSTER_ID, MAS_INSTANCE_ID) }}

{%- endif %}
{%- endfor %}

#----S3 related params ends----
{%- endif %}