# This block is only created if EFS is enabled
{% if IS_EFS %}
data "aws_subnets" "external_subnets" {
  filter {
    name   = "vpc-id"
    values = [var.vpc_id]
  }
  filter {
    name   = "cidr-block"
    values = "{{CLUSTER_CIDR_WORKLOAD_EXTERNAL}}"
  }
}

data "aws_subnets" "internal_subnets" {
  filter {
    name   = "vpc-id"
    values = [var.vpc_id]
  }
  filter {
    name   = "cidr-block"
    values = "{{CLUSTER_CIDR_WORKLOAD_INTERNAL}}"
  }
}

data "aws_subnets" "workload_subnets" {
  filter {
    name   = "vpc-id"
    values = [var.vpc_id]
  }
  filter {
    name   = "cidr-block"
    values = "{{VPC_CIDR_WORKLOAD_INTERNAL}}"
  }
}


locals {
  cluster = {
      "external_subnet_ids" : data.aws_subnets.external_subnets.ids
      "internal_subnet_ids" : data.aws_subnets.internal_subnets.ids
      "worker_subnet_ids" : data.aws_subnets.workload_subnets.ids
  }

  multiple-efs = {
    efs1 = {
      name = join("-", ["efs", var.cluster_name, var.instance_name, "manage-db2"])
    }
  }
}

{% endif %}