{%- if RDS_APP | upper == "MANAGE" -%}
{{RDS_DB2_CONFIG_MANAGE}}
{%- endif -%}
{%- if RDS_APP | upper == "IOT" -%}
{{RDS_DB2_CONFIG_IOT}}
{%- endif -%}
{%- if RDS_APP | upper == "FACILITIES" -%}
{{RDS_DB2_CONFIG_FACILITIES}}
{%- endif -%}