{%- if (IS_S3 | lower == 'true') or (IS_EFS | lower == 'true') or (IS_MSK | lower == 'true') %}
variable "instance_name" {
    type        = string
    description = "Name of Instance"
}

variable "cluster_name" {
    type        = string
    description = "Name of Cluster"
}
variable "vpc_id" {
    type        = string
    description = "ID of VPC"
}
{%- endif %}
{%- if IS_MSK | lower == 'true'%}

variable "cluster_prefix" {
    type        = string
    description = "Cluster Prefix"
}
{%- endif %}

{%- if (IS_EFS | lower == 'true') or (IS_MSK | lower == 'true')%}

variable "vpc_name" {
    type        = string
    description = "Name of VPC"
}
{%- endif %}

{%- if (IS_S3 | lower == 'true') or (IS_MSK | lower == 'true')%}
variable "name_prefix" {
    type        = string
    description = "name_prefix"
}
{%- endif %}


{%- if IS_S3 | lower == 'true'%}
variable "account_id" {
    type        = string
    description = "account id"
}

variable "create_s3_iam_group" {
    type        = bool
    description = "Whether to create s3 iam group or not"
}

variable "create_s3_iam_policy" {
    type        = bool
    description = "Whether to create s3 iam group or not"
}

variable "create_efs_policy" {
    type        = bool
    description = "Whether to create efs policy or not"
}

variable "s3_iam_users_list_manage" {
    description = "s3 user list"
        type = map(object({
        iam_user_name = string
    }))
}

variable "access_level_rw" {
    type        = string
    description = "read and write"
    default     = "rw"
}

variable "access_level_ro" {
    type        = string
    description = "read and write"
    default     = "ro"
}

variable "common_tags" {
    type        = map(string)
    description = "Common resource tags"
}

variable "create_bucket" {
    type        = bool
    description = "Enable creation of bucket"
}

variable "location" {
    type = object({
      region             = string
      availability_zones = list(string)
    })
    description = "location details"
    default = {
      region             = "us-east-1"
      availability_zones = ["us-east-1a", "us-east-1b", "us-east-1c"]
    }
}

variable "s3_encryption_algorithm" {
    type        = string
    description = "s3 encryption algorithm"
}

{%- if S3_MANAGE | lower == 'true'%}
variable "s3bucket_name_prefix_manage" {
    type        = string
    description = "s3 bucket name prefix"
}
variable "iam_user_name_prefix_manage" {
    type        = string
    description = "iam user name prefix"
}
variable "iam_user_arn_prefix_manage" {
    type        = string
    description = "iam user arn"
}
{%- endif %}
{%- endif %}