# This block is only created if EFS is enabled
{% if IS_EFS %}
cluster_name         = "{{ CLUSTER_NAME}}"
instance_name        = "{{ INSTANCE_NAME }}"
vpc_id               = "{{ EFS_VPC_ID}}"
vpc_name             = "{{ VPC_NAME }}"
{% endif %}