{
  "terraform": {
    "backend": {
      "s3": {
        "bucket": "mas-aws-build",
        "key": "mas-instance/inst5/terraform.tfstate",
        "region": "us-east-1",
        "use_lockfile": true
      }
    }
  }
}