merge-key: "{{ ACCOUNT_ID }}/{{ CLUSTER_ID }}/{{ MAS_INSTANCE_ID }}"

ibm_aibroker:
  mas_instance_id: "{{ MAS_INSTANCE_ID }}"
  aibroker_namespace: "{{ AIBROKER_NAMESPACE }}"
  mas_aibroker_watsonx_secret: "{{ MAS_AIBROKER_WATSONX_SECRET }}"
  ibm_entitlement_key: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_IBM_ENTITLEMENT }}>"

  mas_aibroker_storage_provider: "{{ MAS_AIBROKER_STORAGE_PROVIDER }}"
  mas_aibroker_storage_ssl: "{{ MAS_AIBROKER_STORAGE_SSL }}"
  mas_aibroker_storage_region: "{{ MAS_AIBROKER_STORAGE_REGION }}"
  mas_aibroker_minio_secret: "{{ MAS_AIBROKER_MINIO_SECRET }}"

  mas_aibroker_storage_accesskey: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_MINIO_ACCESSKEY }}>"
  mas_aibroker_storage_secretkey: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_MINIO_SECRETKEY }}>"
  mas_aibroker_storage_host: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_MINIO_HOST }}>"
  mas_aibroker_storage_port: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_MINIO_PORT }}>"

  mas_aibroker_storage_pipelines_bucket: "<path:{{ SECRETS_PATH }}:{{ SM_MINIO_BUCKET_PIPELINES }}>"
  mas_aibroker_storage_tenants_bucket: "<path:{{ SECRETS_PATH }}:{{ SM_MINIO_BUCKET_TENANTS }}>"
  mas_aibroker_storage_templates_bucket: "<path:{{ SECRETS_PATH }}:{{ SM_MINIO_BUCKET_TEMPLATES }}>"



  # MariaDB
  mas_aibroker_db_host: "<path:{{ SECRETS_PATH }}:{{ MAS_AIBROKER_DB_HOST }}>"
  mas_aibroker_mariadb_secret: "{{ MAS_AIBROKER_MARIADB_SECRET }}"
  mas_aibroker_db_port: "<path:{{ SECRETS_PATH }}:{{ MAS_AIBROKER_DB_PORT }}>"
  mas_aibroker_db_user: "<path:{{ SECRETS_PATH }}:{{ MAS_AIBROKER_DB_USER }}>"
  mas_aibroker_db_database: "<path:{{ SECRETS_PATH }}:{{ MAS_AIBROKER_DB_DATABASE }}>"
  mas_aibroker_db_secret_name: "<path:{{ SECRETS_PATH }}:{{ MAS_AIBROKER_DB_SECRET_NAME }}>"
  mas_aibroker_db_secret_value: "<path:{{ SECRETS_PATH }}:{{ MAS_AIBROKER_DB_SECRET_VALUE }}>"
  primary_storage_class: "{{ PRIMARY_STORAGE_CLASS }}"

  #SLS
  slscfg_registration_key: "<path:{{ SECRETS_PATH }}:{{ SLSCFG_REGISTRATION_KEY }}>"

  #DRO
  drocfg_ca: "<path:{{ SECRETS_PATH }}:{{ DROCFG_CA }}>"
  drocfg_registration_key: "<path:{{ SECRETS_PATH }}:{{ DROCFG_REGISTRATION_KEY }}>"
  drocfg_url: "<path:{{ SECRETS_PATH }}:{{ DROCFG_URL }}>"



  ##review
  environment_type: "{{ ENVIRONMENT_TYPE }}"
  # S3 
  mas_aibroker_s3_endpoint_url: "{{ MAS_AIBROKER_S3_ENDPOINT_URL }}"
  mas_aibroker_s3_region: "{{ MAS_AIBROKER_S3_REGION }}"
  mas_aibroker_s3_bucket_prefix: "{{ MAS_AIBROKER_S3_BUCKET_PREFIX }}"
  ##review  

  #JDBC
  jdbccfg_username: "<path:{{ SECRETS_PATH }}:{{ JDBCCFG_USERNAME }}>"
  jdbccfg_password: "<path:{{ SECRETS_PATH }}:{{ JDBCCFG_PASSWORD }}>"
  jdbccfg_url: "<path:{{ SECRETS_PATH }}:{{ JDBCCFG_URL }}>"
  jdbccfg_sslenabled: "<path:{{ SECRETS_PATH }}:{{ JDBCCFG_SSLENABLED }}>"
  jdbccfg_ca: "<path:{{ SECRETS_PATH }}:{{ JDBCCFG_CA }}>"  

  # MAS Entitlement
  mas_entitlement_key: "<path:{{ SECRETS_PATH }}:{{ MAS_ENTITLEMENT_KEY }}>"
  
  # Development Registry Entitlement
  artifactory_username: "{{ ARTIFACTORY_USERNAME }}"
  artifactory_token: "<path:{{ SECRETS_PATH }}:{{ ARTIFACTORY_TOKEN }}>"
  # Environment Variable:
  mas_app_channel: "{{ MAS_APP_CHANNEL }}"
  # mas_app_channel: "9.1.x-dev"
  mas_catalog_source: "{{ MAS_CATALOG_SOURCE }}"

  # Source container registry
  # -----------------------------------------------------------------------------
 
  mas_icr_cp: "{{ MAS_ICR_CP }}"
  mas_icr_cpopen: "{{ MAS_ICR_CPOPEN }}"

  cluster_domain: "{{ CLUSTER_DOMAIN }}"
  in_saas_env: "{{ IN_SAAS_ENV }}"
