{%- import 's3-macros.j2' as s3 -%}
{%- if IS_EFS | lower == 'true' -%}
data "aws_subnets" "external_subnets" {
  filter {
    name   = "vpc-id"
    values = [var.vpc_id]
  }
  filter {
    name   = "cidr-block"
    values = {{CLUSTER_CIDR_WORKLOAD_EXTERNAL}}
  }
}

data "aws_subnets" "internal_subnets" {
  filter {
    name   = "vpc-id"
    values = [var.vpc_id]
  }
  filter {
    name   = "cidr-block"
    values = {{CLUSTER_CIDR_WORKLOAD_INTERNAL}}
  }
}
{%- endif %}


locals {
{%- if IS_S3 | lower == 'true' %}
  
  #----Common S3 params----
  s3_actions = {
    ro = ["s3:GetObject", "s3:ListBucket"]
    rw = ["s3:GetObject", "s3:PutObject", "s3:DeleteObject", "s3:ListBucket"]
  }
  
  location = var.location
  
  {%- for component_name, component_config in S3_COMPONENTS.items() %}
  {%- if component_config.enabled | lower == 'true' %}
  
  #----{{ component_name | upper }} S3 Configuration----
  {{ s3.generate_iam_user_arns(component_name, component_config.iam_users, ACCOUNT_ID, 'var.name_prefix') }}
  
  {{ s3.generate_s3_iam_users_list(component_name, component_config.iam_users, component_config.buckets, 'var.name_prefix') }}
  
  {{ s3.generate_iam_users_by_bucket(component_name) }}
  
  {{ s3.generate_bucket_user_names(component_name, component_config.iam_users) }}
  
  {{ s3.generate_bucket_user_name_map(component_name) }}
  
  {%- endif %}
  {%- endfor %}
{%- endif %}

  cluster = {
  {%- if IS_S3 | lower == 'true' %}
    instance = {
      name = var.instance_name
      
      {%- for component_name, component_config in S3_COMPONENTS.items() %}
      {%- if component_config.enabled | lower == 'true' %}
      
      #----{{ component_name | upper }} S3 Buckets----
      {{ s3.generate_s3_buckets(component_name, component_config.buckets, 'var.name_prefix') }}
      
      {%- endif %}
      {%- endfor %}
    }
    name = var.cluster_name
  {%- if IS_EFS | lower == 'true' %}
    #----EFS related params----
    "external_subnet_ids" : data.aws_subnets.external_subnets.ids
    "internal_subnet_ids" : data.aws_subnets.internal_subnets.ids
  {%- endif %}
  }
{%- endif %}

 {%- if IS_EFS | lower == 'true' %}
  #----EFS config related params starts----
  multiple-efs = {
{%- if EFS_MANAGE == "true" %}
    manage-db2 = {
      name = join("-", ["efs", var.cluster_name, var.instance_name, "manage-db2"])
      performance_mode = "{{EFS_MANAGE_DB2_PERFORMANCE_MODE}}"
      throughput_mode = "{{EFS_MANAGE_DB2_THROUGHPUT_MODE}}"
      efs_mount_count = {{EFS_MANAGE_DB2_MOUNT_COUNT}}
    }
    manage-main = {
      name = join("-", ["efs", var.cluster_name, var.instance_name, "manage-main"])
      performance_mode = "{{EFS_MANAGE_MAIN_PERFORMANCE_MODE}}"
      throughput_mode = "{{EFS_MANAGE_MAIN_THROUGHPUT_MODE}}"
      efs_mount_count = {{EFS_MANAGE_MAIN_MOUNT_COUNT}}
    }
{%- endif %}
{%- if EFS_IOT == "true" %}
    iot-db2 = {
      name = join("-", ["efs", var.cluster_name, var.instance_name, "iot-db2"])
      performance_mode = "{{EFS_IOT_DB2_PERFORMANCE_MODE}}"
      throughput_mode = "{{EFS_IOT_DB2_THROUGHPUT_MODE}}"
      efs_mount_count = {{EFS_IOT_DB2_MOUNT_COUNT}}
    }
{%- endif %}
{%- if EFS_VISUALINSPECTION == "true" %}
    visualinspection-main = {
      name = join("-", ["efs", var.cluster_name, var.instance_name, "visualinspection-main"])
      performance_mode = "{{EFS_VISUALINSPECTION_MAIN_PERFORMANCE_MODE}}"
      throughput_mode = "{{EFS_VISUALINSPECTION_MAIN_THROUGHPUT_MODE}}"
      efs_mount_count = {{EFS_VISUALINSPECTION_MAIN_MOUNT_COUNT}}
    }
{%- endif %}
{%- if EFS_FACILITIES == "true" %}
    facilities-db2 = {
      name = join("-", ["efs", var.cluster_name, var.instance_name, "facilities-db2"])
      performance_mode = "{{EFS_FACILITIES_DB2_PERFORMANCE_MODE}}"
      throughput_mode = "{{EFS_FACILITIES_DB2_THROUGHPUT_MODE}}"
      efs_mount_count = {{EFS_FACILITIES_DB2_MOUNT_COUNT}}
    }
    facilities-main = {
      name = join("-", ["efs", var.cluster_name, var.instance_name, "facilities-main"])
      performance_mode = "{{EFS_FACILITIES_MAIN_PERFORMANCE_MODE}}"
      throughput_mode = "{{EFS_FACILITIES_MAIN_THROUGHPUT_MODE}}"
      efs_mount_count = {{EFS_FACILITIES_MAIN_MOUNT_COUNT}}
    }
{%- endif %}
  }
  #----EFS config related params ends----
{%- endif %}
}
