
{%- if IS_EFS | lower == 'true' -%}
data "aws_subnets" "external_subnets" {
  filter {
    name   = "vpc-id"
    values = [var.vpc_id]
  }
  filter {
    name   = "cidr-block"
    values = {{CLUSTER_CIDR_WORKLOAD_EXTERNAL}}
  }
}

data "aws_subnets" "internal_subnets" {
  filter {
    name   = "vpc-id"
    values = [var.vpc_id]
  }
  filter {
    name   = "cidr-block"
    values = {{CLUSTER_CIDR_WORKLOAD_INTERNAL}}
  }
}
{%- endif %}


locals {
{%- if IS_S3 | lower == 'true' %}
  iam_user_arns = {
    custfiles = "${var.iam_user_arn_prefix}-custfiles-${var.access_level_rw}"
    doclinks  = "${var.iam_user_arn_prefix}-doclinks-${var.access_level_rw}"
    logs_rw   = "${var.iam_user_arn_prefix}-log-${var.access_level_rw}"
    logs_ro   = "${var.iam_user_arn_prefix}-log-${var.access_level_ro}"
  }

  s3_iam_users_list = {
    doclinks = {
      bucket_name   = "${var.s3bucket_name_prefix}-doclinks"
      iam_user_name = "${var.iam_user_name_prefix}-doclinks-${var.access_level_ro}"
      access_level  = var.access_level_rw
    },
    custfiles = {
      bucket_name   = "${var.s3bucket_name_prefix}-custfiles"
      iam_user_name = "${var.iam_user_name_prefix}-custfiles-${var.access_level_rw}"
      access_level  = var.access_level_rw
    },
    logs_rw = {
      bucket_name   = "${var.s3bucket_name_prefix}-log"
      iam_user_name = "${var.iam_user_name_prefix}-log-${var.access_level_rw}"
      access_level  = var.access_level_rw
    },
    logs_ro = {
      bucket_name   = "${var.s3bucket_name_prefix}-log"
      iam_user_name = "${var.iam_user_name_prefix}-log-${var.access_level_ro}"
      access_level  = var.access_level_ro
    }
  }

  s3_actions = {
    ro = ["s3:GetObject", "s3:ListBucket"]
    rw = ["s3:GetObject", "s3:PutObject", "s3:DeleteObject", "s3:ListBucket"]
  }

  iam_users_by_bucket = {
    for bucket_name in distinct([for u in local.s3_iam_users_list : u.bucket_name]) :
    bucket_name => [
      for u_key, u_info in local.s3_iam_users_list :
      local.iam_user_arns[u_key]
      if u_info.bucket_name == bucket_name
    ]
  }

  bucket_user_names = {
    custfiles = "${var.iam_user_name_prefix}-custfiles-${var.access_level_rw}"
    doclinks  = "${var.iam_user_name_prefix}-doclinks-${var.access_level_rw}"
    logs_rw   = "${var.iam_user_name_prefix}-log-${var.access_level_rw}"
    logs_ro   = "${var.iam_user_name_prefix}-log-${var.access_level_ro}"
  }

  bucket_user_name_map = {
    for key, value in local.s3_iam_users_list :
    key => lookup(local.bucket_user_names, key, null)
  }
  environment = var.environment

  location = var.location
  {%- endif %}
  cluster = {
  {%- if IS_EFS | lower == 'true' %}
    "external_subnet_ids" : data.aws_subnets.external_subnets.ids
    "internal_subnet_ids" : data.aws_subnets.internal_subnets.ids
  {%- endif %}
  {%- if IS_S3 | lower == 'true' %}
    instance = {
      name = var.instance_name
      s3buckets = {
        doclinks = {
          name_prefix          = var.name_prefix
          create               = var.create_bucket
          name                 = "${var.s3bucket_name_prefix}-doclinks"
          id                   = "${var.s3bucket_name_prefix}-doclinks"
          access_level         = "rw"
          s3_bucket_arn        = "arn:aws:s3:::${var.s3bucket_name_prefix}-doclinks"
          secret_suffix        = "manage_attachments/cos-attachments"
          cos_secret_format    = false
          manage_secret_format = true
          expiration           = null
        },
        custfiles = {
          name_prefix          = var.name_prefix
          create               = var.create_bucket
          name                 = "${var.s3bucket_name_prefix}-custfiles"
          id                   = "${var.s3bucket_name_prefix}-custfiles"
          access_level         = "rw"
          s3_bucket_arn        = "arn:aws:s3:::${var.s3bucket_name_prefix}-custfiles"
          secret_suffix        = "manage_custfiles/cos-custfiles"
          cos_secret_format    = false
          manage_secret_format = true
          expiration = {
            days = 366 // how long to keep logs
          }
        },
        logs = {
          name_prefix          = var.name_prefix
          create               = var.create_bucket
          name                 = "${var.s3bucket_name_prefix}-log"
          id                   = "${var.s3bucket_name_prefix}-log"
          access_level         = "ro"
          s3_bucket_arn        = "arn:aws:s3:::${var.s3bucket_name_prefix}-log"
          secret_suffix        = "manage_logging/cos-logging"
          cos_secret_format    = false
          manage_secret_format = true
          expiration           = null
        }
      }
    }
    name = var.cluster_name
{%- endif %}

  multiple-efs = {
{%- if EFS_MANAGE == "true" %}
    manage-db2 = {
      name = join("-", ["efs", var.cluster_name, var.instance_name, "manage-db2"])
      performance_mode = "{{EFS_MANAGE_DB2_PERFORMANCE_MODE}}"
      throughput_mode = "{{EFS_MANAGE_DB2_THROUGHPUT_MODE}}"
      efs_mount_count = {{EFS_MANAGE_DB2_MOUNT_COUNT}}
    }
    manage-main = {
      name = join("-", ["efs", var.cluster_name, var.instance_name, "manage-main"])
      performance_mode = "{{EFS_MANAGE_MAIN_PERFORMANCE_MODE}}"
      throughput_mode = "{{EFS_MANAGE_MAIN_THROUGHPUT_MODE}}"
      efs_mount_count = {{EFS_MANAGE_MAIN_MOUNT_COUNT}}
    }
{%- endif %}
{%- if EFS_IOT == "true" %}
    iot-db2 = {
      name = join("-", ["efs", var.cluster_name, var.instance_name, "iot-db2"])
      performance_mode = "{{EFS_IOT_DB2_PERFORMANCE_MODE}}"
      throughput_mode = "{{EFS_IOT_DB2_THROUGHPUT_MODE}}"
      efs_mount_count = {{EFS_IOT_DB2_MOUNT_COUNT}}
    }
{%- endif %}
{%- if EFS_VISUALINSPECTION == "true" %}
    visualinspection-main = {
      name = join("-", ["efs", var.cluster_name, var.instance_name, "visualinspection-main"])
      performance_mode = "{{EFS_VISUALINSPECTION_MAIN_PERFORMANCE_MODE}}"
      throughput_mode = "{{EFS_VISUALINSPECTION_MAIN_THROUGHPUT_MODE}}"
      efs_mount_count = {{EFS_VISUALINSPECTION_MAIN_MOUNT_COUNT}}
    }
{%- endif %}
{%- if EFS_FACILITIES == "true" %}
    facilities-db2 = {
      name = join("-", ["efs", var.cluster_name, var.instance_name, "facilities-db2"])
      performance_mode = "{{EFS_FACILITIES_DB2_PERFORMANCE_MODE}}"
      throughput_mode = "{{EFS_FACILITIES_DB2_THROUGHPUT_MODE}}"
      efs_mount_count = {{EFS_FACILITIES_DB2_MOUNT_COUNT}}
    }
    facilities-main = {
      name = join("-", ["efs", var.cluster_name, var.instance_name, "facilities-main"])
      performance_mode = "{{EFS_FACILITIES_MAIN_PERFORMANCE_MODE}}"
      throughput_mode = "{{EFS_FACILITIES_MAIN_THROUGHPUT_MODE}}"
      efs_mount_count = {{EFS_FACILITIES_MAIN_MOUNT_COUNT}}
    }
{%- endif %}
  }
{%- endif %}
}
