merge-key: "{{ ACCOUNT_ID }}/{{ REGION_ID }}/{{ CLUSTER_ID }}/{{ MAS_INSTANCE_ID }}"

ibm_mas_suite:
  cert_manager_namespace: "{{ CERT_MANAGER_NAMESPACE }}"
  ibm_entitlement_key: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_IBM_ENTITLEMENT }}>"
  domain: "{{ MAS_DOMAIN }}"
  mas_instance_id: "{{ MAS_INSTANCE_ID }}"
  cluster_id: "{{ CLUSTER_ID }}"
  sm_aws_access_key_id: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_AWS_ACCESS_KEY_ID }}>"
  sm_aws_secret_access_key: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_AWS_SECRET_ACCESS_KEY }}>"
  sm_aws_region: "{{ SM_AWS_REGION }}"

  # aws docdb
  mongodb_provider: "{{ MONGODB_PROVIDER }}"
  user_action: "{{ USER_ACTION }}"
  docdb_host: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_DOCDB_HOST }}>"
  docdb_port: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_DOCDB_PORT }}>"
  docdb_master_username: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_DOCDB_MASTER_USERNAME }}>"
  docdb_master_password: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_DOCDB_MASTER_PASSWORD }}>"
  docdb_master_info: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_DOCDB_MASTER_INFO }}>"
  sls_mongo_username: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_MONGO_USERNAME }}>"
  sls_mongo_password: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_MONGO_PASSWORD }}>"

  mas_channel: "{{ MAS_CHANNEL }}"
  icr_cp: {{ ICR_CP }}
  icr_cp_open: {{ ICR_CP_OPEN }}
  run_sync_hooks: true
{%- if DNS_PROVIDER is defined and DNS_PROVIDER !='' %}
  dns_provider: {{ DNS_PROVIDER }}
{%- endif %}
  mas_manual_cert_mgmt: {{ MAS_MANUAL_CERT_MGMT }}
{%- if MAS_ANNOTATIONS is defined and MAS_ANNOTATIONS !='' %}
  mas_annotations:
    {{ MAS_ANNOTATIONS | indent(4) }}
{%- endif %}
{%- if MAS_LABELS is defined and MAS_LABELS !='' %}
  mas_labels:
    {{ MAS_LABELS | indent(4) }}
{%- endif %}
{%- if MAS_IMAGE_TAGS is defined and MAS_IMAGE_TAGS !='' %}
  mas_image_tags:
    {{ MAS_IMAGE_TAGS | indent(4) }}
{%- endif %}

{%- if CA_CERT is defined and CA_CERT !='' %}
  ca_cert: {{ CA_CERT }}
{%- endif %}
{%- if TLS_CERT is defined and TLS_CERT !='' %}
  tls_cert: {{ TLS_CERT }}
{%- endif %}
{%- if TLS_KEY is defined and TLS_KEY !='' %}
  tls_key: {{ TLS_KEY }}
{%- endif %}
