merge-key: "{{ ACCOUNT_ID }}/{{ CLUSTER_ID }}/{{ MAS_INSTANCE_ID }}"

ibm_wml:
  ccs_channel: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_CCS_CHANNEL }}>"
  ccs_version: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_CCS_VERSION }}>"
  cpd_service_block_storage_class: "{{ CPD_SERVICE_BLOCK_STORAGE_CLASS }}"
  cpd_service_scale_config: "{{ CPD_SERVICE_SCALE_CONFIG }}"
  cpd_service_storage_class: "{{ CPD_SERVICE_STORAGE_CLASS }}"
  datarefinery_channel: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_DATAREFINERY_CHANNEL }}>"
  opencontent_elasticsearch_channel: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_OPENCONTENT_ELASTICSEARCH_CHANNEL }}>"
  wml_channel: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_WML_CHANNEL }}>"
  wml_version: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_WML_VERSION }}>"
  ws_runtimes_channel: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_WS_RUNTIMES_CHANNEL }}>"
