module "account_policy" {
  source               = "{{ POLICY_SOURCE}}"
  name_prefix          = var.name_prefix
  create_s3_iam_group  = var.create_s3_iam_group
  create_s3_iam_policy = var.create_s3_iam_policy
  efs_csi_policy       = var.create_efs_policy
  iam_users_list       = var.s3_iam_users_list
}
