
mas_config_name: "{{ MAS_CONFIG_SCOPE }}-{% if MAS_CONFIG_SCOPE == "ws" or MAS_CONFIG_SCOPE == "wsapp" %}{{ MAS_WORKSPACE_ID }}-{% endif %}{% if MAS_CONFIG_SCOPE == "app" or MAS_CONFIG_SCOPE == "wsapp" %}{{ MAS_APP_ID }}-{% endif %}cos"
mas_config_chart: ibm-objectstorage-config
mas_config_scope: {{ MAS_CONFIG_SCOPE }}
mas_workspace_id: {{MAS_WORKSPACE_ID}}
mas_application_id: {{MAS_APP_ID}}

mas_instance_id: {{ MAS_INSTANCE_ID }}
suite_objectstorage_username: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_OBJECTSTORAGE_USERNAME }}>
suite_objectstorage_password: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_OBJECTSTORAGE_PASSWORD }}>
suite_objectstorage_secret_name: ibmcos-credentials-system
objectstorage_config:
  config:
    url: {{ config.url }}
    credentials:
      secretName: "ibmcos-credentials-system"
  certificates:
    {% for objectstorage_certificate in certificates -%}
    - alias: {{ objectstorage_certificate.alias }}
      crt: |
        {% filter indent(width=8) -%}
        {{ objectstorage_certificate.crt }}
        {%- endfilter %}
    {% endfor %}