mas_config_name: "{{ MAS_CONFIG_NAME }}"
mas_config_chart: ibm-mas-sls-config
mas_config_scope: {{ MAS_CONFIG_SCOPE }}
mas_workspace_id: {{ MAS_WORKSPACE_ID }}
mas_application_id: {{ MAS_APP_ID }}
mas_config_kind: "slscfgs"
mas_config_api_version: "config.mas.ibm.com"
use_postdelete_hooks: {{ USE_POSTDELETE_HOOKS }}

{% if MAS_SLSCFG_POD_TEMPLATE is defined and MAS_SLSCFG_POD_TEMPLATE !='' %}
mas_slscfg_pod_templates:
  {{ MAS_SLSCFG_POD_TEMPLATE | indent(2) }}
{% endif %}

registration_key: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_SLS_REGISTRATION_KEY }}>
{%- if STANDALONE_SLS_SERVICE %}
url: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_SLS_URL }}>
{%- else %}
url: "https://sls.mas-{{ MAS_INSTANCE_ID }}-sls.svc"
{%- endif %}
ca:
  crt: |
    <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_SLS_CA_B64 }} | base64decode>
