mas_config_name: "{{ MAS_CONFIG_NAME }}"
mas_config_chart: ibm-db2u-jdbc-config
mas_config_scope: {{ MAS_CONFIG_SCOPE }}
mas_workspace_id: {{ MAS_WORKSPACE_ID }}
mas_application_id: {{ MAS_APP_ID }}
mas_config_kind: "jdbccfgs"
mas_config_api_version: "config.mas.ibm.com"
use_postdelete_hooks: {{ USE_POSTDELETE_HOOKS }}

db2_instance_name: {{ DB2_INSTANCE_NAME }}
mas_instance_id: {{ MAS_INSTANCE_ID }}
db2_jdbc_username: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_DB2_USERNAME }}>
jdbc_instance_password: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_DB2_PASSWORD }}>
mas_config_dir: {{ MAS_CONFIG_DIR }}
db2_tls_serviceport: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_DB2_TLS_SERVICEPORT }}>
tls_version:  {{ TLS_VERSION }}
db2_dbname: {{ DB2_DBNAME }}
db2_namespace: {{ DB2_NAMESPACE }}

app_suite_jdbccfg_labels:
    mas.ibm.com/applicationId: "{{ MAS_APP_ID }}"
    mas.ibm.com/configScope: application
    mas.ibm.com/instanceId: "{{ MAS_INSTANCE_ID }}"

system_suite_jdbccfg_labels:
    mas.ibm.com/configScope: system
    mas.ibm.com/instanceId: "{{ MAS_INSTANCE_ID }}"

ws_suite_jdbccfg_labels:
    mas.ibm.com/configScope: workspace-application
    mas.ibm.com/instanceId: "{{ MAS_INSTANCE_ID }}"
    mas.ibm.com/workspaceId: "{{ MAS_WORKSPACE_ID }}"

wsapp_suite_jdbccfg_labels:
    mas.ibm.com/applicationId: "{{ MAS_APP_ID }}"
    mas.ibm.com/configScope: workspace-application
    mas.ibm.com/instanceId: "{{ MAS_INSTANCE_ID }}"
    mas.ibm.com/workspaceId: "{{ MAS_WORKSPACE_ID }}"

db2_ca_pem: 
  crt: |
    <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_DB2_CA_PEM }} | base64decode>

{%- if CUSTOM_LABELS is defined and CUSTOM_LABELS !='' %}
custom_labels:
  {{ CUSTOM_LABELS | indent(2) }}
{%- endif %}
