mas_config_name: "{{ MAS_CONFIG_NAME }}"
mas_config_chart: ibm-mas-sls-config
mas_config_scope: {{ MAS_CONFIG_SCOPE }}
mas_workspace_id: {{ MAS_WORKSPACE_ID }}
mas_application_id: {{ MAS_APP_ID }}
mas_config_kind: "slscfgs"
mas_config_api_version: "config.mas.ibm.com"

mas_instance_id: {{ MAS_INSTANCE_ID }}
registration_key: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_SLS_REGISTRATION_KEY }}>
url: "https://sls.mas-{{ MAS_INSTANCE_ID }}-sls.svc"
ca:
  crt: |
    {% filter indent(width=4) -%}
    {{ SLS_CA_CERTIFICATE }}
    {%- endfilter %}
