---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: {{ CLUSTER_ID }}-cluster-scope
  namespace: openshift-gitops
spec:
  description: {{ CLUSTER_ID }} Cluster Scoped
  clusterResourceWhitelist:
    - group: '*'
      kind: '*'
  destinations:
    - name: '*'
      namespace: 'cis-compliance'
      server: '*'
    - name: '*'
      namespace: 'openshift-compliance'
      server: '*'
    - name: '*'
      namespace: 'ibm-common-services'
      server: '*'
    - name: '*'
      namespace: 'openshift-marketplace'
      server: '*'
    - name: '*'
      namespace: 'kube-system'
      server: '*'
  namespaceResourceWhitelist:
    - group: '*'
      kind: '*'
  sourceRepos:
    - '*'