apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mas-db2-{{CLUSTER_ID}}
  namespace: openshift-gitops
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: {{DB2_NAMESPACE}}
    server: 'https://kubernetes.default.svc'
  project: {{ CLUSTER_ID }}-cluster-scope
  source:
    path: applications/ibm-db2u
    plugin:
      env:
        - name: HELM_VALUES
          value: |
            db2_namespace: {{DB2_NAMESPACE}}
            db2_channel: {{DB2_CHANNEL}}
            ibm_entitlement_key: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_IBM_ENTITLEMENT }}>
            custom_labels: {{CUSTOM_LABELS}}
    repoURL: 'https://github.com/ibm-mas/gitops'
    targetRevision: {{ GITOPS_VERSION }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false

