---
# CP4D Configuration
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mas-{{MAS_INSTANCE_ID}}-cp4d
  namespace: openshift-gitops
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ MAS_INSTANCE_ID }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{CPD_INSTANCE_NAMESPACE}}
  source:
    repoURL: https://github.com/ibm-mas/gitops
    path: applications/ibm-cp4d
    targetRevision: {{ GITOPS_VERSION }}
    plugin:
      env:
        - name: HELM_VALUES
          value: |
            ibm_entitlement_key: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_IBM_ENTITLEMENT }}>
            mas_instance_id: {{MAS_INSTANCE_ID}}
            cpd_instance_namespace: {{CPD_INSTANCE_NAMESPACE}}
            cpd_operators_namespace: {{CPD_OPERATORS_NAMESPACE}}
            cpd_product_version: {{CPD_PRODUCT_VERSION}}
            cpd_channel: {{CPD_CHANNEL}}
            common_services_channel: {{COMMON_SERVICES_CHANNEL}}
            cpd_primary_storage_class: {{CPD_PRIMARY_STORAGE_CLASS}}
            cpd_metadata_storage_class: {{CPD_METADATA_STORAGE_CLASS}}

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
