apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mas-{{ MAS_INSTANCE_ID }}-objectstorage-config
  namespace: openshift-gitops
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: mas-{{ MAS_INSTANCE_ID }}-core
    server: 'https://kubernetes.default.svc'
  project: {{ MAS_INSTANCE_ID }}
  source:
    path: applications/ibm-objectstorage-config
    plugin:
      env:
        - name: HELM_VALUES
          value: |
            mas_instance_id: {{ MAS_INSTANCE_ID }}
            suite_objectstorage_username: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_OBJECTSTORAGE_USERNAME }}>
            suite_objectstorage_password: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_OBJECTSTORAGE_PASSWORD }}>
            suite_objectstorage_secret_name: ibmcos-credentials-system
            objectstorage_config:
              config:
                url: {{ config.url }}
                credentials:
                  secretName: "ibmcos-credentials-system"
              certificates:
                {% for objectstorage_certificate in certificates -%}
                - alias: {{ objectstorage_certificate.alias }}
                  crt: |
                    {% filter indent(width=20) -%}
                    {{ objectstorage_certificate.crt }}
                    {%- endfilter %}
                {% endfor %}
    repoURL: 'https://github.com/ibm-mas/gitops'
    targetRevision: {{ GITOPS_VERSION }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
