---
# DB2 JDBC Configuration
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mas-{{ MAS_INSTANCE_ID }}-db2-jdbc-config
  namespace: openshift-gitops
spec:
  project: {{ MAS_INSTANCE_ID }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{DB2_NAMESPACE}}
  source:
    repoURL: https://github.com/ibm-mas/gitops
    path: applications/ibm-db2u-jdbc-config
    targetRevision: {{ GITOPS_VERSION }}
    plugin:
      env:
        - name: HELM_VALUES
          value: |
            db2_instance_name: {{DB2_INSTANCE_NAME}}
            db2_namespace: {{DB2_NAMESPACE}}
            cluster_domain: {{CLUSTER_DOMAIN}}
            mas_instance_id: {{MAS_INSTANCE_ID}}
            db2_jdbc_username: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_DB2_USERNAME }}>
            jdbc_instance_password: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_DB2_PASSWORD }}>
            mas_config_dir: {{MAS_CONFIG_DIR}}
            mas_config_scope: {{MAS_CONFIG_SCOPE}}
            mas_workspace_id: {{MAS_WORKSPACE_ID}}
            mas_application_id: {{MAS_APP_ID}}
            jdbc_url: {{JDBC_URL}}

            suite_jdbccfg_name: "{{ SUITE_JDBCCFG_NAME }}"

            app_suite_jdbccfg_labels:
              mas.ibm.com/applicationId: "{{ MAS_APP_ID }}"
              mas.ibm.com/configScope: application
              mas.ibm.com/instanceId: "{{ MAS_INSTANCE_ID }}"

            system_suite_jdbccfg_labels:
              mas.ibm.com/configScope: system
              mas.ibm.com/instanceId: "{{ MAS_INSTANCE_ID }}"

            ws_suite_jdbccfg_labels:
              mas.ibm.com/configScope: workspace-application
              mas.ibm.com/instanceId: "{{ MAS_INSTANCE_ID }}"
              mas.ibm.com/workspaceId: "{{ MAS_WORKSPACE_ID }}"

            wsapp_suite_jdbccfg_labels:
              mas.ibm.com/applicationId: "{{ MAS_APP_ID }}"
              mas.ibm.com/configScope: workspace-application
              mas.ibm.com/instanceId: "{{ MAS_INSTANCE_ID }}"
              mas.ibm.com/workspaceId: "{{ MAS_WORKSPACE_ID }}"

            db2_ca_pem: {{DB2_CA_PEM}}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
    managedNamespaceMetadata:
      labels:
        argocd.argoproj.io/managed-by: openshift-gitops
