---
# Maximo Application Suite Core Platform
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mas-{{ MAS_INSTANCE_ID }}-core-suite
  namespace: openshift-gitops
spec:
  project: {{ MAS_INSTANCE_ID }}
  destination:
    server: https://kubernetes.default.svc
    namespace: mas-{{ MAS_INSTANCE_ID }}-core
  source:
    repoURL: https://github.com/ibm-mas/gitops
    path: applications/ibm-mas-suite
    targetRevision: {{ GITOPS_VERSION }}
    plugin:
      env:
        - name: HELM_VALUES
          value: |
            ibm_entitlement_key: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_IBM_ENTITLEMENT }}>
            domain: {{ MAS_DOMAIN }}
            mas_instance_id: {{ MAS_INSTANCE_ID }}
            mas_channel: {{ MAS_CHANNEL }}
{%- if MAS_ANNOTATIONS is defined and MAS_ANNOTATIONS !='' %}
            mas_annotations: 
              {{ MAS_ANNOTATIONS | indent(14) }}
{%- endif %}
{%- if MAS_LABELS is defined and MAS_LABELS !='' %}
            mas_labels: 
              {{ MAS_LABELS | indent(14) }}
{%- endif %}
{%- if MAS_IMAGE_TAGS is defined and MAS_IMAGE_TAGS !='' %}
            mas_image_tags: 
              {{ MAS_IMAGE_TAGS | indent(14) }}
{%- endif %}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    managedNamespaceMetadata:
      labels:
        argocd.argoproj.io/managed-by: openshift-gitops
