apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mas-{{ MAS_INSTANCE_ID }}-kafka-config
  namespace: openshift-gitops
spec:
  destination:
    namespace: mas-{{ MAS_INSTANCE_ID }}-core
    server: 'https://kubernetes.default.svc'
  project: {{ MAS_INSTANCE_ID }}
  source:
    path: applications/ibm-kafka-config
    plugin:
      env:
        - name: HELM_VALUES
          value: |
            mas_instance_id: {{ MAS_INSTANCE_ID }}
            suite_kafka_username: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_KAFKA_USERNAME }}>
            suite_kafka_password: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_KAFKA_PASSWORD }}>
            suite_kafka_secret_name: aws-msk-credentials-{{ MAS_INSTANCE_ID }}
            kafka_config:
              config:
                hosts:
                  {% for kafka_host in config.hosts -%}
                  - host: {{ kafka_host.host }}
                    port: {{ kafka_host.port }}
                  {% endfor %}
                credentials:
                  secretName: "aws-msk-credentials-{{ MAS_INSTANCE_ID }}"
                saslMechanism: SCRAM-SHA-512
              certificates:
                {% for kafka_certificate in certificates -%}
                - alias: {{ kafka_certificate.alias }}
                  crt: |
                    {% filter indent(width=20) -%}
                    {{ kafka_certificate.crt }}
                    {%- endfilter %}
                {% endfor %}
    repoURL: 'https://github.com/ibm-mas/gitops'
    targetRevision: {{ GITOPS_VERSION }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
