apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mas-dro-{{CLUSTER_ID}}
  namespace: openshift-gitops
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  ignoreDifferences:
  - group: 'marketplace.redhat.com/v1alpha1'
    kind: MarketplaceConfig
    jsonPointers:
    - /spec
  destination:
    namespace: {{DRO_NAMESPACE}}
    server: 'https://kubernetes.default.svc'
  project: {{ CLUSTER_ID }}-cluster-scope
  source:
    path: applications/ibm-dro
    plugin:
      env:
        - name: HELM_VALUES
          value: |
            dro_namespace: {{DRO_NAMESPACE}}
            ibm_entitlement_key: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_IBM_ENTITLEMENT }}>
            {% if DRO_CSV %}
            dro_csv: {{DRO_CSV}}
            {% endif %}
    repoURL: 'https://github.com/ibm-mas/gitops'
    targetRevision: {{ GITOPS_VERSION }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false

