apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mas-{{ MAS_INSTANCE_ID }}-idp-config
  namespace: openshift-gitops
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: mas-{{ MAS_INSTANCE_ID }}-core
    server: 'https://kubernetes.default.svc'
  project: {{ MAS_INSTANCE_ID }}
  source:
    path: applications/ibm-mas-idp-config
    plugin:
      env:
        - name: HELM_VALUES
          value: |
            mas_instance_id: {{ MAS_INSTANCE_ID }}
            suite_ldap_bind_dn: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_LDAP_BIND_DN }}>
            suite_ldap_bind_password: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_LDAP_BIND_PASSWORD }}>
            suite_ldap_secret_name: ldap-system-credentials-{{ MAS_INSTANCE_ID }}
            suite_ldap_display_name: {{ IDPCFG_DISPLAY_NAME }}
            suite_ldap_url: {{ LDAP_URL }}
            suite_ldap_basedn: {{ LDAP_BASEDN }}
            suite_ldap_userid_map: {{ LDAP_USERID_MAP }}
            suite_ldap_certificate:
              crt: |
                {% filter indent(width=16) -%}
                {{ LDAP_CERTIFICATE_CONTENT }}
                {%- endfilter %}

    repoURL: 'https://github.com/ibm-mas/gitops'
    targetRevision: {{ GITOPS_VERSION }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
