---
# Maximo Application Configuration
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mas-{{ MAS_INSTANCE_ID }}-{{ MAS_APP_ID }}-app-config
  namespace: openshift-gitops
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ MAS_INSTANCE_ID }}
  destination:
    server: https://kubernetes.default.svc
    namespace: mas-{{ MAS_INSTANCE_ID }}-{{ MAS_APP_ID }}
  source:
    repoURL: https://github.com/ibm-mas/gitops
    path: applications/ibm-mas-suite-app-config
    targetRevision: {{ GITOPS_VERSION }}
    plugin:
      env:
        - name: HELM_VALUES
          value: |
            mas_instance_id: {{ MAS_INSTANCE_ID }}
            mas_app_id: {{ MAS_APP_ID }}
            mas_app_namespace: {{ MAS_APP_NAMESPACE }}
            mas_app_channel: {{ MAS_APP_CHANNEL }}
            mas_app_catalog_source: {{ MAS_APP_CATALOG_SOURCE }}
            mas_app_api_version: {{ MAS_APP_API_VERSION }}
            mas_app_kind: {{ MAS_APP_KIND }}

            mas_app_ws_apiversion: {{ MAS_APP_WS_APIVERSION }}
            mas_app_ws_kind: {{ MAS_APP_WS_KIND }}
            mas_workspace_id: {{ MAS_WORKSPACE_ID }}

            mas_app_settings_server_bundle_ear_file_name_dev: maximo-all
            mas_app_settings_server_bundle_ear_file_name_small: maximomea
            mas_app_settings_server_bundle_ear_file_name_jms: maximomea
            mas_app_settings_server_bundle_ear_file_name_snojms: maximo-all

            manage_bindings:
              jdbc: {{ JDBC_BINDINGS }}
            manage_mas_appws_components:
              base:
                version: latest
            mas_app_settings_server_bundles_type: {{ MAS_APP_SETTINGS_SERVER_BUNDLES_TYPE }}
            mas_app_settings_default_jms: {{ MAS_APP_SETTINGS_DEFAULT_JMS }}
            mas_app_settings_aio_flag: {{ MAS_APP_SETTINGS_AIO_FLAG }}
            mas_app_settings_db2_schema: {{ MAS_APP_SETTINGS_DB2_SCHEMA }}
            mas_app_settings_demodata: {{ MAS_APP_SETTINGS_DEMODATA }}
            mas_app_settings_tablespace: {{ MAS_APP_SETTINGS_TABLESPACE }}
            mas_app_settings_indexspace: {{ MAS_APP_SETTINGS_INDEXSPACE }}
            mas_app_settings_persistent_volumes: {{ MAS_APP_SETTINGS_PERSISTENT_VOLUMES }}
            mas_app_settings_base_language: {{ MAS_APP_SETTINGS_BASE_LANGUAGE }}
            mas_app_settings_secondary_languages: {{ MAS_APP_SETTINGS_SECONDARY_LANGUAGES }}
            mas_app_settings_customization_list: {{ MAS_APP_SETTINGS_CUSTOMIZATION_LIST }}

            mas_app_settings_server_bundles_dev:
              - bundleType: all
                isDefault: true
                isMobileTarget: true
                isUserSyncTarget: true
                name: all
                replica: 1
                routeSubDomain: all

            mas_app_settings_server_bundles_small:
              - bundleType: ui
                isDefault: true
                isMobileTarget: true
                isUserSyncTarget: false
                name: ui
                replica: 1
                routeSubDomain: ui
              - bundleType: mea
                isDefault: false
                isMobileTarget: false
                isUserSyncTarget: true
                name: mea
                replica: 1
                routeSubDomain: mea
              - bundleType: report
                isDefault: false
                isMobileTarget: false
                isUserSyncTarget: false
                name: rpt
                replica: 1
                routeSubDomain: rpt
              - bundleType: cron
                isDefault: false
                isMobileTarget: false
                isUserSyncTarget: false
                name: cron
                replica: 1
                routeSubDomain: cron

            mas_app_settings_server_bundles_jms:
              - additionalServerConfig:
                  secretName: "{{ MAS_WORKSPACE_ID }}-{{ MAS_APP_ID }}-d--sb0--asc--sn"
                bundleType: ui
                isDefault: true
                isMobileTarget: true
                isUserSyncTarget: false
                name: ui
                replica: 1
                routeSubDomain: ui
              - additionalServerConfig:
                  secretName: "{{ MAS_WORKSPACE_ID }}-{{ MAS_APP_ID }}-d--sb1--asc--sn"
                bundleType: mea
                isDefault: false
                isMobileTarget: false
                isUserSyncTarget: true
                name: mea
                replica: 1
                routeSubDomain: mea
              - additionalServerConfig:
                  secretName: "{{ MAS_WORKSPACE_ID }}-{{ MAS_APP_ID }}-d--sb2--asc--sn"
                bundleType: report
                isDefault: false
                isMobileTarget: false
                isUserSyncTarget: false
                name: rpt
                replica: 1
                routeSubDomain: rpt
              - additionalServerConfig:
                  secretName: "{{ MAS_WORKSPACE_ID }}-{{ MAS_APP_ID }}-d--sb3--asc--sn"
                bundleType: cron
                isDefault: false
                isMobileTarget: false
                isUserSyncTarget: false
                name: cron
                replica: 1
                routeSubDomain: cron
              - additionalServerConfig:
                  secretName: "{{ MAS_WORKSPACE_ID }}-{{ MAS_APP_ID }}-d--sb4--asc--sn"
                bundleType: standalonejms
                isDefault: false
                isMobileTarget: false
                isUserSyncTarget: false
                name: jms
                replica: 1
                routeSubDomain: jms

            mas_app_settings_server_bundles_snojms:
              - additionalServerConfig:
                  secretName: "{{ MAS_WORKSPACE_ID }}-{{ MAS_APP_ID }}-d--sb0--asc--sn"
                bundleType: all
                isDefault: true
                isMobileTarget: true
                isUserSyncTarget: true
                name: all
                replica: 1
                routeSubDomain: all
              - additionalServerConfig:
                  secretName: "{{ MAS_WORKSPACE_ID }}-{{ MAS_APP_ID }}-d--sb1--asc--sn"
                bundleType: standalonejms
                isDefault: false
                isMobileTarget: false
                isUserSyncTarget: false
                name: jms
                replica: 1
                routeSubDomain: jms

            server_bundles_add_server_config_no_activation_content: {{ SERVER_BUNDLES_ADD_SERVER_CONFIG_NO_ACTIVATION_CONTENT }}
            server_bundles_add_server_config_content: {{ SERVER_BUNDLES_ADD_SERVER_CONFIG_CONTENT }}
            server_bundles_jms_add_server_config_content: {{ SERVER_BUNDLES_JMS_ADD_SERVER_CONFIG_CONTENT }}

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false













