{% include 'common-config.yaml.j2' %}

ibm-mas-configs:
  mas_instance_id: {{ MAS_INSTANCE_ID }}
  dro_api_token: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_DRO_API_TOKEN }}>
  dro_endpoint_url: {{ DRO_URL }}
  dro_contact:
    email: {{ DRO_CONTACT_EMAIL }}
    first_name: {{ DRO_CONTACT_FIRSTNAME }}
    last_name: {{ DRO_CONTACT_LASTNAME }}
  dro_ca:
    crt: |
      {% filter indent(width=6) -%}
      {{ DRO_CA_CERTIFICATE }}
      {%- endfilter %}
  suite_sls_registration_key: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_SLS_REGISTRATION_KEY }}>
  suite_sls_url: "https://sls.mas-{{ MAS_INSTANCE_ID }}-sls.svc"
  suite_sls_ca:
    crt: |
      {% filter indent(width=6) -%}
      {{ SLS_CA_CERTIFICATE }}
      {%- endfilter %}
  suite_mongo_username: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_MONGO_USERNAME }}>
  suite_mongo_password: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_MONGO_PASSWORD }}>
  suite_mongo_secret_name: suite-mongo-credentials
  mongo_config:
    config:
      hosts:
        {% for mongo_host in config.hosts -%}
        - host: {{ mongo_host.host }}
          port: {{ mongo_host.port }}
        {% endfor %}
      configDb: admin
      authMechanism: DEFAULT
      {% if config.retryWrites is sameas false %}
      retryWrites: false
      {% endif %}
      credentials:
        secretName: suite-mongo-credentials
    certificates:
      {% if config.certificate %}
      {% for mongo_certificate in config.certificate -%}
      - alias: {{ mongo_certificate.alias }}
        crt: |
          {% filter indent(width=10) -%}
          {{ mongo_certificate.crt }}
          {%- endfilter %}
      {% endfor %}
      {% elif certificates%}
      {% for mongo_certificate in certificates -%}
      - alias: {{ mongo_certificate.alias }}
        crt: |
          {% filter indent(width=10) -%}
          {{ mongo_certificate.crt }}
          {%- endfilter %}
      {% endfor %}
      {% endif %}

tags:
  ibm-mas-configs: true

