{% include 'common-config.yaml.j2' %}

ibm-mas-idp-config:
  mas_instance_id: {{ MAS_INSTANCE_ID }}
  suite_ldap_bind_dn: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_LDAP_BIND_DN }}>
  suite_ldap_bind_password: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_LDAP_BIND_PASSWORD }}>
  suite_ldap_secret_name: ldap-system-credentials-{{ MAS_INSTANCE_ID }}
  suite_ldap_display_name: {{ IDPCFG_DISPLAY_NAME }}
  suite_ldap_url: {{ LDAP_URL }}
  suite_ldap_basedn: {{ LDAP_BASEDN }}
  suite_ldap_userid_map: {{ LDAP_USERID_MAP }}
  suite_ldap_certificate:
    crt: |
      {% filter indent(width=6) -%}
      {{ LDAP_CERTIFICATE_CONTENT }}
      {%- endfilter %}


tags:
  ibm-mas-idp-config: true

