---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-appconnect
spec:
  params:
    {{ lookup('template', task_src_dir ~ '/common/cli-params.yml.j2') | indent(4) }}

    # MAS Instance
    - name: mas_instance_id
      type: string
      description: Instance ID
      default: ""
    - name: custom_labels
      type: string
      description: Optional MAS custom labels, comma separated list of key=value pairs
      default: ""
    # Entitlement
    - name: ibm_entitlement_key
      type: string
      description: "IBM Entitlement Key"
      default: ""
    # Subscription Channel
    - name: appconnect_channel
      type: string
      default: ""
    # Dashboard Configuration
    - name: appconnect_dashboard_name
      type: string
      default: ""
    - name: appconnect_dashboard_version
      type: string
      default: ""
    # License
    - name: appconnect_license_id
      type: string
      default: ""
    # Storage Class
    - name: appconnect_storage_class
      type: string
      default: ""

  stepTemplate:
    env:
      {{ lookup('template', task_src_dir ~ '/common/cli-env.yml.j2') | indent(6) }}

      # General
      - name: MAS_CONFIG_DIR
        value: /workspace/configs
      - name: MAS_INSTANCE_ID
        value: $(params.mas_instance_id)
      - name: CUSTOM_LABELS
        value: $(params.custom_labels)
      # Entitlement
      - name: IBM_ENTITLEMENT_KEY
        value: $(params.ibm_entitlement_key)
      # Channel
      - name: APPCONNECT_CHANNEL
        value: $(params.appconnect_channel)
      # Dashboard
      - name: APPCONNECT_DASHBOARD_NAME
        value: $(params.appconnect_dashboard_name)
      - name: APPCONNECT_DASHBOARD_VERSION
        value: $(params.appconnect_dashboard_version)
      # License
      - name: APPCONNECT_LICENSE_ID
        value: $(params.appconnect_license_id)
      # Storage Class
      - name: APPCONNECT_STORAGE_CLASS
        value: $(params.appconnect_storage_class)
  steps:
    - name: appconnect
      command:
        - /opt/app-root/src/run-role.sh
        - appconnect
      image: quay.io/ibmmas/cli:latest
      imagePullPolicy: $(params.image_pull_policy)
      workingDir: /workspace/configs

  workspaces:
    - name: configs
