---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-cert-manager
spec:
  params:
    {{ lookup('template', task_src_dir ~ '/common/cli-params.yml.j2') | indent(4) }}

    - name: cert_manager_provider
      type: string
      description: Optional. Cert Manager provider (ibm or redhat)
      default: ""

    # Optional parameter to uninstall Cert Manager
    - name: cert_manager_action
      type: string
      description: Optional. Used to uninstall Cert Manager
      default: ""

  stepTemplate:
    env:
      {{ lookup('template', task_src_dir ~ '/common/cli-env.yml.j2') | indent(6) }}

      - name: CERT_MANAGER_PROVIDER
        value: $(params.cert_manager_provider)

      # Optional parameter to uninstall Cert Manager
      - name: CERT_MANAGER_ACTION
        value: $(params.cert_manager_action)
  steps:
    - name: cert-manager
      command:
        - /opt/app-root/src/run-role.sh
        - cert_manager
      image: quay.io/ibmmas/cli:10.8.0-pre.multiarch-existingmongo-s390x
      imagePullPolicy: $(params.image_pull_policy)
      workingDir: /workspace/configs
