---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-cp4d
spec:
  params:
    {{ lookup('template', task_src_dir ~ '/common/cli-params.yml.j2') | indent(4) }}

    # CPD Product Version
    - name: cpd_product_version
      type: string
      default: ""

    # Namespace configuration (Optional, defaults built into Ansible role)
    - name: cpd_operator_namespace
      type: string
      default: ""
    - name: cpd_instance_namespace
      type: string
      default: ""

    # Storage classes (Optional, defaults built into Ansible role)
    - name: cpd_primary_storage_class
      type: string
      default: ""
    - name: cpd_metadata_storage_class
      type: string
      default: ""

    # Entitlement
    - name: ibm_entitlement_key
      type: string
    - name: skip_entitlement_key_flag
      type: string
      default: ""

  stepTemplate:
    env:
      {{ lookup('template', task_src_dir ~ '/common/cli-env.yml.j2') | indent(6) }}

      # General
      - name: CPD_PRODUCT_VERSION
        value: $(params.cpd_product_version)

      # Namespace configuration
      - name: CPD_OPERATOR_NAMESPACE
        value: $(params.cpd_operator_namespace)
      - name: CPD_INSTANCE_NAMESPACE
        value: $(params.cpd_instance_namespace)

      # Storage classes
      - name: CPD_PRIMARY_STORAGE_CLASS
        value: $(params.cpd_primary_storage_class)
      - name: CPD_METADATA_STORAGE_CLASS
        value: $(params.cpd_metadata_storage_class)

      # Entitlement
      - name: IBM_ENTITLEMENT_KEY
        value: $(params.ibm_entitlement_key)
      - name: SKIP_ENTITLEMENT_KEY_FLAG
        value: $(params.skip_entitlement_key_flag)
  steps:
    - name: cp4d
      command:
        - /opt/app-root/src/run-role.sh
        - cp4d
      image: quay.io/ibmmas/cli:11.2.1-pre.mascore3901
      imagePullPolicy: $(params.image_pull_policy)
