---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-gencfg-jdbc
spec:
  params:
    {{ lookup('template', task_src_dir ~ '/common/cli-params.yml.j2') | indent(4) }}

    # JDBCCfg
    - name: mas_config_scope
      type: string
      default: ""
    - name: mas_instance_id
      type: string
      description: Instance ID
      default: ""
    - name: mas_workspace_id
      type: string
      default: ""
    
    - name: mas_jdbc_user
      type: string
      default: ""
    - name: mas_jdbc_password
      type: string
      default: ""
    - name: mas_jdbc_url
      type: string
      default: ""

  stepTemplate:
    env:
      {{ lookup('template', task_src_dir ~ '/common/cli-env.yml.j2') | indent(6) }}

      # MAS - JdbcCfg
      - name: MAS_CONFIG_DIR
        value: /workspace/configs
      - name: MAS_CONFIG_SCOPE
        value: $(params.mas_config_scope)
      - name: MAS_INSTANCE_ID
        value: $(params.mas_instance_id)
      - name: MAS_WORKSPACE_ID
        value: $(params.mas_workspace_id)
      - name: DB_INSTANCE_ID
        value: mas-$(params.mas_instance_id)-$(params.mas_config_scope)

      - name: MAS_JDBC_USER
        value: $(params.mas_jdbc_user)
      - name: MAS_JDBC_PASSWORD
        value: $(params.mas_jdbc_password)
      - name: MAS_JDBC_URL
        value: $(params.mas_jdbc_url)  

  steps:
    - name: gencfg-jdbc
      command:
        - /opt/app-root/src/run-role.sh
        - gencfg_jdbc
      image: quay.io/ibmmas/cli:latest
      imagePullPolicy: $(params.image_pull_policy)
      workingDir: /workspace/configs


  workspaces:
    - name: configs
      optional: true
