---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-kafka-deprovision
spec:
  params:
    {{ lookup('template', task_src_dir ~ '/common/cli-params.yml.j2') | indent(4) }}

    # General
    - name: mas_instance_id
      type: string

    # Kafka Details
    - name: kafka_provider
      type: string
      description: Kafka Provider
      default: ""
    - name: ibmcloud_apikey
      type: string
      description: API Key used to create Event Streams instance in IBM Cloud
      default: ""
    - name: ibmcloud_resourcegroup
      type: string
      description: Name of an existing Resource Group in IBM Cloud account
      default: "Default"
    - name: eventstreams_resourcegroup
      type: string
      description: Name of an existing Event Streams Resource Group in IBM Cloud account
      default: ""
    - name: eventstreams_name
      type: string
      description: Name of Event Streams instance in IBM Cloud account
      default: ""
    - name: eventstreams_location
      type: string
      description: Location of Event Streams instance in IBM Cloud account
      default: ""
    - name: kafka_action_system
      type: string
      description: Set to 'install' to set up a Kafka instance for the whole suite
      default: ""

  stepTemplate:
    env:
      {{ lookup('template', task_src_dir ~ '/common/cli-env.yml.j2') | indent(6) }}

      # General
      - name: MAS_INSTANCE_ID
        value: $(params.mas_instance_id)

      # Kafka Details
      - name: KAFKA_PROVIDER
        value: $(params.kafka_provider)
      - name: KAFKA_ACTION
        value: $(params.kafka_action_system)
      - name: IBMCLOUD_APIKEY
        value: $(params.ibmcloud_apikey)
      - name: EVENTSTREAMS_RESOURCEGROUP
        value: $(params.eventstreams_resourcegroup)
      - name: EVENTSTREAMS_NAME
        value: $(params.eventstreams_name)
      - name: EVENTSTREAMS_LOCATION
        value: $(params.eventstreams_location)
      - name: IBMCLOUD_RESOURCEGROUP
        value: $(params.ibmcloud_resourcegroup)
  steps:
    - name: kafka-deprovision
      command:
        - /opt/app-root/src/run-role.sh
        - kafka
      image: quay.io/ibmmas/cli:latest
      imagePullPolicy: $(params.image_pull_policy)
      workingDir: /workspace/configs
