---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-nvidia-gpu
spec:
  params:
    {{ lookup('template', task_src_dir ~ '/common/cli-params.yml.j2') | indent(4) }}

    - name: gpu_namespace
      type: string
      description: Optional. Nvidia gpu namespace
      default: ""
    - name: gpu_channel
      type: string
      description: Optional. Nvidia gpu channel for install and updates
      default: ""
    - name: nfd_namespace
      type: string
      description: Optional. Node feature discovery namespace
      default: ""
    - name: nfd_channel
      type: string
      description: Optional. Node feature discovery channel for install and updates
      default: ""

  stepTemplate:
    env:
      {{ lookup('template', task_src_dir ~ '/common/cli-env.yml.j2') | indent(6) }}

      - name: GPU_NAMESPACE
        value: $(params.gpu_namespace)
      - name: GPU_CHANNEL
        value: $(params.gpu_channel)
      - name: NFD_NAMESPACE
        value: $(params.nfd_namespace)
      - name: NFD_CHANNEL
        value: $(params.nfd_channel)

  steps:
    - name: nvidia-gpu
      command:
        - /opt/app-root/src/run-role.sh
        - nvidia_gpu
      image: quay.io/ibmmas/cli:10.8.0-pre.multiarch-existingmongo-s390x
      imagePullPolicy: $(params.image_pull_policy)
      workingDir: /workspace/configs

  workspaces:
    - name: configs
