---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-ocp-verify
spec:
  params:
    {{ lookup('template', task_src_dir ~ '/common/cli-params.yml.j2') | indent(4) }}

    - name: verify_cluster
      type: string
      default: "True"
    - name: verify_catalogsources
      type: string
      default: "True"
    - name: verify_subscriptions
      type: string
      default: "True"
    - name: verify_workloads
      type: string
      default: "True"
    - name: verify_ingress
      type: string
      default: "True"

    - name: ocp_ingress_tls_secret_name
      type: string
      default: ""

    - name: remote_ocp_cluster
      type: string
      default: ""
    - name: remote_ocp_type
      type: string
      default: ""
    - name: rosa_cluster_admin_password
      type: string
      default: ""
    - name: rosa_token
      type: string
      default: ""

  stepTemplate:
    env:
      {{ lookup('template', task_src_dir ~ '/common/cli-env.yml.j2') | indent(6) }}

      - name: VERIFY_CLUSTER
        value: $(params.verify_cluster)
      - name: VERIFY_CATALOGSOURCES
        value: $(params.verify_catalogsources)
      - name: VERIFY_SUBSCRIPTIONS
        value: $(params.verify_subscriptions)
      - name: VERIFY_WORKLOADS
        value: $(params.verify_workloads)
      - name: VERIFY_INGRESS
        value: $(params.verify_ingress)

      - name: OCP_INGRESS_TLS_SECRET_NAME
        value: $(params.ocp_ingress_tls_secret_name)

      - name: REMOTE_OCP_CLUSTER
        value: $(params.remote_ocp_cluster)
      - name: REMOTE_OCP_TYPE
        value: $(params.remote_ocp_type)
      - name: ROSA_CLUSTER_ADMIN_PASSWORD
        value: $(params.rosa_cluster_admin_password)
      - name: ROSA_TOKEN
        value: $(params.rosa_token)
  steps:
    - name: ocp-verify
      script: |
        #!/usr/bin/env bash

        if [ ! -z $REMOTE_OCP_CLUSTER ];then
          echo "Logging into $REMOTE_OCP_CLUSTER"
          export CLUSTER_NAME=$REMOTE_OCP_CLUSTER
          export CLUSTER_TYPE=$REMOTE_OCP_TYPE
          ROLE_NAME=ocp_login ansible-playbook ibm.mas_devops.run_role 
          OC_RC=$?
          if [ $OC_RC -ne 0 ]; then
            echo "oc login failed to $REMOTE_OCP_CLUSTER"
            exit 1
          fi
        fi

        /opt/app-root/src/run-role.sh ocp_verify

      image: quay.io/ibmmas/cli:latest
      imagePullPolicy: $(params.image_pull_policy)
      workingDir: /workspace/configs
