merge-key: "{{ ACCOUNT_ID }}/{{ REGION }}/{{ CLUSTER_ID }}/{{ MAS_INSTANCE_ID }}/{{ MAS_APP_ID }}"

account:
  id: {{ ACCOUNT_ID }}

region: 
  id: {{ REGION }}

cluster:
  id: {{ CLUSTER_ID }}
  url: {{ CLUSTER_URL }}

instance:
  id: {{ MAS_INSTANCE_ID }}

masapp:
  id: {{ MAS_APP_ID }}
