merge-key: "{{ ACCOUNT_ID }}/{{ REGION }}/{{ CLUSTER_ID }}/{{ MAS_INSTANCE_ID }}/{{ MAS_APP_ID }}"

ibm-suite-app-config:
  mas_instance_id: {{ MAS_INSTANCE_ID }}
  mas_app_id: {{ MAS_APP_ID }}
  mas_app_namespace: {{ MAS_APP_NAMESPACE }}

  {% if MAS_APP_SETTINGS_SERVER_BUNDLES_SIZE %}
  mas_app_settings_server_bundles_size: {{ MAS_APP_SETTINGS_SERVER_BUNDLES_SIZE }}
  {% endif %}
  mas_app_ws_apiversion: {{ MAS_APPWS_API_VERSION }}
  mas_app_ws_kind: {{ MAS_APPWS_KIND }}
  mas_workspace_id: {{ MAS_WORKSPACE_ID }}
  {% if SERVER_BUNDLES_ADD_SERVER_CONFIG_NO_ACTIVATION_CONTENT %}
  server_bundles_add_server_config_no_activation_content: {{ SERVER_BUNDLES_ADD_SERVER_CONFIG_NO_ACTIVATION_CONTENT }}
  {% endif %}
  {% if SERVER_BUNDLES_ADD_SERVER_CONFIG_CONTENT %}
  server_bundles_add_server_config_content: {{ SERVER_BUNDLES_ADD_SERVER_CONFIG_CONTENT }}
  {% endif %}
  {% if SERVER_BUNDLES_JMS_ADD_SERVER_CONFIG_CONTENT %}
  server_bundles_jms_add_server_config_content: {{ SERVER_BUNDLES_JMS_ADD_SERVER_CONFIG_CONTENT }}
  {% endif %}
  {{ MAS_APPWS_SPEC | indent(2) }}

  mas_manual_cert_mgmt: {{ MAS_MANUAL_CERT_MGMT }}
  {% if PUBLIC_TLS_SECRET_NAME is defined and PUBLIC_TLS_SECRET_NAME !='' %}
  public_tls_secret_name: {{ PUBLIC_TLS_SECRET_NAME }}
  {% endif %}

  {% if CA_CERT is defined and CA_CERT !='' %}
  ca_cert: {{ CA_CERT }}
  {% endif %}

  {% if TLS_CERT is defined and TLS_CERT !='' %}
  tls_cert: {{ TLS_CERT }}
  {% endif %}

  {% if TLS_KEY is defined and TLS_KEY !='' %}
  tls_key: {{ TLS_KEY }}
  {% endif %}

  {% if MAS_APP_ID == "assist" %}
  cpd_admin_password: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_CPD_ADMIN_PASSWORD }}>
  cpd_admin_username: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_CPD_ADMIN_USERNAME }}>
  wd_yaml:
      url: {{ WD_URL }}
      version: {{ WD_VERSION }}
  {% endif %}