---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-cluster-monitoring-uninstall
spec:
  params:
    # Control the image pull policy for the CLI container image
    - name: image_pull_policy
      type: string
      default: IfNotPresent

    # Optional parameter to uninstall Cluster Monitoring
    - name: cluster_monitoring_action
      type: string
      description: Optional. Used to uninstall Cluster Monitoring
      default: "none"

  stepTemplate:
    env:
      # Optional parameter to uninstall Cluster Monitoring
      - name: CLUSTER_MONITORING_ACTION
        value: $(params.cluster_monitoring_action)

  steps:
    - name: cluster-monitoring
      command:
        - /opt/app-root/src/run-role.sh
        - cluster_monitoring
      image: quay.io/ibmmas/cli:latest
      imagePullPolicy: $(params.image_pull_policy)
      workingDir: /workspace/configs
