---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-sls-uninstall
spec:
  params:
    # Control the image pull policy for the CLI container image
    - name: image_pull_policy
      type: string
      default: IfNotPresent

    # Optional parameter to uninstall SLS
    - name: sls_action
      type: string
      description: Optional. Used to uninstall SLS
      default: "none"

  stepTemplate:
    env:
      # Optional parameter to uninstall SLS
      - name: SLS_ACTION
        value: $(params.sls_action)

  steps:
    - name: sls
      command:
        - /opt/app-root/src/run-role.sh
        - sls
      image: quay.io/ibmmas/cli:latest
      imagePullPolicy: $(params.image_pull_policy)
      workingDir: /workspace/configs
