---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-uds-uninstall
spec:
  params:
    # Control the image pull policy for the CLI container image
    - name: image_pull_policy
      type: string
      default: IfNotPresent

    # Optional parameter to uninstall UDS
    - name: uds_action
      type: string
      description: Optional. Used to uninstall UDS
      default: "none"

  stepTemplate:
    env:
      # Optional parameter to uninstall UDS
      - name: UDS_ACTION
        value: $(params.uds_action)

  steps:
    - name: uds
      command:
        - /opt/app-root/src/run-role.sh
        - uds
      image: quay.io/ibmmas/cli:latest
      imagePullPolicy: $(params.image_pull_policy)
      workingDir: /workspace/configs
