region: 
  id: {{ REGION }}

cluster:
  id: {{ CLUSTER_ID }}
  url: {{ CLUSTER_URL }}
  mas_catalog_version: {{ MAS_CATALOG_VERSION }}
  mas_catalog_image: {{ MAS_CATALOG_IMAGE }}
  ibm_entitlement_key: "{{ SECRET_ARN_IBM_ENTITLEMENT }}#image_pull_secret_b64"
