{% include './common-config.yaml.j2' %}
ibm_dro:
    ibm_entitlement_key: <path:{{ SECRET_ARN_IBM_ENTITLEMENT }}#image_pull_secret_b64>
    dro_namespace: {{ DRO_NAMESPACE }}
    dro_api_token: <path:{{ SECRET_ARN_DRO }}#dro_api_token>
