merge-key: "{{ ACCOUNT_ID }}/{{ REGION }}/{{ CLUSTER_ID }}/{{ MAS_INSTANCE_ID }}"

system-configs:
  mongo:
    mas_instance_id: {{ MAS_INSTANCE_ID }}
    username: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_MONGO_USERNAME }}>
    password: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_MONGO_PASSWORD }}>
    config:
      hosts:
        {% for mongo_host in config.hosts -%}
        - host: {{ mongo_host.host }}
          port: {{ mongo_host.port }}
        {% endfor %}
      configDb: admin
      authMechanism: DEFAULT
      {% if config.retryWrites is sameas false %}
      retryWrites: false
      {% endif %}
      credentials:
        secretName: suite-mongo-credentials
    certificates:
      {% if config.certificate %}
      {% for mongo_certificate in config.certificate -%}
      - alias: {{ mongo_certificate.alias }}
        crt: |
          {% filter indent(width=10) -%}
          {{ mongo_certificate.crt }}
          {%- endfilter %}
      {% endfor %}
      {% elif certificates%}
      {% for mongo_certificate in certificates -%}
      - alias: {{ mongo_certificate.alias }}
        crt: |
          {% filter indent(width=10) -%}
          {{ mongo_certificate.crt }}
          {%- endfilter %}
      {% endfor %}
      {% endif %}
