merge-key: "{{ ACCOUNT_ID }}/{{ REGION }}/{{ CLUSTER_ID }}/{{ MAS_INSTANCE_ID }}"

system-configs:
  bas:
    mas_instance_id: {{ MAS_INSTANCE_ID }}
    dro_api_token: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_DRO_API_TOKEN }}>
    dro_endpoint_url: {{ DRO_URL }}
    dro_contact:
      email: {{ DRO_CONTACT_EMAIL }}
      first_name: {{ DRO_CONTACT_FIRSTNAME }}
      last_name: {{ DRO_CONTACT_LASTNAME }}
    dro_ca:
      crt: |
        {% filter indent(width=8) -%}
        {{ DRO_CA_CERTIFICATE }}
        {%- endfilter %}
