merge-key: "{{ ACCOUNT_ID }}/{{ REGION }}/{{ CLUSTER_ID }}/{{ MAS_INSTANCE_ID }}"

system-configs:
  jdbc:
    db2_instance_name: {{DB2_INSTANCE_NAME}}
    mas_instance_id: {{MAS_INSTANCE_ID}}
    db2_jdbc_username: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_DB2_USERNAME }}>
    jdbc_instance_password: <path:{{ SECRETS_PATH }}:{{ SECRET_KEY_DB2_PASSWORD }}>
    mas_config_dir: {{MAS_CONFIG_DIR}}
    mas_config_scope: {{MAS_CONFIG_SCOPE}}
    mas_workspace_id: {{MAS_WORKSPACE_ID}}
    mas_application_id: {{MAS_APP_ID}}
    jdbc_url: {{JDBC_URL}}
    db2_dbname: {{DB2_DBNAME}}
    db2_namespace: {{DB2_NAMESPACE}}

    suite_jdbccfg_name: "{{ SUITE_JDBCCFG_NAME }}"

    app_suite_jdbccfg_labels:
        mas.ibm.com/applicationId: "{{ MAS_APP_ID }}"
        mas.ibm.com/configScope: application
        mas.ibm.com/instanceId: "{{ MAS_INSTANCE_ID }}"

    system_suite_jdbccfg_labels:
        mas.ibm.com/configScope: system
        mas.ibm.com/instanceId: "{{ MAS_INSTANCE_ID }}"

    ws_suite_jdbccfg_labels:
        mas.ibm.com/configScope: workspace-application
        mas.ibm.com/instanceId: "{{ MAS_INSTANCE_ID }}"
        mas.ibm.com/workspaceId: "{{ MAS_WORKSPACE_ID }}"

    wsapp_suite_jdbccfg_labels:
        mas.ibm.com/applicationId: "{{ MAS_APP_ID }}"
        mas.ibm.com/configScope: workspace-application
        mas.ibm.com/instanceId: "{{ MAS_INSTANCE_ID }}"
        mas.ibm.com/workspaceId: "{{ MAS_WORKSPACE_ID }}"

    db2_ca_pem: {{DB2_CA_PEM}}
