---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: gitops-deprovision-suite
spec:
  params:
    - name: cluster_name
      type: string
    - name: account
      type: string
    - name: secrets_path
      type: string
    - name: mas_instance_id
      type: string
    - name: mongo_provider
      type: string
      default: aws
    - name: git_branch
      type: string
    - name: github_org
      type: string
    - name: github_repo
      type: string
    - name: github_host
      type: string
    - name: avp_aws_secret_region
      type: string
    - name: force_removal
      type: string
    - name: argocd_url
      type: string
      default: ""
    - name: cluster_url
      type: string
      default: ""
    - name: argocd_check
      type: string
      default: "false"
  stepTemplate:
    name: gitops-deprovision-suite
    env:
      - name: CLUSTER_NAME
        value: $(params.cluster_name)
      - name: ACCOUNT
        value: $(params.account)
      - name: SECRET_PATH
        value: $(params.secrets_path)
      - name: MAS_INSTANCE_ID
        value: $(params.mas_instance_id)
      - name: MONGO_PROVIDER
        value: $(params.mongo_provider)
      - name: GIT_BRANCH
        value: $(params.git_branch)
      - name: GITHUB_ORG
        value: $(params.github_org)
      - name: GITHUB_HOST
        value: $(params.github_host)
      - name: GITHUB_REPO
        value: $(params.github_repo)
      - name: SM_AWS_REGION
        value: $(params.avp_aws_secret_region)
      - name: FORCE_REMOVAL
        value: $(params.force_removal)
      - name: OCP_SERVER
        value: $(params.cluster_url)
      - name: ARGOCD_URL
        value: $(params.argocd_url)
      - name: ARGOCD_CHECK
        value: $(params.argocd_check)
    envFrom:
      - configMapRef:
          name: environment-properties
          optional: true
      - secretRef:
          name: secure-properties
  steps:
    - args:
      - |-

        git config --global user.name "MAS Automation"
        git config --global user.email "you@example.com"
        git config --global user.password $GITHUB_PAT

        mkdir -p /tmp/deprovision-suite
        mas gitops-deprovision-suite -a $ACCOUNT -c $CLUSTER_NAME -m $MAS_INSTANCE_ID \
        --secrets-path $SECRET_PATH \
        --mongo-provider $MONGO_PROVIDER \
        --dir /tmp/deprovision-suite \
        --github-push \
        --github-host $GITHUB_HOST \
        --github-org  $GITHUB_ORG \
        --github-repo $GITHUB_REPO \
        --git-branch $GIT_BRANCH
      command:
        - /bin/sh
        - -c
      name: gitops-deprovision-suite
      imagePullPolicy: IfNotPresent
      image: quay.io/ibmmas/cli:7.10.0-pre.gitops
  workspaces:
    - name: configs


