---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: gitops-suite-watson-studio-config
spec:
  params:
    - name: mas_app_id
      type: string
    - name: mas_workspace_id
      type: string

    - name: cluster_name
      type: string
    - name: cluster_url
      type: string
      default: ""
    - name: account
      type: string
    - name: secrets_path
      type: string
    - name: mas_instance_id
      type: string
    - name: git_branch
      type: string
    - name: github_org
      type: string
    - name: github_repo
      type: string
    - name: github_host
      type: string
    - name: avp_aws_secret_region
      type: string

    - name: argocd_url
      type: string
      default: ""
    - name: argocd_check
      type: string
      default: "false"
  stepTemplate:
    name: gitops-suite-watson-studio-config
    env:
      - name: MAS_APP_ID
        value: $(params.mas_app_id)
      - name: MAS_WORKSPACE_ID
        value: $(params.mas_workspace_id)

      - name: CLUSTER_ID
        value: $(params.cluster_name)
      - name: OCP_SERVER
        value: $(params.cluster_url)
      - name: ACCOUNT_ID
        value: $(params.account)
      - name: SECRETS_PATH
        value: $(params.secrets_path)
      - name: MAS_INSTANCE_ID
        value: $(params.mas_instance_id)
      - name: GIT_BRANCH
        value: $(params.git_branch)
      - name: GITHUB_ORG
        value: $(params.github_org)
      - name: GITHUB_HOST
        value: $(params.github_host)
      - name: GITHUB_REPO
        value: $(params.github_repo)
      - name: SM_AWS_REGION
        value: $(params.avp_aws_secret_region)

      - name: ARGOCD_URL
        value: $(params.argocd_url)
      - name: ARGOCD_CHECK
        value: $(params.argocd_check)
    envFrom:
      - configMapRef:
          name: environment-properties
          optional: true
      - secretRef:
          name: secure-properties

  steps:
    - args:
      - |-
        mkdir -p /tmp/init-suite-watson-studio-config

        git config --global user.name "MAS Automation"
        git config --global user.email "you@example.com"
        git config --global user.password $GITHUB_PAT

        mas gitops-mas-config \
        --account-id "$ACCOUNT_ID" \
        --cluster-id "$CLUSTER_ID" \
        --mas-instance-id "$MAS_INSTANCE_ID" \
        --secrets-path "$SECRETS_PATH" \
        --github-push \
        --github-host "$GITHUB_HOST" \
        --github-org "$GITHUB_ORG" \
        --github-repo "$GITHUB_REPO" \
        --git-branch "$GIT_BRANCH" \
        --config-action upsert \
        --mas-config-scope system \
        --mas-config-type watsonstudio \
        --dir /tmp/init-suite-watson-studio-config

      command:
        - /bin/sh
        - -c
      name: gitops-suite-watson-studio-config
      imagePullPolicy: IfNotPresent
      image: quay.io/ibmmas/cli:8.1.0-pre.gitops
  workspaces:
    - name: configs
    - name: shared-gitops-configs
