---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: gitops-sls
spec:
  params:
    - name: cluster_name
      type: string
    - name: account
      type: string
    - name: cluster_url
      type: string
    - name: avp_aws_secret_region
      type: string
    - name: sls_license_icn
      type: string
    - name: sls_subscription_id
      type: string
    - name: sls_install_plan
      type: string
    - name: sls_channel
      type: string
    - name: ocp_cluster_domain
      type: string
    - name: dns_provider
      type: string
    - name: cis_service_name
      type: string
    - name: cis_crn
      type: string
    - name: secrets_path
      type: string
    - name: mongo_provider
      type: string
    - name: docdb_user_action
      type: string
    - name: icr_cp
      type: string
    - name: icr_cp_open
      type: string

    - name: github_push
      type: string
    - name: git_branch
      type: string
    - name: github_org
      type: string
    - name: github_repo
      type: string
    - name: github_host
      type: string
    - name: git_commit_msg
      type: string
    - name: github_ssh
      type: string
    - name: mas_slscfg_pod_template_yaml
      type: string

  stepTemplate:
    name: gitops-sls
    env:
      - name: CLUSTER_NAME
        value: $(params.cluster_name)
      - name: ACCOUNT
        value: $(params.account)
      - name: CLUSTER_URL
        value: $(params.cluster_url)
      - name: SM_AWS_REGION
        value: $(params.avp_aws_secret_region)
      - name: ICN
        value: $(params.sls_license_icn)
      - name: SAAS_SUB_ID
        value: $(params.sls_subscription_id)
      - name: MONGODB_PROVIDER
        value: $(params.mongo_provider)
      - name: USER_ACTION
        value: $(params.docdb_user_action)
      - name: SLS_CHANNEL
        value: $(params.sls_channel)
      - name: SLS_INSTALL_PLAN
        value: $(params.sls_install_plan)
      - name: SLS_DOMAIN
        value: $(params.ocp_cluster_domain)
      - name: DNS_PROVIDER
        value: $(params.dns_provider)
      - name: CIS_SERVICE_NAME
        value: $(params.cis_service_name)
      - name: CIS_CRN
        value: $(params.cis_crn)
      - name: SECRETS_PATH
        value: $(params.secrets_path)
      - name: ICR_CP
        value: $(params.icr_cp)
      - name: ICR_CP_OPEN
        value: $(params.icr_cp_open)

      - name: GITHUB_PUSH
        value: $(params.github_push)
      - name: GIT_BRANCH
        value: $(params.git_branch)
      - name: GITHUB_ORG
        value: $(params.github_org)
      - name: GITHUB_REPO
        value: $(params.github_repo)
      - name: GITHUB_HOST
        value: $(params.github_host)
      - name: GIT_COMMIT_MSG
        value: $(params.git_commit_msg)
      - name: GIT_SSH
        value: $(params.github_ssh)
      - name: POD_TEMPLATE
        value: $(params.mas_slscfg_pod_template_yaml)

    envFrom:
      - configMapRef:
          name: environment-properties
          optional: true
      - secretRef:
          name: secure-properties
  steps:
    - args:
      - |-

        git config --global user.name "MAS Automation"
        git config --global user.email "you@example.com"
        git config --global user.password $GITHUB_PAT

        WORKING_DIR=/tmp

        mas gitops-suite-license-service -d $WORKING_DIR -a $ACCOUNT -c $CLUSTER_NAME --ibm-customer-number ${ICN} --subscription-id ${SAAS_SUB_ID} \
        --secrets-path "${SECRETS_PATH}" --domain ${SLS_DOMAIN} --sls-channel ${SLS_CHANNEL} --sls-install-plan ${SLS_INSTALL_PLAN} \
        --cluster-url ${CLUSTER_URL} --github-push
        
      command:
        - /bin/sh
        - -c
      name: gitops-sls
      imagePullPolicy: Always
      image: quay.io/ibmmas/cli:latest
  workspaces:
    - name: shared-entitlement
    - name: configs
    - name: shared-gitops-configs

