---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: gitops-cluster
spec:
  params:
    - name: cluster_name
      type: string
    - name: account
      type: string
    - name: cluster_url
      type: string
      default: ""
    - name: secrets_path
      type: string
    - name: git_branch
      type: string
    - name: github_org
      type: string
    - name: github_repo
      type: string
    - name: github_host
      type: string
    - name: git_commit_msg
      type: string
    - name: mas_catalog_version
      type: string
      default: ""
    - name: mas_catalog_image
      type: string
      default: ""
    - name: avp_aws_secret_region
      type: string
    - name: slack_channel_id
      type: string
      default: ""
    - name: custom_labels
      type: string
      default: ''
    - name: custom_sa_namespace
      type: string
    - name: custom_sa_details
      type: string
    - name: cluster_promotion_target_github_host
      type: string
      default: ''
    - name: cluster_promotion_target_github_repo
      type: string
      default: ''
    - name: cluster_promotion_target_github_org
      type: string
      default: ''
    - name: cluster_promotion_target_github_path
      type: string
      default: ''
    - name: cluster_promotion_target_git_branch
      type: string
      default: ''
    - name: cluster_promotion_create_target_pr
      type: string
      default: ''
    - name: cluster_promotion_target_pr_title
      type: string
      default: ''
    - name: cluster_promotion_cluster_values
      type: string
      default: ''

    - name: install_selenium_grid
      type: string
      default: ''

    - name: devops_build_number
      type: string
      default: ''

    - name: dns_provider
      type: string
      default: cis
    - name: ocp_cluster_domain
      type: string
      default: ""
    - name: ingress
      type: string
      default: "false"
    - name: cluster_nonshared
      type: string
      default: "false"

    - name: redhat_cert_manager_install_plan
      type: string
      default: "Automatic"

    - name: group_sync_operator_cron_schedule
      type: string
      default: ''
    - name: group_sync_operator_isv_tenant_url
      type: string
      default: ''
    - name: group_sync_operator_isv_groups
      type: string
      default: ''

    - name: ibm_rbac_binding_to_group
      type: string
      default: ''
    
    - name: falcon_operator_cloud_region
      type: string
      default: ''
    - name: falcon_operator_node_sensor
      type: string
      default: ''

    - name: cluster_logging_operator_install
      type: string
      default: "false"
    - name: cluster_logging_operator_use_syslog_forwarder
      type: string
      default: "false"
    - name: cluster_logging_operator_install_plan
      type: string
      default: "Automatic"
    - name: cluster_logging_operator_channel
      type: string
      default: "stable-5.9"
    - name: cluster_logging_operator_setup_log_forwarding
      type: string
      default: "false"
    - name: cluster_logging_operator_log_forwarder_client_url
      type: string
      default: ""
    - name: cluster_logging_operator_syslog_forwarder_version
      type: string
      default: "1.8-amd64"
    - name: cluster_logging_operator_dlc_ca_bundle_file
      type: string
      default: ""

    - name: instana_agent_operator_install
      type: string
      default: 'false'
    - name: instana_agent_operator_endpoint_host
      type: string
      default: ''
    - name: instana_agent_operator_endpoint_port
      type: string
      default: ''
    - name: instana_agent_operator_env
      type: string
      default: ''
    - name: instana_agent_operator_jks_storage_class
      type: string
      default: ''
    - name: hypervisor
      type: string
      default: ''

  stepTemplate:
    name: gitops-cluster
    env:
      - name: CLUSTER_NAME
        value: $(params.cluster_name)
      - name: ACCOUNT
        value: $(params.account)
      - name: CLUSTER_URL
        value: $(params.cluster_url)
      - name: SECRET_PATH
        value: $(params.secrets_path)
      - name: GIT_BRANCH
        value: $(params.git_branch)
      - name: GITHUB_ORG
        value: $(params.github_org)
      - name: GITHUB_HOST
        value: $(params.github_host)
      - name: GITHUB_REPO
        value: $(params.github_repo)
      - name: GIT_COMMIT_MSG
        value: $(params.git_commit_msg)
      - name: MAS_CATALOG_VERSION
        value: $(params.mas_catalog_version)
      - name: MAS_CATALOG_IMAGE
        value: $(params.mas_catalog_image)
      - name: SM_AWS_REGION
        value: $(params.avp_aws_secret_region)
      - name: SM_AWS_REGION
        value: $(params.avp_aws_secret_region)
      - name: SLACK_CHANNEL_ID
        value: $(params.slack_channel_id)
      - name: CUSTOM_LABELS
        value: $(params.custom_labels)
      - name: CUSTOM_SA_NAMESPACE
        value: $(params.custom_sa_namespace)
      - name: CUSTOM_SA_DETAILS
        value: $(params.custom_sa_details)
      - name: CLUSTER_PROMOTION_TARGET_GITHUB_HOST
        value: $(params.cluster_promotion_target_github_host)
      - name: CLUSTER_PROMOTION_TARGET_GITHUB_REPO
        value: $(params.cluster_promotion_target_github_repo)
      - name: CLUSTER_PROMOTION_TARGET_GITHUB_ORG
        value: $(params.cluster_promotion_target_github_org)
      - name: CLUSTER_PROMOTION_TARGET_GITHUB_PATH
        value: $(params.cluster_promotion_target_github_path)
      - name: CLUSTER_PROMOTION_TARGET_GIT_BRANCH
        value: $(params.cluster_promotion_target_git_branch)
      - name: CLUSTER_PROMOTION_CREATE_TARGET_PR
        value: $(params.cluster_promotion_create_target_pr)
      - name: CLUSTER_PROMOTION_TARGET_PR_TITLE
        value: $(params.cluster_promotion_target_pr_title)
      - name: CLUSTER_PROMOTION_CLUSTER_VALUES
        value: $(params.cluster_promotion_cluster_values)
      
      - name: INSTALL_SELENIUM_GRID
        value: $(params.install_selenium_grid)

      - name: DEVOPS_BUILD_NUMBER
        value: $(params.devops_build_number)

      - name: DNS_PROVIDER
        value: $(params.dns_provider)
      - name: OCP_CLUSTER_DOMAIN
        value: $(params.ocp_cluster_domain)
      - name: INGRESS
        value: $(params.ingress)
      - name: NONSHARED
        value: $(params.cluster_nonshared)

      - name: REDHAT_CERT_MANAGER_INSTALL_PLAN
        value: $(params.redhat_cert_manager_install_plan)

      - name: GROUP_SYNC_OPERATOR_CRON_SCHEDULE
        value: $(params.group_sync_operator_cron_schedule)
      - name: GROUP_SYNC_OPERATOR_ISV_TENANT_URL
        value: $(params.group_sync_operator_isv_tenant_url)
      - name: GROUP_SYNC_OPERATOR_ISV_GROUPS
        value: $(params.group_sync_operator_isv_groups)

      - name: IBM_RBAC_BINDING_TO_GROUP
        value: $(params.ibm_rbac_binding_to_group)
      
      - name: FALCON_OPERATOR_CLOUD_REGION
        value: $(params.falcon_operator_cloud_region)
      - name: FALCON_OPERATOR_NODE_SENSOR
        value: $(params.falcon_operator_node_sensor)

      - name: CLUSTER_LOGGING_OPERATOR_INSTALL
        value: $(params.cluster_logging_operator_install)
      - name: CLUSTER_LOGGING_OPERATOR_USE_SYSLOG_FORWARDER
        value: $(params.cluster_logging_operator_use_syslog_forwarder)
      - name: CLUSTER_LOGGING_OPERATOR_INSTALL_PLAN
        value: $(params.cluster_logging_operator_install_plan)
      - name: CLUSTER_LOGGING_OPERATOR_CHANNEL
        value: $(params.cluster_logging_operator_channel)
      - name: CLUSTER_LOGGING_OPERATOR_LOG_FORWARDER_CLIENT_URL
        value: $(params.cluster_logging_operator_log_forwarder_client_url)
      - name: CLUSTER_LOGGING_OPERATOR_SETUP_LOG_FORWARDING
        value: $(params.cluster_logging_operator_setup_log_forwarding)
      - name: CLUSTER_LOGGING_OPERATOR_SYSLOG_FORWARDER_VERSION
        value: $(params.cluster_logging_operator_syslog_forwarder_version)
      - name: CLUSTER_LOGGING_OPERATOR_DLC_CA_BUNDLE_FILE
        value: $(params.cluster_logging_operator_dlc_ca_bundle_file)

      - name: INSTANA_AGENT_OPERATOR_INSTALL
        value: $(params.instana_agent_operator_install)
      - name: INSTANA_AGENT_OPERATOR_ENDPOINT_HOST
        value: $(params.instana_agent_operator_endpoint_host)
      - name: INSTANA_AGENT_OPERATOR_ENDPOINT_PORT
        value: $(params.instana_agent_operator_endpoint_port)
      - name: INSTANA_AGENT_OPERATOR_ENV
        value: $(params.instana_agent_operator_env)
      - name: INSTANA_AGENT_OPERATOR_JKS_STORAGE_CLASS
        value: $(params.instana_agent_operator_jks_storage_class)
      - name: HYPERVISOR
        value: $(params.hypervisor)

    envFrom:
      - configMapRef:
          name: environment-properties
          optional: true
      - secretRef:
          name: secure-properties
  steps:
    - args:
      - |-
        git config --global user.name "MAS Automation"
        git config --global user.email "mas_automation@email.com"
        git config --global user.password $GITHUB_PAT

        echo "Custom Labels ......................... ${CUSTOM_LABELS}"

        CUSTOM_LABELS=$(echo "${CUSTOM_LABELS}" | sed "s/'/\"/g")
        export CUSTOM_LABELS=$(echo "${CUSTOM_LABELS}" | yq --output-format yaml)
        echo " CUSTOM_LABELS = ${CUSTOM_LABELS}"


        if [[ -z "${CLUSTER_PROMOTION_TARGET_GITHUB_PAT}" ]];then
          echo "Setting var CLUSTER_PROMOTION_TARGET_GITHUB_PAT to be the same as var GITHUB_PAT as it as not set"
          export CLUSTER_PROMOTION_TARGET_GITHUB_PAT=${GITHUB_PAT}
        fi

        if [[ -n "${CLUSTER_PROMOTION_CLUSTER_VALUES}" ]];then
          echo "Setting var CLUSTER_PROMOTION to true as var CLUSTER_PROMOTION_CLUSTER_VALUES is set"
          export CLUSTER_PROMOTION=true
        fi

        if [[ -n "${GROUP_SYNC_OPERATOR_ISV_GROUPS}" ]];then
          echo "Setting var INSTALL_GROUP_SYNC_OPERATOR to true as var GROUP_SYNC_OPERATOR_ISV_GROUPS is set"
          export INSTALL_GROUP_SYNC_OPERATOR=true
        fi

        if [[ -n "${IBM_RBAC_BINDING_TO_GROUP}" ]];then
          echo "Setting var INSTALL_IBM_RBAC to true as var IBM_RBAC_BINDING_TO_GROUP is set"
          export INSTALL_IBM_RBAC=true
        fi

        if [[ -n "${FALCON_OPERATOR_CLOUD_REGION}" ]];then
          echo "Setting var INSTALL_FALCON_OPERATOR to true as var FALCON_OPERATOR_CLOUD_REGION is set"
          export INSTALL_FALCON_OPERATOR=true
        else
          echo "Not setting var INSTALL_FALCON_OPERATOR to true as var FALCON_OPERATOR_CLOUD_REGION is not set"
        fi

        mkdir -p /tmp/init-cluster
        mas gitops-cluster -a $ACCOUNT -c $CLUSTER_NAME \
        --dir /tmp/init-cluster \
        --github-push \
        --github-host $GITHUB_HOST \
        --github-org  $GITHUB_ORG \
        --github-repo $GITHUB_REPO \
        --git-branch $GIT_BRANCH \
        --secrets-path $SECRET_PATH

        exit $?
      command:
        - /bin/sh
        - -c
      name: gitops-cluster
      imagePullPolicy: Always
      image: quay.io/ibmmas/cli:latest
  workspaces:
    - name: configs
    - name: gitops-cluster-configs
