---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: gitops-aiservice-tenant
spec:
  params: 
    - name: cluster_name
      type: string
    - name: account
      type: string
    - name: cluster_url
      type: string
    - name: secrets_path
      type: string
    - name: avp_aws_secret_region
      type: string
    - name: git_branch
      type: string
    - name: github_org
      type: string
    - name: github_repo
      type: string
    - name: github_host
      type: string
    - name: aiservice_namespace
      type: string
    - name: aiservice_provision_tenant
      type: string
    - name: aiservice_instance_id
      type: string
    - name: tenantNamespace
      type: string
    - name: tenant_id
      type: string
    - name: cluster_domain
      type: string
    - name: in_saas_env
      type: string
    - name: mas_icr_cp
      type: string
    - name: mas_icr_cpopen
      type: string
    - name: drocfg_url
      type: string
    - name: slscfg_url
      type: string
    - name: aiservice_sls_subscription_id
      type: string
    - name: aiservice_watsonxai_url
      type: string
    - name: aiservice_watsonxai_ca_crt
      type: string
    - name: aiservice_watsonxai_instance_id
      type: string
    - name: aiservice_watsonxai_version
      type: string
    - name: aiservice_watsonxai_username
      type: string
    - name: aiservice_watsonxai_on_prem
      type: string
    - name: aiservice_watsonxai_verify
      type: string
    - name: aiservice_operator_log_level
      type: string
    - name: aiservice_storage_region
      type: string
    - name: aiservice_storage_provider
      type: string
    - name: aiservice_storage_ssl
      type: string
    - name: aiservice_s3_endpoint_url
      type: string
    - name: aiservice_s3_bucket_prefix
      type: string
    - name: rsl_url
      type: string
    - name: tenant_entitlement_type
      type: string
    - name: tenant_entitlement_start_date
      type: string
    - name: tenant_entitlement_end_date
      type: string
  stepTemplate:
    name: gitops-aiservice-tenant
    env:
      - name: CLUSTER_NAME
        value: $(params.cluster_name)
      - name: ACCOUNT
        value: $(params.account)
      - name: CLUSTER_URL
        value: $(params.cluster_url)
      - name: SECRET_PATH
        value: $(params.secrets_path)
      - name: SM_AWS_REGION
        value: $(params.avp_aws_secret_region)
      - name: GIT_BRANCH
        value: $(params.git_branch)
      - name: GITHUB_ORG
        value: $(params.github_org)
      - name: GITHUB_HOST
        value: $(params.github_host)
      - name: GITHUB_REPO
        value: $(params.github_repo)
      - name: AISERVICE_NAMESPACE
        value: $(params.aiservice_namespace)
      - name: AISERVICE_PROVISION_TENANT
        value: $(params.aiservice_provision_tenant)
      - name: AISERVICE_INSTANCE_ID
        value: $(params.aiservice_instance_id)
      - name: TENANT_NAMESPACE
        value: $(params.tenantNamespace)
      - name: TENANT_ID
        value: $(params.tenant_id)
      - name: CLUSTER_DOMAIN
        value: $(params.cluster_domain)
      - name: IN_SAAS_ENV
        value: $(params.in_saas_env)
      - name: MAS_ICR_CP
        value: $(params.mas_icr_cp)
      - name: MAS_ICR_CPOPEN
        value: $(params.mas_icr_cpopen)
      - name: DROCFG_URL
        value: $(params.drocfg_url)
      - name: SLSCFG_URL
        value: $(params.slscfg_url)
      - name: AISERVICE_SLS_SUBSCRIPTION_ID
        value: $(params.aiservice_sls_subscription_id)
      - name: AISERVICE_WATSONXAI_URL
        value: $(params.aiservice_watsonxai_url)
      - name: AISERVICE_WATSONX_FULL
        value: $(params.aiservice_watsonxai_on_prem)
      - name: AISERVICE_WATSONXAI_CA_CRT
        value: $(params.aiservice_watsonxai_ca_crt)
      - name: AISERVICE_WATSONXAI_INSTANCE_ID
        value: $(params.aiservice_watsonxai_instance_id)
      - name: AISERVICE_WATSONXAI_VERSION
        value: $(params.aiservice_watsonxai_version)
      - name: AISERVICE_WATSONXAI_USERNAME
        value: $(params.aiservice_watsonxai_username)
      - name: AISERVICE_OPERATOR_LOG_LEVEL
        value: $(params.aiservice_operator_log_level)
      - name: AISERVICE_STORAGE_REGION
        value: $(params.aiservice_storage_region)
      - name: AISERVICE_STORAGE_PROVIDER
        value: $(params.aiservice_storage_provider)
      - name: AISERVICE_STORAGE_SSL
        value: $(params.aiservice_storage_ssl)
      - name: AISERVICE_S3_ENDPOINT_URL
        value: $(params.aiservice_s3_endpoint_url)
      - name: AISERVICE_S3_BUCKET_PREFIX
        value: $(params.aiservice_s3_bucket_prefix)
      - name: RSL_URL
        value: $(params.rsl_url)
      - name: TENANT_ENTITLEMENT_TYPE
        value: $(params.tenant_entitlement_type)
      - name: TENANT_ENTITLEMENT_START_DATE
        value: $(params.tenant_entitlement_start_date)
      - name: TENANT_ENTITLEMENT_END_DATE
        value: $(params.tenant_entitlement_end_date)
    envFrom:
      - configMapRef:
          name: environment-properties
          optional: true
      - secretRef:
          name: secure-properties
  steps:
    - args:
      - |-
        git config --global user.name "MAS Automation"
        git config --global user.email "you@example.com"
        git config --global user.password $GITHUB_PAT

        mkdir -p /tmp/init-aiservice-tenant
        
        mas gitops-aiservice-tenant -a $ACCOUNT -c $CLUSTER_NAME \
        --secrets-path $SECRET_PATH \
        --dir /tmp/init-aiservice-tenant \
        --github-push \
        --github-host "$GITHUB_HOST" \
        --github-org "$GITHUB_ORG" \
        --github-repo "$GITHUB_REPO" \
        --git-branch "$GIT_BRANCH" \


        exit $?
      command:
        - /bin/sh
        - -c
      name: gitops-aiservice-tenant
      imagePullPolicy: IfNotPresent
      image: quay.io/ibmmas/cli:latest
  workspaces:
    - name: configs
