---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: gitops-suite-app-config
spec:
  params:
    - name: mas_app_id
      type: string
    - name: mas_workspace_id
      type: string
    - name: mas_app_kind
      type: string
    - name: mas_appws_bindings_jdbc
      type: string
      default: ""
    - name: mas_appws_components
      type: string
      default: ""
    - name: mas_appws_settings
      type: string
      default: ""
    - name: mas_appws_api_version
      type: string
    - name: mas_appws_kind
      type: string
    - name: mas_appws_spec_yaml
      type: string
      default: ""
    - name: default_file_storage_class
      type: string
      default: ""
    - name: mas_app_settings_customization_archive_url
      type: string
      default: ""
    - name: mas_app_settings_customization_archive_name
      type: string
      default: "manage-custom-archive"
    - name: cpd_wsl_project_id
      type: string
      default: ""
    - name: cpd_product_version
      type: string
      default: ""
    - name: mas_appws_settings_deployment_size
      type: string
      default: "small"
    - name: cpd_wml_url
      type: string
      default: "https://internal-nginx-svc.ibm-cpd.svc:12443"
    - name: cpd_wml_instance_id
      type: string
      default: "openshift"
    - name: cluster_name
      type: string
    - name: account
      type: string
    - name: secrets_path
      type: string
    - name: mas_instance_id
      type: string
    - name: git_branch
      type: string
    - name: github_org
      type: string
    - name: github_repo
      type: string
    - name: github_host
      type: string
    - name: github_pat
      type: string
    - name: avp_aws_secret_region
      type: string
    - name: avp_aws_secret_key
      type: string
    - name: avp_aws_access_key
      type: string
    - name: mas_app_settings_db2_schema
      type: string
      default: ""
    - name: mas_app_settings_demodata
      type: string
      default: ""
    - name: mas_app_settings_tablespace
      type: string
      default: ""
    - name: mas_app_settings_indexspace
      type: string
      default: ""
    - name: mas_app_settings_base_language
      type: string
      default: ""
    - name: mas_app_settings_secondary_languages
      type: string
      default: ""
    - name: mas_app_settings_aio_flag
      type: string
      default: "true"
    - name: mas_app_settings_server_bundles_size
      type: string
      default: "dev"
    - name: mas_app_settings_persistent_volumes_flag
      type: string
      default: "false"
    - name: mas_app_settings_jms_queue_pvc_accessmode
      type: string
      default: "ReadWriteMany"
    - name: mas_app_settings_jms_queue_mount_path
      type: string
      default: "/jms"
    - name: mas_app_settings_jms_queue_pvc_name
      type: string
      default: "manage-jms"
    - name: mas_app_settings_jms_queue_pvc_size
      type: string
      default: "20Gi"
    - name: mas_app_settings_doclinks_pvc_accessmode
      type: string
      default: "ReadWriteMany"
    - name: mas_app_settings_doclinks_mount_path
      type: string
      default: "/DOCLINKS"
    - name: mas_app_settings_doclinks_pvc_name
      type: string
      default: "manage-doclinks"
    - name: mas_app_settings_doclinks_pvc_size
      type: string
      default: "20Gi"
    - name: mas_app_settings_bim_pvc_accessmode
      type: string
      default: "ReadWriteMany"
    - name: mas_app_settings_bim_mount_path
      type: string
      default: "/bim"
    - name: mas_app_settings_bim_pvc_name
      type: string
      default: "manage-bim"
    - name: mas_app_settings_bim_pvc_size
      type: string
      default: "20Gi"
    - name: mas_manual_cert_mgmt
      type: string
      default: "False"

  stepTemplate:
    name: gitops-suite-app-config
    env:
      - name: MAS_APP_ID
        value: $(params.mas_app_id)
      - name: MAS_WORKSPACE_ID
        value: $(params.mas_workspace_id)
      - name: MAS_APPWS_BINDINGS_JDBC
        value: $(params.mas_appws_bindings_jdbc)
      - name: MAS_APPWS_COMPONENTS
        value: $(params.mas_appws_components)
      - name: MAS_APPWS_SETTINGS
        value: $(params.mas_appws_settings)
      - name: MAS_APP_KIND
        value: $(params.mas_app_kind)
      - name: MAS_APPWS_API_VERSION
        value: $(params.mas_appws_api_version)
      - name: MAS_APPWS_KIND
        value: $(params.mas_appws_kind)
      - name: MAS_APPWS_SPEC_YAML 
        value: $(params.mas_appws_spec_yaml)
      - name: DEFAULT_FILE_STORAGE_CLASS
        value: $(params.default_file_storage_class)
      - name: MAS_APP_SETTINGS_SERVER_BUNDLES_SIZE
        value: $(params.mas_app_settings_server_bundles_size)
      - name: MAS_APP_SETTINGS_CUSTOMIZATION_ARCHIVE_URL
        value: $(params.mas_app_settings_customization_archive_url)
      - name: MAS_APP_SETTINGS_CUSTOMIZATION_ARCHIVE_NAME
        value: $(params.mas_app_settings_customization_archive_name)
      - name: CPD_WSL_PROJECT_ID
        value: $(params.cpd_wsl_project_id)
      - name: CPD_PRODUCT_VERSION
        value: $(params.cpd_product_version)
      - name: MAS_APPWS_SETTINGS_DEPLOYMENT_SIZE
        value: $(params.mas_appws_settings_deployment_size)
      - name: CPD_WML_URL
        value: $(params.cpd_wml_url)
      - name: CPD_WML_INSTANCE_ID
        value: $(params.cpd_wml_instance_id)
      - name: CLUSTER_NAME
        value: $(params.cluster_name)
      - name: ACCOUNT
        value: $(params.account)
      - name: SECRET_PATH
        value: $(params.secrets_path)
      - name: MAS_INSTANCE_ID
        value: $(params.mas_instance_id)
      - name: GIT_BRANCH
        value: $(params.git_branch)
      - name: GITHUB_ORG
        value: $(params.github_org)
      - name: GITHUB_HOST
        value: $(params.github_host)
      - name: GITHUB_REPO
        value: $(params.github_repo)
      - name: GITHUB_PAT
        value: $(params.github_pat)
      - name: SM_AWS_REGION
        value: $(params.avp_aws_secret_region)
      - name: SM_AWS_SECRET_ACCESS_KEY
        value: $(params.avp_aws_secret_key)
      - name: SM_AWS_ACCESS_KEY_ID
        value: $(params.avp_aws_access_key)
      - name: MAS_APP_ID
        value: $(params.mas_app_id)
      - name: MAS_APP_SETTINGS_DB2_SCHEMA
        value: $(params.mas_app_settings_db2_schema)
      - name: MAS_APP_SETTINGS_DEMODATA
        value: $(params.mas_app_settings_demodata)
      - name: MAS_APP_SETTINGS_TABLESPACE
        value: $(params.mas_app_settings_tablespace)
      - name: MAS_APP_SETTINGS_INDEXSPACE
        value: $(params.mas_app_settings_indexspace)
      - name: MAS_APP_SETTINGS_BASE_LANGUAGE
        value: $(params.mas_app_settings_base_language)
      - name: MAS_APP_SETTINGS_SECONDARY_LANGUAGES
        value: $(params.mas_app_settings_secondary_languages)
      - name: MAS_APP_SETTINGS_AIO_FLAG
        value: $(params.mas_app_settings_aio_flag)
      - name: MAS_APP_SETTINGS_PERSISTENT_VOLUMES_FLAG
        value: $(params.mas_app_settings_persistent_volumes_flag)
      - name: MAS_APP_SETTINGS_JMS_QUEUE_PVC_ACCESSMODE
        value: $(params.mas_app_settings_jms_queue_pvc_accessmode)
      - name: MAS_APP_SETTINGS_JMS_QUEUE_MOUNT_PATH
        value: $(params.mas_app_settings_jms_queue_mount_path)
      - name: MAS_APP_SETTINGS_JMS_QUEUE_PVC_NAME
        value: $(params.mas_app_settings_jms_queue_pvc_name)
      - name: MAS_APP_SETTINGS_JMS_QUEUE_PVC_SIZE
        value: $(params.mas_app_settings_jms_queue_pvc_size)
      - name: MAS_APP_SETTINGS_DOCLINKS_PVC_ACCESSMODE
        value: $(params.mas_app_settings_doclinks_pvc_accessmode)
      - name: MAS_APP_SETTINGS_DOCLINKS_MOUNT_PATH
        value: $(params.mas_app_settings_doclinks_mount_path)
      - name: MAS_APP_SETTINGS_DOCLINKS_PVC_NAME
        value: $(params.mas_app_settings_doclinks_pvc_name)
      - name: MAS_APP_SETTINGS_DOCLINKS_PVC_SIZE
        value: $(params.mas_app_settings_doclinks_pvc_size)
      - name: MAS_APP_SETTINGS_BIM_PVC_ACCESSMODE
        value: $(params.mas_app_settings_bim_pvc_accessmode)
      - name: MAS_APP_SETTINGS_BIM_MOUNT_PATH
        value: $(params.mas_app_settings_bim_mount_path)
      - name: MAS_APP_SETTINGS_BIM_PVC_NAME
        value: $(params.mas_app_settings_bim_pvc_name)
      - name: MAS_APP_SETTINGS_BIM_PVC_SIZE
        value: $(params.mas_app_settings_bim_pvc_size)
      - name: MAS_MANUAL_CERT_MGMT
        value: $(params.mas_manual_cert_mgmt)

  steps:
    - args:
      - |-

        git config --global user.name "MAS Automation"
        git config --global user.email "you@example.com"
        git config --global user.password $GITHUB_PAT

        ROSA_CONFIG=/workspace/configs/tmp-rosa/rosa-$(params.cluster_name)-details.yaml
        export OCP_SERVER=$(cat $ROSA_CONFIG | yq -r '.data.api_url')
        export OCP_USERNAME=$(cat $ROSA_CONFIG | yq -r '.data.username')
        export ROSA_CLUSTER_ADMIN_PASSWORD=$(cat $ROSA_CONFIG | yq -r '.data.admin_password')
        oc login -u $OCP_USERNAME -p $ROSA_CLUSTER_ADMIN_PASSWORD $OCP_SERVER --insecure-skip-tls-verify
        OC_RC=$?
        if [ $OC_RC -ne 0 ]; then
          echo "oc login failed, exiting with error.."
          exit 1
        fi

        # mas app install specific 
        export MAS_APP_NAMESPACE=mas-${MAS_INSTANCE_ID}-${MAS_APP_ID}

       
        echo "Set k8s context"
        export K8S_AUTH_CONTEXT=$(oc whoami -c)

        if [ -z $ARGOCD_URL ] || [ -z $ARGOCD_USERNAME ] || [ -z $ARGOCD_PASSWORD ]; then
          export ARGOCD_URL=$(oc get route  openshift-gitops-server -n openshift-gitops -ojsonpath='{.spec.host}' --context $K8S_AUTH_CONTEXT)
          export ARGOCD_USERNAME=admin
          export ARGOCD_PASSWORD=$(oc get secret openshift-gitops-cluster -n openshift-gitops -ojsonpath='{.data.admin\.password}' --context $K8S_AUTH_CONTEXT | base64 -d ; echo)
        fi

        # Any external config is stored here
        export GITOPS_CONFIG_DIR=/workspace/configs

        mkdir -p /tmp/suite-app-config

        mas gitops-suite-app-config -a $ACCOUNT -c $CLUSTER_NAME -m $MAS_INSTANCE_ID \
        --secrets-path $SECRET_PATH \
        --dir /tmp/suite-app-config \
        --github-push \
        --github-host $GITHUB_HOST \
        --github-org  $GITHUB_ORG \
        --github-repo $GITHUB_REPO \
        --git-branch $GIT_BRANCH

        exit $?
      command:
        - /bin/sh
        - -c
      name: gitops-suite-app-config
      imagePullPolicy: IfNotPresent
      image: quay.io/ibmmas/cli:7.10.0-pre.gitops
  workspaces:
    - name: configs
    - name: shared-gitops-configs
