---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: gitops-deprovision-rosa
spec:

  params:
    - name: cluster_name
      type: string
    - name: rosa_token
      type: string
    - name: ocp_version
      type: string
    - name: aws_access_key_id
      type: string
    - name: aws_secret_access_key
      type: string
    - name: aws_region
      type: string
  stepTemplate:
    name: gitops-deprovision-rosa
  steps:
    - args:
      - |-
        export ROSA_TOKEN=$(params.rosa_token)
        export OCP_VERSION=$(params.ocp_version)
  
        aws configure set aws_access_key_id $(params.aws_access_key_id)
        aws configure set aws_secret_access_key $(params.aws_secret_access_key)
        aws configure set default.region $(params.aws_region)

        export ROSA_CONFIG_DIR=/workspace/configs/tmp-rosa-deprovision
        mkdir -p $ROSA_CONFIG_DIR
        mas gitops-deprovision-rosa -c $(params.cluster_name)
        RC=$?
        if [ $RC -ne 0 ]; then
          echo "mas gitops-deprovision-rosa failed with error $RC"
	  exit $RC
        fi

        echo "Removing rosa-$(params.cluster_name)-details.yaml"
        rm -f /workspace/configs/tmp-rosa/rosa-$(params.cluster_name)-details.yaml
      command:
        - /bin/sh
        - -c
      name: gitops-deprovision-rosa
      imagePullPolicy: IfNotPresent
      image: quay.io/ibmmas/cli:8.1.0-pre.gitops
  workspaces:
    - name: configs
