---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: gitops-rosa
spec:

  params:
    - name: cluster_name
      type: string
    - name: rosa_token
      type: string
    - name: ocp_version
      type: string
    - name: aws_access_key_id
      type: string
    - name: aws_secret_access_key
      type: string
    - name: aws_region
      type: string
    - name: rosa_cluster_admin_password
      type: string
    - name: rosa_compute_nodes
      type: string
    - name: rosa_compute_machine_type
      type: string
  stepTemplate:
    name: gitops-rosa
  steps:
    - args:
      - |-
        export ROSA_TOKEN=$(params.rosa_token)
        export ROSA_CLUSTER_ADMIN_PASSWORD=$(params.rosa_cluster_admin_password)
        export ROSA_COMPUTE_NODES=$(params.rosa_compute_nodes)
        export ROSA_COMPUTE_MACHINE_TYPE=$(params.rosa_compute_machine_type)

        aws configure set aws_access_key_id $(params.aws_access_key_id)
        aws configure set aws_secret_access_key $(params.aws_secret_access_key)
        aws configure set default.region $(params.aws_region)

        export ROSA_CONFIG_DIR=/workspace/configs/tmp-rosa
        mkdir -p $ROSA_CONFIG_DIR
        mas gitops-rosa -c $(params.cluster_name) -v $(params.ocp_version)
      command:
        - /bin/sh
        - -c
      name: gitops-rosa
      imagePullPolicy: Always
      image: quay.io/ibmmas/cli:8.1.0-pre.ajw-cleanup
  workspaces:
    - name: configs
