apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: gitops-odh
spec:
  params:
    - name: cluster_name
      type: string
    - name: account
      type: string
    - name: mas_instance_id
      type: string
    - name: cluster_url
      type: string
      default: ""
    - name: git_branch
      type: string
    - name: github_org
      type: string
    - name: github_repo
      type: string
    - name: github_host
      type: string
    - name: secrets_path
      type: string
    - name: avp_aws_secret_region
      type: string
    - name: odh_channel
      type: string
    - name: odh_subscription_install_plan
      type: string
      default: "Automatic"
    - name: opendatahub_name
      type: string
    - name: opendatahub_operator_group
      type: string
    - name: opendatahub_namespace
      type: string
  stepTemplate:
    name: gitops-odh
    env:
      - name: CLUSTER_NAME
        value: $(params.cluster_name)
      - name: ACCOUNT
        value: $(params.account)
      - name: MAS_INSTANCE_ID
        value: $(params.mas_instance_id)
      - name: CLUSTER_URL
        value: $(params.cluster_url)
      - name: GITHUB_REPO
        value: $(params.github_repo)
      - name: SECRET_PATH
        value: $(params.secrets_path)
      - name: GIT_BRANCH
        value: $(params.git_branch)
      - name: GITHUB_ORG
        value: $(params.github_org)
      - name: GITHUB_HOST
        value: $(params.github_host)
      - name: GITHUB_REPO
        value: $(params.github_repo)
      - name: SM_AWS_REGION
        value: $(params.avp_aws_secret_region)
      - name: ODH_CHANNEL
        value: $(params.odh_channel)
      - name: ODH_INSTALL_PLAN
        value: $(params.odh_subscription_install_plan)
      - name: ODH_NAME
        value: $(params.opendatahub_name)
      - name: ODH_OPERATOR_GROUP
        value: $(params.opendatahub_operator_group)
      - name: ODH_NAMESPACE
        value: $(params.opendatahub_namespace)
    envFrom:
      - configMapRef:
          name: environment-properties
          optional: true
      - secretRef:
          name: secure-properties
  steps:
    - args:
      - |-
        git config --global user.name "MAS Automation"
        git config --global user.email "you@example.com"
        git config --global user.password $GITHUB_PAT
        
        mkdir -p /tmp/init-odh
        mas gitops-odh -a $ACCOUNT -c $CLUSTER_NAME \
        --dir /tmp/init-odh \
        --secrets-path $SECRET_PATH \
        --github-push \
        --github-host $GITHUB_HOST \
        --github-org $GITHUB_ORG \
        --github-repo $GITHUB_REPO \
        --git-branch $GIT_BRANCH \
        --odh-channel $ODH_CHANNEL \
        --odh-catalog-source $ODH_CATALOG_SOURCE \
        --odh-operator-version $ODH_OPERATOR_VERSION \
        --odh-namespace $ODH_NAMESPACE \
        --pull-secret-name $PULL_SECRET_NAME \
        --opendatahub-name $OPENDATAHUB_NAME \
        --opendatahub-operator-group $OPENDATAHUB_OPERATOR_GROUP_NAME \
        --opendatahub-installplan $ODH_INSTALL_PLAN \
        --opendatahub-channel $OPENDATAHUB_CHANNEL \
        --opendatahub-source $OPENDATAHUB_SOURCE \
        --opendatahub-source-namespace $OPENDATAHUB_SOURCE_NAMESPACE \
        --odh-pipeline-name $ODH_PIPELINE_NAME \
        --odh-pipeline-namespace $ODH_PIPELINE_NAMESPACE \
        --odh-pipeline-operator-name $ODH_PIPELINE_OPERATOR_NAME \
        --odh-pipeline-source $ODH_PIPELINE_SOURCE \
        --odh-pipeline-source-namespace $ODH_PIPELINE_SOURCE_NAMESPACE \
        --odh-pipeline-channel $ODH_PIPELINE_CHANNEL \
        --odh-pipeline-installplan $ODH_PIPELINE_INSTALLPLAN \
        --pipeline-catalog-source $PIPELINE_CATALOG_SOURCE \
        --service-mesh-namespace $SERVICE_MESH_NAMESPACE \
        --service-mesh-channel $SERVICE_MESH_CHANNEL \
        --service-mesh-catalog-source $SERVICE_MESH_CATALOG_SOURCE \
        --service-mesh-source-namespace $SERVICE_MESH_SOURCE_NAMESPACE \
        --serverless-namespace $SERVERLESS_NAMESPACE \
        --serverless-channel $SERVERLESS_CHANNEL \
        --serverless-operator-name $SERVERLESS_OPERATOR_NAME \
        --serverless-operator-source $SERVERLESS_OPERATOR_SOURCE \
        --serverless-operator-source-namespace $SERVERLESS_OPERATOR_SOURCE_NAMESPACE \
        --authorino-catalog-source $AUTHORINO_CATALOG_SOURCE \
        --storage-provider $MAS_AIBROKER_STORAGE_PROVIDER \
        --storage-accesskey $MAS_AIBROKER_STORAGE_ACCESSKEY \
        --storage-secretkey $MAS_AIBROKER_STORAGE_SECRETKEY \
        --storage-host $MAS_AIBROKER_STORAGE_HOST \
        --storage-port $MAS_AIBROKER_STORAGE_PORT \
        --storage-ssl $MAS_AIBROKER_STORAGE_SSL \
        --storage-region $MAS_AIBROKER_STORAGE_REGION \
        --pipelines-bucket $MAS_AIBROKER_STORAGE_PIPELINES_BUCKET \
        --primary-storage-class $PRIMARY_STORAGE_CLASS \
        --db-host $MAS_AIBROKER_DB_HOST \
        --db-port $MAS_AIBROKER_DB_PORT \
        --db-user $MAS_AIBROKER_DB_USER \
        --db-database $MAS_AIBROKER_DB_DATABASE \
        --db-secret-name $MAS_AIBROKER_DB_SECRET_NAME \
        --db-secret-value $MAS_AIBROKER_DB_SECRET_VALUE

        exit $?
      command:
        - /bin/sh
        - -c
      name: gitops-odh
      imagePullPolicy: IfNotPresent
      image: quay.io/ibmmas/cli:latest
  workspaces:
    - name: configs
