---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: gitops-deprovision-efs
spec:
  params:
    - name: cluster_name
      type: string
    - name: avp_aws_secret_region
      type: string
    - name: mas_instance_id
      type: string
    - name: cloud_provider
      type: string
      default: aws
  stepTemplate:
    name: gitops-deprovision-efs
    env:
      - name: CLUSTER_NAME
        value: $(params.cluster_name)
      - name: SM_AWS_REGION
        value: $(params.avp_aws_secret_region)
      - name: MAS_INSTANCE_ID
        value: $(params.mas_instance_id)
      - name: CLOUD_PROVIDER
        value: $(params.cloud_provider)
    envFrom:
      - configMapRef:
          name: environment-properties
          optional: true
      - secretRef:
          name: secure-properties
  steps:
    - args:
      - |-
        aws configure set aws_access_key_id $SM_AWS_ACCESS_KEY_ID
        aws configure set aws_secret_access_key $SM_AWS_SECRET_ACCESS_KEY
        aws configure set default.region $(params.avp_aws_secret_region)
        
        mas gitops-deprovision-efs -c $CLUSTER_NAME -m $MAS_INSTANCE_ID \
        --cloud-provider $CLOUD_PROVIDER \
        --aws-region $SM_AWS_REGION \
        --aws-secret-key $SM_AWS_SECRET_ACCESS_KEY \
        --aws-access-key $SM_AWS_ACCESS_KEY_ID
      command:
        - /bin/sh
        - -c
      name: gitops-deprovision-efs
      imagePullPolicy: IfNotPresent
      image: quay.io/ibmmas/cli:7.10.0-pre.gitops
  workspaces:
    - name: configs



