---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: gitops-deprovision-suite-config
spec:
  params:
    - name: cluster_name
      type: string
    - name: account
      type: string
    - name: region
      type: string
    - name: secrets_path
      type: string
    - name: mas_instance_id
      type: string
    - name: git_branch
      type: string
    - name: github_org
      type: string
    - name: github_repo
      type: string
    - name: github_host
      type: string
    - name: avp_aws_secret_region
      type: string
    - name: jdbc_type_iot
      type: string
      default: "incluster-db2"
    - name: jdbc_instance_name_iot
      type: string
      default: ""
    - name: jdbc_type_manage
      type: string
      default: "inclutser-db2"
    - name: jdbc_instance_name_manage
      type: string
      default: ""
  stepTemplate:
    name: gitops-deprovision-suite-config
    env:
      - name: CLUSTER_ID
        value: $(params.cluster_name)
      - name: ACCOUNT_ID
        value: $(params.account)
      - name: REGION
        value: $(params.region)
      - name: SECRETS_PATH
        value: $(params.secrets_path)
      - name: MAS_INSTANCE_ID
        value: $(params.mas_instance_id)
      - name: GIT_BRANCH
        value: $(params.git_branch)
      - name: GITHUB_ORG
        value: $(params.github_org)
      - name: GITHUB_HOST
        value: $(params.github_host)
      - name: GITHUB_REPO
        value: $(params.github_repo)
      - name: SM_AWS_REGION
        value: $(params.avp_aws_secret_region)
      - name: JDBC_TYPE_IOT
        value: $(params.jdbc_type_iot)
      - name: JDBC_INSTANCE_NAME_IOT
        value: $(params.jdbc_instance_name_iot)
      - name: JDBC_TYPE_MANAGE
        value: $(params.jdbc_type_manage)
      - name: JDBC_INSTANCE_NAME_MANAGE
        value: $(params.jdbc_instance_name_manage)
    envFrom:
      - configMapRef:
          name: environment-properties
          optional: true
      - secretRef:
          name: secure-properties
  steps:
    - args:
      - |-
        

        git config --global user.name "MAS Automation"
        git config --global user.email "you@example.com"
        git config --global user.password $GITHUB_PAT

        # TODO: the calls to remove JDBC config really belong in their own tasks (without the hard-coded appid/wsid/db2_instance_name params)
        # For now, as I need to limit the impact of the changes under MASCORE-2082 (Replace configs appset with individual Applications), 
        # I'm simply porting our existing code over without changing the interface/layout of our Tekton pipelines
        # The equivalents of the operations performed below were previously handled by the (deprecated) gitops-deprovision-suite-config function

        mkdir -p /tmp/deprovision-suite-config-iotdb
        mas gitops-mas-config \
        --account-id "$ACCOUNT_ID" \
        --cluster-id "$CLUSTER_ID" \
        --mas-instance-id "$MAS_INSTANCE_ID" \
        --secrets-path "$SECRETS_PATH" \
        --github-push \
        --github-host "$GITHUB_HOST" \
        --github-org "$GITHUB_ORG" \
        --github-repo "$GITHUB_REPO" \
        --git-branch "$GIT_BRANCH" \
        --config-action remove \
        --mas-config-scope system \
        --mas-config-type jdbc \
        --mas-app-id "iot" \
        --dir /tmp/deprovision-suite-config-iotdb \
        --jdbc-type "$JDBC_TYPE_IOT" \
        --jdbc-instance-name "$JDBC_INSTANCE_NAME_IOT" \
        || exit 1

        mkdir -p /tmp/deprovision-suite-config-managedb
        mas gitops-mas-config \
        --account-id "$ACCOUNT_ID" \
        --cluster-id "$CLUSTER_ID" \
        --mas-instance-id "$MAS_INSTANCE_ID" \
        --secrets-path "$SECRETS_PATH" \
        --github-push \
        --github-host "$GITHUB_HOST" \
        --github-org "$GITHUB_ORG" \
        --github-repo "$GITHUB_REPO" \
        --git-branch "$GIT_BRANCH" \
        --config-action remove \
        --mas-config-scope wsapp \
        --mas-config-type jdbc \
        --dir /tmp/deprovision-suite-config-managedb \
        --mas-workspace-id "masdev" \
        --mas-app-id "manage" \
        --jdbc-type "$JDBC_TYPE_MANAGE" \
        --jdbc-instance-name "$JDBC_INSTANCE_NAME_MANAGE" \
        || exit 1

        mkdir -p /tmp/deprovision-suite-config-sls
        mas gitops-mas-config \
        --account-id "$ACCOUNT_ID" \
        --cluster-id "$CLUSTER_ID" \
        --mas-instance-id "$MAS_INSTANCE_ID" \
        --secrets-path "$SECRETS_PATH" \
        --github-push \
        --github-host "$GITHUB_HOST" \
        --github-org "$GITHUB_ORG" \
        --github-repo "$GITHUB_REPO" \
        --git-branch "$GIT_BRANCH" \
        --config-action remove \
        --mas-config-scope system \
        --mas-config-type sls \
        --dir /tmp/deprovision-suite-config-sls \
        || exit 1

        mkdir -p /tmp/deprovision-suite-config-mongo
        mas gitops-mas-config \
        --account-id "$ACCOUNT_ID" \
        --cluster-id "$CLUSTER_ID" \
        --mas-instance-id "$MAS_INSTANCE_ID" \
        --secrets-path "$SECRETS_PATH" \
        --github-push \
        --github-host "$GITHUB_HOST" \
        --github-org "$GITHUB_ORG" \
        --github-repo "$GITHUB_REPO" \
        --git-branch "$GIT_BRANCH" \
        --config-action remove \
        --mas-config-scope system \
        --mas-config-type mongo \
        --dir /tmp/deprovision-suite-config-mongo \
        || exit 1

        mkdir -p /tmp/deprovision-suite-config-bas
        mas gitops-mas-config \
        --account-id "$ACCOUNT_ID" \
        --cluster-id "$CLUSTER_ID" \
        --mas-instance-id "$MAS_INSTANCE_ID" \
        --secrets-path "$SECRETS_PATH" \
        --github-push \
        --github-host "$GITHUB_HOST" \
        --github-org "$GITHUB_ORG" \
        --github-repo "$GITHUB_REPO" \
        --git-branch "$GIT_BRANCH" \
        --config-action remove \
        --mas-config-scope system \
        --mas-config-type bas \
        --dir /tmp/deprovision-suite-config-bas \
        || exit 1

      command:
        - /bin/sh
        - -c
      name: gitops-deprovision-suite-config
      imagePullPolicy: IfNotPresent
      image: quay.io/ibmmas/cli:10.2.0-pre.gitops
  workspaces:
    - name: configs




