---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: gitops-iac-provision-rdsdb2
spec:
  params:
    - name: cluster_name
      type: string
    - name: account
      type: string
    - name: cluster_url
      type: string
      default: ""
    - name: region_name
      type: string
    - name: git_branch
      type: string
    - name: github_org
      type: string
    - name: github_repo
      type: string
    - name: github_host
      type: string
    - name: mas_instance_id
      type: string
    - name: rds_source
      type: string
      default: ""
    - name: rds_s3_source
      type: string
      default: ""
    - name: rds_iam_source
      type: string
      default: ""
    - name: rds_s3accesspoint_source
      type: string
      default: ""
    - name: rds_manage_db2_instance_class
      type: string
      default: ""
    - name: rds_manage_db2_storage_type
      type: string
      default: ""
    - name: rds_manage_allocated_storage
      type: string
      default: ""
    - name: rds_manage_jdbc_connection_url_additional_params
      type: string
      default: ""
    - name: rds_manage_replica_db
      type: string
      default: ""
    - name: rds_manage_db2_combine_properties
      type: string
      default: ""
    - name: rds_db2_config_manage_yaml
      type: string
      default: ""

    - name: rds_iot_db2_instance_class
      type: string
      default: ""
    - name: rds_iot_db2_storage_type
      type: string
      default: ""
    - name: rds_iot_allocated_storage
      type: string
      default: ""
    - name: rds_iot_jdbc_connection_url_additional_params
      type: string
      default: ""
    - name: rds_iot_replica_db
      type: string
      default: ""
    - name: rds_iot_db2_combine_properties
      type: string
      default: ""
    - name: rds_db2_config_iot_yaml
      type: string
      default: ''


    - name: rds_facilities_db2_instance_class
      type: string
      default: ""
    - name: rds_facilities_db2_storage_type
      type: string
      default: ""
    - name: rds_facilities_allocated_storage
      type: string
      default: ""
    - name: rds_facilities_jdbc_connection_url_additional_params
      type: string
      default: ""
    - name: rds_facilities_replica_db
      type: string
      default: ""
    - name: rds_facilities_db2_combine_properties
      type: string
      default: ""
    - name: rds_db2_config_facilities_yaml
      type: string
      default: ''

  stepTemplate:
    env:
      - name: CLUSTER_NAME
        value: $(params.cluster_name)
      - name: ACCOUNT
        value: $(params.account)
      - name: CLUSTER_URL
        value: $(params.cluster_url)
      - name: REGION_NAME
        value: $(params.region_name)
      - name: GIT_BRANCH
        value: $(params.git_branch)
      - name: GITHUB_ORG
        value: $(params.github_org)
      - name: GITHUB_HOST
        value: $(params.github_host)
      - name: GITHUB_REPO
        value: $(params.github_repo)
      - name: MAS_INSTANCE_ID
        value: $(params.mas_instance_id)
      - name: RDS_SOURCE
        value: $(params.rds_source)
      - name: RDS_S3_SOURCE
        value: $(params.rds_s3_source)
      - name: RDS_IAM_SOURCE
        value: $(params.rds_iam_source)
      - name: RDS_S3ACCESSPOINT_SOURCE
        value: $(params.rds_s3accesspoint_source)
      - name: RDS_MANAGE_DB2_INSTANCE_CLASS
        value: $(params.rds_manage_db2_instance_class)
      - name: RDS_MANAGE_DB2_STORAGE_TYPE
        value: $(params.rds_manage_db2_storage_type)
      - name: RDS_MANAGE_ALLOCATED_STORAGE
        value: $(params.rds_manage_allocated_storage)
      - name: RDS_MANAGE_JDBC_CONNECTION_URL_ADDITIONAL_PARAMS
        value: $(params.rds_manage_jdbc_connection_url_additional_params)
      - name: RDS_MANAGE_REPLICA_DB
        value: $(params.rds_manage_replica_db)
      - name: RDS_MANAGE_DB2_COMBINE_PROPERTIES
        value: $(params.rds_manage_db2_combine_properties)
      - name: RDS_DB2_CONFIG_MANAGE_YAML
        value: $(params.rds_db2_config_manage_yaml)

      - name: RDS_IOT_DB2_INSTANCE_CLASS
        value: $(params.rds_iot_db2_instance_class)
      - name: RDS_IOT_DB2_STORAGE_TYPE
        value: $(params.rds_iot_db2_storage_type)
      - name: RDS_IOT_ALLOCATED_STORAGE
        value: $(params.rds_iot_allocated_storage)
      - name: RDS_IOT_JDBC_CONNECTION_URL_ADDITIONAL_PARAMS
        value: $(params.rds_iot_jdbc_connection_url_additional_params)
      - name: RDS_IOT_REPLICA_DB
        value: $(params.rds_iot_replica_db)
      - name: RDS_IOT_DB2_COMBINE_PROPERTIES
        value: $(params.rds_iot_db2_combine_properties)
      - name: RDS_DB2_CONFIG_IOT_YAML
        value: $(params.rds_db2_config_iot_yaml)

      - name: RDS_FACILITIES_DB2_INSTANCE_CLASS
        value: $(params.rds_facilities_db2_instance_class)
      - name: RDS_FACILITIES_DB2_STORAGE_TYPE
        value: $(params.rds_facilities_db2_storage_type)
      - name: RDS_FACILITIES_ALLOCATED_STORAGE
        value: $(params.rds_facilities_allocated_storage)
      - name: RDS_FACILITIES_JDBC_CONNECTION_URL_ADDITIONAL_PARAMS
        value: $(params.rds_facilities_jdbc_connection_url_additional_params)
      - name: RDS_FACILITIES_REPLICA_DB
        value: $(params.rds_facilities_replica_db)
      - name: RDS_FACILITIES_DB2_COMBINE_PROPERTIES
        value: $(params.rds_facilities_db2_combine_properties)
      - name: RDS_DB2_CONFIG_FACILITIES_YAML
        value: $(params.rds_db2_config_facilities_yaml)
    envFrom:
      - configMapRef:
          name: environment-properties
          optional: true
      - secretRef:
          name: secure-properties

  steps:
    - name: provision-rdsdb2
      args:
        - |-
          git config --global user.name "MAS Automation"
          git config --global user.email "you@example.com"
          git config --global user.password $GITHUB_PAT

          CMD="mas gitops-iac-provision-rdsdb2 -a $ACCOUNT -c $CLUSTER_NAME -m $MAS_INSTANCE_ID --dir /workspace/gitops-iac --github-push --github-host $GITHUB_HOST --github-org $GITHUB_ORG --github-repo $GITHUB_REPO --git-branch $GIT_BRANCH --region-name $REGION_NAME"

          echo "Executing: $CMD"
          eval $CMD
          exit $?
      command:
        - /bin/sh
        - -c
      imagePullPolicy: IfNotPresent
      image: quay.io/ibmmas/cli:latest

  workspaces:
    - name: configs
      mountPath: /workspace/gitops-iac