---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: gitops-suite-certs
spec:
  params:
    - name: cluster_name
      type: string
    - name: dns_provider
      type: string
      default: cis
    - name: mas_instance_id
      type: string
    - name: mas_domain
      type: string
    - name: cis_subdomain
      type: string
    - name: mas_workspace_id
      type: string
    - name: mas_manual_cert_mgmt
      type: string
    - name: cis_proxy
      type: string
    - name: cis_crn
      type: string
    - name: mas_config_dir
      type: string
    - name: account
      type: string
    - name: secrets_path
      type: string
    - name: gitops
      type: string
      default: "True"
    - name: avp_aws_secret_region
      type: string

  stepTemplate:
    name: gitops-suite-certs
    env:
      - name: DNS_PROVIDER
        value: $(params.dns_provider)
      - name: MAS_INSTANCE_ID
        value: $(params.mas_instance_id)
      - name: CLUSTER_NAME
        value: $(params.cluster_name)
      - name: ACCOUNT
        value: $(params.account)
      - name: SECRET_PATH
        value: $(params.secrets_path)
      - name: SM_AWS_REGION
        value: $(params.avp_aws_secret_region)
      - name: MAS_DOMAIN
        value: $(params.mas_domain)
      - name: CIS_SUBDOMAIN
        value: $(params.cis_subdomain)
      - name: MAS_WORKSPACE_ID
        value: $(params.mas_workspace_id)
      - name: MAS_MANUAL_CERT_MGMT
        value: $(params.mas_manual_cert_mgmt)
      - name: CIS_PROXY
        value: $(params.cis_proxy)
      - name: CIS_CRN
        value: $(params.cis_crn)
      - name: MAS_CONFIG_DIR
        value: $(params.mas_config_dir)
      - name: GITOPS
        value: $(params.gitops)
    envFrom:
      - configMapRef:
          name: environment-properties
          optional: true
      - secretRef:
          name: secure-properties

  steps:
    - args:
      - |-

        echo "Copy certificates ..."
        source /opt/app-root/src/copy-certificates.sh

        echo "Set k8s context"
        export K8S_AUTH_CONTEXT=$(oc whoami -c)

        mas gitops-suite-certs -a $ACCOUNT -c $CLUSTER_NAME -m $MAS_INSTANCE_ID \
        --secrets-path $SECRET_PATH \
        --mas-config-dir /workspace/configs

        exit $?

      command:
        - /bin/sh
        - -c
      name: gitops-suite-certs
      imagePullPolicy: IfNotPresent
      image: quay.io/ibmmas/cli:10.1.0-pre.gitops
  workspaces:
    - name: configs
    - name: certificates
