---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: gitops-cp4d
spec:
  params:
    - name: cluster_name
      type: string
    - name: cluster_url
      type: string
      default: ""
    - name: account
      type: string
    - name: git_branch
      type: string
    - name: github_org
      type: string
    - name: github_repo
      type: string
    - name: github_host
      type: string
    - name: secrets_path
      type: string
    - name: avp_aws_secret_region
      type: string
    - name: mas_instance_id
      type: string
    - name: common_services_channel
      type: string
    - name: cpd_channel
      type: string
    - name: cpd_product_version
      type: string
    - name: cpd_primary_storage_class
      type: string
    - name: cpd_metadata_storage_class
      type: string
  stepTemplate:
    name: gitops-cp4d
    env:
      - name: CLUSTER_NAME
        value: $(params.cluster_name)
      - name: OCP_SERVER
        value: $(params.cluster_url)
      - name: ACCOUNT
        value: $(params.account)
      - name: GITHUB_REPO
        value: $(params.github_repo)
      - name: SECRET_PATH
        value: $(params.secrets_path)
      - name: GIT_BRANCH
        value: $(params.git_branch)
      - name: GITHUB_ORG
        value: $(params.github_org)
      - name: GITHUB_HOST
        value: $(params.github_host)
      - name: GITHUB_REPO
        value: $(params.github_repo)
      - name: SM_AWS_REGION
        value: $(params.avp_aws_secret_region)
      - name: MAS_INSTANCE_ID
        value: $(params.mas_instance_id)
      - name: COMMON_SERVICES_CHANNEL
        value: $(params.common_services_channel)
      - name: CPD_CHANNEL
        value: $(params.cpd_channel)
      - name: CPD_PRODUCT_VERSION
        value: $(params.cpd_product_version)
      - name: CPD_PRIMARY_STORAGE_CLASS
        value: $(params.cpd_primary_storage_class)
      - name: CPD_METADATA_STORAGE_CLASS
        value: $(params.cpd_metadata_storage_class)
    envFrom:
      - configMapRef:
          name: environment-properties
          optional: true
      - secretRef:
          name: secure-properties
  steps:
    - args:
      - |-
        git config --global user.name "MAS Automation"
        git config --global user.email "you@example.com"
        git config --global user.password $GITHUB_PAT
        
        # oc login here as we need to move cp4d to gitops approach. When we have then ocp login is not needed.
        oc login -u $OCP_USERNAME -p $OCP_PASSWORD $OCP_SERVER --insecure-skip-tls-verify
        OC_RC=$?
        if [ $OC_RC -ne 0 ]; then
          echo "oc login failed"
          exit 1
        fi
        echo "Set k8s context"
        export K8S_AUTH_CONTEXT=$(oc whoami -c)

        mkdir -p /tmp/init-cp4d
        mas gitops-cp4d -a $ACCOUNT -c $CLUSTER_NAME \
        --dir /tmp/init-cp4d \
        --secrets-path $SECRET_PATH \
        --github-push \
        --github-host $GITHUB_HOST \
        --github-org $GITHUB_ORG \
        --github-repo $GITHUB_REPO \
        --git-branch $GIT_BRANCH

        exit $?
      command:
        - /bin/sh
        - -c
      name: gitops-cp4d
      imagePullPolicy: IfNotPresent
      image: quay.io/ibmmas/cli:8.1.0-pre.ajw-shortname
  workspaces:
    - name: configs
    - name: shared-gitops-configs
