---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: gitops-cis-compliance
spec:
  params:
    - name: cluster_name
      type: string
    - name: account
      type: string
    - name: git_branch
      type: string
    - name: github_org
      type: string
    - name: github_repo
      type: string
    - name: github_host
      type: string
    - name: avp_aws_secret_region
      type: string
    - name: cluster_url
      type: string
      default: ""
    - name: cis_compliance_install_plan
      type: string
      default: "Automatic"
  stepTemplate:
    name: gitops-cis-compliance
    env:
      - name: CLUSTER_URL
        value: $(params.cluster_url)
      - name: CLUSTER_NAME
        value: $(params.cluster_name)
      - name: ACCOUNT
        value: $(params.account)
      - name: GIT_BRANCH
        value: $(params.git_branch)
      - name: GITHUB_ORG
        value: $(params.github_org)
      - name: GITHUB_HOST
        value: $(params.github_host)
      - name: GITHUB_REPO
        value: $(params.github_repo)
      - name: SM_AWS_REGION
        value: $(params.avp_aws_secret_region)
      - name: CIS_INSTALL_PLAN
        value: $(params.cis_compliance_install_plan)
    envFrom:
      - configMapRef:
          name: environment-properties
          optional: true
      - secretRef:
          name: secure-properties
  steps:
    - args:
      - |-
        git config --global user.name "MAS Automation"
        git config --global user.email "you@example.com"
        git config --global user.password $GITHUB_PAT

        mkdir -p /tmp/init-cis-compliance
        mas gitops-cis-compliance -a $ACCOUNT -c $CLUSTER_NAME \
        --dir /tmp/init-cis-compliance \
        --github-push \
        --github-host $GITHUB_HOST \
        --github-org  $GITHUB_ORG \
        --github-repo $GITHUB_REPO \
        --git-branch $GIT_BRANCH

        exit $?
      command:
        - /bin/sh
        - -c
      name: gitops-cis-compliance
      imagePullPolicy: IfNotPresent
      image: quay.io/ibmmas/cli:11.3.0-pre.mascore3901
  workspaces:
    - name: configs
