---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: gitops-cluster
spec:
  params:
    - name: cluster_name
      type: string
    - name: account
      type: string
    - name: cluster_url
      type: string
      default: ""
    - name: secrets_path
      type: string
    - name: git_branch
      type: string
    - name: github_org
      type: string
    - name: github_repo
      type: string
    - name: github_host
      type: string
    - name: git_commit_msg
      type: string
    - name: mas_catalog_version
      type: string
      default: ""
    - name: mas_catalog_image
      type: string
      default: ""
    - name: common_services_channel
      type: string
      default: ""
    - name: avp_aws_secret_region
      type: string
    - name: mas_catalog_action
      type: string
      default: "install"
    - name: common_services_action
      type: string
      default: "install"
    - name: slack_channel_id
      type: string
      default: ""
  stepTemplate:
    name: gitops-cluster
    env:
      - name: CLUSTER_NAME
        value: $(params.cluster_name)
      - name: ACCOUNT
        value: $(params.account)
      - name: CLUSTER_URL
        value: $(params.cluster_url)
      - name: SECRET_PATH
        value: $(params.secrets_path)
      - name: GIT_BRANCH
        value: $(params.git_branch)
      - name: GITHUB_ORG
        value: $(params.github_org)
      - name: GITHUB_HOST
        value: $(params.github_host)
      - name: GITHUB_REPO
        value: $(params.github_repo)
      - name: GIT_COMMIT_MSG
        value: $(params.git_commit_msg)
      - name: MAS_CATALOG_VERSION
        value: $(params.mas_catalog_version)
      - name: MAS_CATALOG_IMAGE
        value: $(params.mas_catalog_image)
      - name: COMMON_SERVICES_CHANNEL
        value: $(params.common_services_channel)
      - name: SM_AWS_REGION
        value: $(params.avp_aws_secret_region)
      - name: MAS_CATALOG_ACTION
        value: $(params.mas_catalog_action)
      - name: COMMON_SERVICES_ACTION
        value: $(params.common_services_action)
      - name: SM_AWS_REGION
        value: $(params.avp_aws_secret_region)
      - name: SLACK_CHANNEL_ID
        value: $(params.slack_channel_id)
    envFrom:
      - configMapRef:
          name: environment-properties
          optional: true
      - secretRef:
          name: secure-properties
  steps:
    - args:
      - |-
        git config --global user.name "MAS Automation"
        git config --global user.email "mas_automation@email.com"
        git config --global user.password $GITHUB_PAT

        mkdir -p /tmp/init-cluster
        mas gitops-cluster -a $ACCOUNT -c $CLUSTER_NAME \
        --dir /tmp/init-cluster \
        --github-push \
        --github-host $GITHUB_HOST \
        --github-org  $GITHUB_ORG \
        --github-repo $GITHUB_REPO \
        --git-branch $GIT_BRANCH \
        --secrets-path $SECRET_PATH

        exit $?
      command:
        - /bin/sh
        - -c
      name: gitops-cluster
      imagePullPolicy: Always
      image: quay.io/ibmmas/cli:8.1.0-pre.gitops
  workspaces:
    - name: configs
