---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: gitops-deprovision-suite-idp-config
spec:
  params:
    - name: cluster_name
      type: string
    - name: account
      type: string
    - name: region
      type: string
    - name: secrets_path
      type: string
    - name: mas_instance_id
      type: string
    - name: git_branch
      type: string
    - name: github_org
      type: string
    - name: github_repo
      type: string
    - name: github_host
      type: string
    - name: avp_aws_secret_region
      type: string
  stepTemplate:
    name: gitops-deprovision-suite-idp-config
    env:
      - name: CLUSTER_ID
        value: $(params.cluster_name)
      - name: ACCOUNT_ID
        value: $(params.account)
      - name: REGION
        value: $(params.region)
      - name: SECRETS_PATH
        value: $(params.secrets_path)
      - name: MAS_INSTANCE_ID
        value: $(params.mas_instance_id)
      - name: GIT_BRANCH
        value: $(params.git_branch)
      - name: GITHUB_ORG
        value: $(params.github_org)
      - name: GITHUB_HOST
        value: $(params.github_host)
      - name: GITHUB_REPO
        value: $(params.github_repo)
      - name: SM_AWS_REGION
        value: $(params.avp_aws_secret_region)
    envFrom:
      - configMapRef:
          name: environment-properties
          optional: true
      - secretRef:
          name: secure-properties
  steps:
    - args:
      - |-
        

        git config --global user.name "MAS Automation"
        git config --global user.email "you@example.com"
        git config --global user.password $GITHUB_PAT

        mkdir -p /tmp/deprovision-suite-idp-config
        mas gitops-mas-config \
        --account-id "$ACCOUNT_ID" \
        --cluster-id "$CLUSTER_ID" \
        --mas-instance-id "$MAS_INSTANCE_ID" \
        --secrets-path "$SECRETS_PATH" \
        --github-push \
        --github-host "$GITHUB_HOST" \
        --github-org "$GITHUB_ORG" \
        --github-repo "$GITHUB_REPO" \
        --git-branch "$GIT_BRANCH" \
        --config-action remove \
        --mas-config-scope system \
        --mas-config-type ldap-default \
        --dir /tmp/deprovision-suite-idp-config

        exit $?

      command:
        - /bin/sh
        - -c
      name: gitops-deprovision-suite-idp-config
      imagePullPolicy: IfNotPresent
      image: quay.io/ibmmas/cli:10.2.0-pre.gitops
  workspaces:
    - name: configs
