---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: gitops-aibroker
spec:
  params:
    - name: cluster_name
      type: string
    - name: account
      type: string
    - name: cluster_url
      type: string
      default: ""
    - name: secrets_path
      type: string
    - name: avp_aws_secret_region
      type: string
    - name: git_branch
      type: string
    - name: github_org
      type: string
    - name: github_repo
      type: string
    - name: github_host
      type: string
    - name: aibroker_instance_id
      type: string
    - name: aibroker_namespace
      type: string
    - name: mas_aibroker_watsonx_secret
      type: string
    - name: pull_secret_name
      type: string
    - name: mas_aibroker_storage_provider
      type: string
    - name: mas_aibroker_minio_secret
      type: string
    - name: mas_aibroker_storage_host
      type: string
    - name: mas_aibroker_storage_port
      type: string
    - name: mas_aibroker_storage_ssl
      type: string
    - name: mas_aibroker_storage_region
      type: string
    - name: mas_aibroker_storage_pipelines_bucket
      type: string
    - name: mas_aibroker_storage_tenants_bucket
      type: string
    - name: mas_aibroker_storage_templates_bucket
      type: string
    - name: mas_aibroker_mariadb_secret
      type: string
    - name: primary_storage_class
      type: string
    - name: artifactory_username
      type: string
    - name: mas_app_channel
      type: string
    - name: mas_catalog_source
      type: string
    - name: mas_icr_cp
      type: string
    - name: mas_icr_cpopen
      type: string
    - name: cluster_domain
      type: string
    - name: in_saas_env
      type: string
    - name: is_external_route
      type: string
    - name: environment_type
      type: string
    - name: mas_aibroker_s3_endpoint_url
      type: string
    - name: mas_aibroker_s3_region
      type: string
    - name: mas_aibroker_s3_bucket_prefix
      type: string

  stepTemplate:
    name: gitops-aibroker
    env:
      - name: CLUSTER_NAME
        value: $(params.cluster_name)
      - name: ACCOUNT
        value: $(params.account)
      - name: CLUSTER_URL
        value: $(params.cluster_url)
      - name: SECRET_PATH
        value: $(params.secrets_path)
      - name: SM_AWS_REGION
        value: $(params.avp_aws_secret_region)
      - name: GIT_BRANCH
        value: $(params.git_branch)
      - name: GITHUB_ORG
        value: $(params.github_org)
      - name: GITHUB_HOST
        value: $(params.github_host)
      - name: GITHUB_REPO
        value: $(params.github_repo)
      - name: AIBROKER_INSTANCE_ID
        value: $(params.aibroker_instance_id)
      - name: AIBROKER_NAMESPACE
        value: $(params.aibroker_namespace)
      - name: MAS_AIBROKER_WATSONX_SECRET
        value: $(params.mas_aibroker_watsonx_secret)
      - name: PULL_SECRET_NAME
        value: $(params.pull_secret_name)
      - name: MAS_AIBROKER_STORAGE_PROVIDER
        value: $(params.mas_aibroker_storage_provider)
      - name: MAS_AIBROKER_MINIO_SECRET
        value: $(params.mas_aibroker_minio_secret)
      - name: MAS_AIBROKER_STORAGE_HOST
        value: $(params.mas_aibroker_storage_host)
      - name: MAS_AIBROKER_STORAGE_PORT
        value: $(params.mas_aibroker_storage_port)
      - name: MAS_AIBROKER_STORAGE_SSL
        value: $(params.mas_aibroker_storage_ssl)
      - name: MAS_AIBROKER_STORAGE_REGION
        value: $(params.mas_aibroker_storage_region)
      - name: MAS_AIBROKER_STORAGE_PIPELINES_BUCKET
        value: $(params.mas_aibroker_storage_pipelines_bucket)
      - name: MAS_AIBROKER_STORAGE_TENANTS_BUCKET
        value: $(params.mas_aibroker_storage_tenants_bucket)
      - name: MAS_AIBROKER_STORAGE_TEMPLATES_BUCKET
        value: $(params.mas_aibroker_storage_templates_bucket)
      - name: MAS_AIBROKER_MARIADB_SECRET
        value: $(params.mas_aibroker_mariadb_secret)
      - name: PRIMARY_STORAGE_CLASS
        value: $(params.primary_storage_class)
      - name: ARTIFACTORY_USERNAME
        value: $(params.artifactory_username)
      - name: MAS_APP_CHANNEL
        value: $(params.mas_app_channel)
      - name: MAS_CATALOG_SOURCE
        value: $(params.mas_catalog_source)
      - name: MAS_ICR_CP
        value: $(params.mas_icr_cp)
      - name: MAS_ICR_CPOPEN
        value: $(params.mas_icr_cpopen)
      - name: CLUSTER_DOMAIN
        value: $(params.cluster_domain)
      - name: IN_SAAS_ENV
        value: $(params.in_saas_env)
      - name: IS_EXTERNAL_ROUTE
        value: $(params.is_external_route)
      - name: ENVIRONMENT_TYPE
        value: $(params.environment_type)
      - name: MAS_AIBROKER_S3_ENDPOINT_URL
        value: $(params.mas_aibroker_s3_endpoint_url)
      - name: MAS_AIBROKER_S3_REGION
        value: $(params.mas_aibroker_s3_region)
      - name: MAS_AIBROKER_S3_BUCKET_PREFIX
        value: $(params.mas_aibroker_s3_bucket_prefix)
    envFrom:
      - configMapRef:
          name: environment-properties
          optional: true
      - secretRef:
          name: secure-properties
  
  
  steps:
    - args:
      - |-
        git config --global user.name "MAS Automation"
        git config --global user.email "you@example.com"
        git config --global user.password $GITHUB_PAT

        mkdir -p /tmp/init-aibroker
        mas gitops-aibroker -a $ACCOUNT -c $CLUSTER_NAME \
        --secrets-path $SECRET_PATH \
        --dir /tmp/init-aibroker \
        --github-push \
        --github-host $GITHUB_HOST \
        --github-org  $GITHUB_ORG \
        --github-repo $GITHUB_REPO \
        --git-branch $GIT_BRANCH

        exit $?
      command:
        - /bin/sh
        - -c
      name: gitops-aibroker
      imagePullPolicy: IfNotPresent
      image: quay.io/ibmmas/cli:latest
  workspaces:
    - name: configs
