---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-install-run-pipeline
spec:
  params:    
    # Pipeline Run Parameters
    - name: pipelinerun_template_file_name
      type: string
      description: name of the pipelinerun template (.yml.j2)
      default: install
    - name: pipelinerun_timeout
      type: string
      description: pipelinerun timeout
      default: "10h"
    - name: fvt_image_registry
      type: string
      description: registry where test images live
    
    # Common Parameters
    {{ lookup('template', 'pipeline-templates/params/common.yml.j2') | indent(4) }}

    # Install Parameters
    {{ lookup('template', 'pipeline-templates/params/install.yml.j2') | indent(4) }}
  
  stepTemplate:
    env:
      - name: PIPELINERUN_TEMPLATE_FILE_NAME
        value: $(params.pipelinerun_template_file_name)
      - name: PIPELINERUN_TIMEOUT
        value: $(params.pipelinerun_timeout)
      - name: PIPELINERUN_WAIT
        value: "true"
{% for common_param in common_params_definition.params %}
      - name: {{ common_param.name | upper }}
        value: $(params.{{ common_param.name }})
{% endfor %}
{% for install_param in install_params_definition.params %}
      - name: {{ install_param.name | upper }}
        value: $(params.{{ install_param.name }})
{% endfor %}

  steps:
    # It uses pipelinerun_template_file_name to know what pipeline to run
    - name: 'run-pipeline'
      command:
        - /opt/app-root/src/run-pipeline.sh
      image: '$(params.fvt_image_registry)/mas-devops/ansible-fvt:{{ ansible_fvt_version }}'
      imagePullPolicy: Always
