- name: suite-config
  params:
    - name: devops_suite_name
      value: suite-config
    - name: devops_build_number
      value: $(params.devops_build_number)
    - name: devops_mongo_uri
      value: $(params.devops_mongo_uri)

    - name: mas_instance_id
      value: $(params.mas_instance_id)
  taskRef:
    kind: Task
    name: mas-devops-suite-config
  runAfter:
    - suite-install
  workspaces:
    - name: configs
      workspace: shared-configs
