# FVT Image Container Registry
- name: fvt_image_registry
  type: string

# FVT Image Pull Secret
- name: fvt_artifactory_username
  type: string
- name: fvt_artifactory_apikey
  type: string

# Data Dictionary
- name: mas_add_catalog
  type: string
  default: ""
- name: mas_add_channel
  type: string
  default: ""

# FVT Test Secrets
- name: ddp_apikey
  type: string
- name: partium_username
  type: string
- name: partium_password
  type: string

# FVT Upload files (Optional)
- name: devops_cos_crn
  type: string
  default: ""

# FVT Versions
- name: fvt_version_core
  type: string
  description: FVT Version - Core
  default: ""
- name: fvt_version_iot
  type: string
  description: FVT Version - IoT
  default: ""
- name: fvt_version_safety
  type: string
  description: FVT Version - Safety
  default: ""
- name: fvt_version_monitor
  type: string
  description: FVT Version - Monitor
  default: ""
- name: fvt_version_predict
  type: string
  description: FVT Version - Predict
  default: ""
- name: fvt_version_hputilities
  type: string
  description: FVT Version - Health & Predict Utilities
  default: ""
- name: fvt_version_visualinspection
  type: string
  description: FVT Version - Visual Inspection
  default: ""
- name: fvt_version_assist
  type: string
  description: FVT Version - Assist
  default: ""
- name: fvt_version_optimizer
  type: string
  description: FVT Version - Optimizer
  default: ""

# FVT Versions - Manage, Health and Industry Solutions
- name: fvt_version_manage
  type: string
  description: FVT Version - Manage
  default: ""
- name: fvt_version_health
  type: string
  description: FVT Version - Health
  default: ""
- name: fvt_version_manage_acm
  type: string
  description: FVT Version - Manage ACM
  default: ""
- name: fvt_version_manage_aviation
  type: string
  description: FVT Version - Manage Aviation
  default: ""
- name: fvt_version_manage_hse
  type: string
  description: FVT Version - Manage HSE
  default: ""
- name: fvt_version_manage_nuclear
  type: string
  description: FVT Version - Manage Nuclear
  default: ""
- name: fvt_version_manage_serviceprovider
  type: string
  description: FVT Version - Service Provider
  default: ""
- name: fvt_version_manage_spatial
  type: string
  description: FVT Version - Spatial
  default: ""
- name: fvt_version_manage_transportation
  type: string
  description: FVT Version - Manage Transportation
  default: ""
- name: fvt_version_manage_civil
  type: string
  description: FVT Version - Manage Civil Infrastructure
  default: ""
- name: fvt_version_manage_ic
  type: string
  description: FVT Version - Manage IC
  default: ""

# FVT Versions - Mobile Foundation
- name: fvt_version_mobilefoundation
  type: string
  description: FVT Version - Mobile Foundation
  default: ""
- name: fvt_version_servicerequests
  type: string
  description: FVT Version - Mobile Service Requests
  default: ""

# IVT Versions
- name: ivt_version_core
  type: string
  description: IVT Version - Core
  default: ""