# Subscription Channel
- name: appconnect_channel
  type: string
  default: ""
# Dashboard Configuration
- name: appconnect_dashboard_version
  type: string
  default: ""
- name: appconnect_dashboard_name
  type: string
  default: ""
# License
- name: appconnect_license_id
  type: string
  default: ""
# Storage Class
- name: appconnect_storage_class
  type: string
  default: ""