
[defaults]
roles_path = /opt/ansible/roles
library = /opt/ansible/library

# Allow broken conditionals
# - https://docs.ansible.com/projects/ansible/latest/porting_guides/porting_guide_12.html#broken-conditionals
# - https://github.com/ibm-mas/ansible-devops/issues/1992
allow_broken_conditionals = True

# Enable junit result file generation
callbacks_enabled = junit
stdout_callback = default
result_format=yaml

# Verbosity: 0 (low) - 7 (high)
verbosity = 1
