
[defaults]
roles_path = /opt/ansible/roles
library = /opt/ansible/library

# Enable junit result file generation
callbacks_enabled = junit
stdout_callback = yaml

# Verbosity: 0 (low) - 7 (high)
verbosity = 1
