{% for common_param in common_params_definition.params %}
{% if common_param.name not in param_manual_setting_list %}
{% if common_param.name in params_source_target_list %}
- name: {{ common_param.name }}
  value: $(params.target_{{ common_param.name }})
{% else %}
- name: {{ common_param.name }}
  value: $(params.{{ common_param.name }})
{% endif %}
{% endif %}
{% endfor %}

{% for install_param in install_params_definition.params %}
{% if install_param.name not in param_manual_setting_list %}
{% if install_param.name in params_source_target_list %}
- name: {{ install_param.name }}
  value: $(params.source_{{ install_param.name }})
{% else %}
- name: {{ install_param.name }}
  value: $(params.{{ install_param.name }})
{% endif %}
{% endif %}
{% endfor %}

{% for install_common_param in install_common_params_definition.params %}
{% if install_common_param.name not in param_manual_setting_list %}
{% if install_common_param.name in params_source_target_list %}
- name: {{ install_common_param.name }}
  value: $(params.source_{{ install_common_param.name }})
{% else %}
- name: {{ install_common_param.name }}
  value: $(params.{{ install_common_param.name }})
{% endif %}
{% endif %}
{% endfor %}


{% for fvt_param in fvt_params_definition.params %}
{% if fvt_param.name not in param_manual_setting_list %}
{% if fvt_param.name in params_source_target_list %}
- name: {{ fvt_param.name }}
  value: $(params.target_{{ fvt_param.name }})
{% else %}
- name: {{ fvt_param.name }}
  value: $(params.{{ fvt_param.name }})
{% endif %}
{% endif %}
{% endfor %}
