merge-key: "{{ ACCOUNT_ID }}/{{ CLUSTER_ID }}"

ibm_cis_cert_manager:
   dns_provider: "{{ DNS_PROVIDER }}"
   mas_manual_cert_mgmt: "{{ MAS_MANUAL_CERT_MGMT }}"
   ocp_cluster_domain: "{{ OCP_CLUSTER_DOMAIN }}"
   cis_apikey: "<path:{{ SECRETS_PATH }}:{{ SECRET_KEY_IBM_APIKEY }}>"
