merge-key: "{{ ACCOUNT_ID }}/{{ CLUSTER_ID }}"

redhat_operators_mirror_catalog:
   catalog_version: "{{ REDHAT_OPERATORS_MIRROR_CATALOG_VERSION }}"
   catalog_image: "{{ REDHAT_OPERATORS_MIRROR_CATALOG_IMAGE }}"
