#!/bin/bash

# Check that connect returns SQL1116N which means BACKUP PENDING state
if db2 connect to {{ DB2_DBNAME }} | grep SQL1116N >/dev/null
then

    echo "backupdb.sh: Database connect returning SQL1116N, do backup now"

    echo "backupdb.sh: Creating backup folder /mnt/backup"
    mkdir -p /mnt/backup
    rc=$?
    [ $rc -ne 0 ] && exit $rc

    echo "backupdb.sh: db2 force applications"
    db2 force application all
    rc=$?
    [ $rc -ne 0 ] && exit $rc

    echo "backupdb.sh: Turn off comms manager"
    db2set -null DB2COMM
    rc=$?
    [ $rc -ne 0 ] && exit $rc

    echo "backupdb.sh: Deactivate database"
    db2 deactivate database {{ DB2_DBNAME }}
    rc=$?
    [ $rc -ne 0 ] && exit $rc

    echo "backupdb.sh: db2stop"
    db2stop force
    rc=$?
    [ $rc -ne 0 ] && exit $rc

    echo "backupdb.sh: db2start in admin mode"
    db2start admin mode restricted access
    rc=$?
    [ $rc -ne 0 ] && exit $rc

    # dbstart doesn't always start straight away, wait 20 seconds
    sleep 20

    echo "backupdb.sh: db2 backup db {{ DB2_DBNAME }} on all dbpartitionnums"
    db2 backup db {{ DB2_DBNAME }} on all dbpartitionnums to /mnt/backup
    rc=$?
    [ $rc -ne 0 ] && exit $rc

    echo "backupdb.sh: db2stop"
    db2stop force
    rc=$?
    [ $rc -ne 0 ] && exit $rc

    echo "backupdb.sh: db2set comms manager"
    db2set DB2COMM=TCPIP,SSL
    rc=$?
    [ $rc -ne 0 ] && exit $rc

    echo "backupdb.sh: db2start"
    db2start
    rc=$?
    [ $rc -ne 0 ] && exit $rc

else

    echo "backupdb.sh: Database connect not returning SQL1116N, nothing to do"
    exit 0

fi
