---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-fvt-core-phase4
spec:
  params:
    # Control the image pull policy for the FVT container image
    - name: image_pull_policy
      type: string
      default: IfNotPresent

    # Test Container Information
    # -------------------------------------------------------------------------
    - name: fvt_image_registry
      type: string
      description: FVT Container Image Registry (required)
    - name: fvt_image_digest
      type: string
      description: FVT Container Image Digest

    # Test Framework Information
    # -------------------------------------------------------------------------
    - name: fvt_enable_debug
      type: string
      description: Turn on debug logging (verbose mode)
      default: "true"

    - name: product_channel
      type: string
      description: "Subscription channel for the product (todo: have the test code look this up instead)"
      default: ""

    - name: mas_instance_id
      type: string
      description: Instance ID of the target test environment
    - name: mas_workspace_id
      type: string
      description: Workspace ID in MAS to use for running the tests

  stepTemplate:
    name: 'fvt-core'
    env:
      # What are we testing?
      - name: PRODUCT_ID
        value: ibm-mas
      - name: PRODUCT_CHANNEL
        value: $(params.product_channel)
      - name: NAMESPACE
        value: "mas-$(params.mas_instance_id)-core"
      - name: INSTANCE_ID
        value: "$(params.mas_instance_id)"
      - name: WORKSPACE_ID
        value: "$(params.mas_workspace_id)"

      # Enable results to be saved
      - name: DEVOPS_MONGO_URI
        valueFrom:
          secretKeyRef:
            name: mas-devops
            key: DEVOPS_MONGO_URI
            optional: true
      - name: BUILD_NUM
        valueFrom:
          secretKeyRef:
            name: mas-devops
            key: DEVOPS_BUILD_NUMBER
            optional: true

      # Set the logging level to debug if this is set to true
      - name: FVT_ENABLE_DEBUG
        value: "$(params.fvt_enable_debug)"

      # Parameters for tests
      - name: IBMADMIN_ENABLED
        value: "true"

      # Black and white listing
      - name: FVT_BLACKLIST
        valueFrom:
          secretKeyRef:
            name: mas-fvt-core
            key: FVT_BLACKLIST
            optional: false
      - name: FVT_WHITELIST
        valueFrom:
          secretKeyRef:
            name: mas-fvt-core
            key: FVT_WHITELIST
            optional: false

      # Test Data
      - name: DDP_APIKEY
        valueFrom:
          secretKeyRef:
            name: mas-fvt-core
            key: DDP_APIKEY
            optional: true
      - name: PARTIUM_USERNAME
        valueFrom:
          secretKeyRef:
            name: mas-fvt-core
            key: PARTIUM_USERNAME
            optional: true
      - name: PARTIUM_PASSWORD
        valueFrom:
          secretKeyRef:
            name: mas-fvt-core
            key: PARTIUM_PASSWORD
            optional: true
      - name: LDAP_URL
        valueFrom:
          secretKeyRef:
            name: mas-fvt-core
            key: LDAP_URL
            optional: false
      - name: LDAP_BASE_DN
        valueFrom:
          secretKeyRef:
            name: mas-fvt-core
            key: LDAP_BASE_DN
            optional: false
      - name: LDAP_BIND_DN
        valueFrom:
          secretKeyRef:
            name: mas-fvt-core
            key: LDAP_BIND_DN
            optional: false
      - name: LDAP_BIND_PASSWORD
        valueFrom:
          secretKeyRef:
            name: mas-fvt-core
            key: LDAP_BIND_PASSWORD
            optional: false
      - name: LDAP_USER_MAP
        valueFrom:
          secretKeyRef:
            name: mas-fvt-core
            key: LDAP_USER_MAP
            optional: false
      - name: LDAP_CERT_ALIAS
        valueFrom:
          secretKeyRef:
            name: mas-fvt-core
            key: LDAP_CERT_ALIAS
            optional: false
      - name: LDAP_CRT
        valueFrom:
          secretKeyRef:
            name: mas-fvt-core
            key: LDAP_CRT
            optional: false
  steps:
    # These tests cannot be ran alongside other tests
    # -----------------------------------------------------------------------------
    # 1. Adoption Usage Metering  ???
    # 2. CoreIDP - LDAP ......... Results in IDP restarts
    # 3. CoreIDP - SAML ......... Results in IDP restarts
    # 4. CoreIDP - SAML UI ...... ???
    # 5. CoreIDP - SSO Config ... ???
    # 6. Licensing API .......... ???
    # 7. SMTP ................... Temporarily disables SMTP integration
    # 8. Trust CAs .............. ???
    # 9. Operator Maturity ...... Other tests result in generation of resources in the cluster that we want to test

    # 1. adoptionusagemetering
    # -------------------------------------------------------------------------
    - name: fvt-adoptionusagemetering
      image: '$(params.fvt_image_registry)/mas-devops/fvt-ibm-mas@$(params.fvt_image_digest)'
      imagePullPolicy: $(params.image_pull_policy)
      timeout: 2h0m0s # Ensure bad FVTs don't run forever
      onError: continue # Ensure bad FVTs don't break the pipeline
      resources: {}
      workingDir: /opt/ibm/test/src
      env:
        - name: TEST_SUITE
          value: adoptionusagemetering

    # 2. coreidp-saml
    # -------------------------------------------------------------------------
    - name: fvt-coreidp-ldap
      image: '$(params.fvt_image_registry)/mas-devops/fvt-ibm-mas@$(params.fvt_image_digest)'
      imagePullPolicy: $(params.image_pull_policy)
      timeout: 2h0m0s # Ensure bad FVTs don't run forever
      onError: continue # Ensure bad FVTs don't break the pipeline
      resources: {}
      workingDir: /opt/ibm/test/src
      env:
        - name: TEST_SUITE
          value: coreidp-ldap

    # 3. coreidp-saml
    # -------------------------------------------------------------------------
    - name: fvt-coreidp-saml
      image: '$(params.fvt_image_registry)/mas-devops/fvt-ibm-mas@$(params.fvt_image_digest)'
      imagePullPolicy: $(params.image_pull_policy)
      timeout: 2h0m0s # Ensure bad FVTs don't run forever
      onError: continue # Ensure bad FVTs don't break the pipeline
      resources: {}
      workingDir: /opt/ibm/test/src
      env:
        - name: TEST_SUITE
          value: coreidp-saml

    # 4. coreidp-saml-ui
    # -------------------------------------------------------------------------
    - name: fvt-coreidp-saml-ui
      image: '$(params.fvt_image_registry)/mas-devops/fvt-ibm-mas@$(params.fvt_image_digest)'
      imagePullPolicy: $(params.image_pull_policy)
      timeout: 2h0m0s # Ensure bad FVTs don't run forever
      onError: continue # Ensure bad FVTs don't break the pipeline
      resources: {}
      workingDir: /opt/ibm/test/src
      env:
        - name: TEST_SUITE
          value: coreidp-saml-ui

    # 5. coreidp-ssoconfig
    # -------------------------------------------------------------------------
    - name: fvt-coreidp-ssoconfig
      image: '$(params.fvt_image_registry)/mas-devops/fvt-ibm-mas@$(params.fvt_image_digest)'
      imagePullPolicy: $(params.image_pull_policy)
      timeout: 2h0m0s # Ensure bad FVTs don't run forever
      onError: continue # Ensure bad FVTs don't break the pipeline
      resources: {}
      workingDir: /opt/ibm/test/src
      env:
        - name: TEST_SUITE
          value: coreidp-ssoconfig

    # 6. clicensingapi
    # -------------------------------------------------------------------------
    - name: fvt-licensingapi
      image: '$(params.fvt_image_registry)/mas-devops/fvt-ibm-mas@$(params.fvt_image_digest)'
      imagePullPolicy: $(params.image_pull_policy)
      timeout: 2h0m0s # Ensure bad FVTs don't run forever
      onError: continue # Ensure bad FVTs don't break the pipeline
      resources: {}
      workingDir: /opt/ibm/test/src
      env:
        - name: TEST_SUITE
          value: licensingapi

    # 7. smtp
    # -------------------------------------------------------------------------
    - name: fvt-smtp
      image: '$(params.fvt_image_registry)/mas-devops/fvt-ibm-mas@$(params.fvt_image_digest)'
      imagePullPolicy: $(params.image_pull_policy)
      timeout: 2h0m0s # Ensure bad FVTs don't run forever
      onError: continue # Ensure bad FVTs don't break the pipeline
      resources: {}
      workingDir: /opt/ibm/test/src
      env:
        - name: TEST_SUITE
          value: smtp

    # 8. core-trustcas
    # -------------------------------------------------------------------------
    - name: fvt-core-trustcas
      image: '$(params.fvt_image_registry)/mas-devops/fvt-ibm-mas@$(params.fvt_image_digest)'
      imagePullPolicy: $(params.image_pull_policy)
      timeout: 2h0m0s # Ensure bad FVTs don't run forever
      onError: continue # Ensure bad FVTs don't break the pipeline
      resources: {}
      workingDir: /opt/ibm/test/src
      env:
        - name: TEST_SUITE
          value: core-trustcas

    # 9. operatormaturity
    # -------------------------------------------------------------------------
    - name: fvt-operatormaturity
      image: '$(params.fvt_image_registry)/mas-devops/fvt-ibm-mas@$(params.fvt_image_digest)'
      imagePullPolicy: $(params.image_pull_policy)
      timeout: 2h0m0s # Ensure bad FVTs don't run forever
      onError: continue # Ensure bad FVTs don't break the pipeline
      resources: {}
      workingDir: /opt/ibm/test/src
      env:
        - name: TEST_SUITE
          value: operatormaturity

  workspaces:
    - name: configs
    - name: pod-templates
      optional: true
