---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-fvt-components
spec:
  params:
    # Test Container Information
    # -------------------------------------------------------------------------
    - name: mas_appws_components
      type: string
      description: List of Manage components i.e. base=Latest,health=latest
  results:
    - name: component_names
      type: string
      description: Extracted component names as a JSON array
  steps:
    - name: extract
      image: alpine
      script: |
        #!/bin/sh
        apk add --no-cache jq
        echo "Hello.. Start extraction: $(params.mas_appws_components)"
        echo "$(params.mas_appws_components)" \
            | tr ',' '\n' \
            | cut -d'=' -f1 \
            | jq -R . \
            | jq -s . > $(results.component_names.path)
        echo "End of the extraction"
        echo "$(results.component_names.path)"
        cat $(results.component_names.path)