---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-fvt-mobile
spec:
  params:
    # Control the image pull policy for the FVT container image
    - name: image_pull_policy
      type: string
      default: IfNotPresent

    # Test Container Information
    # -------------------------------------------------------------------------
    - name: fvt_image_registry
      type: string
      description: FVT Container Image Registry (required)
    - name: fvt_image_digest
      type: string
      description: FVT Container Image Digest

    # Test Framework Information
    # -------------------------------------------------------------------------
    - name: fvt_enable_debug
      type: string
      description: Turn on debug logging (verbose mode)
      default: "true"
    - name: fvt_mobile_app
      type: string
      description: The app that will be the target of the tests
      default: ""
    - name: fvt_test_suite
      type: string
      description: If the FVT container image contains multiple suites, use this to control the suite that will be executed
      default: ""
    - name: product_id
      type: string
      description: Product ID under test
      default: ibm-mas-mobile
    - name: product_channel
      type: string
      description: "Subscription channel for the product (todo: have the test code look this up instead)"
      default: ""
    - name: mas_instance_id
      type: string
      description: Instance ID of the target test environment
    - name: mas_workspace_id
      type: string
      description: Workspace ID in MAS to use for running the tests
      default: "masdev"

    # Mobile Specific information
    - name: mobile_device_type
      type: string
      description: Mobile UI test device type. Can be android, ios, chrome, edge, firefox or safari.
      default: ""
    
  stepTemplate:
    name: 'fvt-mobile'
    securityContext:
      privileged: true
      runAsUser: 0
    env:
      - name: PRODUCT_ID
        value: $(params.product_id)
      - name: PRODUCT_CHANNEL
        value: $(params.product_channel)

      - name: DEVOPS_MONGO_URI
        valueFrom:
          secretKeyRef:
            name: mas-devops
            key: DEVOPS_MONGO_URI
            optional: true
      - name: BUILD_NUM
        valueFrom:
          secretKeyRef:
            name: mas-devops
            key: DEVOPS_BUILD_NUMBER
            optional: true

      - name: ARTIFACTORY_TOKEN
        valueFrom:
          secretKeyRef:
            name: mas-devops
            key: ARTIFACTORY_TOKEN
            optional: true
      - name: ARTIFACTORY_UPLOAD_DIR
        valueFrom:
          secretKeyRef:
            name: mas-devops
            key: ARTIFACTORY_UPLOAD_DIR
            optional: true
      
      - name: MANAGECACRT
        valueFrom:
          secretKeyRef:
            name: pipeline-certificates
            key: manage.ca.crt
            optional: true

      - name: IBMADMIN_ENABLED
        value: "true"

      # Black and white listing
      - name: FVT_BLACKLIST
        valueFrom:
          secretKeyRef:
            name: mas-fvt-mobile
            key: FVT_BLACKLIST
            optional: false
      - name: FVT_WHITELIST
        valueFrom:
          secretKeyRef:
            name: mas-fvt-mobile
            key: FVT_WHITELIST
            optional: false

      # Browserstack users and keys
      - name: FVT_BSTACK_MOBFOUND
        valueFrom:
          secretKeyRef:
            name: mas-fvt-mobile
            key: FVT_BSTACK_MOBFOUND
            optional: true
      
      - name: FVT_BSTACK_INSP_SR
        valueFrom:
          secretKeyRef:
            name: mas-fvt-mobile
            key: FVT_BSTACK_INSP_SR
            optional: true
           
      - name: FVT_BSTACK_ASSET_TECH
        valueFrom:
          secretKeyRef:
            name: mas-fvt-mobile
            key: FVT_BSTACK_ASSET_TECH
            optional: true

      - name: FVT_BSTACK_IC_IR_IT
        valueFrom:
          secretKeyRef:
            name: mas-fvt-mobile
            key: FVT_BSTACK_IC_IR_IT
            optional: true

      - name: FVT_BSTACK_CIVIL
        valueFrom:
          secretKeyRef:
            name: mas-fvt-mobile
            key: FVT_BSTACK_CIVIL
            optional: true

      - name: NAMESPACE
        value: "mas-$(params.mas_instance_id)-core"
      - name: INSTANCE_ID
        value: "$(params.mas_instance_id)"
      - name: WORKSPACE_ID
        value: "$(params.mas_workspace_id)"
      - name: FVT_MOBILE_APP
        value: $(params.fvt_mobile_app)
      - name: FVT_TEST_SUITE
        value: $(params.fvt_test_suite)
      - name: FVT_ENABLE_DEBUG
        value: "$(params.fvt_enable_debug)"

      - name: ARTIFACTORY_TOKEN
        value: $(params.artifactory_token)
      - name: ARTIFACTORY_UPLOAD_DIR
        value: $(params.artifactory_upload_dir)

      # Assist Specific information
      - name: MOBILE_DEVICE_TYPE
        value: $(params.mobile_device_type)

  steps:
    - image: '$(params.fvt_image_registry)/fvt-mobile/fvt-mobile-testng@$(params.fvt_image_digest)'
      imagePullPolicy: $(params.image_pull_policy)
      timeout: 2h # Ensure bad FVTs don't run forever
      onError: continue # Ensure bad FVTs don't break the pipeline
      resources: {}
      workingDir: /opt/ibm/test/src
      volumeMounts:
        - mountPath: /dev/shm
          name: dshm
  volumes:
    - name: dshm
      emptyDir:
        medium: Memory
  workspaces:
    - name: configs
