---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-fvt-finalize
spec:
  params:
    {{ lookup('template', task_src_dir ~ '/common/cli-params.yml.j2') | indent(4) }}
    
    - name: set_finished
      type: string
      default: "true"
      description: "Set this to 'false' to stop the the fvt test being marked as complete"

  steps:
    - name: finalize
      command:
        - python3
        - /opt/app-root/src/finalizer.py
      image: quay.io/ibmmas/cli:latest
      imagePullPolicy: $(params.image_pull_policy)
      env:
        {{ lookup('template', task_src_dir ~ '/common/cli-env.yml.j2') | indent(8) }}

        - name: SET_FINISHED
          value: $(params.set_finished)

        # The following optional environment variables enable reporting of FVT results via Slack
        - name: FVT_SLACK_TOKEN
          valueFrom:
            secretKeyRef:
              name: mas-fvt
              key: FVT_SLACK_TOKEN
              optional: true
        - name: FVT_SLACK_CHANNEL
          valueFrom:
            secretKeyRef:
              name: mas-fvt
              key: FVT_SLACK_CHANNEL
              optional: true
        - name: FVT_JIRA_TOKEN
          valueFrom:
            secretKeyRef:
              name: mas-fvt
              key: FVT_JIRA_TOKEN
              optional: true
