---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-aiservice
spec:
  params:
    {{ lookup('template', task_src_dir ~ '/common/cli-params.yml.j2') | indent(4) }}

    # Pre-Release Support
    - name: artifactory_username
      default: ''
      type: string
      description: Required to use development MAS builds
    - name: artifactory_token
      default: ''
      type: string
      description: Required to use development MAS builds

    # Entitlement
    - name: ibm_entitlement_key
      type: string

    # MAS Details
    - name: aiservice_instance_id
      type: string
      description: AI Service Instance ID

    # Application - Operator
    - name: aiservice_channel
      type: string
      description: Catalog channel for the AI Service operator subscription

    # Artifactory details
    - name: mas_icr_cp
      type: string
      default: ""
    - name: mas_icr_cpopen
      type: string
      default: ""

    # Custom Label Support
    - name: custom_labels
      type: string
      description: Optional MAS custom labels, comma separated list of key=value pairs
      default: ""

    # WatsonX params
    - name: aiservice_watsonxai_apikey
      type: string
      description:
      default: "This option is mandatory"
    - name: aiservice_watsonxai_url
      type: string
      description:
      default: "This option is mandatory"
    - name: aiservice_watsonxai_project_id
      type: string
      description:
      default: "This option is mandatory"
    - name: aiservice_watsonxai_deployment_id
      type: string
      description: WatsonX deployment ID for IBM Maximo AI Service
      default: ""
    - name: aiservice_watsonxai_space_id
      type: string
      description: WatsonX space ID for IBM Maximo AI Service
      default: ""
    - name: aiservice_watsonx_action
      type: string
      description:
      default: "This option is mandatory"
    - name: aiservice_watsonxai_ca_crt
      type: string
      description:
      default: "This option is mandatory"
    - name: aiservice_watsonxai_instance_id
      type: string
      description:
      default: "This option is mandatory"
    - name: aiservice_watsonxai_username
      type: string
      description:
      default: "This option is mandatory"
    - name: aiservice_watsonxai_version
      type: string
      description:
      default: "This option is mandatory"
    - name: aiservice_watsonxai_on_prem
      type: string
      description:
      default: "This option is mandatory"
    - name: aiservice_watsonxai_verify
      type: string
      description:
      default: "This option is mandatory"

    # AI Broker storage
    - name: aiservice_s3_accesskey
      type: string
      default: "This option is mandatory"
      default: ""
    - name: aiservice_s3_secretkey
      type: string
      default: "This option is mandatory"
      default: ""
    - name: aiservice_s3_host
      type: string
      default: "This option is mandatory"
      default: ""
    - name: aiservice_s3_port
      type: string
      default: "This option is mandatory"
      default: ""
    - name: aiservice_s3_ssl
      type: string
      default: "This option is mandatory"
      default: ""
    - name: aiservice_s3_region
      type: string
      default: "This option is mandatory"
      default: ""
    - name: aiservice_s3_bucket_prefix
      type: string
      default: ""
    - name: aiservice_s3_tenants_bucket
      type: string
      default: "This option is mandatory"
      default: ""
    - name: aiservice_s3_templates_bucket
      type: string
      default: "This option is mandatory"
      default: ""
    - name: environment_type
      type: string
      description: Environment type
      default: ""

  stepTemplate:
    env:
      {{ lookup('template', task_src_dir ~ '/common/cli-env.yml.j2') | indent(6) }}

      # Pre-Release Support
      - name: ARTIFACTORY_USERNAME
        value: $(params.artifactory_username)
      - name: ARTIFACTORY_TOKEN
        value: $(params.artifactory_token)

      # Entitlement
      - name: IBM_ENTITLEMENT_KEY
        value: $(params.ibm_entitlement_key)

      # MAS Details
      - name: AISERVICE_INSTANCE_ID
        value: $(params.aiservice_instance_id)
      - name: AISERVICE_CHANNEL
        value: $(params.aiservice_channel)
      - name: MAS_CONFIG_DIR
        value: /workspace/configs

      # Artifactory Details
      - name: MAS_ICR_CP
        value: $(params.mas_icr_cp)
      - name: MAS_ICR_CPOPEN
        value: $(params.mas_icr_cpopen)

      # Custom Label Support
      - name: CUSTOM_LABELS
        value: $(params.custom_labels)

      # Watsonx
      - name: AISERVICE_WATSONXAI_APIKEY
        value: $(params.aiservice_watsonxai_apikey)
      - name: AISERVICE_WATSONXAI_URL
        value: $(params.aiservice_watsonxai_url)
      - name: AISERVICE_WATSONXAI_PROJECT_ID
        value: $(params.aiservice_watsonxai_project_id)
      - name: AISERVICE_WATSONXAI_DEPLOYMENT_ID
        value: $(params.aiservice_watsonxai_deployment_id)
      - name: AISERVICE_WATSONXAI_SPACE_ID
        value: $(params.aiservice_watsonxai_space_id)
      - name: AISERVICE_WATSONX_ACTION
        value: $(params.aiservice_watsonx_action)
      - name: AISERVICE_WATSONXAI_CA_CRT
        value: $(params.aiservice_watsonxai_ca_crt)
      - name: AISERVICE_WATSONXAI_USERNAME
        value: $(params.aiservice_watsonxai_username)
      - name: AISERVICE_WATSONXAI_VERSION
        value: $(params.aiservice_watsonxai_version)
      - name: AISERVICE_WATSONXAI_INSTANCE_ID
        value: $(params.aiservice_watsonxai_instance_id)
      - name: AISERVICE_WATSONXAI_ON_PREM
        value: $(params.aiservice_watsonxai_on_prem)
      - name: AISERVICE_WATSONXAI_VERIFY
        value: $(params.aiservice_watsonxai_verify)

      # Opendatahub storage details
      - name: AISERVICE_S3_ACCESSKEY
        value: $(params.aiservice_s3_accesskey)
      - name: AISERVICE_S3_SECRETKEY
        value: $(params.aiservice_s3_secretkey)
      - name: AISERVICE_S3_HOST
        value: $(params.aiservice_s3_host)
      - name: AISERVICE_S3_PORT
        value: $(params.aiservice_s3_port)
      - name: AISERVICE_S3_SSL
        value: $(params.aiservice_s3_ssl)
      - name: AISERVICE_S3_REGION
        value: $(params.aiservice_s3_region)
      - name: AISERVICE_S3_BUCKET_PREFIX
        value: $(params.aiservice_s3_bucket_prefix)
      - name: AISERVICE_S3_TENANTS_BUCKET
        value: $(params.aiservice_s3_tenants_bucket)
      - name: AISERVICE_S3_TEMPLATES_BUCKET
        value: $(params.aiservice_s3_templates_bucket)

      - name: ENVIRONMENT_TYPE
        value: $(params.environment_type)

  steps:
    - name: aiservice
      command:
        - /opt/app-root/src/run-role.sh
        - aiservice
      image: quay.io/ibmmas/cli:latest
      imagePullPolicy: $(params.image_pull_policy)
      workingDir: /workspace/configs

  workspaces:
    - name: configs
      optional: true
