---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-aiservice-upgrade
spec:
  params:
    {{ lookup('template', task_src_dir ~ '/common/cli-params.yml.j2') | indent(4) }}

    - name: aiservice_instance_id
      type: string
      description: AI Service Instance ID
    - name: aiservice_channel
      type: string
      description: AI Service Channnel
    
    - name: skip_compatibility_check
      type: string
      default: "False"

  stepTemplate:
    env:
      {{ lookup('template', task_src_dir ~ '/common/cli-env.yml.j2') | indent(6) }}

      - name: AISERVICE_INSTANCE_ID
        value: $(params.aiservice_instance_id)
      - name: AISERVICE_CHANNEL
        value: $(params.aiservice_channel)
      - name: SKIP_COMPATIBILITY_CHECK
        value: $(params.skip_compatibility_check)
  steps:
    - name: aiservice-upgrade
      command:
        - /opt/app-root/src/run-role.sh
        - aiservice_upgrade
      image: quay.io/ibmmas/cli:latest
      imagePullPolicy: $(params.image_pull_policy)
