---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-aiservice
spec:
  params:
    {{ lookup('template', task_src_dir ~ '/common/cli-params.yml.j2') | indent(4) }}

    # Pre-Release Support
    - name: artifactory_username
      default: ''
      type: string
      description: Required to use development MAS builds
    - name: artifactory_token
      default: ''
      type: string
      description: Required to use development MAS builds

    # Entitlement
    - name: ibm_entitlement_key
      type: string

    # MAS Details
    - name: mas_instance_id
      type: string
      description: Instance ID

    # Application - Operator
    - name: mas_app_channel
      type: string
      description: Catalog channel for the application operator subscription

    # Application - Operand
    - name: mas_app_bindings_jdbc
      default: ""
      type: string

    - name: mas_app_plan
      type: string
      description: Application installation plan
      default: ""

    # Artifactory details
    - name: mas_icr_cp
      type: string
      default: ""
    - name: mas_icr_cpopen
      type: string
      default: ""

    # Custom Label Support
    - name: custom_labels
      type: string
      description: Optional MAS custom labels, comma separated list of key=value pairs
      default: ""

    # AI Broker actions
    - name: aiservice_s3_action
      type: string
      description:
      default: "This option is optional"
    - name: aiservice_apikey_action
      type: string
      description:
      default: "This option is optional"

    # WatsonX params
    - name: aiservice_watsonxai_apikey
      type: string
      description:
      default: "This option is mandatory"
    - name: aiservice_watsonxai_url
      type: string
      description:
      default: "This option is mandatory"
    - name: aiservice_watsonxai_project_id
      type: string
      description:
      default: "This option is mandatory"
    - name: aiservice_watsonx_action
      type: string
      description:
      default: "This option is mandatory"

    # AI Broker storage
    - name: aiservice_storage_provider
      type: string
      default: "This option is mandatory"
      default: ""
    - name: aiservice_storage_accesskey
      type: string
      default: "This option is mandatory"
      default: ""
    - name: aiservice_storage_secretkey
      type: string
      default: "This option is mandatory"
      default: ""
    - name: aiservice_storage_host
      type: string
      default: "This option is mandatory"
      default: ""
    - name: aiservice_storage_port
      type: string
      default: "This option is mandatory"
      default: ""
    - name: aiservice_storage_ssl
      type: string
      default: "This option is mandatory"
      default: ""
    - name: aiservice_storage_region
      type: string
      default: "This option is mandatory"
      default: ""
    - name: aiservice_storage_pipelines_bucket
      type: string
      default: "This option is mandatory"
      default: ""
    - name: aiservice_storage_tenants_bucket
      type: string
      default: "This option is mandatory"
      default: ""
    - name: aiservice_storage_templates_bucket
      type: string
      default: "This option is mandatory"
      default: ""
    - name: aiservice_s3_bucket_prefix
      type: string
      default: ""
    - name: aiservice_s3_endpoint_url
      type: string
      default: ""
    - name: aiservice_dro_secret_name
      type: string
      description: DRO secret name
      default: ""
    - name: aiservice_dro_api_key
      type: string
      description: DRO API key
      default: ""
    - name: aiservice_dro_url
      type: string
      description: DRO URL
      default: ""
    - name: aiservice_dro_ca_cert
      type: string
      description: DRO CA certificate
      default: ""
    - name: aiservice_db2_username
      type: string
      description: DB2 username
      default: ""
    - name: aiservice_db2_password
      type: string
      description: DB2 password
      default: ""
    - name: aiservice_db2_jdbc_url
      type: string
      description: DB2 JDBC URL
      default: ""
    - name: aiservice_db2_ssl_enabled
      type: string
      description: DB2 SSL enabled
      default: "false"
    - name: aiservice_db2_ca_cert
      type: string
      description: DB2 CA certificate
      default: ""
    - name: aiservice_sls_secret_name
      type: string
      description: SLS secret name
      default: ""
    - name: aiservice_sls_registration_key
      type: string
      description: SLS registration key
      default: ""
    - name: aiservice_sls_url
      type: string
      description: SLS URL
      default: ""
    - name: aiservice_sls_ca_cert
      type: string
      description: SLS CA certificate
      default: ""
    - name: environment_type
      type: string
      description: Environment type
      default: ""

  stepTemplate:
    env:
      {{ lookup('template', task_src_dir ~ '/common/cli-env.yml.j2') | indent(6) }}

      # Pre-Release Support
      - name: ARTIFACTORY_USERNAME
        value: $(params.artifactory_username)
      - name: ARTIFACTORY_TOKEN
        value: $(params.artifactory_token)

      # Entitlement
      - name: IBM_ENTITLEMENT_KEY
        value: $(params.ibm_entitlement_key)

      # MAS Details
      - name: MAS_INSTANCE_ID
        value: $(params.mas_instance_id)

      # Application - Operator
      - name: MAS_APP_CHANNEL
        value: $(params.mas_app_channel)
      - name: MAS_CONFIG_DIR
        value: /workspace/configs
      - name: MAS_APP_ID
        value: aibroker

      # Artifactory Details
      - name: MAS_ICR_CP
        value: $(params.mas_icr_cp)
      - name: MAS_ICR_CPOPEN
        value: $(params.mas_icr_cpopen)

      # Custom Label Support
      - name: CUSTOM_LABELS
        value: $(params.custom_labels)

      # AI Broker action for create/delete s3 secret
      - name: AISERVICE_S3_ACTION
        value: $(params.aiservice_s3_action)

      # AI Broker action for create/delete api key
      - name: AISERVICE_APIKEY_ACTION
        value: $(params.aiservice_apikey_action)

      # Watsonx
      - name: AISERVICE_WATSONXAI_APIKEY
        value: $(params.aiservice_watsonxai_apikey)
      - name: AISERVICE_WATSONXAI_URL
        value: $(params.aiservice_watsonxai_url)
      - name: AISERVICE_WATSONXAI_PROJECT_ID
        value: $(params.aiservice_watsonxai_project_id)
      - name: AISERVICE_WATSONX_ACTION
        value: $(params.aiservice_watsonx_action)

      # Opendatahub storage details
      - name: AISERVICE_STORAGE_PROVIDER
        value: $(params.aiservice_storage_provider)
      - name: AISERVICE_STORAGE_ACCESSKEY
        value: $(params.aiservice_storage_accesskey)
      - name: AISERVICE_STORAGE_SECRETKEY
        value: $(params.aiservice_storage_secretkey)
      - name: AISERVICE_STORAGE_HOST
        value: $(params.aiservice_storage_host)
      - name: AISERVICE_STORAGE_PORT
        value: $(params.aiservice_storage_port)
      - name: AISERVICE_STORAGE_SSL
        value: $(params.aiservice_storage_ssl)
      - name: AISERVICE_STORAGE_REGION
        value: $(params.aiservice_storage_region)
      - name: AISERVICE_STORAGE_PIPELINES_BUCKET
        value: $(params.aiservice_storage_pipelines_bucket)
      - name: AISERVICE_STORAGE_TENANTS_BUCKET
        value: $(params.aiservice_storage_tenants_bucket)
      - name: AISERVICE_STORAGE_TEMPLATES_BUCKET
        value: $(params.aiservice_storage_templates_bucket)
      - name: AISERVICE_S3_BUCKET_PREFIX
        value: $(params.aiservice_s3_bucket_prefix)
      - name: AISERVICE_S3_ENDPOINT_URL
        value: $(params.aiservice_s3_endpoint_url)

      # Ai Broker Saas
      - name: AISERVICE_SAAS
        value: 'true'

      # DRO, DB2, SLS vars
      - name: AISERVICE_DRO_SECRET_NAME
        value: $(params.aiservice_dro_secret_name)
      - name: AISERVICE_DRO_API_KEY
        value: $(params.aiservice_dro_api_key)
      - name: AISERVICE_DRO_URL
        value: $(params.aiservice_dro_url)
      - name: AISERVICE_DRO_CA_CERT
        value: $(params.aiservice_dro_ca_cert)
      - name: AISERVICE_DB2_USERNAME
        value: $(params.aiservice_db2_username)
      - name: AISERVICE_DB2_PASSWORD
        value: $(params.aiservice_db2_password)
      - name: AISERVICE_DB2_JDBC_URL
        value: $(params.aiservice_db2_jdbc_url)
      - name: AISERVICE_DB2_SSL_ENABLED
        value: $(params.aiservice_db2_ssl_enabled)
      - name: AISERVICE_DB2_CA_CERT
        value: $(params.aiservice_db2_ca_cert)
      - name: AISERVICE_SLS_SECRET_NAME
        value: $(params.aiservice_sls_secret_name)
      - name: AISERVICE_SLS_REGISTRATION_KEY
        value: $(params.aiservice_sls_registration_key)
      - name: AISERVICE_SLS_URL
        value: $(params.aiservice_sls_url)
      - name: AISERVICE_SLS_CA_CERT
        value: $(params.aiservice_sls_ca_cert)
      - name: ENVIRONMENT_TYPE
        value: $(params.environment_type)

  steps:
    - name: aibroker
      command:
        - /opt/app-root/src/run-role.sh
        - aibroker
      image: quay.io/ibmmas/cli:latest
      imagePullPolicy: $(params.image_pull_policy)
      workingDir: /workspace/configs

  workspaces:
    - name: configs
      optional: true
