---
apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: "{{ pipelinerun_name }}"
  namespace: "{{ pipelinerun_namespace }}"
  labels:
    tekton.dev/pipeline: mas-fvt-predict
spec:
  pipelineRef:
    name: mas-fvt-predict

  serviceAccountName: pipeline
  timeouts:
    pipeline: "8h"

  params:
    # Pull Policy
    - name: image_pull_policy
      value: "{{ image_pull_policy }}"
    # MAS Info
    - name: mas_app_channel_predict
      value: "{{ mas_app_channel_predict }}"
    - name: mas_instance_id
      value: "{{ mas_instance_id }}"
    - name: mas_workspace_id
      value: "{{ mas_workspace_id }}"
    # Registry
    - name: fvt_image_registry
      value: "{{ fvt_image_registry }}"
    - name: fvt_artifactory_username
      value: "{{ fvt_artifactory_username }}"
    - name: fvt_artifactory_token
      value: "{{ fvt_artifactory_token }}"
    # Digests
    - name: fvt_digest_predict
      value: "{{ fvt_digest_predict }}"
    - name: ivt_digest_core
      value: "{{ ivt_digest_core }}"

  workspaces:
    # The generated configuration files
    - name: shared-configs
      persistentVolumeClaim:
        claimName: config-pvc
    # PodTemplates configurations
    - name: shared-pod-templates
      secret:
        secretName: pipeline-pod-templates
