---
apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: "{{ pipelinerun_name }}"
  namespace: "{{ pipelinerun_namespace }}"
  labels:
    tekton.dev/pipeline: mas-fvt-upgrade-pre
spec:
  pipelineRef:
    name: mas-fvt-upgrade-pre

  serviceAccountName: pipeline
  timeouts:
    pipeline: "8h"

  params:
    # Pull Policy
    - name: image_pull_policy
      value: "{{ image_pull_policy }}"
    # MAS Info
    - name: mas_instance_id
      value: "{{ mas_instance_id }}"
    - name: mas_workspace_id
      value: "{{ mas_workspace_id }}"
    - name: mas_app_channel_manage
      value: "{{ mas_app_channel_manage }}"
    - name: mas_app_channel_monitor
      value: "{{ mas_app_channel_monitor }}"
    # Registry
    - name: fvt_image_registry
      value: "{{ fvt_image_registry }}"
    - name: fvt_artifactory_username
      value: "{{ fvt_artifactory_username }}"
    - name: fvt_artifactory_token
      value: "{{ fvt_artifactory_token }}"
    # Digests
    - name: fvt_digest_manage
      value: "{{ fvt_digest_manage }}"
    - name: fvt_digest_manage_pytest
      value: "{{ fvt_digest_manage_pytest }}"
    - name: fvt_digest_ctf
      value: "{{ fvt_digest_ctf }}"

  workspaces:
    # The generated configuration files
    - name: shared-configs
      persistentVolumeClaim:
        claimName: config-pvc
