---
apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: "{{ pipelinerun_name }}"
  namespace: "{{ pipelinerun_namespace }}"
  labels:
    tekton.dev/pipeline: mas-fvt-sls
spec:
  pipelineRef:
    name: mas-fvt-sls

  serviceAccountName: pipeline
  timeouts:
    pipeline: "8h"

  params:
    # Pull Policy
    - name: image_pull_policy
      value: "{{ image_pull_policy }}"
    
    # MAS Info
    - name: mas_channel
      value: "{{ mas_channel }}"
    - name: mas_instance_id
      value: "{{ mas_instance_id }}"
    - name: mas_workspace_id
      value: "{{ mas_workspace_id }}"
    
    # Registry
    - name: fvt_image_registry
      value: "{{ fvt_image_registry }}"
    - name: fvt_artifactory_username
      value: "{{ fvt_artifactory_username }}"
    - name: fvt_artifactory_token
      value: "{{ fvt_artifactory_token }}"
    
    # Digests
    - name: fvt_digest_sls
      value: "{{ fvt_digest_sls }}"
    
    # Dependencies - SLS
    - name: sls_namespace
      value: "{{ sls_namespace }}"
    - name: sls_channel
      value: "{{ sls_channel }}"

  workspaces:
    # The generated configuration files
    - name: shared-configs
      persistentVolumeClaim:
        claimName: config-pvc
    # PodTemplates configurations
    - name: shared-pod-templates
      secret:
        secretName: pipeline-pod-templates
