---
apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: "{{ pipelinerun_name }}"
  namespace: "{{ pipelinerun_namespace }}"
  labels:
    tekton.dev/pipeline: mas-fvt-manage-health
spec:
  pipelineRef:
    name: mas-fvt-manage-health

  serviceAccountName: pipeline
  timeouts:
    pipeline: "8h"

  params:
    # Pull Policy
    - name: image_pull_policy
      value: "{{ image_pull_policy }}"

    # Registry
    - name: fvt_image_registry
      value: "{{ fvt_image_registry }}"
    - name: fvt_artifactory_token
      value: "{{ fvt_artifactory_token }}"

    # MAS Info
    - name: mas_app_channel_manage
      value: "{{ mas_app_channel_manage }}"
    - name: mas_instance_id
      value: "{{ mas_instance_id }}"
    - name: mas_workspace_id
      value: "{{ mas_workspace_id }}"

    # Digests
    - name: fvt_digest_mobile_testng
      value: "{{ fvt_digest_mobile_testng }}"
    - name: fvt_digest_manage_civil_selenium
      value: "{{ fvt_digest_manage_civil_selenium }}"

  workspaces:
    # The generated configuration files
    - name: shared-configs
      persistentVolumeClaim:
        claimName: config-pvc
    # PodTemplates configurations
    - name: shared-pod-templates
      secret:
        secretName: pipeline-pod-templates
