- name: app-install-iot
  params:
    {{ lookup('template', 'taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: app-iot-install

    - name: artifactory_username
      value: $(params.artifactory_username)
    - name: artifactory_token
      value: $(params.artifactory_token)
    - name: mas_app_id
      value: iot
    - name: mas_app_channel
      value: "$(params.mas_app_channel_iot)"
    - name: ibm_entitlement_key
      value: $(params.ibm_entitlement_key)
    - name: custom_labels
      value: $(params.custom_labels)
    - name: mas_app_settings_iot_deployment_size
      value: $(params.mas_app_settings_iot_deployment_size)
    - name: mas_app_settings_iot_mqttbroker_pvc_storage_class
      value: $(params.mas_app_settings_iot_mqttbroker_pvc_storage_class)
    - name: mas_app_settings_iot_fpl_pvc_storage_class
      value: $(params.mas_app_settings_iot_fpl_pvc_storage_class)

  taskRef:
    name: mas-devops-suite-app-install
    kind: Task
  # Only install IoT if a channel has been chosen
  when:
    - input: "$(params.mas_app_channel_iot)"
      operator: notin
      values: [""]