- name: app-cfg-manage
  params:
    {{ lookup('template', 'taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: app-manage-cfg

    # Application Workspace - Identifier
    - name: mas_app_id
      value: manage
    - name: mas_workspace_id
      value: "$(params.mas_workspace_id)"

    # Application Workspace - Operand
    - name: mas_appws_components
      value: "$(params.mas_appws_components)"
    - name: mas_appws_bindings_jdbc
      value: "$(params.mas_appws_bindings_jdbc_manage)"
    - name: mas_app_settings_aio_flag
      value: $(params.mas_app_settings_aio_flag)
    - name: mas_app_settings_demodata
      value: $(params.mas_app_settings_demodata)
    - name: mas_app_settings_tablespace
      value: $(params.mas_app_settings_tablespace)
    - name: mas_app_settings_indexspace
      value: $(params.mas_app_settings_indexspace)
    - name: mas_app_settings_db2_schema
      value: $(params.mas_app_settings_db2_schema)
    - name: mas_app_settings_persistent_volumes_flag
      value: $(params.mas_app_settings_persistent_volumes_flag)
    - name: mas_app_settings_server_bundles_size
      value: $(params.mas_app_settings_server_bundles_size)

    # Custom Label Support
    - name: custom_labels
      value: $(params.custom_labels)
  taskRef:
    name: mas-devops-suite-app-config
    kind: Task
  # Only install Manage if a channel has been chosen
  when:
    - input: "$(params.mas_app_channel_manage)"
      operator: notin
      values: [""]
  workspaces:
    - name: configs
      workspace: shared-configs