- name: suite-mongodb-setup-manage
  timeout: "0"
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: suite-mongodb-setup-manage

    - name: mongo_instance_name
      value: "mas-$(params.mas_instance_id)-$(params.mas_workspace_id)-manage"
  taskRef:
    name: mas-devops-suite-mongodb-setup
    kind: Task
