- name: app-cfg-predict
  params:
    {{ lookup('template', 'taskdefs/common/cli-params.yml.j2') | indent(4) }}
    - name: devops_suite_name
      value: app-predict-cfg

    - name: mas_app_id
      value: predict
    - name: mas_workspace_id
      value: "$(params.mas_workspace_id)"

    - name: cpd_product_version
      value: "$(params.cpd_product_version)"

    - name: predict_deployment_size
      value: "$(params.predict_deployment_size)"
  taskRef:
    name: mas-devops-suite-app-config
    kind: Task
  # Only install Predict if a channel has been chosen
  when:
    - input: "$(params.mas_app_channel_predict)"
      operator: notin
      values: [""]
  workspaces:
    - name: configs
      workspace: shared-configs