table {
  margin-bottom: 2em
}

table tr th {
  padding: 10px 10px;
  background-color: #2980B9;
  border:0px solid #aaa !important;
  color: #fff;
  font-weight: normal;
}

table tr th a, table tr th a:hover, table tr th a:active, table tr th a:visited {
  color: #fff !important;
  text-decoration: underline;
}

table tr td {
  padding: 10px 10px;
  border:0px solid #aaa !important;
  vertical-align: middle;
}

table tr:nth-child(even) {
  background-color: #f3f6f6;
}
table tr:nth-child(odd) {
  background-color: #eee;
}


table.compatabilityMatrix tr th {
  text-align: left;
}
table.compatabilityMatrix tr th.firstColumn {
  text-align: left;
}


table.compatabilityMatrix tr td {
  text-align: left;
}
table.compatabilityMatrix tr td.firstColumn {
  font-weight: bold;
  text-align: left;
}


table.supportMatrix tr th {
  text-align: center;
}

table tr th.spacer {
  background-color: #FCFCFC !important;
  width: 2px !important;
  padding: 0 !important;
}

table tr td.spacer {
  background-color: #FCFCFC !important;
  width: 2px !important;
  padding: 0 !important;
}

/* If an unordered list immediately follows a normal paragraph, set negative
   margin so that it flows better */
div[role=main] p + ul {
  margin-top: -20px
}

/* Ensure we keep the margin if the previous paragraph is an admonition title */
div[role=main] p.admonition-title + ul {
  margin-top: 0
}

.wy-nav-content {
    max-width: 1200px !important;
}

.wy-table-responsive table td, .wy-table-responsive table th {
  white-space: normal !important;
}