---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-gencfg-jdbc
spec:
  params:
    {{ lookup('template', task_src_dir ~ '/common/cli-params.yml.j2') | indent(4) }}

    # Configure JDBCCfg
    - name: mas_config_scope
      type: string
      default: "" # By default, no config will be generated
    - name: mas_instance_id
      type: string
      description: Instance ID
      default: "" # By default, no config will be generated
    - name: mas_workspace_id
      type: string
      default: "" # Only required if config_scope = ws or wsapp
    - name: mas_app_id
      type: string
      default: "" # Only required if config_scope = app or wsapp

    - name: configure_external_db
      type : string
      description: Boolean flag to indicate to configure an external database
      default: "false"
    - name: db_instance_id
      type: string
      description: Database instance name identifier
    - name: mas_jdbc_user
      type: string
      description: JDBC user name
    - name: mas_jdbc_password
      type: string
      description: JDBC password
    - name: mas_jdbc_url
      type: string
      description: JDBC Connection string
    - name: ssl_enabled
      type: string
      description: Boolean flag to indicate if database server is SSL enabled
    - name: mas_jdbc_cert_local_file
      type: string
      description: Location for the database SSL Certificate

  stepTemplate:
    env:
      {{ lookup('template', task_src_dir ~ '/common/cli-env.yml.j2') | indent(6) }}

      # Configure JdbcCfg
      - name: MAS_CONFIG_DIR
        value: /workspace/configs
      - name: MAS_CONFIG_SCOPE
        value: $(params.mas_config_scope)
      - name: MAS_INSTANCE_ID
        value: $(params.mas_instance_id)
      - name: MAS_APP_ID
        value: $(params.mas_app_id)
      - name: MAS_WORKSPACE_ID
        value: $(params.mas_workspace_id)

      - name: CONFIGURE_EXTERNAL_DB
        value: $(params.configure_external_db)
      - name: DB_INSTANCE_ID
        value: $(params.db_instance_id)
      - name: MAS_JDBC_USER
        value: $(params.mas_jdbc_user)
      - name: MAS_JDBC_PASSWORD
        value: $(params.mas_jdbc_password)
      - name: MAS_JDBC_URL
        value: $(params.mas_jdbc_url)
      - name: SSL_ENABLED
        value: $(params.ssl_enabled)
      - name: MAS_JDBC_CERT_LOCAL_FILE
        value: $(params.mas_jdbc_cert_local_file)


  steps:
    - name: gencfg-jdbc
      command:
        - /opt/app-root/src/run-role.sh
        - gencfg_jdbc
      image: quay.io/ibmmas/cli:latest
      imagePullPolicy: Always
      workingDir: /workspace/configs

  workspaces:
    - name: configs
