---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-must-gather
spec:
  params:
    # Control the image pull policy for the CLI container image
    - name: image_pull_policy
      type: string
      default: IfNotPresent

    - name: base_output_dir
      type: string
      description: Locaton for the output of mustgather. Set as a sub-path of /workspace/mustgather to ensure that data is persisted.
      default: "/workspace/mustgather"

    # Optional parameters to categorize result to be persisted
    # -------------------------------------------------------------------------
    - name: devops_test_type
      type: string
      description: Optional. Used to different upgrade tests from other type of tests
      default: ""
    - name: devops_test_phase
      type: string
      description: Optional. Used to categorize the phase of pipeline this test is running. Used by integrated pipelines like upgrade-test
      default: ""

  stepTemplate:
    env:
      # Optional parameters to categorize result to be persisted
      - name: DEVOPS_TEST_TYPE
        value: $(params.devops_test_type)
      - name: DEVOPS_TEST_PHASE
        value: $(params.devops_test_phase)

  steps:
    - name: must-gather
      command:
        - mas
        - must-gather
        - -d $(params.base_output_dir)
      image: quay.io/ibmmas/cli:latest
      imagePullPolicy: $(params.image_pull_policy)

  workspaces:
    - name: mustgather
