---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-suite-certs
spec:
  params:
    {{ lookup('template', task_src_dir ~ '/common/cli-params.yml.j2') | indent(4) }}

    - name: dns_provider
      type: string
      default: ""
    - name: mas_instance_id
      type: string
    - name: mas_workspace_id
      type: string
      default: ""
    - name: custom_labels
      type: string
      description: Optional MAS custom labels, comma separated list of key=value pairs
      default: ""
    - name: mas_manual_cert_mgmt
      type: string
      description: Optional boolean parameter that when set to True, indicates that manually created certificates will be used to certify MAS and application routes
      default: ""

    # IBM Cloud Internet Services support
    - name: cis_crn
      type: string
      default: ""
    - name: cis_apikey
      type: string
      default: ""
    - name: cis_subdomain
      type: string
      default: ""
    - name: cis_proxy
      type: string
      default: ""

    # AWS Route 53 support
    - name: aws_access_key_id
      type: string
      default: ""
    - name: aws_secret_access_key
      type: string
      default: ""
    - name: route53_hosted_zone_name
      type: string
      default: ""
    - name: route53_hosted_zone_region
      type: string
      default: ""
    - name: route53_email
      type: string
      default: ""
    - name: route53_subdomain
      type: string
      default: ""

  stepTemplate:
    env:
      {{ lookup('template', task_src_dir ~ '/common/cli-env.yml.j2') | indent(6) }}

      # General
      - name: MAS_CONFIG_DIR
        value: /workspace/configs
      - name: CUSTOM_LABELS
        value: $(params.custom_labels)
      - name: DNS_PROVIDER
        value: $(params.dns_provider)

      - name: MAS_INSTANCE_ID
        value: $(params.mas_instance_id)
      - name: MAS_WORKSPACE_ID
        value: $(params.mas_workspace_id)

      - name: MAS_MANUAL_CERT_MGMT
        value: $(params.mas_manual_cert_mgmt)

      # IBM Cloud Internet Services support
      - name: CIS_CRN
        value: $(params.cis_crn)
      - name: CIS_APIKEY
        value: $(params.cis_apikey)
      - name: CIS_SUBDOMAIN
        value: $(params.cis_subdomain)
      - name: CIS_PROXY
        value: $(params.cis_proxy)

      # AWS Route 53 support
      - name: AWS_ACCESS_KEY_ID
        value: $(aws_access_key_id)
      - name: AWS_SECRET_ACCESS_KEY
        value: $(aws_secret_access_key)
      - name: ROUTE53_HOSTED_ZONE_NAME
        value: $(route53_hosted_zone_name)
      - name: ROUTE53_HOSTED_ZONE_REGION
        value: $(route53_hosted_zone_region)
      - name: ROUTE53_EMAIL
        value: $(route53_email)
      - name: ROUTE53_SUBDOMAIN
        value: $(route53_subdomain)
  steps:
    - name: suite-certs
      command:
        - /opt/app-root/src/run-role.sh
        - suite_certs
      image: quay.io/ibmmas/cli:latest
      imagePullPolicy: $(params.image_pull_policy)
      workingDir: /workspace/configs

  workspaces:
    - name: configs
    - name: certificates
