---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-suite-install
spec:
  params:
    {{ lookup('template', task_src_dir ~ '/common/cli-params.yml.j2') | indent(4) }}

    - name: mas_instance_id
      type: string
    - name: custom_labels
      type: string
      description: Optional MAS custom labels, comma separated list of key=value pairs
      default: ""
    - name: mas_channel
      type: string
    - name: mas_catalog_source
      type: string
      default: ""
    - name: mas_add_channel
      type: string
    - name: mas_add_catalog
      type: string
      default: ""

    - name: mas_annotations
      default: ''
      type: string
      description: Required to install  MAS with annotations (e.g. for saas)
    - name: mas_domain
      default: ''
      type: string
      description: Optional. If not provided the role will use the default cluster subdomain
    - name: mas_cluster_issuer
      default: ''
      type: string
      description: Optional. If not provided MAS will generate it's own self-signed cluster issuer when installed
    - name: mas_manual_cert_mgmt
      type: string
      description: Optional boolean parameter that when set to True, indicates that manually created certificates will be used to certify MAS and application routes
      default: ""
    - name: mas_trust_default_cas
      type: string
      description: Optional boolean parameter that when set to False, disables the normal trust of well known public certificate authorities
      default: ""
    - name: enable_ipv6
      type: string
      description: Optional boolean parameter that when set to True, enables dual stack for IPv6 testing in internal fyre clusters at RTP site
      default: "False"
    # Enable optional integration with ECK logstash
    - name: eck_enable_logstash
      type: string
      default: ""
    # Optionally configure the superuser account
    - name: mas_superuser_username
      type: string
      default: ""
    - name: mas_superuser_password
      type: string
      default: ""

    - name: mas_icr_cp
      type: string
      default: ""
    - name: mas_icr_cpopen
      type: string
      default: ""

    - name: ibm_entitlement_key
      type: string

    - name: artifactory_username
      default: ''
      type: string
      description: Required to install development MAS catalogs
    - name: artifactory_token
      default: ''
      type: string
      description: Required to install development MAS catalogs

  stepTemplate:
    env:
      {{ lookup('template', task_src_dir ~ '/common/cli-env.yml.j2') | indent(6) }}

      # General
      - name: MAS_CHANNEL
        value: $(params.mas_channel)
      - name: MAS_CATALOG_SOURCE
        value: $(params.mas_catalog_source)

      - name: MAS_CONFIG_DIR
        value: /workspace/configs
      - name: MAS_INSTANCE_ID
        value: $(params.mas_instance_id)
      - name: CUSTOM_LABELS
        value: $(params.custom_labels)

      - name: MAS_ADD_CATALOG
        value: $(params.mas_add_catalog)
      - name: MAS_ADD_CHANNEL
        value: $(params.mas_add_channel)

      - name: MAS_ANNOTATIONS
        value: $(params.mas_annotations)
      - name: MAS_DOMAIN
        value: $(params.mas_domain)
      - name: MAS_CLUSTER_ISSUER
        value: $(params.mas_cluster_issuer)
      - name: MAS_MANUAL_CERT_MGMT
        value: $(params.mas_manual_cert_mgmt)
      - name: MAS_TRUST_DEFAULT_CAS
        value: $(params.mas_trust_default_cas)
      - name: ENABLE_IPV6
        value: $(params.enable_ipv6)
      # Enable optional integration with ECK logstash
      - name: ECK_ENABLE_LOGSTASH
        value: $(params.eck_enable_logstash)
      # Optionally configure the superuser account
      - name: MAS_SUPERUSER_USERNAME
        value: $(params.mas_superuser_username)
      - name: MAS_SUPERUSER_PASSWORD
        value: $(params.mas_superuser_password)

      - name: ARTIFACTORY_USERNAME
        value: $(params.artifactory_username)
      - name: ARTIFACTORY_TOKEN
        value: $(params.artifactory_token)

      - name: MAS_ICR_CP
        value: $(params.mas_icr_cp)
      - name: MAS_ICR_CPOPEN
        value: $(params.mas_icr_cpopen)

      - name: IBM_ENTITLEMENT_KEY
        value: $(params.ibm_entitlement_key)

      - name: MAS_POD_TEMPLATES_DIR
        value: /workspace/pod-templates

  steps:
    - name: suite-install
      command:
        - /opt/app-root/src/run-role.sh
        - suite_install
      image: quay.io/ibmmas/cli:latest
      imagePullPolicy: $(params.image_pull_policy)
      workingDir: /workspace/configs

  workspaces:
    - name: configs
    - name: additional-configs
    - name: pod-templates
      optional: true
