---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-suite-restore
spec:
  params:
    {{ lookup('template', task_src_dir ~ '/common/cli-params.yml.j2') | indent(4) }}

    - name: mas_instance_id
      type: string
      description: Instance ID

    # Backup specific parameters
    - name: mas_backup_dir
      type: string
      description: Directory to store backup files
      default: ""
    - name: restore_version
      type: string
      description: Version/timestamp for the backup
      default: ""
    - name: mas_domain
      type: string
      description: The domain to use for the MAS Suite instance
      default: "NO_OVERRIDE" # Default value is used to indicate that the domain should not be overridden

    - name: include_sls_from_backup
      type: string
      description: Whether to include SLS from backup
      default: "true"
    - name: sls_url
      type: string
      default: ""
      description: SLS URL when restoring with external SLS
    - name: sls_cfg_file
      type: string
      default: ""
      description: SLS cfg file when restoring with external BAS

    - name: include_dro_from_backup
      type: string
      description: Whether to include SLS from backup
      default: "true"
    - name: bas_url
      type: string
      default: ""
      description: BAS URL when restoring with external BAS
    - name: dro_cfg_file
      type: string
      default: ""
      description: BAS cfg file when restoring with external BAS

  stepTemplate:
    env:
      {{ lookup('template', task_src_dir ~ '/common/cli-env.yml.j2') | indent(6) }}

      - name: MAS_CONFIG_DIR
        value: /workspace/configs
      - name: MAS_INSTANCE_ID
        value: $(params.mas_instance_id)

      # restore specific
      - name: MAS_BACKUP_DIR
        value: /workspace/backups
      - name: SUITE_BACKUP_VERSION
        value: $(params.restore_version)
      - name: MAS_DOMAIN
        value: $(params.mas_domain)
      - name: INCLUDE_SLS_FROM_BACKUP
        value: $(params.include_sls_from_backup)
      - name: SLS_URL
        value: $(params.sls_url)
      - name: SLS_CFG_FILE
        value: $(params.sls_cfg_file)
      - name: INCLUDE_DRO_FROM_BACKUP
        value: $(params.include_dro_from_backup)
      - name: BAS_URL
        value: $(params.bas_url)
      - name: DRO_CFG_FILE
        value: $(params.dro_cfg_file)

  steps:
    - name: suite-backup
      command:
        - /opt/app-root/src/run-role.sh
        - suite_backup
      image: quay.io/ibmmas/cli:latest
      imagePullPolicy: $(params.image_pull_policy)
      workingDir: /workspace/configs

  workspaces:
    - name: configs
      optional: true
    - name: backups
