---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-suite-app-config
spec:
  params:
    {{ lookup('template', task_src_dir ~ '/common/cli-params.yml.j2') | indent(4) }}

    # MAS Details
    - name: mas_instance_id
      type: string
      description: Instance ID

    # Application Workspace - identifier
    - name: mas_app_id
      type: string
      description: Maximo Application Suite Application ID
    - name: mas_workspace_id
      type: string
      description: Maximo Application Suite Workspace ID

    # Application Workspace - Operand
    - name: mas_appws_components
      type: string
      description: Components to configure in the workspace
      default: ""
    - name: mas_appws_bindings_jdbc
      type: string
      description: Components to configure in the workspace
      default: ""

    # Application Workspace - Operand (Manage)
    - name: mas_app_settings_aio_flag
      type: string
      description: Flag indicating if Asset Investment Optimization (AIO) resource must be loaded or not. It can be loaded only when Optimizer application is installed.
      default: ""
    - name: mas_app_settings_demodata
      type: string
      description: Flag indicating if manage demodata should be loaded or not
      default: ""
    - name: mas_app_settings_tablespace
      type: string
      description: Name of the Manage database tablespace
      default: ""
    - name: mas_app_settings_indexspace
      type: string
      description: Name of the Manage database indexspace
      default: ""
    - name: mas_app_settings_db2_schema
      type: string
      description: Name of the Manage database schema
      default: ""
    - name: mas_app_settings_persistent_volumes_flag
      type: string
      description: Flag indicating if persistent volumes should be configured by default during Manage Workspace activation. There are two defaulted File Storage Persistent Volumes Claim resources that will be created out of the box for Manage if this flag is set to true.
      default: ""
    - name: mas_app_settings_server_bundles_size
      type: string
      description: Provides different flavors of server bundle configuration to handle workload for Manage application.
      default: ""

    # Application Workspace - Operand (Predict)
    - name: predict_deployment_size
      type: string
      description: Optional. Controls the workload size of predict containers. Available options are developer, small, medium, and small
      default: ""

    # Application Workspace - Operand (Watson Studio Local - Predict & HP Utilities only)
    - name: cpd_wsl_project_id
      type: string
      description: Analytics Project Id
      default: ""
    - name: cpd_wsl_project_name
      type: string
      description: Analytics Project Name
      default: ""

    # Application Workspace - Operand (Watson Machine Learning - Predict only)
    - name: cpd_product_version
      type: string
      description: The version of Cloud Pak for Data installed in the cluster, used to determine the version of WML.
      default: ""
    - name: cpd_wml_instance_id
      type: string
      description: Optional. Identifier of wml instance to be configured in Predict
      default: ""
    - name: cpd_wml_url
      type: string
      description: Optional. Url to access WML service (same as Cloud Pak for Data url)
      default: ""

    # Custom Label Support
    - name: custom_labels
      type: string
      description: Optional MAS custom labels, comma separated list of key=value pairs
      default: ""

  stepTemplate:
    env:
      {{ lookup('template', task_src_dir ~ '/common/cli-env.yml.j2') | indent(6) }}

      # MAS Details
      - name: MAS_CONFIG_DIR
        value: /workspace/configs
      - name: MAS_INSTANCE_ID
        value: $(params.mas_instance_id)

      # Application Workspace - Identifer
      - name: MAS_APP_ID
        value: $(params.mas_app_id)
      - name: MAS_WORKSPACE_ID
        value: $(params.mas_workspace_id)

      # Application Workspace - Operand
      - name: MAS_APPWS_BINDINGS_JDBC
        value: $(params.mas_appws_bindings_jdbc)
      - name: MAS_APPWS_COMPONENTS
        value: $(params.mas_appws_components)

      # Application Workspace - Operand (Manage)
      - name: MAS_APP_SETTINGS_AIO_FLAG
        value: $(params.mas_app_settings_aio_flag)
      - name: MAS_APP_SETTINGS_DEMODATA
        value: $(params.mas_app_settings_demodata)
      - name: MAS_APP_SETTINGS_TABLESPACE
        value: $(params.mas_app_settings_tablespace)
      - name: MAS_APP_SETTINGS_INDEXSPACE
        value: $(params.mas_app_settings_indexspace)
      - name: MAS_APP_SETTINGS_DB2_SCHEMA
        value: $(params.mas_app_settings_db2_schema)
      - name: MAS_APP_SETTINGS_PERSISTENT_VOLUMES_FLAG
        value: $(params.mas_app_settings_persistent_volumes_flag)
      - name: MAS_APP_SETTINGS_SERVER_BUNDLES_SIZE
        value: $(params.mas_app_settings_server_bundles_size)

      # Application Workspace - Operand (Predict)
      - name: PREDICT_DEPLOYMENT_SIZE
        value: $(params.predict_deployment_size)

      # Application Workspace - Operand (WSL)
      - name: CPD_WSL_PROJECT_ID
        value: $(params.cpd_wsl_project_id)
      - name: CPD_WSL_PROJECT_NAME
        value: $(params.cpd_wsl_project_name)

      # Application Workspace - Operand (WML)
      - name: CPD_PRODUCT_VERSION
        value: $(params.cpd_product_version)
      - name: CPD_WML_INSTANCE_ID
        value: $(params.cpd_wml_instance_id)
      - name: CPD_WML_URL
        value: $(params.cpd_wml_url)

      # Custom Label Support
      - name: CUSTOM_LABELS
        value: $(params.custom_labels)

  steps:
    - name: suite-app-config
      command:
        - /opt/app-root/src/run-role.sh
        - suite_app_config
      image: quay.io/ibmmas/cli:latest
      imagePullPolicy: $(params.image_pull_policy)

  workspaces:
    - name: configs
