- name: mas_instance_id
  value: $(params.aibroker_instance_id)
- name: fvt_image_registry
  value: $(params.fvt_image_registry)
- name: fvt_image_namespace
  value: fvt-aibroker
- name: fvt_image_name
  value: fvt-ibm-mas-aibroker
- name: fvt_image_digest
  value: $(params.fvt_digest_aibroker)
- name: product_channel
  value: $(params.mas_app_channel_aibroker)
- name: product_id
  value: ibm-mas-aibroker