- name: aiservice_instance_id
  value: $(params.aiservice_instance_id)
- name: fvt_image_registry
  value: $(params.fvt_image_registry)
- name: fvt_image_digest
  value: $(params.fvt_digest_aiservice)
- name: product_channel
  value: $(params.aiservice_channel)
- name: aiservice_model_versions
  value: $(params.aiservice_model_versions)
