timeout: "2h"
taskRef:
  kind: Task
  name: aiservice-fvt
when:
  - input: "$(params.fvt_digest_aiservice)"
    operator: notin
    values: [""]
  - input: "$(params.aiservice_channel)"
    operator: notin
    values: [""]
  - input: "$(params.aiservice_model_versions)"
    operator: notin
    values: [""]
workspaces:
  - name: configs
    workspace: shared-configs