---
apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: "mas-upgrade-{{ devops_build_number if pipelinerun_name_suffix == '' else  (pipelinerun_name_suffix + '-' + devops_build_number) }}"
  labels:
    tekton.dev/pipeline: mas-upgrade
spec:
  pipelineRef:
    name: mas-upgrade
  serviceAccountName: pipeline
  timeout: "{{ pipelinerun_timeout }}"
  workspaces:
    # The generated configuration files
    - name: shared-configs
      persistentVolumeClaim:
        claimName: config-pvc
  params:
    # Common Parameters
    - name: devops_mongo_uri
      value: "{{ lookup('env', 'DEVOPS_MONGO_URI') }}"
    - name: devops_build_number
      value: "{{ lookup('env', 'DEVOPS_BUILD_NUMBER') }}"
    - name: mas_instance_id
      value: "{{ lookup('env', 'MAS_INSTANCE_ID') }}"
    - name: mas_channel
      value: "{{ lookup('env', 'MAS_CHANNEL') }}"
    - name: mas_workspace_id
      value: "{{ lookup('env', 'MAS_WORKSPACE_ID') }}"
    - name: mas_app_channel_iot
      value: "{{ lookup('env', 'MAS_APP_CHANNEL_IOT') }}"
    - name: mas_app_channel_manage
      value: "{{ lookup('env', 'MAS_APP_CHANNEL_MANAGE') }}"
    - name: mas_app_channel_monitor
      value: "{{ lookup('env', 'MAS_APP_CHANNEL_MONITOR') }}"
    - name: mas_app_channel_optimizer
      value: "{{ lookup('env', 'MAS_APP_CHANNEL_OPTIMIZER') }}"
    - name: mas_app_channel_predict
      value: "{{ lookup('env', 'MAS_APP_CHANNEL_PREDICT') }}"
    - name: mas_app_channel_hputilities
      value: "{{ lookup('env', 'MAS_APP_CHANNEL_HPUTILITIES') }}"
    - name: mas_app_channel_assist
      value: "{{ lookup('env', 'MAS_APP_CHANNEL_ASSIST') }}"
    - name: mas_app_channel_visualinspection
      value: "{{ lookup('env', 'MAS_APP_CHANNEL_VISUALINSPECTION') }}"
    # Upgrade Parameters
    - name: skip_compatibility_check
      value: "{{ lookup('env', 'SKIP_COMPATIBILITY_CHECK') }}"
