mas_appws_spec:
  bindings:
    jdbc: workspace-application
  settings:
    deployment:
      size: small
    routes:
      timeout: 600s
    storage:
      log:
        class: {{ DEFAULT_FILE_STORAGE_CLASS }}
        mode: ReadWriteMany
        size: 30
      userfiles:
        class: {{ DEFAULT_FILE_STORAGE_CLASS }}
        mode: ReadWriteMany
        size: 50
    dwfagents: []
    db:
      maxconnpoolsize: 100
