mas_appws_spec:
  bindings: {{ MAS_APPWS_BINDINGS_JDBC | default( {'jdbc': 'system'}, true) }}
  components: {{ MAS_APPWS_COMPONENTS | default({'health':{'version':'latest'}}, true) }}
{%- if MAS_APPWS_SETTINGS is defined and MAS_APPWS_SETTINGS != "" %}
  settings: {{ MAS_APPWS_SETTINGS }}
{%- else %}
  settings:
    deployment:

      {%- if MAS_APP_SETTINGS_PERSISTENT_VOLUMES_FLAG == "true" %}
      persistentVolumes:
        - accessModes:
            - "{{ MAS_APP_SETTINGS_DOCLINKS_PVC_ACCESSMODE | default( 'ReadWriteMany' , true) }}"
          mountPath: "{{ MAS_APP_SETTINGS_DOCLINKS_MOUNT_PATH | default( '/DOCLINKS' , true) }}"
          pvcName: "{{ MAS_APP_SETTINGS_DOCLINKS_PVC_NAME | default( 'manage-doclinks' , true) }}"
          size: "{{ MAS_APP_SETTINGS_DOCLINKS_PVC_SIZE | default('20Gi', true) }}"
          storageClassName: "{{ DEFAULT_FILE_STORAGE_CLASS }}"
        - accessModes:
            - "{{ MAS_APP_SETTINGS_BIM_PVC_ACCESSMODE | default( 'ReadWriteMany' , true) }}"
          mountPath: "{{ MAS_APP_SETTINGS_BIM_MOUNT_PATH | default('/bim', true) }}"
          pvcName: "{{ MAS_APP_SETTINGS_BIM_PVC_NAME | default('manage-bim', true) }}"
          size: "{{ MAS_APP_SETTINGS_BIM_PVC_SIZE | default('20Gi', true) }}"
          storageClassName: "{{ DEFAULT_FILE_STORAGE_CLASS }}"
      {%- else %}
      persistentVolumes: []
      {%- endif %}

      {%- if MAS_APP_SETTINGS_SERVER_BUNDLES_SIZE == "small" %}
      serverBundles:
        - bundleType: ui
          isDefault: true
          isMobileTarget: true
          isUserSyncTarget: false
          name: ui
          replica: 1
          routeSubDomain: ui
        - bundleType: mea
          isDefault: false
          isMobileTarget: false
          isUserSyncTarget: true
          name: mea
          replica: 1
          routeSubDomain: mea
        - bundleType: report
          isDefault: false
          isMobileTarget: false
          isUserSyncTarget: false
          name: rpt
          replica: 1
          routeSubDomain: rpt
        - bundleType: cron
          isDefault: false
          isMobileTarget: false
          isUserSyncTarget: false
          name: cron
          replica: 1
          routeSubDomain: cron
      {%- elif MAS_APP_SETTINGS_SERVER_BUNDLES_SIZE == "jms" %}
      serverBundles:
        - additionalServerConfig:
            secretName: "{{ MAS_WORKSPACE_ID }}-{{ MAS_APP_ID }}-d--sb0--asc--sn"
          bundleType: ui
          isDefault: true
          isMobileTarget: true
          isUserSyncTarget: false
          name: ui
          replica: 1
          routeSubDomain: ui
        - additionalServerConfig:
            secretName: "{{ MAS_WORKSPACE_ID }}-{{ MAS_APP_ID }}-d--sb1--asc--sn"
          bundleType: mea
          isDefault: false
          isMobileTarget: false
          isUserSyncTarget: true
          name: mea
          replica: 1
          routeSubDomain: mea
        - additionalServerConfig:
            secretName: "{{ MAS_WORKSPACE_ID }}-{{ MAS_APP_ID }}-d--sb2--asc--sn"
          bundleType: report
          isDefault: false
          isMobileTarget: false
          isUserSyncTarget: false
          name: rpt
          replica: 1
          routeSubDomain: rpt
        - additionalServerConfig:
            secretName: "{{ MAS_WORKSPACE_ID }}-{{ MAS_APP_ID }}-d--sb3--asc--sn"
          bundleType: cron
          isDefault: false
          isMobileTarget: false
          isUserSyncTarget: false
          name: cron
          replica: 1
          routeSubDomain: cron
        - additionalServerConfig:
            secretName: "{{ MAS_WORKSPACE_ID }}-{{ MAS_APP_ID }}-d--sb4--asc--sn"
          bundleType: standalonejms
          isDefault: false
          isMobileTarget: false
          isUserSyncTarget: false
          name: jms
          replica: 1
          routeSubDomain: jms
      {%- elif MAS_APP_SETTINGS_SERVER_BUNDLES_SIZE == "snojms" %}
      serverBundles:
        - additionalServerConfig:
            secretName: "{{ MAS_WORKSPACE_ID }}-{{ MAS_APP_ID }}-d--sb0--asc--sn"
          bundleType: all
          isDefault: true
          isMobileTarget: true
          isUserSyncTarget: true
          name: all
          replica: 1
          routeSubDomain: all
        - additionalServerConfig:
            secretName: "{{ MAS_WORKSPACE_ID }}-{{ MAS_APP_ID }}-d--sb1--asc--sn"
          bundleType: standalonejms
          isDefault: false
          isMobileTarget: false
          isUserSyncTarget: false
          name: jms
          replica: 1
          routeSubDomain: jms
      {%- else %}
      serverBundles:
        - bundleType: all
          isDefault: true
          isMobileTarget: true
          isUserSyncTarget: true
          name: all
          replica: 1
          routeSubDomain: all
      {%- endif %}

    languages:
      baseLang: {{ MAS_APP_SETTINGS_BASE_LANGUAGE  | default( 'EN' , true) }}
      {%- if MAS_APP_SETTINGS_SECONDARY_LANGUAGES is defined and MAS_APP_SETTINGS_SECONDARY_LANGUAGES != "" %}
      secondaryLangs: {{ MAS_APP_SETTINGS_SECONDARY_LANGUAGES.split(',') }}
      {%- else %}
      secondaryLangs: []      
      {%- endif %}
    aio:
      install: {{ MAS_APP_SETTINGS_AIO_FLAG | default( 'true' , true) }}
    db:
      dbSchema: {{ MAS_APP_SETTINGS_DB2_SCHEMA | default( 'maximo' , true) }}
      maxinst:
        demodata: {{ MAS_APP_SETTINGS_DEMODATA | default( 'true' , true) }}
        db2Vargraphic: true
        tableSpace: {{ MAS_APP_SETTINGS_TABLESPACE | default( 'MAXDATA' , true) }}
        indexSpace: {{ MAS_APP_SETTINGS_INDEXSPACE | default( 'MAXINDEX' , true) }}
        bypassUpgradeVersionCheck: false
    {%- if MAS_APP_SETTINGS_CUSTOMIZATION_ARCHIVE_URL is defined and MAS_APP_SETTINGS_CUSTOMIZATION_ARCHIVE_URL != ""  %}
    customizationList:
      - customizationArchiveName: {{ MAS_APP_SETTINGS_CUSTOMIZATION_ARCHIVE_NAME | default('manage-custom-archive', true) }}
        customizationArchiveUrl: {{ MAS_APP_SETTINGS_CUSTOMIZATION_ARCHIVE_URL }}
    {%- else %}
    customizationList:  []
    {%- endif %}
{%- endif %}
