mas_appws_spec:
  bindings:
    watsonstudio: system
{%- if MAS_APPWS_COMPONENTS == "" %}
  components: {}
{%- else %}
  components: '{{ MAS_APPWS_COMPONENTS }}'
{%- endif %}
  settings:
    watsonstudio:
      projectid: "{{ CPD_WSL_PROJECT_ID }}"
