---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-update-configmap
spec:
  params:
    # What configmap to update
    - name: configmap_namespace
      type: string
      description: "The namespace of the configmap to update"
      default: $(context.taskRun.namespace)
    - name: configmap_name
      type: string
      description: "The name of the configmap to update"
    - name: configmap_value
      type: string
      description: "The value to set"
  steps:
    - name: update-configmap
      image: quay.io/ibmmas/cli:latest
      command:
        - /opt/app-root/src/update-configmap.sh
      env:
        # What to wait for
        - name: NAMESPACE
          value: $(params.configmap_namespace)
        - name: CONFIGMAP_NAME
          value: $(params.configmap_name)
        - name: CONFIGMAP_VALUE
          value: $(params.configmap_value)
