---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: mas-devops-update-configmap
spec:
  params:
    # What configmap to update
    - name: configmap_name
      type: string
      description: "The name of the configmap to update"
    - name: configmap_key
      type: string
      description: "The key in the configmap to update"
    - name: configmap_value
      type: string
      description: "The value to set"

  steps:
    - name: update-configmap
      image: quay.io/ibmmas/cli:10.8.0-pre.multiarch-existingmongo-s390x
      command:
        - /opt/app-root/src/update-configmap.sh
      env:
        # What to wait for
        - name: NAMESPACE
          value: $(context.taskRun.namespace)
        - name: CONFIGMAP_NAME
          value: $(params.configmap_name)
        - name: CONFIGMAP_KEY
          value: $(params.configmap_key)
        - name: CONFIGMAP_VALUE
          value: $(params.configmap_value)
