## Minimum Verification Test for Mobile Technician MAS test suites
- name: fvt-technician-mvt-ios
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: technician-app
    - name: mobile_device_type
      value: ios
    - name: fvt_test_suite
      value: technician-mvt-ios
  runAfter:
    - fvt-inventorycounting-mvt-ios
    - fvt-inventoryreceiving-mvt-ios
    - fvt-issuesandtransfers-mvt-ios

## Minimum Verification Test for Mobile Supervisor MAS test suites
- name: fvt-supervisor-mvt-ios
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: supervisor-app
    - name: mobile_device_type
      value: ios
    - name: fvt_test_suite
      value: supervisor-mvt-ios
  runAfter:
    - fvt-inventorycounting-mvt-ios
    - fvt-inventoryreceiving-mvt-ios
    - fvt-issuesandtransfers-mvt-ios

## Minimum Verification Test for Mobile Technician MAS test suites
- name: fvt-calibration-mvt-ios
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: calibration-app
    - name: mobile_device_type
      value: ios
    - name: fvt_test_suite
      value: calibration-mvt-ios
  runAfter:
    - fvt-inventorycounting-mvt-ios
    - fvt-inventoryreceiving-mvt-ios
    - fvt-issuesandtransfers-mvt-ios
