- name: fvt-inventorycounting-mvt-desktop-chrome
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref-mobile-run-suite.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-inventorycounting
    - name: fvt_image_name
      value: fvt-inventorycounting-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_inventorycounting_testng)
    - name: fvt_test_suite
      value: inventory-counting-mvt-desktop
  # Only if we've set a digest of the Mobile IC FVT to run
  when:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_inventorycounting_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-technician-mvt-ios
    - fvt-inventoryreceiving-mvt-ios
    - fvt-issuesandtransfers-mvt-ios
    - fvt-inventorycounting-mvt-ios
    - fvt-civil-defects-mvt-ios
