## Minimum Verification Test for Mobile Technician MAS test suites
- name: fvt-technician-mvt-android
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: technician-app
    - name: mobile_device_type
      value: android
    - name: fvt_test_suite
      value: technician-mvt-android
  runAfter:
    - fvt-mobfoundation-mvt-android
    - fvt-service-request-mvt-android
    - fvt-inspections-mvt-android
    - fvt-asset-manager-mvt-android

## Mobile FVT - Inventory Counting Android
- name: fvt-inventorycounting-mvt-android
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: ic-automation-testcases
    - name: mobile_device_type
      value: android
    - name: fvt_test_suite
      value: inventory-counting-mvt-android # xml for Mobile IC
  runAfter:
    - fvt-mobfoundation-mvt-android
    - fvt-service-request-mvt-android
    - fvt-inspections-mvt-android
    - fvt-asset-manager-mvt-android 

## Mobile FVT - Inventory Receiving Android
- name: fvt-inventoryreceiving-mvt-android
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: ir-automation-testcases
    - name: mobile_device_type
      value: android
    - name: fvt_test_suite
      value: inventory-receiving-mvt-android
  runAfter:
    - fvt-mobfoundation-mvt-android
    - fvt-service-request-mvt-android
    - fvt-inspections-mvt-android
    - fvt-asset-manager-mvt-android

## Mobile FVT - Issues and Transfers Android
- name: fvt-issuesandtransfers-mvt-android
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: it-automation-testcases
    - name: mobile_device_type
      value: android
    - name: fvt_test_suite
      value: issues-transfer-mvt-android
  runAfter:
    - fvt-mobfoundation-mvt-android
    - fvt-service-request-mvt-android
    - fvt-inspections-mvt-android
    - fvt-asset-manager-mvt-android

## Minimum Verification Test for Mobile Defects MAS test suites
- name: fvt-civil-defects-mvt-android
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: civil-defects-app
    - name: mobile_device_type
      value: android
    - name: fvt_test_suite
      value: civil-defects-mvt-android
  runAfter:
    - fvt-mobfoundation-mvt-android
    - fvt-service-request-mvt-android
    - fvt-inspections-mvt-android
    - fvt-asset-manager-mvt-android
    