## Minimum Verification Test for Mobile Technician MAS test suites
- name: fvt-technician-mvt-ios
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: technician-app
    - name: mobile_device_type
      value: ios
    - name: fvt_test_suite
      value: technician-mvt-ios
  runAfter:
    - fvt-mobfoundation-mvt-ios
    - fvt-service-request-mvt-ios
    - fvt-inspections-mvt-ios
    - fvt-asset-manager-mvt-ios

 # Mobile FVT - Inventory Counting IOS
- name: fvt-inventorycounting-mvt-ios
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: ic-automation-testcases
    - name: mobile_device_type
      value: ios
    - name: fvt_test_suite
      value: inventory-counting-mvt-ios # xml for Mobile IC
  runAfter:
    - fvt-mobfoundation-mvt-ios
    - fvt-service-request-mvt-ios
    - fvt-inspections-mvt-ios
    - fvt-asset-manager-mvt-ios

- name: fvt-inventoryreceiving-mvt-ios
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: ir-automation-testcases
    - name: mobile_device_type
      value: ios
    - name: fvt_test_suite
      value: inventory-receiving-mvt-ios
  runAfter:
    - fvt-mobfoundation-mvt-ios
    - fvt-service-request-mvt-ios
    - fvt-inspections-mvt-ios
    - fvt-asset-manager-mvt-ios

- name: fvt-issuesandtransfers-mvt-ios
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: it-automation-testcases
    - name: mobile_device_type
      value: ios
    - name: fvt_test_suite
      value: issues-transfer-mvt-ios
  runAfter:
    - fvt-mobfoundation-mvt-ios
    - fvt-service-request-mvt-ios
    - fvt-inspections-mvt-ios
    - fvt-asset-manager-mvt-ios


# Minimum Verification Test for Mobile Defects MAS test suites
- name: fvt-civil-defects-mvt-ios
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: civil-defects-app
    - name: mobile_device_type
      value: ios
    - name: fvt_test_suite
      value: civil-defects-mvt-ios
  runAfter:
    - fvt-mobfoundation-mvt-ios
    - fvt-service-request-mvt-ios
    - fvt-inspections-mvt-ios
    - fvt-asset-manager-mvt-ios
