- name: fvt-inventorycounting-mvt-desktop-chrome
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: ic-automation-testcases
    - name: mobile_device_type
      value: chrome
    - name: fvt_test_suite
      value: inventory-counting-mvt-desktop
  runAfter:
    - fvt-technician-mvt-ios
    - fvt-inventoryreceiving-mvt-ios
    - fvt-issuesandtransfers-mvt-ios
    - fvt-inventorycounting-mvt-ios
    - fvt-civil-defects-mvt-ios
