## Mobile FVT - Inventory Receiving Android
- name: fvt-inventoryreceiving-mvt-android
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: ir-automation-testcases
    - name: mobile_device_type
      value: android
    - name: fvt_test_suite
      value: inventory-receiving-mvt-android
  runAfter:
    - fvt-mobfoundation-mvt-android
    - fvt-inspections-mvt-android
    - fvt-asset-manager-mvt-android
    - fvt-inventorycounting-mvt-android

## Minimum Verification Test for Mobile Service Request MAS test suites
- name: fvt-service-request-mvt-android
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: service-request-app
    - name: mobile_device_type
      value: android
    - name: fvt_test_suite
      value: service-request-mvt-android
  runAfter:
    - fvt-mobfoundation-mvt-android
    - fvt-inspections-mvt-android
    - fvt-asset-manager-mvt-android
    - fvt-inventorycounting-mvt-android

  ## Minimum Verification Test for Mobile Technician MAS test suites
- name: fvt-technician-mvt-android
  {{ lookup('template', 'taskdefs/fvt-mobile/common/taskref.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', 'taskdefs/fvt-mobile/common/params.yml.j2') | indent(4) }}
    - name: fvt_mobile_app
      value: technician-app
    - name: mobile_device_type
      value: android
    - name: fvt_test_suite
      value: technician-mvt-android
  runAfter:
    - fvt-mobfoundation-mvt-android
    - fvt-inspections-mvt-android
    - fvt-asset-manager-mvt-android
    - fvt-inventorycounting-mvt-android
