- name: fvt-inventorycounting-mvt-desktop-chrome
  {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-mobile/common/taskref-mobile-manage.yml.j2') | indent(2) }}
  params:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-mobile/common/params-mobile.yml.j2') | indent(4) }}
    - name: fvt_image_namespace
      value: fvt-inventorycounting
    - name: fvt_image_name
      value: fvt-inventorycounting-testng
    - name: fvt_image_digest
      value: $(params.fvt_digest_inventorycounting_testng)
    - name: fvt_mas_appws_component
      value: base
    - name: mas_appws_components
      value: $(params.mas_appws_components)
    - name: fvt_test_suite
      value: inventory-counting-mvt-desktop-chrome # xml for Mobile IC
  # Only if we've set a digest of the Mobile IC FVT to run
  when:
    {{ lookup('template', pipeline_src_dir ~ '/taskdefs/fvt-mobile/common/when-mobile.yml.j2') | indent(4) }}
    - input: "$(params.fvt_digest_inventorycounting_testng)"
      operator: notin
      values: [""]
  runAfter:
    - fvt-mobfoundation-mvt-ios
    - fvt-service-request-mvt-ios
    - fvt-technician-mvt-ios
    - fvt-inspections-mvt-ios
    - fvt-asset-manager-mvt-ios
    - fvt-inventoryreceiving-mvt-ios
    {# - fvt-inventorycounting-mvt-ios #}
    {# - fvt-civil-defects-mvt-ios #}
