- name: must-gather
  taskRef:
    kind: Task
    name: mas-devops-must-gather
  params:
    - name: base_output_dir
      value: "/workspace/mustgather/$(context.pipelineRun.name)"
  workspaces:
    - name: mustgather
      workspace: shared-mustgather