# Name of the OCP Secret holding registry credentials (ibm_entitlement_key, artifactory_token, artifactory_username)
- name: task_registry_secret_name
  value: $(params.pipeline_registry_secret_name)
