name: Release CLI
on:
  push:
    branches-ignore:
      - '**'
    tags:
      - '**'
jobs:
  build-cli:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1

      - name: Initialise the build system
        run: |
          chmod u+x $GITHUB_WORKSPACE/build/bin/*.sh
          $GITHUB_WORKSPACE/build/bin/initbuild.sh
          source $GITHUB_WORKSPACE/build/bin/.functions.sh

      # 1. Tekton
      # -------------------------------------------------------------------------------------------
      - name: Build the Tekton definitions
        run: $GITHUB_WORKSPACE/build/bin/build-tekton.sh

      - name: Upload Tekton definitions
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ github.workspace }}/image/cli/mascli/templates/ibm-mas-tekton.yaml
          asset_name: ibm-mas-tekton-${{ env.VERSION }}.yaml
          tag: ${{ github.ref }}
          overwrite: true

      - name: Upload definition to Artifactory
        env:
          ARTIFACTORY_GENERIC_RELEASE_URL: ${{ secrets.ARTIFACTORY_GENERIC_RELEASE_URL }}
          ARTIFACTORY_APIKEY: ${{ secrets.ARTIFACTORY_APIKEY }}
        run: |
          $GITHUB_WORKSPACE/build/bin/artifactory-release.sh $GITHUB_WORKSPACE/image/cli/mascli/templates/ibm-mas-tekton.yaml

      # 2. CLI installer
      # -------------------------------------------------------------------------------------------
      - name: Build the cli package
        run: |
          $GITHUB_WORKSPACE/build/bin/build-cli.sh

      - name: Upload the cli
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ github.workspace }}/ibm-mas-cli-${{ env.VERSION }}.tgz
          asset_name: ibm-mas-cli-${{ env.VERSION }}.tgz
          tag: ${{ github.ref }}
          overwrite: true

      # 3. CLI container image
      # -------------------------------------------------------------------------------------------
      - name: Build the docker image
        run: |
          $GITHUB_WORKSPACE/build/bin/docker-build.sh -n ibmmas -i cli
          docker tag ibmmas/cli quay.io/ibmmas/cli:${{ env.DOCKER_TAG }}
          docker tag ibmmas/cli quay.io/ibmmas/cli:latest

      # https://github.com/marketplace/actions/push-to-registry
      - name: Push the docker image
        id: push_to_quay
        uses: redhat-actions/push-to-registry@v2
        with:
          tags: quay.io/ibmmas/cli:${{ env.DOCKER_TAG }} quay.io/ibmmas/cli:latest
          username: ${{ secrets.QUAYIO_USERNAME }}
          password: ${{ secrets.QUAYIO_PASSWORD }}

      # 4. OWASP Dependency Check
      # -------------------------------------------------------------------------------------------
      - name: Perform dependency check
        uses: dependency-check/Dependency-Check_Action@main
        id: owasp-depcheck
        with:
          project: 'cli'
          path: '.'
          format: 'HTML'
          args: >
            --failOnCVSS 7
            --enableRetired

      - name: Upload dependency check results
        uses: actions/upload-artifact@v2
        with:
           name: OWASP dependency check report
           path: ${{github.workspace}}/reports
           retention-days: 90
